// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Account pages
//--------------------------------------//


body[class*="account"] {
	#body-main {
		max-width:900px;
		margin:0 auto;

		h1 {text-align:center;margin:20px 0;}
		h4 {
			text-transform:none;
			@extend .bold;
			margin:0;
			float:left;
			&.icon::before {
				font-size:14px;
				padding-right:6px;
				margin-right:6px;
				border-right:1px solid $c-primary;
				vertical-align: top;
			}
		}

		form {
			h4 {margin:10px 0;}

			.default-address {float:left;clear:left;}
		}

		.main .icon--edit {float:right;}

		a {text-decoration:underline;}

		button {
			background:$c-primary;
			color:$c-white;
			margin:10px 0;
			a {text-decoration:none;}
		}

		ul.form-list {clear:both;}

		> .main {
			box-sizing:border-box;
			background-color:$c-bg-secondary;
			min-height:500px;
			@media screen and ($break-tablet) {
				border-left:1px solid $c-forms;
			}

			.my-account {
				padding:0 15px 15px;
				display:-ms-flexbox;
				-ms-flex-pack:justify;
				-ms-flex-direction:row;
				-ms-flex-wrap:wrap;
				justify-content: space-between;
				display: flex;
				flex-flow: row wrap;

				.page-title {flex:0 0 100%;-ms-flex:0 0 100%;}

				.account-modulebox {
					background: $c-bg-primary;
					padding: 5px;
					box-sizing: border-box;
					margin-bottom: 15px;
					padding: 15px 10px 30px;
					border-bottom: 1px solid $c-forms;
					flex:0 0 100%;
					-ms-flex:0 0 100%;

					&.account-orders {
						padding:15px 0 30px;

						> .clearfix {padding:0 10px 10px; a {float:right;}}

						.row-order {
							height: 60px;
							box-sizing: border-box;
							padding: 20px 10px;
							font-size: 1.2rem;
							text-transform: none;
							position:relative;
							&:nth-child(odd) {background-color:$c-bg-rows;}
							&.row--header {
								@extend .bold;
								height:40px;
								padding:13px 10px;
								text-transform:uppercase;
								display:none !important;
								&:first-child {display:block !important;}
							}
							&.icon--down-arrow::before {
								position:absolute;
								right:9px;
								top:18px;
								font-size:18px;
								@include transform(rotate(-90deg));
								@media screen and ($break-tablet) {
									right:25px;
								}
							}

							span {
								width: 25%;
								display: inline-block;
								float:left;
							}
						}

						&#my-returns-items-label {
							.row-order {
								span {
									width:calc(100% / 6);
									&:not(:nth-child(1)) {text-align:center;}
								}
							}
							@media screen and ($break-mobile) {
								.row-order {
									height:auto;
									&.row--header {display:none !important;}
									span {width:100%;text-align:left !important;float:none;margin:1px 0;}
								}
							}
						}
					}

					&.account-order-view {
						.order-buttons {
							margin:20px 0;

							a {
								text-decoration:none;
								margin-right:10px;
								&.icon::before {font-size:14px;margin-right:5px;}
							}
						}
						#order-info-tabs {
							clear:left;
							padding-top:20px;
							li {display:inline-block;padding-right:30px;}
						}
						.order-info-box {
							white-space:nowrap;

							.col {
								width:50%;
								display:inline-block;
								vertical-align: top;

								.box-content {
									padding-right:15px;
									white-space:normal;
									// height:50px;
									height:auto;
									.cards-list p {
										font-size: 1rem;
										text-transform: uppercase;
										line-height: inherit;
									}
								}
							}
						}
						.item {
							padding:20px 0;
							.item-image {width:116px;height:148px;}
							.item-details {padding:0 20px;}
							.item-qty {clear:left;margin-top:20px; label {width:70px;vertical-align:top;}}
							.input-wrap {vertical-align:top;}
							.item-price {float:left;}
						}

						.block-totals {font-size:1.2rem;}
					}

					&.dashboard-addresses {
						position:relative;
						&.addresses-book::after {display:none;}

						&::after {
							@include block;
							border-top: 1px solid $c-bg-secondary;
							top:calc(50% + 2px);
							left:0;
							right:0;
						}

						.col {
							width:100%;
							margin-top:10px;
							display:inline-block;
							float:left;
						}
					}

					&.addresses-book {
						.col {
							width:calc(100% - 5px);
							padding:0 10px 10px;
							margin:10px 0px 0;
							min-height:155px;
							position:relative;
							border:1px solid $c-forms;
							box-sizing:border-box;

							h2 {margin-top:16px;}

							.link-remove.icon--delete{
								display:block;
								width:calc(100% - 10px);
								position:absolute;
								bottom:10px;

								&::before {
									float:left;
									font-size:14px;
									padding-right:5px;
									line-height:13px;
								}
							}
						}
					}

					@media screen and ($break-tablet) {
						&.modulebox--half {
							flex:0 0 calc(50% - 7.5px);
							-ms-flex:0 0 calc(50% - 7.5px);
						}
					}
				}

				> *:not(.dashboard):not(.page-title):not(.messages):not(button):not(script) {
					background: $c-bg-primary;
					padding: 5px;
					box-sizing: border-box;
					margin-bottom: 15px;
					padding: 15px 10px 30px;
					border-bottom: 1px solid $c-forms;
					flex:0 0 100%;
					-ms-flex:0 0 100%;
					// @extend .account-modulebox;
					margin-top:0;
					max-width:100%;
					&.giftcardaccount {
						.please-wait {
							font-size: 1.2rem;
							margin-top:10px;
							display:block;
							&::before {
								margin: 0 10px;
								width: 10px;
								height: 10px;
								border-width: 2px;
							}
						}
					}
				}
			}
		}

		> .sidebar--left {
			margin-top:50px;

			.block-account li {
				height:40px;
				box-sizing:border-box;
				border-top:1px solid $c-forms;
				border-left:1px solid $c-forms;
				text-indent:15px;
				cursor:pointer;
				&.current {
					background-color:$c-primary;
					border-color:$c-primary;

					a {
						color:$c-white;
						&.icon--account::before {background-image:url('/skin/frontend/villa2/default/img/dashboard-white.svg');}
						&.icon--account_edit::before {background-image:url('/skin/frontend/villa2/default/img/info-white.svg');}
					}
				}
				&.last {border-bottom:1px solid $c-forms;}

				a {
					padding:13px 0;
					display:block;
					text-decoration:none;
					line-height:12px;
					&::before {
						margin-right: 5px;
						font-size: 16px;
						vertical-align: top;
						line-height: 12px;
						width:40px;
					}
					&.icon--account::before {background-position: 14px center;margin-top:-3px;}
					&.icon--account_edit::before {background-position: 14px center;margin-top:-1px;}
				}
			}
		}
	}

	#body-footer {margin-top:30px;border-top:1px solid $c-primary;}

	@media screen and ($break-tablet) {
		#body-main {
			padding-left:20px;
			padding-right:20px;

			> .main .my-account {
				.account-modulebox {
					&.dashboard-addresses {
						&::after {
							border-right: 1px solid $c-bg-secondary;
							left: calc(50% - 20px);
							top: 0;
							bottom: 0;
							right:auto;
						}
						.col {
							width:50%;
							&.last {padding-left:10px;box-sizing:border-box;}
						}
					}
					&.addresses-book .col {
						width:calc(50% - 10px);
						margin-right:5px;
						margin-left:5px;
					}
				}
			}

			.sidebar--left {

				.sidebar-account-contact,
				.sidebar-account-locator {
					margin-top:20px;
					margin-right:10px;
					background-color:$c-bg-secondary;
					padding:15px;
					border-bottom: 1px solid $c-forms;

					a {text-decoration:none;font-size:1.1rem;}

					h4 {text-transform:uppercase;display:block;float:none;}

					hr {margin:10px 0 20px;}

					span {
						display:block;
						margin:5px;
						font-size:1.1rem;
						&.icon::before {padding-right:8px;vertical-align:middle;font-size:18px;}
						&.icon--phone::before {font-size:22px;padding-right:11px;}
						&.icon--mail::before {font-size:14px;}
					}
				}
			}
		}
	}
}

body.customer-account-login,
body.customer-account-forgotpassword {

	.block-login {
		margin:10px;
		padding:20px;
		background-color:$c-bg-secondary;
		border:1px solid $c-forms;

		a {text-transform:none;}
	}

	.block-create-account {
		margin:50px 20px 20px;
	}

	@media screen and ($break-desktop) {
		.block-login {padding:40px 50px;}
	}
}

body.customer-account-create {

	h3 {text-align:center;display:block;}

	form#form-validate {
		margin:10px;
		padding:20px;
		background-color:$c-bg-secondary;
		border:1px solid $c-forms;	
	}

	@media screen and ($break-desktop) {
		form#form-validate {padding:40px 50px;}
	}
}

.giftcard-form-code-input.has-pin,
.giftcard-form-pin-input {display: inline-block;vertical-align: top;}
.giftcard-form-code-input.has-pin {width:70%;}
.giftcard-form-pin-input {width:calc(30% - 4px);}

body.shipping-tracking-popup {
	padding: 20px;

	.buttons-set {
		text-align: center;
		
		button.button {
			max-width: 150px;
			border: 1px solid #a9a9a9;
			margin: 20px;
		}
	}
}

body.enterprise-rma-return-create {
	#rma_create_form {
		.order-page ul.form-list li {
			margin-bottom:3px;
		}
		#registrant_options {
			li.add-row {margin-top:40px;}
			.btn-remove {
				margin-top:5px;
				a {
					text-decoration:none;
					&::before {margin-right:5px;}
				}
			}
		}
		.no-display {display:none;}
		button .icon-more {
			width:30px;
			height:30px;
			font-size:15px;
			margin-top:-12.5px;
			margin-right:-36px;
			&::before {
				top:6.5px;
				left:9.5px;
			}
		}
	}

	&:not(.view--desktop) {
		#rma_create_form button .icon-more {margin-right:65px;}
	}
}

body.enterprise-rma-return-view {
	ul.note-list {
		margin-top:40px;
		li {
			padding:10px;
			&:nth-child(odd) {
				background-color:$c-bg-rows;
			}
			p {margin-top:5px;}
		}
	}
	.box-title .a-right {
		margin:10px 0;
		font-size:1.2rem;
		a.icon.icon--target {
			text-decoration:none !important;
			&::before {margin-right:3px;}
		}
	}
	#rma_track_info {
		#track-info-table.data-table.account-orders.account-modulebox {
			.row-order span {
				width:calc(100% / 3);
				&:nth-child(2) {text-align:center;}
				&:last-child {text-align:right;}
			}
		}
		#add-tracking-info-box {
			.input-box {
				width:calc(50% - 5px);
				float:left;
				&:last-of-type {float:right;}
			}
		}
	}
}