// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// CMS pages
//--------------------------------------//


.hero--cms {
	position:relative;
	height:200px;
	overflow:hidden;
	margin-bottom:50px;

	img {
		@include centercontent;
	}

	h1 {
		margin:0;
		color:$c-white;
		font-size:4.8rem;
		@include verticalcenter;
	}
}

.feature.sub-hero {margin-bottom:20px;}

.contacts-index-index {

	.block-contact-form {margin-bottom:50px;}

	.block-contact-text {
		h4 {
		    @extend .bold;
			padding-bottom: 2px;
			border-bottom: 1px solid $c-primary;	
		}

		a {color:$c-link;}
	}
}


// Story
$hero:"story-hero";
$header:"story-header";
$content:"story-content";
$video:"story-video";
$gallery:"story-gallery";
$catalog:"story-catalog";
$hr:"story-hr";

.story {
	.cycle {
		&-prev,
		&-next {
			width:100px;
			.icon {
				width: 100px;
				height: 80px;
				color:$c-primary;
				background:$c-white;
				padding:20px 0;
				box-sizing:border-box;
				body.view--desktop & {opacity:1;}
			}
		}
		&-prev {left:-20px;}
		&-next {right:-20px;}
	}
	.wrap--story {
		margin:20px;
		body.view--desktop & {
			margin:100px;
		}
	}
	.owl-dot {
		display:inline-block;
		span {
			width: 5px;
			height: 5px;
			margin: 3px;
			background:$c-forms;
			display: block;
			@include transition(opacity .2s ease);
			border-radius: 50%;
		}
		&.active span {background:$c-primary;}
	}
}

//
// Story Hero
//
.block--#{$hero} {
	body:not(.view--desktop) & {
		.feature {
			height:auto;
			.feature-cta {
				margin:0;
				h2 {margin:0;}
			}
		}
	}
}

// 
// Story Header
// 
.block--#{$header} {
	height:70vh;
	body.view--desktop & {height:85vh;}
	position:relative;

	&.#{$header}--video-bg {
		.#{$header}-background {
			height:65%;
			z-index:$z-;
			background:$c-black;
			text-align:center;
			position:relative;
			overflow:hidden;
			background-size:150%;background-position:center center;
			body.view--desktop & {background-image:none !important;}
			video {
				width:125%;
				margin-left:-25%;
				opacity:0.4;
				body:not(.view--desktop) & {
					display:none;
				}
			}
			img {@include centercontent;width:80%;}
		}
	}
	.#{$header}-slider.slider-transparent {
		position:absolute !important;
		z-index:$z1;
		right:0;bottom:15%;left:0;
		overflow:hidden;
		//workaround to center in middle of page based off image size
		// .cycle-carousel-wrap {margin-left:calc(-25% + 500px) !important;}
		.cycle-carousel-wrap,
		.owl-stage {margin-left:25% !important;}
		.feature {
			body.view--desktop & {
				margin:0 40px;
			}
			body:not(.view--desktop) & {
				margin:0 10px;
				figure {
					height:170px;
					img {width:100%;height:auto;}
				}
			}
			.feature-cta {}
		}
		.cycle-pager {
			font-size:40px;
			body.view--desktop & {margin-top:20px;}
		}
	}
	h1 {
		position:absolute;
		right:0;bottom:0;left:0;
		text-align:center;
		font-size:2rem;font-weight:normal;
		body.view--desktop & {
			bottom:40px;
			strong::after {content:' | ';font-weight:normal;}
		}
		body:not(.view--desktop) & {
			strong {display:block;}
		}
	}
	.#{$header}-callout {
		@include centercontent;
	}
}

// 
// Story Main Content
// 
.block--#{$content} {
	margin:100px 0;
	padding:20% 0;
	body.view--desktop & {padding:0;}
	
	&.#{$content}--parallax {
		background:$c-primary;
		body.view--desktop & {
			background-repeat:no-repeat;
			background-attachment:fixed;
		}
		.#{$content}-main {
			color:$c-white;
			text-align:justify;
			body.view--desktop & {
				width:50%;
				float:left;
				padding:10% 0;
			}
		}
		.#{$content}-images {
			position:relative;
			img {width:33.33%;float:left;}
			body.view--desktop & {
				width:50%;
				float:right;
				height:100vh;max-height:800px;
				img {
					position:absolute;
					width:60%;
					&:nth-child(1) {@include transform(scale(0.8));}
					&:nth-child(2) {@include transform(scale(0.9));}
				}
			}
			
		}
	}
}

// 
// Story Video
// 
.block--#{$video} {
	// margin:100px 0;
	video {width:100%;}
}

// 
// Story Gallery
// 
.block--#{$gallery} {
	// margin:100px 0;
	.#{$gallery}-slide {
		width:100%;
		img {width:100%;}
	}
}

// 
// Story Catalog
// 
.block--#{$catalog} {

}

// 
// Story HR's
// 
.block--#{$hr} {
	&.hr {
		&--long {
			.story-hr-img {
				width:150px;height:60px;
				padding:10px;
				body.view--desktop & {
					width:330px;height:120px;
					padding:15px;
				}
			}
		}
		&--block {
			.story-hr-img {
				width:75px;height:75px;
				padding:15px;
				body.view--desktop & {
					width:160px;height:160px;
					padding:45px;
				}
			}
		}
		&--right {text-align:right;}
	}
	.#{$hr}-img {
		background:$c-primary;
		text-align: center;
		box-sizing:border-box;
		display:inline-block;
	}
	hr {border-width:2px;margin:0;}
}
.block--curalate {
	h2 {text-align:center;font-size:2rem;}
}

.block--story-callout {
	margin-bottom:75px;
	h1 {
		display:block;
		font-size:4rem;
		span {
			color:$c-faint-gray;
		}
		.view--desktop & {
			text-align:left;
			float:left;
			width:50%;
			font-size:5.5rem;
			line-height:4.5rem;
			span {float:left;}
		}
	}
	.story-description {
		p {line-height:2.5rem;text-align:justify;}
		.view--desktop & {
			width:50%;
			float:right;
		}
		.view--desktop & {
			p {text-align:left;}
		}
	}
}


//coupons page
.cms-villa-coupon-codes {
	h1 {text-align:center;}
	.coupon {
		margin:10px 0;
		border: 1px solid $c-secondary;
		border-radius: 4px;
		overflow: hidden;
		text-align:center;
	}
	.coupon-image {
		position:relative;
		overflow: hidden;
		height: 200px;
		background: $c-primary;
		&.icon::before {
			color:$c-white;
			font-size:80px;line-height:200px;
		}
		img {@include centercontent;}
	}
	.coupon-details {
		padding: 10px 20px 30px;
		float: left;
		box-sizing: border-box;
	}
	.coupon-details h2 {
		text-align: center;
		font-size: 3rem;
		margin: 25px 0;
		cursor:pointer;
		@include transition(all 200ms ease);
		&::after {
			content: "COPY CODE";
			font-size: 0.8rem;line-height: 0.8rem;
			background: $c-red;
			color: $c-white;
			padding: 5px 5px;
			border-radius: 3px;
			vertical-align: middle;
			margin-top: -7px;margin-left: 6px;
			display: inline-block;
			box-sizing: border-box;
			height: 25px;width: 45px;
			display:none;
		}
		&.copied::after {
			content:"COPIED";
			background:$c-success;
			height:18px;
		}
	}
}

@media screen and ($break-tablet) {
	.hero--cms {
		height:350px;
	}

	.contacts-index-index {
		#body-main {text-align:center;}

		.block-contact-form {
			width:70%;
			padding:40px 0 0 0;
			@include float-box;
			text-align:left;
		}

		.block-contact-text {
			padding-top:40px;
			padding:40px 40px 0 0;
			width:calc(30% -  20px);
			@include float-box;
			text-align:left;
		}
	}

	.cms-villa-coupon-codes {
		.coupon {
			margin:50px;
			height:200px;
		}
		.coupon-image {
			width: 200px;
			float: left;
		}
		.coupon-details {
			padding:10px 20px;
			width: calc(100% - 200px);
		}
	}
}