//  /$$    /$$/$$$$$$/$$      /$$       /$$$$$$ 
// | $$   | $|_  $$_| $$     | $$      /$$__  $$
// | $$   | $$ | $$ | $$     | $$     | $$  \ $$
// |  $$ / $$/ | $$ | $$     | $$     | $$$$$$$$
//  \  $$ $$/  | $$ | $$     | $$     | $$__  $$
//   \  $$$/   | $$ | $$     | $$     | $$  | $$
//    \  $/   /$$$$$| $$$$$$$| $$$$$$$| $$  | $$
//     \_/   |______|________|________|__/  |__/
                                             
                                             
                                             



//Variables
//fonts
$tradeBold: 'TradeGothicLT-BoldCondTwenty', 'TradeGothicCond18', Arial, Helvetica, sans-serif;
$trade:		'TradeGothicCond18','TradeGothicLT-BoldCondTwenty', Arial, Helvetica, sans-serif;

//colors
$red:		#a33038;
$prodGray:	#f2f2f2;
$gray:		#565656;
$darkGray:	#333;
$ltGray:	#ccc;
$white:		#fff;
$black:		#000;
$gold:		#8c724d;

//layers
$z-:		-1;
$z1:		1;
$z2:		2;
$z3:		3;
$z4:		500;
$z5:		999;

//layout
$col-wid:	4.166%;
// .half,.third,.two-third,.col8,.col9,.col11,.col14,.col15,.col16 {display:inline-block;}
// .half {width:50%;}
// .third {width:33.3%;}
// .two-third {width:66.6%;}
// .col8 {width:$col-wid*8;}
// .col9 {width:$col-wid*9;}
// .col11 {width:$col-wid*11;}
// .col14 {width:$col-wid*14;}
// .col15 {width:$col-wid*15;}
// .col16 {width:$col-wid*16;}

// $break1:	'max-width:1100px';
$break2:	'max-width:960px';
// $break3:	'max-width:750px';
$break4:	'max-width:320px';

//includes
@mixin block {
	display:block;
	content:'';
	position:absolute;
}

@mixin clearfix {
	display:block;
	content:'';
	clear:both;
}
@mixin spanfix {
	cursor:initial !important;
	background:none !important;
}
@mixin clip-path($clip) {
	-webkit-clip-path: $clip;
	-moz-clip-path: $clip;
	-ms-clip-path: $clip;
	clip-path: $clip;
}

$cssGraphics:	'/skin/frontend/villa/default/css/graphics/';