// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Storelocator
//--------------------------------------//


@import "init";

.popup-readmore-icon.mobile {margin:20px 0;}

.row-store {
	h3 {
		&[data-store-brand]::after {
			display:inline-block;
			content:'';
			width:10px;
			height:10px;
			border-radius:50%;
			margin-bottom:1px;
			margin-left:2px;
		}
		&[data-store-brand="VILLA"]::after {background:#000000;}
		&[data-store-brand="DTLR"]::after {background:#EE2740;}
	}
}

.row-store .my-store {
	button.icon--circle {
		height:40px;
		width:40px;
		font-size:2rem;
		background:$c-bg-primary;
		display:block;
		color:$c-primary;
		position:relative;
		&::after {
			position:absolute;
			font-size:1rem;
			width:120px;
			left:100%;
			top:13px;
			content:"Save as favorite";
		}
		&.selected-shopstore {
			color:$c-success;
			border-color:$c-success;
			&::after {content:"Saved as favorite";}
			.icon--check {background:$c-success;}
		}
		span.icon {
			width:20px;
			height:20px;
			background:$c-primary;
			color:$c-white;
			border:2px solid $c-white;
			border-radius:50%;
			top:18px;
			right:20px;
			&.icon--check,
			&.icon-more {
				margin-top:-28px;
				margin-right:-28px;
				&::before {
					top:0.5px;
					left:4.5px;
					font-size:1.3rem;
				}
			}
			&.icon--check {
				position:absolute;
				&::before {margin-top:3px;}
			}
		}
	}
}

@media screen and ($break-desktop) {
	.store-header--favorite {text-align:center;}
	.row-store .my-store {
			button.icon--circle {
			margin:0 auto;
			&::after {display:none;}
		}
	}
}
