// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Brand pages
//--------------------------------------//


@import "init";

#body-main {
	padding-top:95px;
	& > h1 {
		background-color: $c-white;
		color: $c-primary;
		font-size:1.2rem;
		margin: 0;
		padding: 8px 20px;
		position: absolute;
		right: 0;
		z-index: $z1;
	}
}

.brand-header {
	background:$c-bg-primary;
	left:0;
	right:0;
	height:45px;
	box-sizing:border-box;
	position:relative;
	z-index:$z5 - 10;
	@include nav-arrow;
	&::before {
		font-size:18px;
		padding:12px 20px;
	}
	.snap & {
		position:fixed;
		top:40px;
	}
	.brand-header--logo {
		display:inline-block;
		text-align:center;
		.logo {
			width:100%;
			max-width:60px;
			min-height:45px;
			padding:0 10px;
			box-sizing:border-box;
			@media screen and ($break-mobile) {max-height:45px;}
		}
	}

	.brand-nav {
		display: none;
		padding: 0;
		border: none;
		margin: 0;
		border-top: 1px solid $c-forms;
		position: absolute;
		background: $c-white;
		left: 0;
		right: 0;

		a {
			padding: 20px;
			box-sizing: border-box;
			border-bottom: 1px solid $c-forms;
			font-size: 1.2rem;
			display: block;
			font-weight:700;
		}
	}
}

.category-description {
	text-align:center;
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding-top:20px;padding-bottom:60px;
}

#body-header .banner-sale {top:95px;}

@media screen and ($break-desktop) {

	body.view--desktop {
		#body-main {
			padding-top:179px;
			> h1 {font-size:1.4rem;padding:10px 24px;}
		}

		#body-header .banner-sale {top:179px;}

		.brand-header {
			height:82px;
			border-bottom:1px solid $c-nav-border;
			&::before {display:none;}
			.brand-header--logo {
				width:175px;
				.logo {box-sizing:content-box;}
			}
			.brand-nav {
				display:inline-block;
				// margin-left:43px;
				padding:32px 0 32px 20px;
				border-left:1px solid $c-nav-border;
				border-top:0;
				position:relative;
				vertical-align: middle;
				height:17px;

				a {
					border-bottom:0;
					padding:0 20px;
					font-size:1.4rem;
					display:inline-block;
				}
			}
		}
	}
}