// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Category pages
//--------------------------------------//


@import "init";

.category-header {
	overflow:hidden;
	position: relative;
	
	figure {
		position:relative;
		height:200px;
		overflow:hidden;
		margin-bottom:30px;
	}
	img {@include centercontent;}
	h1 {
		font-size:1.2rem;
		margin: 30px auto;
		text-align:center;
	}
	&.has-content:not(.has-image),
	&.has-image h1 {
		background-color: $c-white;
		color: $c-primary;
		font-size: 1.2rem;
		margin: 0;
		padding: 8px 20px;
		position: absolute;
		right: 0;
		z-index: $z1;
		h1 {margin:0;position:relative;padding:0;right:auto;}
	}
	figure ~ h1 {
		top:0;
	}
	.category-description {
		margin: 20px auto;
		text-transform: none;
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
}

//put this here to avoid brand page theme layout styles
.featured-brands {
	h4 {
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight:700;
	}
	div.wrap {
		border-top: 1px solid $c-primary;
		@include flexbox(row, wrap, space-between);
	}
	.featured-brand {
		width:calc(50% - 10px);
		margin:20px 0;
		height: 125px;
		border: 1px solid $c-primary;
		display:inline-block;
		vertical-align: top;
		img {
			width: 100%;
			height: 100%;
			padding: 20px;
			box-sizing: border-box;
		}
		span {
			display: block;
			text-align: center;
			margin-top: 5px;
			font-size: 1.1rem;
		}
	}
}

.brand-list {
	h4 {
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight:700;
	}
	ul {
		border-top: 1px solid $c-primary;
		padding-top: 20px;
		padding-bottom: 40px;
		column-count:2;
		display:block;
		li {
			padding: 6px 0;
			text-transform: uppercase;
			line-height: 1.25rem;
			white-space:nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
			@include column-break-inside(avoid);
		}
	}
}

@media screen and ($break-desktop) {
	.category-header {
		figure {height:350px;}
		h1 {font-size:1.4rem;}
		&.has-content,
		h1 {padding:10px 24px;}
	}
	.featured-brands {
		.wrap {
			//do like this to maintain full width border
			padding-left:calc(50% - 384px);
			padding-right:calc(50% - 384px);
		}
		h4 {margin:0 20px;}
		div.wrap {
			display:block;
		}
		.featured-brand {
			width:150px;
			margin:20px;
			float:left;
		}
	}

	.brand-list {
		.wrap {
			//do like this to maintain full width border
			padding-left:calc(50% - 364px);
			padding-right:calc(50% - 364px);
		}
		ul {
			column-count:4;
		}
	}
}