// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Fabolous Week
//--------------------------------------//


@import "init";
@import "compass";

$slowsnap:	cubic-bezier(0.23, 1, 0.68, 0.99);
@mixin fonts {
	font-family:'Oswald';
	font-weight: 300;
	font-size:1.2rem;

	h1,h2,h3,h4,h5 {font-weight:300;}
}

// #site-header .sub-header,
// .items-pagination {display:none;}

// video {max-width:100%;cursor:pointer;}

#fabweek {
	position:relative;
	&.fixed {
		position:fixed;
		top:0px;
		right:0;
		bottom:0;
		left:0;
		overflow:scroll;
	}

	hr {max-width: 350px;margin: 50px auto;}

	.mobile-slider,
	.mobile-heroes {display:none;}
}

div[class*="heroes"],
div[class*="slider"] {

	figure {
		height:100%;
		width:100%;
		background-size:cover;
		background-position:center center;
		background-color: $c-primary;
	}

	// .cycle-pager,
	// .icon--hookup {
	// 	position:absolute;
	// 	bottom:20px;
	// 	width:100%;
	// 	cursor:pointer;
	// 	line-height:0;
	// 	font-size:32px;
	// 	@include transition(color 500ms ease);

	// 	span {}
	// }
}
.arrow--slider {
	position:absolute;
	width:30px;
	height:30px;
	@include transform(rotate(45deg));
	top:calc(50% - 25px);
	z-index:$z5 + 2;
	cursor:pointer;
	@include transition(opacity 300ms ease);
	&.disabled {opacity:0;}

	&.cycle-prev {border-bottom:1px solid $c-white;border-left:1px solid $c-white;left:40px;}
	&.cycle-next {border-top:1px solid $c-white;border-right:1px solid $c-white;right:40px;}
}

.nav--products {
	background: $c-white;
	text-align: center;
	box-sizing:border-box;
	position:relative;
	@include fonts();

	> div {display:inline-block;padding:0 0px;}

	.nav--product {
		width: 130px;
		height: 100px;
		position: relative !important;
		display: inline-block;
		vertical-align: top;
		padding: 20px;
		margin:10px 3px;
		box-sizing: border-box;
		@include transition(box-shadow 300ms ease);
		cursor: pointer;
		&:hover {
			@include box-shadow(0 0 7px -3px #ababab);
			&::after {
				// opacity: 1;
				color:$c-primary; //use color bc opacity was making the content shift during animation
				@include transition(color 300ms ease);
			}
		}
		&::after {
			content: '+';
			font-size: 3.3rem;
			font-weight: 100;
			position: absolute;
			bottom: 0px;
			left: 0;
			right:0;
			color:$c-white;
			// opacity: 0;
			@include transition(color 1200ms ease);
		}

		h3, h4, h5 {margin:0;}
		h4 {font-weight:700 !important;}
		h3 {font-size:1.5rem;line-height:2rem;}
		h5 {font-size:1.2rem;}
	}

	.arrow--slider {
		width:10px;
		height:10px;
		border-color:$c-primary;
		top:calc(50% - 15px);
		&.cycle-next {right: calc(50% - 300px);}
		&.cycle-prev {left: calc(50% - 300px);}
	}
}

// .quote {
// 	margin: 50px 0;
// 	border: 2px solid $c-primary;
// 	padding: 30px 15px;
// 	text-align: justify;
// 	text-transform: none;
// 	font-style: italic;
// 	position:relative;
// 	&::before {
// 		content:'';
// 		width:50px;
// 		height:50px;
// 		background:url('../../img/quotes.svg') center center no-repeat;
// 		position:absolute;
// 		top:-25px;
// 		left:10px;
// 	}
// 	&::after {
// 		content:'';
// 		width:125px;
// 		height:50px;
// 		background:url('../../img/fab.svg') center center no-repeat;
// 		position:absolute;
// 		bottom:-25px;
// 		right:10px;
// 	}
// }

#block--heroes {
	// height:80vh;
	// background-color:$c-primary;
	// position:relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(57, 57, 57, 0.74);
		z-index: $z5 - 1;
		-webkit-backdrop-filter: blur(10px);
		opacity:0;
		visibility:hidden;
		@include transition(opacity 300ms ease);
	}
	&.modal::after {	
		opacity:1;
		visibility:visible;
	}

	// div[class*="heroes"] {
	// 	height:80vh;

	// 	figure > a {display:block;width:100;height:100%;}
	// }

	.logo {
		z-index: 500;
		@include centercontent;
		width:430px;
		backdrop-filter:blur(50px) saturate(200%);
		-webkit-backdrop-filter:blur(50px) saturate(200%);
	}

	.cycle-pager {z-index:$z5 + 2;}
}

// #block--intro {
// 	margin:50px auto;
// 	max-width:700px;
// 	text-align:center;
// }

#block--thumbs {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.thumb {
		margin: 10px;
		width: calc(33.33% - 20px);
		cursor:pointer;
		text-align:center;

		img {
			width:100%;
		}
	}
}

#block--products {
	@include transition(top 900ms $slowsnap, opacity 300ms ease);
	position: fixed;
	top:150vh;
	left: 5%;
	right: 5%;
	box-sizing: border-box;
	z-index: $z5;
	background:$c-white;
	opacity:0;
	@include fonts();

	.nav--products {z-index:$z3;}

	&.modal {
		position:absolute;
		// top:5%;
		top:90px;
		opacity:1;
	}

	.story {
		margin-bottom:100px;
		position:relative;
		left:0;
		right:0;
		top:100%;
		z-index:1;
		background:$c-white;
		box-shadow:0 0 0 0;
		@include transition(top 1500ms $slowsnap, box-shadow 1050ms ease, transform 1200ms ease);

		&.shuffle {
			position:absolute;
			z-index:2;
			// top:calc(5% + 56px); //extra due to scale
			top:120px;
			// animation:slideShuffle 900ms 1;
		}

		&.shuffle-effect {
			box-shadow: 0 0px 70px 0px rgba(0, 0, 0, 0.82);
			@include transform(scale(1.02));
		}

		&.story--full {
			overflow:hidden; //so sliders dont show slide going off edges

			.desktop-slider,
			.mobile-slider {
				overflow:visible !important; //to make sure pagers stay intact
				height: 50vw;
				margin-bottom:100px;
			}
	
			figure {
				video {
					width:100%;
					@include centercontent;
				}
			}

			.pager,
			.icon--hookup {
				width:auto;
				z-index:$z5;

				div {
					display: inline-block;
					border-radius: 50%;
					@include clip-path(circle(50% at center));
					width:60px;
					height:60px;
					margin:0 2px;
					overflow: hidden;
					float:left;
					cursor:pointer;

					img {border-radius: 50%;@include filter(grayscale(1));@include transition(all 300ms ease);}

					&.active img,
					&:hover img {@include filter(grayscale(0));}
				}
			}

			.pager {
				left:10%;
				top:calc(50vw - 30px);
				position:absolute;
			}
		
			// .icon--hookup {
			// 	bottom:-30px;
			// 	right:187px;

			// 	div {
			// 		background: $c-bg-product;
			// 		border: 3px solid $c-white;
			// 		box-sizing: border-box;
			// 		text-align: center;

			// 		img {
			// 			border-radius: 0;
			// 			width: 32px;
			// 			margin-top: 11px;
			// 			@include filter(none);
			// 			@include transition(none);
			// 		}
			// 	}
			// }

			.product-details {
				width: 360px;
				position: absolute;
				top: 150px;
				right: 40px;
				background: rgba(255, 255, 255, 0.9);
				z-index: $z5;
				padding: 30px 40px 60px;
				box-sizing: border-box;
				text-align:center;
				opacity:0;
				@include transition(top 1200ms ease, opacity 600ms ease);
				&.shuffle {top:60px;opacity:1;}

				.product-brand {letter-spacing:3px;}
				.product-title {font-size:2.8rem;letter-spacing:6px;font-weight:500;}
				.product-price {font-size:1.6rem;letter-spacing:2.4px;}
				.product-description {text-align: justify;font-style: italic;font-size: 1.2rem;margin:1em 0;}
				.product-atc {
					border-top: 1px solid $c-primary;
					margin:40px 0;
					position:relative;

					.icon--atc {
						display: block;
						width: 60px;
						height: 60px;
						background: #2b2b2b url('https://www.ruvilla.com/media/stories/fabolous-week/cart.svg') no-repeat center center;
						border-radius: 50%;
						position: absolute;
						top: -30px;
						left: calc(50% - 30px);
						background-size: 24px;
						opacity:0;
						@include transition(opacity 300ms ease);
						&.show {opacity:1;}
					}

					.product-release {
						position: absolute;
						width: 100px;
						text-align: center;
						left: calc(50% - 85px);
						top: -16px;
						font-size: 20px;
						color: $c-white;
						background: $c-primary;
						padding: 1px 35px;
						opacity:1;
						@include transition(opacity 300ms ease);
						&.hide {opacity:0;}
					}
				}
			}
		}

		// &.story--grid {
		// 	display:flex;
		// 	flex-wrap:wrap;
		// 	height:50vw;
		// 	background:$c-bg-product;
		// 	box-sizing:border-box;
		// 	padding:20px 0;
		// 	text-align:center;
		// 	justify-content: center;
		// 	&:not(.shuffle) figure:hover {
		// 		@include box-shadow(0 0 15px 0px #ababab);
		// 		z-index:$z1;
		// 		figcaption {
		// 			opacity:1;
		// 			top:20px;
		// 		}
		// 	}

		// 	figure {
		// 		width:calc(33.33% - 60px);
		// 		box-sizing:border-box;
		// 		margin:0 30px;
		// 		max-width:23vw;
		// 		cursor:pointer;
		// 		position:relative;
		// 		@include transition(box-shadow 1000ms ease, z-index 1000ms ease);

		// 		figcaption {
		// 			opacity:0;
		// 			position:absolute;
		// 			top:0;
		// 			right:-8px;
		// 			width:125px;
		// 			@include transition(top 900ms cubic-bezier(0.15, 0.96, 0.69, 1.1), opacity 900ms ease);

		// 			h3, h2, h4 {
		// 				display:block;
		// 				width:100%;
		// 				background:#e7e7e7;
		// 				padding:8px 0;
		// 				text-align:center;
		// 				font-weight:300;
		// 				font-size:1.2rem;
		// 				letter-spacing:1.2px;
		// 				margin:0 0 4px 0;
		// 			}
		// 		}
		// 	}
		// }

		&[data-hide] {display:none;}

		// .quote {
		// 	margin:50px 15%;
		// }

		// .product-hookups {

		// 	.story-items {
		// 		background:$c-bg-product;
		// 		padding:75px;
		// 		display:none;

		// 		ul {
		// 			margin:0;
		// 			white-space:nowrap;
		// 			-webkit-perspective: 1300px;
		// 			perspective: 1300px;

		// 			li {
		// 				opacity:0;
		// 				width:calc(25% - 5px);
		// 				padding:0 5px;
		// 				box-sizing:border-box;
		// 				height:auto;
		// 				margin:0;
		// 				.label-sale {display:none;}
		// 				&.animate {
		// 					@include transform-style(preserve-3d);
		// 					@include transform-origin(0%, 0%);
		// 					@include transform(rotateX(-80deg));
		// 					@include animation(flip 800ms ease-in-out forwards);

		// 					@-webkit-keyframes flip {
		// 						0% { }
		// 						100% { -webkit-transform: rotateX(0deg); opacity: 1; }
		// 					}

		// 					@keyframes flip {
		// 						0% { }
		// 						100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}

	.x {
		width:10px;
		height:10px;
		position:absolute;
		top:10px;
		right:20px;
		z-index:$z5 - 1;
		border-bottom:2px solid $c-primary;
		border-right:2px solid $c-primary;
	}
}

@media screen and (max-width:720px) {
	#fabweek .desktop-slider,
	#fabweek .desktop-heroes {display:none !important;}
	#fabweek .mobile-slider,
	#fabweek .mobile-heroes {display:block !important;}

	.arrow--slider {
		width:20px;
		height:20px;
		top:calc(50% - 10px);
		&.cycle-next {right:20px;}
		&.cycle-prev {left:20px;}
	}

	#fabweek hr {margin: 5px auto 50px;}

	// .quote {
	// 	&::before {width:30px;}
	// 	&::after {width:95px;}
	// }
	.nav--products .arrow--slider {
		&.cycle-prev {left:20px;}
		&.cycle-next {right:20px;}
	}

	#block--heroes .logo {width:200px;}

	// #block--intro {
	// 	margin:0;
	// 	padding:0 20px;
	// }

	#block--thumbs {
		.thumb {margin:5px;width:calc(50% - 15px);}
	}

	#block--products {
		left:0;
		right:0;

		.story.story--full {
			.mobile-slider {
				height:50vh;
				margin-bottom:0px;
			}
			.pager {
				left:0;
				right:0;
				text-align:center;
				top:calc(50vh - 30px);

				> div {
					float:none;
				}
			}
			.product-details {
				position:relative;
				top:0;
				right:0;
				left:0;
				width:100%;
				background: rgba(246, 246, 246, 0.75);
				&.shuffle {top:0;}
			}
		}

		// .story.story--grid {
		// 	height:auto;
		// 	padding:0;
		// 	figure {
		// 		width:calc(50% - 15px);
		// 		max-width:100%;
		// 		margin:0;
		// 		&:hover {
		// 			@include box-shadow(none !important);
		// 			figcaption {display:none;}
		// 		}
		// 	}
		// }

		// .story .product-hookups {
		// 	.story-items {
		// 		padding:20px;
		// 		display:block;

		// 		ul {
		// 			white-space:normal;
		// 			text-align:center;

		// 			li {
		// 				margin-bottom:20px;
		// 				width:calc(50% - 5px);
		// 				display:inline-block;
		// 				vertical-align:top;
		// 				opacity:1;
		// 				text-align:left;

		// 				.brand,
		// 				.price {font-size:12px;text-transform:uppercase;display:block;}
		// 				.name {font-size:14px;}
		// 			}
		// 		}
		// 	}
		// }

		.x {
			opacity:0;
			top:-70px;
			border-color:$c-white;
			@include transition(all 300ms ease);
			&.slide {opacity:1;top:-30px;}
		}
	}
}

body.view--desktop {
	#block--products {
		&.modal {top:150px;}
	}
}