// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Jordan 6 'Be Like Mike'
//--------------------------------------//


@import "init";

$story-orange:	#ff4e00;
$story-green:	#009f53;
$t:red;

iframe#launcher.zEWidget-launcher {display:none;}

.story.gatorade-6 {
	// .bottom-notch {
	// 	@include clip-path(polygon(0% 0%, 100% 0%, 100% 100%, calc(50% + 25px) 100%, 50% calc(100% - 25px), calc(50% - 25px) 100%, 0 100%));
	// 	& + section {top:-25px !important;position:relative;}
	// 	&:nth-of-type(1) {z-index:5;}
	// 	&:nth-of-type(2) {z-index:4;}
	// 	&:nth-of-type(3) {z-index:3;}
	// 	&:nth-of-type(4) {z-index:2;}
	// }
	.block--story-header {
		background:$c-white;
		@include clip-path(polygon(0% 0%, 100% 0%, 100% 100%, calc(50% + 25px) 100%, 50% calc(100% - 25px), calc(50% - 25px) 100%, 0 100%));
		z-index:5;
		body.view--desktop & {
			img {opacity:1;}
			.feature-cta {position:relative;img{width:300px;}}
		}
	}
	.block--story-video {
		@include clip-path(polygon(0% 0%, 100% 0%, 100% 100%, calc(50% + 25px) 100%, 50% calc(100% - 25px), calc(50% - 25px) 100%, 0 100%));
		z-index:4;
		position:relative;
		margin-top:-25px;
	}
	.block--story-atc {
		margin-top:-25px;
		z-index:1;
		background:$c-bg-product;
		.product-details.feature {height:auto;}
		.cycle-pager a {
			border: 2px solid $story-orange;
			color:$story-orange;
			background:$c-white;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			padding: 0;
			font-size: 16px;
			display: inline-block;
			text-align: center;
			line-height: 40px;
			font-weight: 700;
			margin: 6px 8px;
			&.cycle-pager-active {background:$story-orange;color:$c-white;}
		}
		button {background:$story-orange; a {color:$c-white;}}
		body.view--desktop & {
			.story-atc-images img {width:60%;}
			.feature-cta {left:50%;color:$c-primary;z-index:$z5; h2 span {color:$c-primary;}}
			.cycle-pager {position:absolute;left:50%;right:0;top:60%;}
		}
	}
	.block--story-content {
		margin:0;
		background:$story-green;
		color:$c-white;
		h2 {
			font-size:2rem;
			font-weight:700;
			span {display:block;font-size: 6rem;line-height: 4.2rem;margin-left:-3px;}
		}
		p {text-align:justify;}
		body.view--desktop & {
			padding:70px;
			.story-content-main {
				h2,
				> div {width:49.5%;display:inline-block;vertical-align:middle;}
				h2 {height:70px;}
			}
		}
		.story-bg-video {display:none;}
		body.view--desktop & {
			position:relative;
			.story-content-main {z-index:1;position:relative;}
			.story-bg-video {
				display:block;
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				video {position:relative;top:-25%;}
			}
		}
	}
	.block--story-gallery {
		.story-gallery-slide {margin:1px 0;}
		img.logo {max-width:240px;margin:30px auto;display:block;}
	}
}