// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Hero Navigator
//--------------------------------------//


@import "init";
@import "layout/normalize";
@import "fonts";

body {
	font-family:$f-family;
	margin:0;
	padding:0;
	margin-top:50px;
}

nav {
	position:fixed;
	z-index:$z1;
	top:0;right:0;left:0;
	text-align:center;
	a {
		margin:5px;
		text-decoration:none;
		color:$c-white;
		font-weight:700;
		background:$c-primary;
		display:inline-block;
		padding:5px 8px;
		text-transform:uppercase;
	}
}

h3 {clear:both;}

.list {margin:0 12.5px;}

.hero {
	float:left;
	margin:5px 12.5px;
	text-transform:uppercase;
	font-size:12px;
	width:calc(20% - 25px);
	height:calc((20vw - 10px) * 0.65);
	cursor:pointer;
	text-decoration:none;
	color:inherit;
	position:relative;
	.title {
		opacity:0;
		@include transition(all 300ms ease);
	}
	&:hover {
		.title {opacity:1;}
	}
	img {width:100%;}
	.store {
		position: absolute;
		text-transform: uppercase;
		background: $c-white;
		right: 0px;
		top: 0px;
		width: 20px;
		opacity: 1;
		height: 16px;
		font-weight: 700;
		text-align: center
	}
}

.pagination {
	clear:both;
	text-align:center;
	li {
		display:inline-block;
		margin:50px 20px;
		a {
			text-decoration:none;
			color:$c-primary;
			border-radius:50%;
			width:20px;
			height:20px;
			display:block;
		}
		&.active a {background:$c-primary;color:$c-white;}
	}
}