// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Holiday
//--------------------------------------//


@import "init";
@import "compass";

#holiday {
	a {display:block;height:100%;}
	.arrow--slider {
		position: absolute;
		width:80px;
		height:100%;
		top:0;
		z-index:502;
		cursor: pointer;
		@include transition(opacity 300ms ease);
		&::after {
			@include block;
			width: 30px;
			height: 30px;
			@include transform(rotate(45deg));
			top: calc(50% - 15px);
		}
		&.cycle-next {
			right:0;
			&::after {
				border-top: 2px solid $c-white;
				border-right: 2px solid $c-white;
				right: 40px;
			}
		}
		&.cycle-prev {
			left:0;
			&::after {
				border-bottom: 2px solid $c-white;
				border-left: 2px solid $c-white;
				left: 40px;					
			}
		}
	}
	.cycle-pager {
		font-size: 25px; //villa hack
		line-height: 30px;
		z-index: 500;
		text-align: center;
		font-family:arial; //villa hack
		span {
			margin:0 1px; //villa hack
			color: #d2d2d2;
			cursor: pointer;
			&.cycle-pager-active {color: #2b2b2b;}
		}
	}
	section {
		height:50vw;
		position:relative;
		&#hero {
			figure {
				width:100%;
				height:100%;
				background-size:cover;
				background-position:center center;
				img {height:100%;width:auto;}
			}
		}
		&#gift-card {
			margin:-50px 5%;
			background: url('https://www.ruvilla.com/media/stories/holiday-gift-guide/lights.gif') center center no-repeat, url('https://www.ruvilla.com/media/stories/holiday-gift-guide/gift-cards.jpg') center center no-repeat;
			background-size: 120%;
		}
		&.quad, &.tri {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-content: space-between;
			a {
				width: calc(50% - 10px);
				max-width: calc(35vw - 5px);
				height: calc(50% - 5px);
				overflow: hidden;
				margin: 5px;
				@include transition(box-shadow 300ms ease);
				&:hover {
					@include box-shadow(0 0 10px rgba(0,0,0,0.5));
				}
			}
		}
		&.quad {height:70vw;}
		&.tri {
			height:auto;
			a {
				width: calc(33.33% - 10px);
				max-width: 33.33%;
				height: calc(50% - 5px);
				overflow: hidden;
				margin: 5px;
			}
		}
	}
	.wrap {
		margin:100px 5%;
		padding:0;
		max-width:100%; //villa hack
		width:auto; //villa hack
	}

	@media screen and (max-width:720px) {
		section {
			&#hero {height:100vw;}
			&.quad, &.tri {
				height:auto;
				a {max-width:100%;width:100%;}
			}
		}
	}
}