// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Jordan pages
//--------------------------------------//


@import "init";

#body-main {
	background:$c-primary;
	color:$c-white;
}

.feature {
	.feature-cta {color:$c-white;}
	&.asjs {
		.logo-asjs {
			position: absolute;
			width: 30%;
			left: 50%;
			margin-left: -15%;
			top: 10%;
		}

		> h4 {
			position: absolute;
			bottom: 30%;
			text-align: center;
			width: 100%;
		}
	}
	.product-assets {
		.asset.asset-release-date {color:$c-white;}
	}
}

.hero {
	padding:0 0 40px;
	.feature .feature-cta h2 span {color:$c-white;}
}

.block--curalate {
	h2 {color:$c-white;}
}

.toolbar {
	.breadcrumbs ul li a {color:$c-white;}
	.toolbar-li.arrow::before {color:$c-primary;}
}

.catalog .product {
	.product-name,
	.product-brand,
	.price-box {color:$c-white;}
}

#body-footer {margin-top:0;border-top:0;}

@media screen and ($break-desktop) {
	.feature {
		.hero & {
			.feature-cta {
				margin:40px;
				top: 0;
				right:0;
				bottom:0;
				left: 0;
				transform: none;
				text-align: left;
				padding: 0;

				h2 {margin:0;padding:0;}

				button {
					top:50%;
					display:block;
				}
			}
		}
	}

	.toolbar .toolbar-tools {background:$c-primary;}
}