@import "../mixins";
@import "jtm-mixins";
@import "compass/css3";


/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\
//\\\\\\\\\\\\\\\\\\\\\\\///////////////////////////


$merri:		'Merriweather', serif;
$oswald:	'Oswald', $merri, sans-serif;
$offWhite:	#fdfdfd;
$ltGray:	#777;
$faint:		#eee;
$orange:	#b75324; //rgba(183,83,36,1);
$charcoal:	#191919;
$gray:		#333;
$accent:	#4bc5cd;
$jtmred:	#fd323e;
$gold:		#8c724d;

$col-wid:	4.166%;

@mixin btn {
	color:$offWhite;
	font-family:$oswald;
	font-size:1.5em;
	text-transform:uppercase;
	background:$charcoal;
	padding:38px 92px;
	display:inline-block;
	text-align:center;
	cursor:pointer;
	margin-bottom:20px;
	@include transition(all 200ms ease-out);

	html.mobile & {
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
}
@mixin btn-sm {
	@include btn;
	font-size:1.25em;
	padding:24px 117px;
	width:100%;
	max-width:350px;

	html.mobile & {
		padding:24px;
		box-sizing:border-box;
	}
}
@mixin brush-block {
	@include block;
	bottom:0px;
	left:0;
	height:50%;
	width:100%;
	background:url(/media/jtm/brush-work2.png) no-repeat bottom;
	background-size:100%;
	z-index:$z3;
}
@mixin brush-block-sm {
	@include brush-block;
	background-image:url(/media/jtm/brush-work3.png);
	height:100px;
}
@mixin brush-block-top {
	@include rotate(180deg);
	bottom:initial;
	top:0;
	box-shadow:0 1px 0 $offWhite; //1px gap problem fix
	z-index:$z3;
}
@mixin brush-block-angle {
	@include brush-block;
	background-image:url(/media/jtm/brush-work4-angle.png);
	bottom:initial;
	top:0;
	background-position:center top;
	box-shadow:0 -1px 0 $offWhite;
}
@mixin brush-block-angle-bottom {
	@include brush-block;
	@include rotate(180deg);
	background-image:url(/media/jtm/brush-work4-angle.png);
	background-position:center top;
}


/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\
//\\\\\\\\\\\\\\\\\\\\\\\///////////////////////////


html, body, div.wrapper, div.page, div.main, div.col-main, div.std {height:100%;height:100vh;}
.page, html.mobile #content {padding:0;}
body {background-color:$offWhite;}
#body-main {
	padding-top:0 !important;

	.banner-sale {display:none;}
}


.jtm-page {
	font-family:$merri;
	color:$gray;
	background-color:$offWhite;
	height:100%;
	height:100vh;
	font-size:14px;
	line-height:1.5em;
	text-align:left;
	-webkit-font-smoothing:antialiased;

	img {max-width:100%;@include filter(grayscale(1));}
	a {text-decoration:none;}
	h1, h2, h3 {color:$gray;margin-bottom:50px;text-align:center;}
	h1 {font-size:3em; html.mobile & {font-size:1.5em;}}
	h2 {font-size:2.5em;margin-top:0; html.mobile & {font-size:1.5em;}}
	h3 {font-size:2em;html.mobile & {font-size:1.25em;}}
	p {margin-bottom:40px;font-size:1.4rem;}
	strong {font-weight:600;}
	sup {font-size:0.45em;}
	hr {background:none;border:none;border-bottom:1px solid $darkGray;margin:40px auto; width:75%;margin-left:12.5%;}
	div {vertical-align:top;}
	ul {
		list-style:square;padding:0 0 0 15px;

		li {padding-bottom:40px;font-size:1.4rem;}

		ul {
			li {padding-bottom:10px;}
		}

		html.mobile & {
			font-size:16px;
		}
	}
	button {
		background:none;
		border:none;
		text-align:initial;
		font:24px $merri;
		color:$gray;
		display:block;

		&:hover {background:$gray;cursor:pointer;}
	}

	.quote {
		padding:0 100px;

		.quotation {
			font-size:60px;
			position:relative;
			top:20px;
		}

		.name {font-weight:bold;float:right;padding-top:40px;}

		html.mobile & {
			padding:0 20px;
			font-size:1em;
			line-height:1.25em;

			.name {padding-top:70px;}
		}
	}
	

	.cycle-pager {
		position:absolute;
		width:100%;
		z-index:200;
		bottom:0;
		text-align:center;

		span {
			font-size:65px;

			&.cycle-pager-active {color:$offWhite;}
		}
	}

	html.mobile & {
		line-height:1em;

		.hide {display:none !important;}
		span:hover {cursor:initial;background-color:initial;} //combat against villa default css	
	}

	.btn {
		@include btn;

		html.mobile & {
			padding:23px 30px;
			font-size:1em;
		}
	}
	.btn-sm {
		@include btn-sm;
	}

	.accent {background:$red;}
	.txt-accent,
	.txt-link {color:$red;}
	.txt-red {color:$jtmred;}
	.txt-link {text-transform:uppercase;cursor:pointer;}

	.wrap-tight {
		width:75%;
		margin-right:auto;
		margin-left:auto;
		&::after {content:'';display:block;clear:both;}
		html.mobile & {width:100%;}
	}

	.info-row {
		color:$offWhite;
		text-align:center;
		padding:100px 0 80px;
		background-repeat:no-repeat;
		position:relative;
	}

	.scroll-wrap {
		overflow:hidden;

		.scroll-row {
			white-space:nowrap;
		}
	}

	.folded {display:none;}

	.detail-list {
		text-align:left;
		margin-bottom:80px;

		h3 {
			text-align:left;
			font-size:1.5em;
		}

		p {margin-bottom:20px;}
	}

	section {
		position:relative;
		height:auto;
		background-color:$offWhite;
		padding:70px;

		&#hero {
			height:500px;
			background-attachment:fixed;
			background-repeat:no-repeat;
			background-position:center top;
			background-size:cover;

			&::after {@include brush-block-sm;}

			a {
				z-index:$z1;
				display:block;
				position:relative;

				img {
					width:300px;
				}
			}

			.page-logo {
				width:45%;
				position:relative;
				z-index:$z1;
			}

			html.mobile & {
				height:400px;
				padding:40px;

				& .page-logo {
					margin-top:20%;
					width:100%;
					max-width:400px;
				}
			}
		}

		&#s2 {
			html.mobile & {
				padding:40px 20px;
			}
		}

		.half,.third,.two-third,.col8,.col9,.col11,.col14,.col15,.col16 {display:inline-block;}
		.half {width:50%;}
		.third {width:33.3%;}
		.two-third {width:66.6%;}
		.col8 {width:$col-wid*8;}
		.col9 {width:$col-wid*9;}
		.col11 {width:$col-wid*11;}
		.col14 {width:$col-wid*14;}
		.col15 {width:$col-wid*15;}
		.col16 {width:$col-wid*16;}

		html.mobile & {
			padding:20px;
			
			.half, .third, .two-third,.col8, .col9, .col11, .col14, .col15,.col16 {width:100%;}
		}

		.row {
			position:relative;

			&::after {@include clearfix;}
		}
	}

	&.jtm-home {

		#top-nav.topped {top:40px;}

		section {

			&#s1 {
				background-image:url(/media/jtm/sun-city.jpg);
				background-size:cover;
				background-attachment:fixed;
				background-position:center -70px;
				font-family:$merri;
				color:$white;
				height:100%;
				// height:100vh;
				padding-top:40px;
				@include box-sizing (border-box);

				&::after {@include brush-block;}

				a {
					z-index:$z1;
					display:block;
					position:relative;

					img {
						width:300px;
					}
				}
				
				h1 {
					color:$white;
					font-size:8rem;
					margin:0;
					@include centercontent;
				}

				html.mobile & {
					height:75%;
					padding:40px;
					background-size:230%;
					background-position:center -30px;

					h1 {
						font-size:40px;
					}
				}
			}

			&#s2 {
				padding-top:100px;

				& > div {display:block;margin:0 auto;}

				.col11 > img {box-sizing:border-box;padding:0 20px;}

				button {
					width:500px;
					height:60px;
					background:$faint;
					margin-bottom:18px;
					overflow:hidden;
					white-space:nowrap;

					.accent {
						width:60px;
						height:100%;
						float:left;
						text-align:center;
						@include transition (all 300ms ease-out);

						img {width:45px;}
					}

					strong {
						padding: 17px 0 15px 42px;
						display:inline-block;
					}

					&:hover {
						.accent {width:100%;}
					}
				}

				html.mobile & {
					padding-top:0;

					button {
						width:105px;
						height:165px;
						display:inline-block;
						background:none;
						vertical-align:top;
						padding:0;

						.accent {
							width:100%;
							height:115px;
							float:none;
							margin-bottom:10px;

							img {width:80%;}
						}

						strong {
							display:block;
							font-size:13px;
							padding:0;
							text-align:center;

							span {
								width:100%;
								display:block;
							}
						}
					}
				}
			}

			&#s3 {
				height:350px;
				background:url(/media/jtm/bg-bf.jpg);
				background-size:cover;
				background-attachment:fixed;
				font-family:$merri;
				text-transform:uppercase;
				font-size:42px;
				color:$offWhite;
				padding-top:100px;
				text-align:center;

				&::after {@include brush-block-sm;background-image:url(/media/jtm/brush-work3-eee.png);}

				p {line-height:1.25em;}

				a {
					width:350px;
					height:35px;
					border:1px solid $offWhite;
					background:rgba(58, 70, 75, 0.38);
					text-align:center;
					color:$offWhite;
					display:inline-block;
					padding:20px 0;
					@include transition (all 300ms ease);

					&:hover {
						background:$offWhite;
						color:rgba(58, 70, 75, 1);
					}
				}

				html.mobile & {
					padding-top:20px;
					padding-bottom:60px;
					height:auto;
					background-attachment:initial;
					background-image:url(/media/jtm/bg-bf-mob.jpg);

					&::after {display:none;}

					.col9 {margin-bottom:70px;}

					a {
						width:80%;
						font-size:0.75em;
						line-height:1em; //used bc overall line-height isnt applying here
						padding:10px 0;
					}
				}
			}

			&#s4 {
				background:url(/media/jtm/bg-programs.jpg);
				background-size:cover;
				padding:0;
				height:100%;
				text-align:center;

				h2 {
					padding:100px 0 0;
				}

				.program {
					width: 25%;
					display:inline-block;
					vertical-align: top;
					position: relative;
					cursor:pointer;

					// &:first-of-type,
					// &:nth-of-type(4) {
					// 	left:50%;
					// 	margin-left:-12.5%;
					// }
					// &:nth-of-type(2),
					// &:nth-of-type(3) {
					// 	top:40%;
					// }

					.p-logo {
						position: absolute;
						left: 50%;
						top: 30%;
						margin-bottom: -18%;
						margin-left: -25%;
						width: 50%;
						z-index:$z1;
						@include transition (all 600ms ease);

						&:hover {margin-top:-10px;}
					}

					article {
						width:100%;
						height:100%;
						color:$offWhite;
						position:absolute;
						top:0;
						display:none;

						div.bg {
							height:100%;
							width:100%;
							background-size:cover;
							background-repeat:no-repeat;
							@include filter(grayscale(1));
						}

						.content {
							position:absolute;
							top:35%;
							font-size:0.9em;
							line-height:1.5em;

							h3 {clear:both;color:$offWhite;font-size:1.5em;}
							p {padding:0 75px;text-align:left;margin-bottom:40px;}
							h3, p {position:relative;}
							ul {
								display:inline-block;
								text-align:left;
								padding-right:35px;

								h4 {font-size:1.2em;}
								li {padding-bottom:10px;}
							}
						}
					}

					// &#asjs div.bg {background-image:url(/media/jtm/bg-a-j.jpg);}
					// &#imatter div.bg {background-image:url(/media/jtm/bg-imatter.jpg);}
					// &#adopt div.bg {background-image:url(/media/jtm/bg-adopt.jpg);}
					// &#homesewn div.bg {background-image:url(/media/jtm/bg-homesewn.jpg);}

					.x {
						    position: absolute;
						    top: 20px;
						    right: 20px;
						    width: 30px;
						    height: 30px;
						    background:#fff url(/skin/frontend/villa/default/css/graphics/x.svg) no-repeat center center;
						    background-size:20px;
						    z-index: $z1;
						    display:none;
					}

					&.open {
						width:100%;
						height:100%;
						top:0 !important;
						left:0 !important;
						margin:0 !important;
						cursor:initial;

						img.callout {display:none;}
						.p-logo {
							margin:0 0 50px -7.5% !important;
							width:15% !important;
							top:5% !important;
						}

						&#imatter .p-logo {
							width:25% !important;
							margin-left:-12.5% !important;
						}

						.x {display:block;}
					}

					@media screen and (max-height:900px) and (min-width:900px) {
						position:relative;
						display:inline-block;
						left:initial !important;
						right:initial !important;
						margin:90px 0 !important;
						width:22.5%;

						html.ie & {left:0 !important;right:0 !important;top:0 !important;}
					}
				}

				html.mobile & {
					overflow:hidden;
					white-space:nowrap;
					padding:0;
					height:140%;

					h2 {
						position:absolute;
						width:100%;
						z-index:500;
						margin-top:30px;
						color:$offWhite;
						top:0;
						padding-top:0;
					}

					.program {
						// position: relative;
						// width: 100%;
						// height:100%;
						// display:inline-block;
						// right:initial !important;
						// margin:0 !important;

						.callout {display:none;}

						.p-logo {
							position:relative;
							margin:0 !important;
							left:initial;
							top:initial !important;
							margin-top:120px !important;
						}

						article {
							display:block;

							.bg {
								position:absolute;
								background-position:center center;
							}

							.content {
								position:relative;
								width:100%;
								padding:80% 20px 20px;
								box-sizing:border-box;
								top:initial;
								height:100%;

								h3 {
									margin-bottom:20px;
									white-space:normal;
								}

								p {
									width:100%;
									white-space:normal;
									padding:0;
									text-align:justify;
									font-size:16px;
									line-height:1.5em;
								}
							}
						}
					}
				}

				@media screen and (max-height:600px) {
					height:150%;

					.program article .content {top:30%;}
				}
			}

			&#s5 {
				height:100%;
				padding:0;

				&::after {@include brush-block-sm;}

				.three-e {
					width:33.33%;
					height:100%;
					display:inline-block;
					float:left;
					text-align:center;
					position:relative;
					background-attachment:fixed;
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center center;
					cursor:pointer;
					@include transition (filter 500ms ease);
					overflow:hidden;

					&::after {
						@include block;
						@include background-image(linear-gradient(rgba(100,100,100,0), rgba(0,0,0,0.65)));
						width:100%;
						height:50%;
						bottom:0;
					}

					&:hover .e-logo {margin-top:-10px; html.mobile & {margin-top:0;}}

					* {z-index:$z1;}

					.logo-box {
						position:absolute;
						top:45%;
						width:100%;
						z-index:$z2;
						@include transition (all 700ms ease);

						.e-logo {
							width:175px;
							height:175px;
							background:rgba(163, 48, 56, 0.7);
							position:relative;
							display:inline-block;
							margin-bottom:50px;
							text-align:center;
							@include transition (all 300ms ease);

							img {
								width:80%;
								margin-top:-5px;
							}
						}

						h3 {
							color:$offWhite;
							text-transform:none;
							font-size:1.5em;
							width:100%;
						}
					}

					article {
						height:100%;
						width:100%;
						background:rgba(163, 48, 56, 0.7);
						padding:30% 70px;
						box-sizing:border-box;
						color:$offWhite;
						display:none;
						position:relative;
						p {
							text-align:left;
							margin-bottom:30px;
						}

						ul {
							width:80%;
							margin:0 auto 1em;

							li {
								padding-bottom:10px;
								text-align:left;
							}
						}

					}

					&.open {
						.logo-box {
							top:5%;

							.e-logo {
								width:100px;
								height:100px;
							}
						}

						&:hover .e-logo {margin-top:0;}
					}

					&.dim {
						-webkit-filter:saturate(0.1);
					}

					&#environment {.e-logo img {margin-top:6px !important;}}
					&#economic {html.mobile & {background-position:70% center;}}
				}

				html.mobile & {
					overflow:hidden;
					white-space:nowrap;
					height:150%;

					.three-e {
						width:100%;
						float:none;
						background-attachment:initial;

						&#education {background-position:10% center;}
						&#economic {background-position:40% center;}

						.logo-box {
							top:100px;

							.e-logo {
								width:100px;
								height:100px;
								margin-bottom:25px;
							}
						}

						article {
							padding:350px 20px 20px;
							display:block;
							white-space:normal;

							p {
								text-align:justify;
								position:relative;
								margin-bottom:30px;
							}

							ul {
								width:100%;
								font-size:16px;
							}
						}
					}
				}
			}

			&#s6 {
				text-align:center;
				padding-top:150px;

				p {text-align:left;}

				figure {
					display:inline-block;
					margin:30px 0;
					float:left;
				}

				html.mobile & {
					padding-top:100px;

					.row {margin-bottom:40px;}
				}
			}
		}
	}

	&.jtm-imatter,
	&.jtm-asjs {

		.btn-sm {
			padding:24px;
		}

		.info-row {
			background-color:$jtmred;
			@include filter(grayscale(1));
			&::after {@include brush-block-sm;}
			
			&:first-of-type {
				background-image:url(/media/jtm/imatter/red-block1.jpg);
			}
			&:nth-of-type(2) {
				background-image:url(/media/jtm/imatter/red-block2.jpg);
			}
		}

		.stat {
			display:inline-block;
			width:24%;
			font-size:30px;
			font-family:$oswald;
			padding:40px;

			&:nth-of-type(2) {
				border-left:1px solid $offWhite;
				border-right:1px solid $offWhite;
			}

			html.mobile & {
				display:block;
				width:100%;
				padding:40px 0;
				border:none !important;
			}

			h4 {
				font-size:160px;
				line-height:1em;
				font-family:$merri;
				margin-bottom:40px;
				display:none;
			}
		}

		.bio {
			display:inline-block;
			width:33.33%;
			float:left;
			text-align:center;
			box-sizing:border-box;
			margin-bottom:50px;
			white-space:normal;

			&.lg, &.md {
				float:none;
			}

			&.lg {
				padding:0 25px;
				min-width:325px; //img width/height plus bio padding
				.name, .gpa {margin-bottom:30px;}
			}

			&.md {
				width:25%;
				min-width:225px;
				img {width:225px;height:225px;}
				span {text-align:center;}
			}

			img {
				width:275px;
				height:275px;
				border-radius:50%;
				background:$darkGray;
				margin-bottom:30px;
			}

			.name, .location, .gpa {font-weight:bold;display:block;}
			span, p {text-align:left;}

			html.mobile & {
				float:none;

				&.lg {
					min-width:275px;
					width:275px;
					box-sizing:initial;
					padding:0 5px;
				}
				&.md {
					margin:0 5px;
				}
			}
		}

		section {
			.row {margin-bottom:50px;}
			&#hero {
				background-image:url(/media/jtm/imatter/hero-imatter.jpg);
				@include filter(grayscale(1));

				html.mobile & {
					background-position:72% top;
				}
			}
			&#winners {

				.wrap-tight {
					.bio {
						span {text-align:center;}
					}
				}

				html.mobile & {
					padding:20px 0;

					.wrap-tight {
						text-align:center;

						.bio {
							width:45%;
							min-width:0;

							.location {
								font-weight:100;
								padding:5px 0;
							}
						}
					}
				}
			}
			&#howto-apply {
				html.mobile & {
					padding:40px 20px;
				}
				.col16 {
					float:left;
					padding-right:7%;
					box-sizing:border-box;

					h3 {text-align:left;}

					html.mobile & {
						padding:0;
					}
				}

				aside {
					padding-left:7%;
					box-sizing:border-box;
					border-left:1px solid $darkGray;

					img {padding-bottom:20px;}
					figcaption {
						border-top:5px solid $darkGray;
						padding-top:20px;
						font-weight:bold;
					}
				}
			}
		}		
	}

	//overrides for AsJs
	&.jtm-asjs {
		section {
			&#hero {
				background-image:url(/media/jtm/asjs/hero-asjs.jpg);
				@include filter(grayscale(1));

				.page-logo {
					left:50%;
					margin-left:-17.5%;
					width:35%;

					html.mobile & {left:0;margin-left:0;}
				}
			}
			&#journey {
				padding:70px 0;
				border-bottom:1px solid #191919;
				margin-bottom:100px;

				.scroll-wrap {margin-bottom:50px;}

				.journey-case {
					display:inline-block;
					width:33.33%;
					float:left;
					background:$charcoal;

					.name {
						display: block;
						height: 75px;
						color:$white;
						font-family:Helvetica, Arial, sans-serif;
						text-transform: uppercase;
						font-weight: 700;
						text-align: center;
						padding:23px 0px;
						box-sizing: border-box;
						font-size:28px;
					}

					&:nth-child(2) {
						.name {
							border-width:0 4px 0 4px;
							border-color:$black;
							border-style: solid;
						}
					}
				}

				html.mobile & {
					padding:70px 20px;

					.journey-case {
						width:300px;
						float:none;
						margin:10px 5px 50px;
					}

					.cycle-pager-active {color:$gold;}
				}
			}
		}
		.btn-sm {
			background:$gold;
			&:hover {background:adjust-lightness($gold, 10%);}
		}
		.info-row {
			background-color:$gold;
			@include filter(grayscale(1));
			&::after {display:none;}
			
			&:first-of-type {
				background-image:url(/media/jtm/asjs/gold-block1.jpg);

				html.mobile & {
					background-position:-210px 0px;
					background-size:1200px;
				}
			}
			&:nth-of-type(2) {
				background-image:url(/media/jtm/imatter/red-block2.jpg);
			}
		}
		.stat {border:none !important;}
	}

	&.jtm-braids {
		&::before {display:none;}

		#mep_0 {
			max-width:1024px;
			max-height:576px;
			margin:0 auto;
		}

		a.btn-sm {
			margin:0 auto;
			display:block;
		}

		#hero {
			background-image:url(/media/jtm/braids/hero-braids.jpg);

			.page-logo {
				margin: 6% auto;
				display:block;
				min-width:300px;

				html.mobile & {

				}
			}

			html.mobile & {
				background-position:50% -30px;
			}
		}

		.info-row {
			background-color: #212d31;
			background-image: url(/media/jtm/braids/blue-block1.jpg);
			background-attachment: fixed;
			background-size:cover;
			background-position:center;
			padding:100px 80px;

			&::after {@include brush-block-sm;}

			h3 {color:$offWhite;}

			.location {
				width:33.33%;
				display:inline-block;
				float:left;
				margin-bottom:50px;
				min-width:320px;
				padding:0 20px;
				box-sizing:border-box;
				font-family:$oswald;

				h4 {
					font-family:$merri;
					font-size:42px;
					font-weight:400;
					text-transform:uppercase;
					line-height: 1em;
				}

				.date {
					font-size:30px;
					text-transform:uppercase;
					display:block;
					padding-bottom:10px;
				}

				.address {
					font-size:24px;
					font-weight:100;
					line-height:1em;
				}
			}

			html.mobile & {
				padding: 100px 0;
				background-size:100%;
				background-position:center top;
				background-attachment:initial;

				.location {
					width:100%;

					h4 {font-size:36px;}
					.date {font-size:24px;line-height:1.25em;}
				}
			}
		}
	}

	#top-nav {
		position:absolute;
		top:50%;
		margin-top:-55px;
		left:20px;
		height:40px;
		overflow:hidden;
		z-index:$z4;
		-webkit-font-smoothing:antialiased;

		html.mobile & {display:none;}

		&.topped {
			top:65px;
			margin-top:0;
			right:10px;
			left:initial;

			html.ie & {left:30%;}

			a {
				display:inline-block;
				margin:0 13px;
				font-size:1.2rem;
				font-weight:700;

				&::before {display:none;}
				&:hover {border-bottom:3px solid $white;}
			}
		}

		a {
			color:$white;
			font-family:$merri;
			display:block;
			position:relative;
			@include transition(top 200ms ease);
			// text-shadow:0 0 4px rgba(0,0,0,0.5);

			&::before {
				@include block;
				width:10px;
				height:10px;
				top:9px;
				left:0px;
				border:1px solid $white;
				border-radius:50%;
				@include transition (background 200ms ease);
			}

			&:hover::before {
				background:$white;
			}
		}
	}

	#sidebar-nav {
		position:fixed;
		top:-150%;
		left:0;
		width:100%;
		height:100%;
		background:rgba(119,119,119,0.95);
		z-index:$z4;
		padding-top:5%;
		@include box-sizing(border-box);
		@include transition(top 500ms ease-out);

		html.mobile & {padding:20% 0;border-bottom:0;visibility:hidden;}

		a {
			display:block;
			width:30%;
			text-align:center;
			color:$offWhite;
			font-size:2em;
			margin:50px auto;
			border:2px solid transparent;

			&:hover {
				border-bottom:2px solid $offWhite;
			}

			html.mobile & {width:100%;margin:50px auto;}
		}

		&.open {
			top:0;

			html.mobile & {visibility:visible;}
		}
	}

	.open-menu {
		position:fixed;
		background:$offWhite;
		width:45px;
		height:40px;
		top:50px;
		left:50px;
		cursor:pointer;
		opacity:0;
		z-index:$z4;
		@include transition(opacity 200ms ease);

		&.fixed {opacity:1;}

		html.mobile & {left:initial;right:25px;top:25px;}

		.open-icon-anim {
			position:relative;
			left:0px;
			top:0px;
			z-index:$z2;
			display: block;
		    height: 30px;
		    width: 30px;

			span {
				border-top: 3px solid $darkGray;
			    width: 26px;
			    position: relative;
			    display: block;
			    left: 17px;
			    margin-left: -8px;
			    -webkit-transition: all 500ms ease-out;
			    -moz-transition: all 500ms ease-out;
			    transition: all 500ms ease-out;

				&.line-1 {top:18px;margin-top: -1px;}
				&.line-2 {top:12px;margin-top: -2px;}
				&.line-3 {top:19px;opacity:1;}
			}

			&.open {

				span {

					&.line-1 {@include rotate(135deg);top:18px}
					&.line-2 {@include rotate(225deg);top:17px}
					&.line-3 {top:25px;opacity:0;}
				}
			}
		}
	}
}

html.mobile {

	#header, #footer {display:none;}
	.std {padding:0;}
}

//Jordan Nav import style-fix
#jordan-nav {
	position:absolute !important;
	top:0 !important;
	z-index:900 !important;

	a {color:$white;text-decoration:none;}

	#categories .sub .rollover ul {
		list-style:none;
		color:$white;

		h5 {
			font-size:18px;
			font-weight:700;
			line-height:1.3em;
		}
	}
}