// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Kids pages
//--------------------------------------//


@import "init";

$rookieBlue: #084d8b;
$rookieRed: #dc3941;
$monts: 'Montserrat';
$hand: 'Just Another Hand', $monts;

html.fixed {overflow:hidden;}
html.mobile.fixed #content {position:relative;z-index:$z4;}

#lp-rookie {
	background:$c-white no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:center center;
	font-family:$monts;
	font-size:21px;

	h1, h2, h3 {text-transform:uppercase;color:$c-white;font-family:$monts}
	h2 {font-size:36px;font-weight:700;}
	img {max-width:100%;}
	p {font-weight:300;}
	.font-hand {font-family:$hand;}

	.btn-shop {
		text-transform:uppercase;
		color:$c-white;
		padding:12px 30px;
		min-width:165px;
		margin:20px 10px;
		background:$c-primary;
		display:inline-block;
		text-align:center;
		font-size:15px;
	}

	.btn-shop-blue {
		@extend .btn-shop;
		background-color:$rookieBlue;
	}
	.btn-shop-red {
		@extend .btn-shop;
		background-color:$rookieRed;
	}

	.logo {
		display:block;
		margin:0px auto;
		padding:40px 0;
		float:none;
		max-width:375px;
	}

	section {
		padding-bottom:40px;
		text-align:center;

		&::after {@include clearfix;}

		&.hero {
			img {width:100%;}
		}

		&.block-sliders {

			& > div {
				width:50%;
				float:left;
				border-top:10px solid;
				position:relative;

				.slide {
					position:relative;
					width:100%;
					background-color:$c-bg-product;

					&.has-btn::after {
						@include block;
						content:'Shop This';
						@extend .btn-shop;
						bottom:15px;
						left:50%;
						margin-left:-143px !important;
					}
				}

				.arrow {
					position:absolute;
					top:50%;
					left:10px;
					margin-top:-100px;
					height:40px;
					width:40px;
					background:url('/skin/frontend/villa/default/css/graphics/jordan/white/collapse.svg') no-repeat center center;
					@include transform(rotate(-90deg));
					cursor:pointer;
					z-index:$z4;
				}

				.next {
					left:auto;
					right:10px;
					@include transform(rotate(90deg));
				}

				.cycle-pager {
					padding:10px 0;
					text-align:center;
					font-size:24px;

					span {padding:0 4px;color:#aaa;}
				}

				h3 {
					font-size:36px;
					padding:15px 0 4px;
					text-align:center;
					width:100%;
				}
			}

			.block-slider-boys {
				border-top-color:$rookieBlue;

				.slide.has-btn::after {
					background-color:$rookieBlue;
				}

				h3 {
					background-color:$rookieBlue;
				}

				.cycle-pager-active {
					color:$rookieBlue;
				}
			}

			.block-slider-girls {
				border-top-color:$rookieRed;

				.slide.has-btn::after {
					background-color:$rookieRed;
				}

				h3 {
					background-color:$rookieRed;
				}

				.cycle-pager-active {
					color:$rookieRed;
				}
			}
		}

		&.block-categories {

			.block-category {
				width:25%;
				float:left;

				img {width:100%;}
			}
		}

		&.block-whats-new {
			color:$c-primary;
			text-align:center;
			background:$c-bg-product;

			h2 {padding:40px 0;color:$c-primary;}

			.story-items {
				overflow:auto;
				margin-bottom:50px;
				@include noscrollbar;

				ul {margin:0;white-space:nowrap;}

				li a {
					text-align:center;

					&::after {
						display:block;
						content:'Shop Now';
						@extend .btn-shop;
						width:100%;
						margin:40px 0;
						padding:12px 0;
						font-family:$monts;
					}

					.brand,
					.name {
						font-family: $monts;
						text-transform: uppercase !important;
						font-size: 14px;
						color: $c-primary;
					}
					.price-box,
					.promo-label {display:none;}
				}
			}
		}

		&.block-stories {
			background:no-repeat center center;
			background-size:cover;
			background-attachment:fixed;
			text-align:center;
			color:$c-white;
			padding:100px;

			h2 {font-size:90px;padding-bottom:50px;text-align:center;}

			p {margin-bottom:50px;text-align:left;font-size:16px;}

			a {color:$c-white;text-decoration:underline;}

			.block-story {
				display:inline-block;
				width:45%;
				margin:20px 0.5%;
				cursor:pointer;

				h3 {font-size:48px;text-align:center;margin:20px;}

				p {display:none;}

				img {@include transition(all 300ms ease);}

				&:hover {

					img {
						@include box-shadow(0 0 10px #000);
						@include transform(scale(1.02));
					}
				}

				&.has-video {
					#mep_0 {
						display:none;
						margin:50px auto;
					}
				}
			}

			&.fixed {
				&::before {
					content: '';
					display: block;
					position: fixed;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					@supports (-webkit-backdrop-filter:blur()) {
	                    background-color: rgba(19, 36, 50, 0.75);
	                    -webkit-backdrop-filter: blur(20px);
	                }
	                @supports (backdrop-filter:blur()) {
	                    background-color: rgba(19, 36, 50, 0.75);
	                    backdrop-filter: blur(20px);
	                }
					background-color: rgba(19, 36, 50, 1);
				}

				.active {
					position: fixed;
					top: 5%;
					width:100%;
					left:0;
					text-align:center;
					padding:5%;
					box-sizing:border-box;
					height:100%;
					overflow:auto;

					&::before {
						content: 'tap image to close';
						display: block;
						position: absolute;
						top: 0px;
						width: 100%;
						height: 20px;
						text-align: center;
						left: 0;
						font-size: 12px;
						opacity: 0.5;
					}

					img {width:40%;@include box-shadow(none !important);@include transform(none !important);}

					p {display:block;}

					&.has-video {
						img {display:none;}
						#mep_0 {display:block;}
					}
				}
			}
		}
	}

	@media screen and ($break-tablet) {
		.block-categories .btn-shop {
			padding:12px;
			min-width:0;
		}
	}

	html.mobile & {
		background-image:none !important;
		p {font-size:14px;line-height:1.5em;}

		.logo {width:200px;}

		.btn-shop,
		.btn-shop-blue {
			margin:10px;
		}

		section {

			&.hero {
				overflow:hidden;

				img {
					max-width:200%;
					width:200%;
					margin-left:-50%;
				}
			}

			&.block-sliders {

				&>div {
					width:100%;
					margin-bottom:40px;

					h3 {padding:20px 0 10px;}
				}
			}

			&.block-categories .block-category {
				width:50%;
				margin-bottom:40px;
			}

			&.block-whats-new .story-items {
				overflow:hidden;
				
				ul {
					white-space:normal;

					li {
						width:45%;

						a::after {
							width:90%;
							min-width:0;
							padding:8px 0;
						}
					}
				}
			}

			&.block-stories {
				background-size: 100%;
				background-color: rgba(19, 36, 50, 1);
				background-repeat: repeat;
				padding:40px 20px;

				h2 {
					font-size:45px;
					line-height:0.9em;
				}

				.block-story {
					width:100%;

					h3 {
						line-height:0.9em;
						font-size:36px;
					}
				}

				&.fixed {
					.active {
						top:0;

						img {width:100%;}
					}
				}
			}
		}
	}
}