// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// LIT SZN - Holiday 2017
//--------------------------------------//


@import "init";

.litszn {
	img {opacity:1 !important;}
	.lit-header {
		padding: 35px;
		text-align: center;

		h1 {
			font-size: 8rem;
			color: #071b26;
		}

		figure {
			max-width: 220px;
			margin: 0 auto;
		}
	}

	.gifts {
		position: relative;
		margin-top: 100px;

		img,
		ul {
			display: block;
		}

		img {width:100%;}

		h2 {
			font-weight: bold;
			text-align: right;
			margin: 10px;
			&.h2-left {text-align:left;}
		}

		.secondary,
		.tertiary {
			position: absolute;
		}

		.main {
			width: 85%;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
		}

		.secondary {
			width: 50%;
			top: 45%;
			z-index: $z2;
		}

		.secondary-left {
			left: 15px;
		}

		.secondary-right {
			right: 15px;
		}

		.tertiary {
			width: 40%;
			top:70%;
			z-index: $z4;
		}

		.tertiary-left {
			right: 50%;
		}

		.tertiary-right {
			left: 50%;
		}

		.links {
			background-color: $c-white;
			width: 50%;
			z-index: 500;
			position: relative;

			ul {
				margin: 20px 30px;

				li {
					padding: 4px 0;
					a {
						text-transform: uppercase;
					}
				}
			
				&::before {
					content: '+';
					font-size: 3rem;
					font-weight: 900;
					line-height: 4px;
					margin-left:-3px;
				}
			}
		}

		.links-right {
			float: right;
		}

		.links-left {
			float: left;
		}
	}

	@media screen and ($break-tablet) {
		.gifts {
			margin-bottom: 200px;

			.tertiary {
				// bottom: -100px;
				top:80%;
			}
		}
	}

	@media screen and (min-width: 1200px) {
		.gifts {
			max-width: 1000px;
			margin: 100px auto;
		}
	}

	.hero {
		margin: 100px 0;
		text-align: center;

		.feature {
			height: auto;
		}

		h2 {
			background-color: $c-white;
			font-weight: 700;
			text-align: center;
			z-index: 500;
			padding: 20px;
			margin-top: -30px;
			font-size: 2em;
			position: relative;
			display: inline-block;
		}

		p {
			text-align: center;
			width: 80%;
			max-width: 400px;
			margin: 0 auto;
		}

		.details {
			background-color: $c-white;
			width: 60%;
			z-index: 500;
			position: relative;

			h2,
			p {
				text-align: left;
			}

			h2 {
				width: 100%;
				position: relative;
				box-sizing: border-box;
				padding:20px 10%;

				&.long {
					span {
						top: 22px;
					}
				}

				span {
					position: absolute;
					right: 20%;
					font-size: 2em;
					line-height: 0.3em;
				}
			}
		}

		.details-left {
			float: left;
		}

		.details-right {
			float: right;
		}

		.secondary {
			position: absolute;
			width: 65%;
			bottom: 40px;
			z-index: $z2;
			right: 10px;
		}
	}

	@media screen and ($break-tablet) {
		.hero {

			.secondary {
				bottom: -80px;
			}

			.details {
				width: 30%;
				padding-bottom: 20px;
			}
		}

		.last {
			margin-top: 200px;
		}
	}

	@media screen and (min-width: 1200px) {
		.hero {
			margin: 200px 0 100px;

			.secondary {
				width: 60%;
			}
		}
	}

	.top {
		margin: 0;
	}

	.gift-guide {
		.hero {
			display:block;
			clear:both;
			figure {
				height:50vw;
				overflow:hidden;
				position:relative;
				img {
					max-width:200%;
					width:100%;
					height:auto;
					@include centercontent;
				}
			}
		}

		.small {
			width: 44%;
			display: inline-block;
			float: left;
		}

		.first {
			margin: 0 2% 4% 4%;
		}

		.last {
			margin: 0 4% 4% 2%;
		}
	}
}