// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// New Balance - US990
//--------------------------------------//


@import "init";

$story-blue:	#496591;
$story-red:		#c52143;
$t:orange;

iframe#launcher.zEWidget-launcher {display:none;}

.story.nb-990 {
	// background-color:$story-red;
	color:$c-white;
	section {
		box-sizing:border-box;
		margin:0;
		min-height:100vh;
		width:100%;
		overflow:hidden;
	}
	p {text-align:justify;}

	.color-panel {
		height: 100vh;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		&.red-left {
			background: $story-red;
			width: 160vw;
			@include clip-path(polygon(30% 0,100% 0, 70% 100%, 0 100%));
		}
		&.blue-right {
			width: 160vw;
			background: $story-blue;
			@include clip-path(polygon(30% 0,100% 0, 70% 100%, 0 100%));
		}
		body.ie & {
			display:none;
		}
	}

	.icon--next, .icon--prev {opacity:1;}

	.owl-dots {
		margin:0;
		text-align:center;
		.owl-dot {
			width:6.6666667%;
			&.active span {background:$story-blue;}
			&:last-child span {width:100%;}
			span {
				width:calc(100% - 1px);
				height:10px;
				margin:0;
				margin-right:1px;
				border-radius:0;
			}
		}
	}

	//animatees
	&.gsap {
		// this fixes the last tween scroll getting stuck
		margin-bottom:90vh;
		section {
			position:absolute;
			margin-top:-105px !important;
		}
		#red1,
		#blue1,
		#slider1,
		#desc,
		#hero,
		#gallery,
		#red2,
		#blue2,
		#nb-logo,
		#map-deets,
		#nb-map,
		#nb-icecream {position:fixed;}

		#red1,
		#blue1 {z-index:2;}
	
		#red1,
		#blue1,
		#nb-logo,
		#map-deets {@include transform(translate3d(0,0,1px));}

		#nb-map {
			top:0;
			height:100%;
			video {height:100%;width:auto;}
		}

		&.view--html {
			section {margin-top:0 !important;}
		}
	}

	#slider1,
	#desc,
	#nb-logo,
	#map-deets,
	#nb-icecream {position:relative;z-index:2;}
	

	#nb-icecream {
		left:33%;
		width:23vw;
		body.ie & {display:none;}
	}

	.block--story-header {
		background-color:$story-red;
		text-align:center;
		padding:15vh 0;
		z-index:2;
		.story-header-background {
			opacity:0.25;
			height:100%;
			background-size:cover;
			background-position: center center;
			position:absolute;
			top:0;right:0;bottom:0;left:0;
			video {
				min-height:100%;
				min-width:100%;
				width:auto;
				height:auto;
				margin-left:-12.5%;
			}
		}
		img {
			position:relative;
			z-index:1;
			margin:60px auto;
			display:block;
			&:first-of-type {margin-top:3vh;}
		}
	}
	
	.block--story-content {
		padding:50px 0;
		@media screen and ($break-desktop) {
			padding:0;
			video {max-width:70vh;margin:0 auto;display:block;}
		}
	}
	.block--story-atc {
		padding:8vh 5%;
		z-index:3;
		@include transform(translate3d(0,0,1px));
		.product-details {
			z-index:2;
			width:100%;
		}
		.story-atc-images {
			text-align:center;
			display:block !important;
			width:50%;
			height:calc(100% - 30vh);
			background:url('https://www.ruvilla.com/media/stories/nb-990/poof.svg') center center no-repeat;
			//nongsap
			float:left;
			@include transform(translate3d(0,0,1px));
			.owl-stage-outer {
				top:50%;
				margin-top:-25%;
			}
			img {width:500px;margin:0 auto;}
		}
		.story-atc-details {
			text-align:center;
			width:400px;
			max-width:35vw;
			//nongsap 
			float:right;
			@include transform(translate3d(0,0,1px));
			.logo {width:100%;}
			img {margin:10px 0;}
			p {font-size:1.4rem;font-weight:700;}
			button {
				width:75%;
				background:$story-red;
				color:$c-white;
				margin:20px 0;
			}
		}
		body:not(.view--desktop) & {
			> .wrap--content {padding:0;}
		}
		//nongsap
		#red1 {left:-60%;}
	}
	.block--story-gallery {
		min-height:auto;
		z-index:1;
		background:#fff;
		.icon--next, .icon--prev {color:$story-red;}
		.owl-stage-outer {max-height:calc(100vh - 10px);}
		@media screen and (max-height:640px) {
			.owl-item img {margin-top:-12.5%;}
		}
		&::after {
			display:block;
			content:'';
			background:#fff;
			height:100px;
			width:100%;
			position:relative;
			bottom:0;
		}
	}

	.block--story-map {
		// z-index:4;
		//non gsap
		padding:12vh 5%;
		position:relative;
		#nb-logo {left:6%;}
		#map-deets {
			top:6%;
			width:360px;
			max-width:33vw;
			box-sizing:border-box;
			padding:0 50px;
			text-align:center;
			h2 {font-weight:700;font-size:2.4rem;margin:16px 0;}
			img {margin:10px auto;display:block;}
			ol {
				height:58vh;
				overflow:scroll;
				text-align:left;
				padding:0;
				li {
					list-style:none;
					margin:20px 0;
					font-weight:1.2rem;
					background-repeat:no-repeat;
					background-size:35px 35px;
					background-position:5px 10px;
					padding-left:50px;
					span {display:block;line-height:1.8rem;}
					sup {top:0;}
					.event-location {font-size:1.6rem;font-weight:700;text-transform:uppercase;}
					$pins: 6;
					$i: 1;
					@while $pins > 0 {
						&:nth-of-type(#{$i}) {background-image:url('https://www.ruvilla.com/media/stories/nb-990/pin-#{$i}.svg?');}
						$pins:$pins - 1;
						$i:$i + 1;
					}
				}
			}
		}
		//non gsap
		#nb-logo,
		#map-deets,
		#nb-icecream {
			@include transform(translate3d(0,0,1px));
		}
		#map-deets {float:right;}
		#nb-icecream {position:absolute;bottom:10%;}
		#red2 {left:-130%;}
		#blue2 {left:25%;}
		#nb-map {
			position:absolute;
			top:0;
			left:0;
			video {width:auto;}
		}
	}

	.story--grid {
		display:flex;
		flex-wrap:wrap;
		height:50vw;
		background:$c-bg-product;
		box-sizing:border-box;
		padding:20px 0;
		text-align:center;
		justify-content: center;
		
		figure {
			width:calc(25% - 60px);
			box-sizing:border-box;
			margin:0 30px;
			max-width:23vw;
			cursor:pointer;
			position:relative;
			@include transition(box-shadow 800ms ease, z-index 800ms ease);
			&:hover {
				@include box-shadow(0 0 15px 0px #ababab);
				z-index:$z1;
				figcaption {
					opacity:1;
					top:20px;
				}
			}

			figcaption {
				opacity:0;
				position:absolute;
				top:0;
				right:-8px;
				width:125px;
				@include transition(top 600ms cubic-bezier(0.15, 0.96, 0.69, 1.1), opacity 600ms ease);

				h3, h2, h4 {
					display:block;
					width:100%;
					background:#e7e7e7;
					padding:8px 0;
					text-align:center;
					font-weight:300;
					font-size:1.2rem;
					letter-spacing:1.2px;
					margin:0 0 4px 0;
				}
			}
		}
	}
	body:not(.view--desktop) & {
	// body.view--desktop & {
		section {min-height:auto;}
		#hero {
			.story-header-background video {display:none;}
			img {
				margin:30px auto;
				&:first-of-type {width:150px;}
				&:nth-of-type(2) {width:280px;}
				&:nth-of-type(3) {width:125px;}
			}
		}
		
		.block--story-atc {
			background:$story-blue;
			margin-top:-100px;
			#slider1 {
				width:100%;
				.owl-stage-outer {
					margin-top:0;
				}
			}
			#desc {width:100%;max-width:100%; .logo {width:75%;}}
			#red1 {@include clip-path(polygon(30% 0, 100% 0, 30% 100%, 0 100%));}
			#blue1 {@include clip-path(polygon(60% 0, 100% 0, 70% 100%, 0 100%));}
		}

		#nb-events {
			background:$story-blue;
			#nb-logo {width:135px;}
			#nb-icecream {top:22%;width:30vw;bottom:auto;left:70%;}
			#blue2 {left:65%;}
			#nb-map {
				height:450px;
				video {}
			}
			#map-deets {
				margin-top:370px;
				width:100%;
				max-width:100%;
				float:none;
				ol {height:auto;}
			}
		}

		#related {
			.story--grid {
				height:auto;
				padding:0;
				figure {
					width:calc(50% - 15px);
					max-width:100%;
					margin:0;
					&:hover {
						@include box-shadow(none !important);
						figcaption {display:none;}
					}
				}
			}
		}
	}

	body.ie & {
		section {
			&.block--story-atc {
				background:$story-blue;
				.story-atc-images .owl-stage-outer {margin-top:0;}
			}
			&.block--story-map {
				#map-deets {background:$story-blue;}
			}
		}
	}
}