// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// New Balance - The Collective
//--------------------------------------//


@import "init";

$story-ltblue:	#8bbbd2;
$story-pink:	#f2dccf;
$story-blue:	#263658;
$story-gray:	#c6cccc;
$t:orange;

iframe#launcher.zEWidget-launcher {display:none;}

.story.nb-collective {
	background-color:$story-pink;
	$sections: 10;
	$sectionNum: 1;
	section {
		position:relative;
		box-sizing:border-box;
		margin:0 !important;
		min-height:100vh;
		width:100%;
		&:not([data-panel-name="features-1"]):not(.block--story-content.story-content--parallax) {
			overflow:hidden;
		}
		@while $sections > 0 {
			&:nth-of-type(#{$sectionNum}) {
				z-index:$sections;
			}
			$sections:$sections - 1;
			$sectionNum:$sectionNum + 1;
		}
	}
	p {text-align:justify;}
	// .scrollify-overflow {height:200vh;background:$t;}
	.bottom-notch {
		@include clip-path(polygon(0% 0%, 100% 0%, 100% 100%, calc(50% + 25px) 100%, 50% calc(100% - 25px), calc(50% - 25px) 100%, 0 100%));
		& + section .bump {top:-50px !important;}
	}
	.one-page-nav {
		position: fixed;
		top: 40px;
		right: 0;
		bottom: 0;
		width: 210px;
		/*background: $t;*/
		z-index: $z5;
		text-align: right;
		ul {
			@include centercontent;
			li {
				color: $c-white;
				margin: 10px 0;
				height: 30px;
				cursor:pointer;
				span {
					font-weight:700;
					opacity:0;
					@include transition(opacity 200ms ease);
				}
				&:not(.sub-nav)::after {
					content:'';
					width: 14px;height: 14px;
					border: 2px solid $c-white;
					border-radius: 50%;
					display: inline-block;
					float: right;
					margin:2px 0 0 5px;
					box-sizing: border-box;
					@include transition(border 300ms ease);
				}
				&.active {
					&::after {border-width: 7px;}
				}
				&:hover,
				&.active {
					span {opacity:1;}
				}
			}
		}
		body:not(.view--desktop) & {display:none;}
	}

	.owl-dots {margin:25px 0;text-align:center;}

	video {max-width:100%;}

	img.paint-stroke {
		$paintstrokewidth:40vw;
		position:absolute;
		top:0;
		width:$paintstrokewidth;
		&[data-stroke="blue"] {right:-($paintstrokewidth / 2);margin-top:40vh;}
		&[data-stroke="white"] {left:-($paintstrokewidth / 2);@include transform(rotate(-116deg));}
		&[data-stroke="navy"] {right:-($paintstrokewidth / 2);}
	}

	.block--story-header {
		padding-bottom:15vh;
		.story-header-background {
			height:100%;
			// background-attachment:fixed;
			background-size:cover;background-position:center center;
		}
		.story-header-callout {
			top:40%;right:0%;bottom:30%;left:auto;
			background-color:$story-ltblue;
			width:75px;height:80px;
			padding:30px;
			#nb-shoe-callout {
				position:absolute;
				bottom:-40px;
				left:-25%;
				width:225px;max-width:400px;
			}
			body.js & {
				#nb-logo-callout, 
				#nb-shoe-callout {opacity:0;}
			}
			@media screen and ($break-desktop) {
				top:40%;right:10%;
				width:150px;height:170px;
				padding:55px 35px;
				#nb-shoe-callout {
					width:350px;
					bottom:-80px;
				}
			}
		}
		.nb-collective-paintchips {
			$square:110px;
			@include centercontent;
			top:auto;
			width:100%;
			@include flexbox(null, null, center);
			.paintchip {
				// width:120px;//height:200px;
				width:25%;max-width:$square;
				display:inline-block;
				margin:0 5px;
				background:$c-white;
				border:2px solid $c-white;
				overflow:hidden;
				position:relative;
				cursor:pointer;
				// opacity:0;
				// @include transition(all 300ms ease);
				&.grow {
					// opacity:1;
				}
				.chip-color {
					// width:120px;height:120px;
					height:calc(25vw - 15px);max-height:$square;
					&.ltblue {background-color:$story-ltblue;}
					&.pink {background-color:$story-pink;}
					&.blue {background-color:$story-blue;}
					&.gray {background-color:$story-gray;}
				}
				.chip-name {
					display:block;
					font-size:1.1rem;font-weight:700;
					padding:6px 4px;
					position:relative;
					z-index:1;
				}
				.wave {
					$size:300px;
					opacity: .4;
					position: absolute;
					top: 0%;
					left: 50%;
					background: $c-white;
					width: $size;
					height: $size;
					margin-left: -($size / 2);
					margin-top: -($size / 2);
					border-radius: 45%;
					@include transform-origin(50% 48% 0);
					@include transition(top 1s linear);
					&-1 {opacity:1;}
					&-2 {@include transform-origin(48% 46% 0);}
					&-3 {}
				}
				&.pour {
					.wave {
						top:-120%;
						&-1 {animation: drift 2000ms infinite linear;}
						&-2 {animation: drift 3000ms infinite linear;}
						&-3 {animation: drift 4000ms infinite linear;}
					}
					&:hover .wave {top:-50%;}
				}
				@keyframes drift {
					from { @include transform(rotate(0deg)); }
					from { @include transform(rotate(360deg)); }
				}
			}
			@media screen and ($break-desktop) {
				.paintchip {margin:0 10px;}
			}
		}
	}
	
	.block--story-content {
		padding:50px 0;
		.story-content-main {
			z-index:1;
			position:relative;
			img {max-width:60vw;margin:50px auto;display:block;}
		}
		&[data-panel-name="ron"] {
			padding:5% 0;
			.story-content-main {
				float:right;
				img {@include filter(invert(1));}
			}
			.story-content-images {
				float:left;
				body:not(.view--desktop) & {
					img {width:50%;}
				}
			}
			.feature-bg {
				position: absolute;
				top: 0;right: 0;bottom: 0;left: 0;
				background-size: cover;
				z-index:-1;
				background-position:center center;
				body.view--desktop & {background-attachment: fixed;}
			}
			& + section {
				background:$story-gray;
				.wrap--content {@include centercontent;}
			}
		}
		@media screen and ($break-desktop) {
			padding:0;
			.story-content-main img {max-width:40vw;margin:25px auto;}
			video {max-width:70vh;margin:0 auto;display:block;}
		}
	}
	.block--story-atc {
		padding:5% 0;
		background-color:$story-pink;
		.story-atc-images {
			display:block !important;
			body:not(.view--desktop) & {margin-bottom:50px;}
			@media screen and ($break-desktop) {
				width:50%;
				float:left;
			}
		}
		.story-atc-details {
			color:$story-blue;
			text-align:center;
			.logo {width:75px;}
			.product-style,
			.price-box {font-size:1.6rem;}
			.price-box {margin:10px 0;}
			button {
				width:75%;
				background:$story-blue;
				color:$c-white;
				margin:20px 0;
			}
			h3 {
				text-transform: uppercase;
				font-size: 2rem;
			}
			@media screen and ($break-desktop) {
				width:50%;
				float:right;
				padding:10% 20px;
				box-sizing:border-box;
			}
		}
		body:not(.view--desktop) & {
			> .wrap--content {padding:0;}
		}
	}
	.block--story-feature-focus {
		height:200vh;
		.feature-panel {
			height:100vh;
			.feature-bg {
				position:absolute;
				top:0;right:0;bottom:0;left:0;
				background-size:cover;
				background-position:center center;
			}
			.feature {
				@include centercontent;
			}
		}
		// .owl-dots {
		// 	position: absolute;
		// 	z-index: 100;
		// 	background: orange;
		// 	top: 90%;
		// }
		body.view--desktop & {
			height:100vh;
			.feature-bg {background-attachment:fixed;}
		}
	}
	.block--story-features {
		@include centercontent;
		position:fixed;
		width:50vw;height:50vh;
		z-index:100;
		display:none;
		// opacity:0;
		// @include transition(opacity 1200ms ease);
		.story-feature {
			width:100%;
			opacity:0;
			@include centercontent;
			margin-top:40px;
			@include transition(opacity 450ms ease);
			&.show {
				opacity:1;
			}
			.detail {
				color: $c-white;
				font-weight: 700;
				position: absolute;
				font-size: 1.4rem;
				max-width:175px;
				&:nth-child(1) {top:-60%;left:-30%;}
				&:nth-child(2) {top:100%;right:-30%;}
				span {}
				p {
					border-top: 2px solid $c-white;
					padding-top: 10px;
				}
				@media screen and ($break-desktop) {
					max-width:250px;
					&:nth-child(1) {top:-20%;left:-10%;}
					&:nth-child(2) {top:100%;right:0%;}
				}
			}
			.number-floater {
				position:absolute;
				width:30px;
				&-1 {top:25%;left:0%;}//silhouette
				&-2 {top:21%;right:10%;}//low-cut
				&-3 {top:7%;right:18%;}//upper flex
				&-4 {top:56%;left:0%;}//mesh
				&-5 {top:5%;right:42%;}//laces
				&-6 {top:37%;left:12%;}//3m
				&-7 {top:40%;right:20%;}//blue foam
				&-8 {top:26%;left:-15%;}//leather
				&-9 {top:65%;right:43%;}//sole
				&-10 {top:40%;left:20%;}//bottom
				@media screen and ($break-desktop) {
					width:40px;
					&-1 {top:30%;left:20%;}
					&-2 {top:17%;right:26%;}
					&-3 {top:11%;right:35%;}
					&-4 {top:60%;left:23%;}
					&-5 {top:10%;right:46%;}
					&-6 {left:27%;}
					&-7 {top:42%;right:35%;}
					&-8 {top:30%;left:10%;}
					&-9 {top:65%;right:53%;}
					&-10 {}
				}
			}
			img {width:100%;}
			body:not(.view--desktop) & {
				> img {
					max-width:250%;
					width:150%;
					margin-left:-25%;
				}
			}
		}
	}
	.block--story-gallery {
		.wrap--content {@include centercontent;}
		@media screen and (max-height:800px) {
			body.view--desktop & {
				.wrap--content {top:45%;}
			}
		}
	}

	// media breaks
	@media screen and ($break-desktop) {
		.block--story-header {margin-bottom:150px;}
	}
}