// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Styles for Queue-it
//--------------------------------------//

//
// Just rename .css after compiling for versioning when uploading queue-it
//


@import "init";
@font-face{font-family:"Greycliff";src:url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-Light.eot?1491929223");src:url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-Light.eot?&1491929223#iefix") format("embedded-opentype"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-Light.woff2?1491929223") format("woff2"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-Light.woff?1491929223") format("woff"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-Light.ttf?1491929223") format("truetype");font-weight:300}
@font-face{font-family:"Greycliff";src:url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-LightOblique.eot?1491929223");src:url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-LightOblique.eot?&1491929223#iefix") format("embedded-opentype"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-LightOblique.woff2?1491929223") format("woff2"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-LightOblique.woff?1491929223") format("woff"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-LightOblique.ttf?1491929223") format("truetype");font-weight:300;font-style:italic}
@font-face{font-family:"Greycliff";src:url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-ExtraBold.eot?1491929223");src:url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-ExtraBold.eot?&1491929223#iefix") format("embedded-opentype"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-ExtraBold.woff2?1491929223") format("woff2"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-ExtraBold.woff?1491929223") format("woff"),url("https://www.ruvilla.com/skin/frontend/villa2/default/font/Greycliff/GreycliffCF-ExtraBold.ttf?1491929223") format("truetype");font-weight:700}

#main-top,
#headerparagraph,
#whatisthis,
.processbar-box,
#MainPart_divExitLine,
#MainPart_divExitLine a,
#footer,
#footer a,
#MainPart_lbManualUpdateWarning,
#BodyTop_nojavascriptenabled,
#MainPart_divTimeBox.time-box{
	color:$c-primary;font-weight:100;font-size:0.8rem;
}
body{
	background:$c-white;
	font-family:"Greycliff","Helvetica",arial,sans-serif;
	#noscript #BodyTop_nojavascriptenabled{border-radius:0;text-shadow:none;border:none;}
	#toppanel #toppanel_iframe{height:70px;width:100% !important;}
	#bottompanel {
		height:600px;
		#bottompanel_iframe {width:100%}
	}
	#wrapper #main .c{background:none}
	#main_t {display:none}
	#main_c {
		background:none;
		#content {
			#header{
				border-bottom:none;
				padding:0 0 30px 0;
				h1 {display:none}
				h2 {border-bottom:none;font-weight:700;margin:20px 0;text-align:center;text-transform:uppercase}
				#headerparagraph {
					margin:0 10px;
					span#lbHeaderP {display:inline}
				}
				#whatisthis {
					display:inline;
					font-weight:100;
					margin:0 10px;
					&::before{content:'('}
					&::after{content:')'}
				}
				#explain {
					margin:10px 10px 0;
					font-weight:100;
					font-size:0.8rem;
					font-style:italic;
				}
			}
			.warning-box{
				background:none;
				border-bottom:none;
				h3 {color:$c-primary;}
				#MainPart_divProgressbar {
					background:transparent;
					border:1px solid $c-lt-gray;
					padding:10px;
					#MainPart_divProgressbar_Progress {
						background-color:$c-red;
						background-image:none;
						.runner{background-image:url("https://www.ruvilla.com/media/queue-it/arrow-right-white.png");background-repeat:no-repeat;margin-right:1px}
					}
				}
			}
			#MainPart_lbManualUpdateWarning {margin:20px 0;border-radius:0;padding:20px;text-shadow:none}
			.alert{border:none}
			.processbar-box{
				background:none;
				.holder{
					background:none;
					border-bottom:none;
					text-align:left;
					span#MainPart_lbQueueNumber {font-weight:bold}
					.processbar{display:none}
					#MainPart_divProgressbarBox_Holder_LastUpdateTime {
						background:$c-bg-secondary;
						padding:30px;
						margin-top:26px;
						#MainPart_lbLastUpdateTimeText,
						#MainPart_lbLastUpdateTimeTextTimeZonePostfix {font-weight:bold}
					}
					.larger {
						display:none; //hiding estimated time
						#first-in-line {display:block;font-weight:900;margin-bottom:20px;text-align:center;text-transform:uppercase}
						#MainPart_lbWhichIsIn {font-weight:bold}
					}

				}
			}
			#MainPart_divTimeBox.time-box{background-color: rgba(255, 216, 0, 0.59);margin:10px 10px 40px}
			#MainPart_frmReminder2 {
				margin:0 20px 40px;
				h2 {text-transform:uppercase;text-align:center}
				#MainPart_divEmailInput form{
					width:208px;
					margin:0 auto;
					input {font-size:0.8rem;font-weight:100;width:182px}
					button.btn{background-color:$c-red;border-radius:0;font-size:0.8rem;padding:8px 16px;text-transform:uppercase;width:207px;margin:4px 0 0}
					button.btn-disabled{background-color:darkred;border:none;color:$c-white}
				}
				#divEmailStatusFrame {border:none;padding:20px;border-radius:0px;-webkit-border-radius:0px;text-shadow:none;color:$c-primary;font-weight:100;font-size:0.8rem}
			}
		}
		#footer #footer-queueit-link{display:none}
	}
	#main .b{background:none}
	&.prequeue #wrapper #main {
		.warning-box{
			background:none;
			color:$c-primary;
			padding:0;
			p {
				margin:0;
				#MainPart_lbEventStartsAtText {display:block;text-transform:uppercase}
			}
		}
		#MainPart_divProgressbarBox .beforeElement{display:none}
		#MainPart_divProcessbarBox {display:none}
		#MainPart_divVersionInfo {display:none}
		#main_c #content {
			#header {
				#detailExpander {margin:20px 0;text-align:center}
				#whatisthis {display:block;text-align:center}
			}
			.processbar-box{display:none}
		}
		#MainPart_divVersionInfo {display:none}
	}
	&.exit #wrapper #main {
		#main_c #content #whatisthis{text-align:center}
		#MainPart_divProgressbarBox {display:none}
	}
}