// Releases
@import "mixins";
@import "compass/css3";

html,
body {margin:0;padding:0;}
$break: 'max-width:900px';
$ltGray:	#ccc;
$darkGray:	#333;
$white:		#fff;

#raffle {
	font-family:"Montserrat";
	text-align:center;

	img {width:100%;}

	h2 {
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2rem;
		font-size: 36px;
		text-align:center;

		@media screen and ($break) {
			letter-spacing:normal;
		}
	}
	h3, h4 {margin:30px 0;}
	p {
		font-weight:300;
		@media screen and ($break) {
			line-height: 1.25rem;
			padding: 0;
			font-size:13px;
		}
	}
	strong {font-weight:700;}

	.stores {
		font-weight:300;
		padding:45px;
		border:2px solid $ltGray;
		&::after {
			@include clearfix;
		}
		li {
			list-style: none;
			padding: 10px 5px;
			height: 70px;
			margin: 0;
			box-sizing: border-box;
			float: left;
			width: 50%;
			display: inline-block;
			span {font-weight:700;}
			@media screen and ($break) {
				width:100%;
				font-size:13px;
				height:50px;
			}
		}
	}

	#nav-header {
		height:55px;
		padding:16px 0px;
		box-sizing:border-box;
		text-align:left;
		background:#2b2b2b;

		img {width:200px;}
	}

	#raffle-content {
		margin-bottom:100px;

		a {text-decoration:none;color:#000;border-bottom:2px solid #000;}
		
		.logo {
			width:60%;
			padding:50px 0;
			@media screen and ($break) {
				width:90%;
			}
		}

		> .wrap {
			padding:0 20px;
			max-width:900px;
			margin:0 auto;
			text-align:left;
		}
	}

	.hero {
		height: 50vh;
		background:no-repeat center center #828282;
		background-size:100%;
		@media screen and ($break) {
			height:200px;
		}
	}

	form {
		margin-bottom:100px;

		.wrap {
			width:50%;
			border:2px solid $ltGray;
			margin:50px auto;
			padding:45px;
			position:relative;

			input:not([type="radio"]),
			select {
				width:45%;
				margin:10px;
				height:40px;
				padding:10px;
				-webkit-appearance: none;
				appearance:none;
				border-radius: 0;
				border:1px solid #ccc;
				color: #aaa;
			}

			.radio-wrap {
				width: 45%;
				margin: 10px;
				height: 60px;
				padding: 10px;
				color: #aaa;
				display: inline-block;
				box-sizing: border-box;

				input {margin:0 10px;}

				small {padding:10px;display:inline-block;}
			}

			button {cursor:pointer;}

			.wrap-half {
				width: 45%;
				text-align: left;
				display: inline-block;
				vertical-align: top;
				margin: 10px;

				.columns {
					@include columns (2);
					@include column-gap (20px);
					font-size: 14px;

					div {padding:7px 0;display:inline-block;}
				}
			}

			@media screen and ($break) {
				width:90%;
				box-sizing:border-box;

				input:not([type="radio"]),
				.size-with-inputs,
				.radio-wrap {
					width:100%;
					margin:10px 0;
				}

				.wrap-half {
					width:100%;
					margin:10px 0;
				}
			}
		}

		.form-subscribe {
			input {
				width: 45%;
				margin: 10px 0px;
				height: 40px;
				padding: 10px;
				-webkit-appearance: none;
				appearance: none;
				border-radius: 0;
				border: 1px solid #ccc;
				color: #aaa;
			}

			button[type="submit"] {
				padding:8px 60px;
				margin:0;
			}

			@media screen and ($break) {
				input,
				button[type="submit"] {
					width:100%;
				}
			}
		}

		button[type="submit"] {
			border: none;
			background: $darkGray;
			padding: 20px 100px;
			font-size: 20px;
			text-transform: uppercase;
			color:$white;

			&.success {background:green;}
		}

		label.error {
			color:red;
			display:block;
		}
	}
}

footer {
	padding:20px 0;
	background:#2b2b2b;
	color: $white;
	font-size:12px;

	a {
		padding: 0 7px;
		color: $white;
	}
}