// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Release Calendar
//--------------------------------------//


@import "init";

#releases {
	color:#000;
	padding:50px;
	font-size:18px;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	max-width:1400px;
	margin:0 auto;
	// 
	font-family:'TradeGothicLT-BoldCondTwenty', 'TradeGothicCond18', Arial, Helvetica, sans-serif !important;
	font-weight:500;

	h1 {font-size:2em;}

	button {
		background:none;
		border:1px solid $c-primary;
		margin:0;
		padding:4px 8px;
		margin:3px 0;
		border-radius:3px;
		cursor:pointer;
		width:auto;
		color:#2b2b2b;
		/*font-weight:500;*/
		font-size:12px;
		//

		line-height: inherit;
		text-transform: none;
		font-weight:500;
		height: auto;
		min-height: 0;

		&.active {
			background:$c-primary;
			color:$c-white;
		}
	}

	[data-lazy-block] {position:relative;}

	& > div {display:inline;}

	.release-item {
		width:255px;
		display:inline-block;
		margin:15px 10px;
		vertical-align:top;

		a {
			span {display:block;width:100%;cursor:initial !important;background:none !important;}

			.img-box {
				height:255px;
				overflow:hidden;

				img {
					width:200%;
					margin-left:-50%;
					margin-top:-50%;
					max-width:200%; //for mobile
				}
			}
	
			.details {
				position:relative;
				height:50px;
	
				.bns {
					float:left;
					width:70%;
					text-align:left;

					.brand, .name, .sizes {color:#000;}
	
					.brand {font-size:0.75em;text-transform: uppercase !important;}
					.name {text-overflow:ellipsis;white-space: nowrap;overflow: hidden;font-size:16px;}
					.sizes {font-weight:300;font-size:0.65em;}
				}
	
				.price {
					width:55px;
					height:100%;
					box-sizing:border-box;
					float:right;
					background:#000;
					color:#fff;
					font-size:18px;
					border-top:1px solid #fff;
					padding: 17px 0;
					font-size: 0.8em;
					font-weight: 500;
				}
	
				.date {
					width:55px;
					height:50px;
					background:#000;
					color:#fff;
					position:absolute;
					right:0;
					top:-50px;
					padding: 13px 0;
					box-sizing: border-box;
	
					.month {font-size: 0.6em;line-height: 0.71em;}
					.day {font-size:1em;}
					.weekday {
						position:absolute;
						width:55px;
						height:36px;
						top:-37px;
						background:#000;
						font-size: 0.6em;
						box-sizing: border-box;
						padding: 11px 0;
					}
				}
			}
		}

		.img-box {background:$c-bg-product no-repeat center center;background-size:150px;}
			
		&.jordan-logo .img-box {background-image:url('/media/logos/jordan.svg');}
		&.nike-logo .img-box {background-image:url('/media/logos/nike.svg');}
		&.converse-logo .img-box {background-image:url('/media/logos/converse.svg');}
		&.adidas-logo .img-box {background-image:url('/media/logos/adidas.svg');}
		&.puma-logo .img-box {background-image:url('/media/logos/puma.svg');}
		&.reebok-logo .img-box {background-image:url('/media/logos/reebok.svg');}
		&.timberland-logo .img-box {background-image:url('/media/logos/timberland.svg');}
		&.under.armour-logo .img-box {background-image:url('/media/logos/underarmour.svg');}
		&.asics-logo .img-box {background-image:url('/media/logos/asics.svg');}
		&.new.balance-logo .img-box {background-image:url('/media/logos/newbalance.svg');}
	}


	@media screen and ($break-mobile) {
		html.mobile & {
			padding:20px 0;

			h1 {margin-bottom:10px;}

			div.brand-buttons {
				margin:10px 0;
				padding-bottom:20px;
				border-bottom:1px solid $c-primary;
			}

			.release-item {
				width:calc(50% - 30px);
					a .details {
					.price {padding:24px 0;}
					.date .month {line-height:1.5em;}
					.date {padding:8px 0;}
				}
			}
		}
	}
}