// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Release Calendar
//--------------------------------------//


@import "init";

#releases {
	text-align:center;

	h1 {margin:30px 0;}

	.brand-buttons {
		margin:10px 0;
		padding-bottom:20px;
		border-bottom:1px solid $c-primary;
	}

	button {
		border:1px solid $c-primary;
		margin:0;
		padding:4px 8px;
		margin:3px 0;
		border-radius:3px;
		width:auto;
		color:#2b2b2b;
		line-height: inherit;
		height: auto;
		min-height: 0;

		&:hover, &.active {
			background:$c-primary;
			color:$c-white;
		}
	}

	// [data-lazy-block] {position:relative;}

	// & > div {display:inline;}

	.release-item {
		width:calc(50% - 10px);
		margin:15px 5px;
		display:inline-block;
		vertical-align:top;
		position:relative;
		&:hover, &.open {
			.sizes-box {bottom:0;}
		}

		span {display:block;}

		.img-box {
			height:180px;
			overflow:hidden;
			position:relative;
			background:$c-bg-product no-repeat center center;background-size:100px;
		}
		.sizes-box {
			background: $c-white;;
			position: absolute;
			bottom:-100%;left:0;right:0;
			padding:20px 0px;
			text-align:center;
			@include transition(bottom 300ms ease);
			a {
				@include icon-setup;
				@include circle-icon;
				line-height:30px;
				font-weight:700;
				margin:6px 8px;
				&:hover {
					background:$c-primary;
					color:$c-white;
				}
			}
		}
		.details {
			position:relative;
			margin-top:7px;

			.bns {
				text-align:left;

				.name {font-weight:700;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:1.2rem;
				width:calc(100% - 45px);}
				.brand {line-height:1.4em;font-size:1.2rem;}
				.sizes {padding:1px 0 0;font-size:1.2rem;text-transform:none;line-height:1rem;}
			}
			.price {
				color:$c-primary;
				font-size:18px;
				font-size: 1.2rem;
				line-height:1.2rem;
				font-weight: 700;
				text-align:right;
				position:absolute;
				top:0;
				right:0;
			}
		}
		.date {
			width:45px;
			height:45px;
			background:$c-bg-header;
			color:$c-white;
			position:absolute;
			right:0;
			top:0;
			padding: 3px 0;
			box-sizing: border-box;
			.month,
			.day {
				font-size:1.2rem;
				line-height:1.2rem;
			}
			.day,
			.weekday {font-weight:700;}
		}
			
		&.jordan-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-jordan.svg');}
		&.nike-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-nike.svg');}
		&.converse-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-converse.svg');}
		&.adidas-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-adidas.svg');}
		&.puma-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-puma.svg');}
		&.reebok-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-reebok.svg');}
		&.timberland-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-timberland.svg');}
		&.under.armour-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-underarmour.svg');}
		&.asics-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-asics.svg');}
		&.new.balance-logo .img-box {background-image:url('https://www.ruvilla.com/media/logos/brand-newbalance.svg');}
	}


	@media screen and ($break-desktop) {

		.release-item {
			width:255px;
			margin:15px 10px;
			.img-box {height:332px;background-size:150px;}
			.size-box {padding:20px 30px;}
			.date {height:48px;}
			.date .month,
			.date .day {font-size:1.4rem;line-height:1.4rem;}
		}
	}
}