// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Timberland Bad Boy Boot
//--------------------------------------//


@import "init";

.timberlandbb {
		img {opacity:1 !important;}


	section {
		margin-bottom: 20px;
	}

	// .top {
	// 	background: url('https://www.ruvilla.com/media/hero/TB0A1Q8E001-d-l.jpg')no-repeat center center;
	// 	height: 80vh;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;

	// 	h2 {
	// 		color: $c-white;
	// 		font-size: 2.6rem;
	// 		font-weight: 700;
	// 		text-align: center;

	// 		span {
	// 			font-weight: 300;
	// 			display: block;
	// 		}
	// 	}
	// }

	body:not(.view--desktop) & {
		.hero .feature .feature-cta {
			position: absolute;
			top: 25%;
			left: 0;
			right: 0;
			h2,
			h2 span,
			h3 {color:$c-white;}
		}
	}

	.middle {

		#no-template-pager {
			margin-top: 20px;

			img {
				margin: 0 2px;
				width: calc(20% - 4px);
				cursor:pointer;
				float:left;
			
				&.cycle-pager-active {
					display: none;
				}
			}
		}
	}

	.hero {

		.feature {
			height: auto;
		}

		.cycle-pager {
			margin-bottom: 0;
		}
	}

	.bottom {
		background: url('https://www.ruvilla.com/media/hero/TB0A1Q8E001-d-l.jpg') no-repeat center center;
		background-size: cover;
		height: 80vh;
		display: flex;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;

		.cycle-slideshow,
		#adv-custom-pager-bottom {
			display: none;
		}

		.text {
			background-color: rgba(0, 0, 0, 0.5);
			color: $c-white;
			margin: 40px;
			padding: 20px;

			h2 {
				display: none;
			}

			h3 {
				font-size: 1.875rem;
				font-weight: 700;
				margin-bottom: 20px;
			}

			h4 {
				margin-bottom: 20px;
			}

			p {
				margin: 0.5em 0;
			}
		}

		button.outside {
			margin: 0 40px 40px;
		}

		button.inside {
			display: none;
		}
	}

	@media screen and (min-width: 768px) {
		
		// .top {
			
		// 	h2 {
		// 		font-size: 3.6rem;
		// 	}
		// }
		.middle {
			display: none;
		}

		.bottom {
			background: none;
			height: auto;

			.cycle-slideshow,
			#adv-custom-pager-bottom {
				display: block;
			}

			#adv-custom-pager-bottom {
				position: absolute;
				bottom: 20px;
				left: 20px;

				img {
					width: 10%;
				}
			}

			.cycle-pager {
				text-align: left;
				cursor:pointer;

				.cycle-pager-active {
					display: none;
				}
			}

			.text {
				margin: 0 0 0 auto;
				padding: 0 50px;
				width: 30%;
				min-width: 220px;
				max-width: 600px;
				display: flex;
				align-content: center;
				flex-wrap: wrap;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				z-index: 900;


			}

			button.inside {
				display: block;
				margin-top: 40px;
			}

			button.outside {
				display: none;
			}
		}
	}

	@media screen and (min-width: 769px) {

		.bottom {

			.text {
				min-width: 300px;

				h2 {
					display: block;
					font-size: 2.6rem;
					font-weight: 700;

					span {
						display: block;
						font-weight: 300;
					}
				}
			}
		}
	}
}

#body-footer {
	margin-top: 0;
}