// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Timberland - Soul Food
//--------------------------------------//


@import "init";

// $story-ltblue:	#8bbbd2;
// $story-pink:	#f2dccf;
// $story-blue:	#263658;
// $story-gray:	#c6cccc;
// $t:orange;

.story.soulfood {
	button {background:$c-white;color:$c-primary;width:175px;}
	hr {border-bottom-style:dashed;border-color:$c-white;margin:40px auto;width:80%;}
	.cycle- {
		&prev {left:0}
		&next {right:0}
		body.view--desktop & {
			&prev, &next {.icon {background:none;color:$c-white;}}
			&prev {left:-70px;.icon {left:-10px;}}
			&next {right:-70px;.icon {right:-10px;}}
		}
	}
	.feature-cta {margin-top:20px;}
	h3 {
		margin:10px;
		font-size:1.6rem;
	}
	.block--story-header {
		height:calc(100vh - 75px);
		body.view--desktop & {height:calc(90vh - 75px);}
		.story-header-background {
			height:100%;
			background-size:cover;
			background-position:50% 50%;
			background-repeat:no-repeat;
			img {@include centercontent;width:80%;max-width:600px;margin-top:-70px;}
		}
		h1 {color:$c-white;bottom:15vh;}
	}
	.block--story-gallery {
		padding:100px 0 50px;
		text-align:center;
		background:url('https://www.ruvilla.com/media/stories/soulfood/woodtexture-XS.jpg');
		color:$c-white;
		> img {margin-bottom:60px;}
		body.view--desktop & {
			background: url("https://www.ruvilla.com/media/stories/soulfood/woodtexture-L.jpg") no-repeat;
			background-size: cover;
			background-attachment: fixed;
			// .owl-carousel {max-width:900px;margin:0 auto;}
		}
	}
	.hr-wrap {
		background: url("https://www.ruvilla.com/media/stories/soulfood/woodtexture-L.jpg") no-repeat;
		background-size: cover;
		background-attachment: fixed;
		hr {margin: 0 auto;padding: 40px 0;}
	}
	.block--story-content {
		margin:0;
		padding:0;
		position:relative;
		.story-content-main {text-align:justify;}
		h2 {
			font-size:2rem;
			span {color:#f5b673;display:block;font-size: 6rem;line-height: 6.2rem;}
		}
		&[itemprop="mainContentOfPage"] {
			img {width:100%;}
		}
		&:not([itemprop="mainContentOfPage"]) {
			padding:40px 0;
			text-align:center;
			background:$c-primary;
			color:$c-white;
			img {width:80%;max-width:600px;}
		}
		body.view--desktop & {
			padding:100px 0;
			img {margin-bottom:50px;}
			h2 {
				font-size:3rem;
				span {font-size:9rem;line-height:9.2rem;}
			}
			.story-content-main {
				position:absolute;
				top:60px;right:20px;
				z-index:$z1;
				width:40%;
				max-width:400px;
				h2 {font-weight:700;}
			}
			&:not([itemprop="mainContentOfPage"]) {
				> div {
					width:50%;float:left;
					&:nth-of-type(1) {
						border-right:1px dashed $c-white;box-sizing:border-box;
					}
					&:nth-of-type(2) {
						img {width:60%;}
					}
				}
			}
		}
	}
}
#body-footer {margin-top:0;}