// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Blocks
//--------------------------------------//


.cycle-prev,
.cycle-next {
	width: 60px;
	position: absolute;
	top: 0;
	bottom: 50px;
	z-index: $z5+1;
	cursor: pointer;
}
.cycle-prev {left:0;}
.cycle-next {right:0;}

.feature {
	margin:0px auto 40px;
	display:block;
	vertical-align:top;
	text-align:center;
	position:relative;
	@media screen and ($break-mobile) {max-width:578px;}

	figure {
		height:375px;
		overflow:hidden;
		position:relative;

		img {
			width:auto;
			max-width:200%;
			height:375px;
			@include centercontent;
		}
	}

	.feature-cta {
		margin-top:15px;
		text-align:left;

		i {
			@include transform(rotate(45deg));
			display: inline-block;
			font-style:normal;
			font-size:2rem;
			height:14px;
			width:4px;
			vertical-align: top;
			line-height:14px;
		}

		h2 {
			@extend %bold;
			margin:0;
			// font-size:2.3rem;
			padding:0 10px;
			max-width:300px;
			display:inline-block;

			span {
				display:block;
				line-height:1.8rem;
				font-weight:500;
				color:$c-lt-gray;
				font-size:1.4rem;
			}
		}

		h3 {
			display:block;
			margin-top:2px;
			margin-left:10px;
			color:$c-lt-gray;
			position:absolute;
		}

		button {
			color:transparent;
			position:absolute;
			right:10px;
			font-size: 1.6rem;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			border:1px solid $c-lt-gray;
			@extend .icon;
			@extend .icon--chevron;
			&::before {color:$c-lt-gray;margin-top:13px;margin-left:4px;}
		}
	}

	&.background-image {
		// background-image: url(https://www.transparenttextures.com/patterns/dark-denim-3.png), url(https://hd.unsplash.com/reserve/6nYQFZvQ2rmOOOewIu8Q_DSCF7198.jpg);
		background-size: 500px, 100%;
		background-position: top center;
		background-repeat:no-repeat;
	}

	&.sub-hero {
		background-color:$c-bg-product;
		width:100%;
		display:inline-block;
		margin:0px auto;

		.feature-cta {
			// padding:0 20px;
			box-sizing:border-box;
			// width:50%;
			text-align:center;

			h2 {font-size:3.8rem;@extend %bold;}
			h3 {font-size:1.8rem;position:static;margin-top:10px;}
			p {font-style:italic;}
			button {right:50%;margin-right:-21px;}
		}

		&.background-image {
			box-sizing:border-box;
			background-color:transparent;
			padding:50px 30px;
		}
	}

	.message {
		height:170px;
		a {
			@include centercontent;
			color:$c-white;
			font-size:1.8rem;
			@extend %bold;
		}
	}
}

.hero {
	position:relative;

	.feature {
		margin-bottom:0;
		width:100%;
		height:70vh;
		max-width:100%;

		figure {
			height:50vh;
			max-height:70vh;
			overflow:hidden;
			position:relative;
			background-color:#000;

			img {
				max-width:200%;
				width:140%;
				height:auto;
				@include centercontent;
			}
		}

		i {
			height:18px;
			width:11px;
		}

		.feature-cta {
			margin-top:10px;
			margin-bottom:15px;
			text-align:center;

			h2 {
				margin:15px 0;
				font-size:2.4rem;
				span {color:$c-primary;font-size:1.2rem;}
			}
			h3 {position:static;margin:0;}
		}
	}

	.feature-cta {
		button {display:none;}
	}

	.cycle-pager {margin-bottom:50px;line-height:20px;}
}

@media screen and ($break-desktop) {

	.feature {

		figure {
			height:auto;
			
			img {
				height:auto;
				position:static;
				transform:none;
				width:100%;
			}
		}

		.feature-cta {
			text-align:center;

			h2 {
				max-width:initial;
				
				span {
					display:inline;
					font-size:1.8rem;
					color:$c-primary;
					&::after {
						content:'|';
						padding:0 10px;
					}
				}
			}
			h3 {position:static;margin-top:10px;margin-left:0;}

			button {
				color: $c-lt-gray;
				margin:0;
				padding:10px 52px;
				height:32px;
				min-height:32px;
				min-width:175px;
				border-radius:0;
				font-size:1.2rem;
				border:none;
				float:none;
				opacity:0;
				@include centercontent;
				top:calc(50% - 18px); //half total cta height with margins
				&::before {display:none !important;}
			}
		}

		&:hover button {opacity:1;}

		&.two {
			@include float-box;
			float:left;
			width:calc(50% - 0.5px);
			&:first-child {margin-right:0.5px;}
			&:last-child {margin-left:0.5px;}
		}

		&.three {
			@include float-box;
			margin:0;
			width:33.33%;
			&.middle {margin-right:1px; margin-left:1px;}
		}

		&.sub-hero {
			figure {width:50%;}

			.feature-cta {
				position:absolute;
				top:50%;
				left:50%;
				margin:0;
				height:auto;
				padding:0 40px;
				width:50%;
				h2 {font-size:4.8rem;}
				button {top:50%;right:auto;margin:auto;}
			}

			&.sub-hero--left {
				figure {float:left;}
				.feature-cta {
					@include transform(translate(0, -50%));
					button {left:-50%;}
				}
			}

			&.sub-hero--right {
				figure {float:right;}
				.feature-cta {
					@include transform(translate(-100%, -50%));
					button {right:-50%;left:auto;@include transform (translate(50%, -50%));}
				}
			}

			&.background-image {
				padding:50px;
				background-size:cover;
				background-position: center center;

				> a {
					background:$c-bg-product;
					display:block;
					&::after {@include clearfix;}
				}
				.feature-cta {width:calc(50% - 50px);}
			}
		}
	}
	
	.hero {
		.feature {
			height:auto;
			
			figure {
				height:$hero-height;

				img {max-width:100%;opacity:0.8;}
			}

			.feature-cta {
				position:absolute;
				top:50%;
				left:0;
				right:0;
				padding:0 80px;
				margin:0;
				height:auto;
				color:$c-white;
				@include transform(translate(0%, -50%));

				h2 {
					font-size:6.8rem;
					margin:0 0 10px;
					
					span {
						font-size:1.4rem;
						display:block;
						font-weight:700;
						color:$c-white;
						&::after {display:none;}
					}
				}

				h3 {color:$c-white;}

				button:not([data-jordan-button]) {position:static;transform: none;margin-top: 20px;display:inline-block;}
			}
		}

		.cycle-pager {font-size:40px;}
	}

	.block--two {margin:30px 0;}

	.block--three {
		display:flex;
		justify-content: center;
		margin:30px 0;
	}

	.background-image {
		padding-top:50px;
		padding-bottom:50px;

		.feature {margin-bottom:0;}
	}

	.font--dark {
		.feature-cta {color:$c-primary !important;}
	}
	.font--light {
		.feature-cta {color:$c-white !important;}
	}
}

#blog-archive {
  margin: 40px 0 20px;
  background-color: #f2f2f2;
  font-size: 16px;
	padding: 20px 0;

	@media (min-width: 576px) {
		padding: 60px 0;
	}

	.container {
		width:100%;
		margin-right:auto;
		margin-left:auto;
		position: relative;
		padding-right: initial;
		padding-left: initial;

		@media (min-width:576px){width:540px;max-width:100%;}
		@media (min-width:768px){width:720px;max-width:100%;}
		@media (min-width:992px){width:960px;max-width:100%;}
		@media (min-width:1200px){width:1140px;max-width:100%;}

		.row {
			display: flex;

			.post {
				text-align: initial;
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				margin: 0 auto 40px;
				max-width: calc(50% - 10px);
				padding: 0;
				height: 233px;

				&:last-of-type {
					display: none !important;
				}

				@media (min-width:576px) {
					height: 315px;
				}

				@media (min-width:768px) {
					-ms-flex: 0 0 33.3333%;
					flex: 0 0 33.3333%;
					max-width: calc(33.3333% - 30px);
					padding-right: 15px;
					padding-left: 15px;
					height: 275px;

					&:last-of-type {
						display: block !important;
					}
				}

				@media (min-width:992px) {
					height: 380px;
				}

				@media (min-width:1200px) {
					height: 459px;
				}

				article {
				  display: block;
				  position: relative;
				  transition: all 300ms ease;
				  height: 100%;

				  &:hover {

				  	.meta.category {
						  -webkit-transform: translateY(4px);
						  -moz-transform: translateY(4px);
						  -ms-transform: translateY(4px);
						  transform: translateY(4px);
						}

						.title {
						  -webkit-transform: translateY(-4px);
						  -moz-transform: translateY(-4px);
						  -ms-transform: translateY(-4px);
						  transform: translateY(-4px);
						}

						.read-more {
						  -webkit-transform: translateX(4px);
						  -moz-transform: translateX(4px);
						  -ms-transform: translateX(4px);
						  transform: translateX(4px);
						}

						figure a::after {
							opacity: 1;
						}
					}

					h2, h3, span {
						text-shadow: 1px 1px 10px #000;
			  		transition: transform .2s;
					}

					figure {
			      height: 100%;
			      overflow: hidden;
			      position: relative;

			      a:after {
			        content: '';
			        position: absolute;
			        width: 100%;
			        height: 100%;
			        top: 0;
			        left: 0;
			        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
			        opacity: 0;
			        transition: all 500ms ease;

				      @media screen and (max-width: 960px) {
				      	opacity: 1;
				      }
				    }
					}

					img {
					  left: 50%;
					  top: 50%;
					  height:100%;
					  width:auto;
					  max-width:300%;
					  position: absolute;
					  transform: translate(-50%, -50%);
					  vertical-align: top;
					}

					h2 {
					  display: block;
					  position: absolute;
					  top: 60%;
					  left: 15px;
					  font-family: $f-osw;
					  font-size: 1.1em;
					  line-height: 1em;
					  text-transform: uppercase;
					  margin: 0 20px 0 0;

					  @media (min-width: 576px) {
					  	font-size: 1.25em;
					  }

					  @media (min-width: 992px) {
					  	font-size: 1.7em;
					  }

					  @media (min-width: 1200px) {
					  	margin: 0 30px 0 0;
					  }
					}

					h3 {
					  position: absolute;
					  top: 10px;
					  left: 15px;
					  text-transform: uppercase;
					  font-family: $f-grey;
					  font-size: 0.75em;
					  font-weight: 100;
					  display: block;
					  line-height: 1em;
					  margin: 0;

					  @media (min-width: 1200px) {
					  	font-size: 0.875em !important;
					  	top: 15px;
					  }
					}

					.read-more {
						position: absolute;
						bottom: 10px;
						right: 15px;
						font-size: 0.6em;
						text-transform: lowercase;
						font-style: italic;
					}

					h2 a, h3 a, span a {
						color: $c-white !important;
					}
				}

				p {
					display: none;

					@media (min-width: 768px) {
						display: block;

						a {
							display: block;
							font-weight: bold;
						}
					}
				}
			}
		}
	}

 	a.cta {
		display: block;
		text-align: center;

		button {
			background: $c-primary;
			color: $c-white;
			width: 200px;
		}
	}

}

#videos {
	padding: 60px 0 0;

	.embed-responsive { 
    display: block; 
    height: 0; 
    padding-bottom: 56.25%; 
    overflow: hidden; 
    position: relative;
    border: 1px solid $c-white;

    iframe { 
      position: absolute; 
      top: 0; 
      left: 0; 
      bottom: 0; 
      height: 100%; 
      width: 100%; 
      border: 0; 
    } 
  }

  .col-cta {
  	background-color: $c-primary;
  	border: 1px solid $c-white;
  }

  .youtube-cta {
  	padding: 20px 40px;

  	img {
  		margin: 10px auto;
  	}

  	h3 {
  		color: $c-white;
  		font-weight: bold;
  		letter-spacing: 2px;
  		font-size: 1.8rem;

  		span {
  			display: block;
  			font-weight: normal;
  			letter-spacing: auto;
  			font-size: 1.4rem;
  		}
  	}
  }
}

.container {
	width: 100%;
	margin: 0 auto;

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.col {
			width: 100%;
			min-height: 1px;
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			float: left;
		}
	}
}

@media (min-width:768px) {
	.col {
		flex: 0 0 66%;
    max-width: 66%;
  }

  .col.col-cta {
  	flex: 0 0 34%;
  	max-width: 34%;
  }

}

@media (min-width:1200px) {
	#videos {
		padding: 60px 60px 0;

		.col {
			flex: 0 0 40%;
	    max-width: 40%;
	  }

	  .col.col-cta {
	  	flex: 0 0 20%;
	  	max-width: 20%;
	  }
	}
}