// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Footer layout
//--------------------------------------//

#body-footer {
	margin-top:60px;
	font-size:1.2rem;
	@include transition(700ms ease all);

	#blog-box,
	#newsletter-box {
		padding: 20px;
		height: 400px;
		display: flex;
		justify-content: center;
		background-size: cover;
	}

	#blog-box {
		background: url('../img/movement-bg-1600.jpg') no-repeat center center;

		.blog-box-content {
			align-self: center;
			margin: 60px 0;

			img {
				width: 100%;
				max-width: 400px;
			}

			a {
				display: block;
				margin: 30px auto 0;
				max-width: 120px;
				
				button {
					color: $c-primary;
				}
			}
		}
	}

	#newsletter-box {
		background: url('../img/newsletter-signup.jpg') no-repeat center center;

		.footer-signup {
			color: $c-white;
			align-self: center;

			h3 {
				font-weight: 700;
				font-size: 5rem;
			}

			p {
				padding-bottom: 20px;
				margin: 0 auto;
			}
			
			img {
				display: none;

				.cms-home & {
					display: inline;
					width: 80%;
					margin-bottom:
					30px;
				}
			}
			
			.block-subscribe {
				max-width: 500px;
				margin: 0 auto;
				box-sizing: border-box;

				form {
					margin: 0 0 10px 0;
					text-transform:none;
				}

				.input-box {
					float: left;
					position: relative;
					&.input--email {width:70%;}
					&.input--zip {width:30%;}
					input.validation-failed {margin-bottom:40px;}
					.validation-advice {position:absolute;margin-top:-40px;}
				}

				input[name="email"] {border-right:1px solid $c-forms;}

				button {color:$c-primary;border-left:1px solid $c-primary;}
			}
		}
	}

	.footer-socialfeed {
		height:450px;
		background-color:$c-bg-secondary;
	}

	.footer-links {

		.footer-links-nav {
			margin-top: 50px;

			ul {
				border:1px solid $c-primary;
				padding:13px 10px;
				box-sizing:border-box;
				margin:25px 0;
				cursor:pointer;
				height:100%;
				max-height:40px;
				overflow:hidden;
				@include transition(max-height 500ms ease);
				@include nav-arrow;


				h5 {
					margin:0;
					margin-bottom:10px;
					@extend .bold;
				}

				li {
					padding:5px 0;
				}

				&.open {
					max-height:300px;
				}
			}
		}

		.footer-links-connect {
			text-align:center;
			margin-top:50px;

			ul {
				display:flex;
				justify-content:center;

				li {
					display:inline-block;
					margin:0 15px;
					font-size:3rem;

					.icon--movement::before {
						width: 40px;
						margin: 6px 0 0;
					}
				}
			}
		}
	}

	.footer-legal {
		text-align:center;
		color:$c-forms;
		margin:50px 0 90px;

		p {font-size:1.2rem;}

		a {padding-left:20px;color:$c-forms;}
	}

	@media screen and ($break-desktop) {
		.footer-signup {
			padding-top:30px;
			padding-bottom:60px;

			img {max-width:400px;padding:30px;margin:0 !important;}

			p {margin:0 auto 30px;padding:0;}

			.block-subscribe {
				.input-box {display:block;}
				input {
					border:none;
					// &[name="email"] {width:200px;}
					// &[name="zip"] {width:90px;}
				}
				.actions {
					float:left;
					width: 100%;
					display:inline-block;
				}

				button {margin: 5px 0;}
			}
		}

		.footer-links .footer-links-nav {
			display: flex;
			justify-content: center;
				
			ul {
				cursor: initial;
				border: none;
				display: inline-block;
				text-align: left;
				vertical-align: top;
				margin: 30px;
				padding: 0;
				max-height: 100%;

				&::before {
					display: none !important;
				}

				h5 {
					padding: 15px 0;
					margin-bottom:0;
				}

				li {
					display: block;
					padding: 10px 0;
				}
			}
		}
	}

	@media screen and (min-width:1300px) {
		.footer-signup {
			
			.block-subscribe {
				.input-box {display:inline-block;float:left;width:auto !important;}
				input {
					&[name="email"] {width:200px;}
					&[name="zip"] {width:90px;}
				}
				.actions {
					width: 110px;
				}
			}
		}
	}
}