// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Form styling
//--------------------------------------//


form {
	// margin-top:40px;

	h2, .legend {
		border-bottom:1px solid $c-primary;
		font-size:$f-forms;
	}

	@media screen and ($break-mobile) {
		input:focus {font-size:1.4rem;}
	}
}
.input-box {position:relative;}

	label {
	font-size:$f-forms;
	position:absolute;
	top:16px;
	left:11px;
	color:$c-form--required;
	// z-index:$z-;
	// visibility: hidden;

	em {padding-right:2px;}
}

input[type="checkbox"] + label {
	position:static;
	padding:0 10px;
	vertical-align: middle;
	color:$c-primary;
	visibility:visible;
}

input[type="radio"] + label {visibility:visible;}

.in-use {
	label,
	select ~ label {
		top:4px;
		left:10px;
		font-size:10px;
		visibility:visible;
	}

	input[type="text"],
	input[type="password"],
	input[type="tel"],
	input[type="email"],
	input.input-text,
	select {padding-top:8px;}
}

.required, .required:visited {
	color:$c-form--required;
}

input, select, textarea {
	width:100%;
	border:1px solid $c-forms;
	background:none;
	background-color:$c-white;
	// background-color:transparent;
	border-radius:0;
	outline:none;
	box-sizing:border-box;
	margin:5px 0;
	padding:0 10px;
	height:40px;
	font-size:1.2rem;
	@include appearance (none);
	&[disabled] {opacity:0.6;}
	&.no-display {display:none;}
}

select {padding:0 30px 0 10px;}

textarea {
	max-width:100%;
	height:200px;
	padding-top: 14px;
}

input[type="checkbox"], //putting this outside of <form> bc not always in a <form>
input[type="radio"] {
	width:20px;
	height:20px;
	position:relative;
	cursor:pointer;
	vertical-align:middle;
	overflow:hidden;
	&:checked {
		overflow:visible;
		border-color:transparent;
		&::after {
			// content: '✓';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			font: normal normal normal 14px/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content:"\f046";
			font-size:25px;
			line-height:20px;
			margin-left:-1px;
		}
	}
}
input[type="password"] {font-size:2.1rem;}

//ie hacks
input[type="radio"]::-ms-check {
	width:20px;
	height:20px;
	position:relative;
	cursor:pointer;
	vertical-align:middle;
	overflow:hidden;
	color:transparent;
}
input[type="radio"]:checked::-ms-check {
	overflow:visible;
	border-color:transparent;
	&::after {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font: normal normal normal 14px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content:"\f046";
		font-size:25px;
		line-height:20px;
		margin-left:-1px;
	}
}

select {
	//cant do a '::before' so mixin nav-arrow wont work
	background-image: url('/skin/frontend/villa2/default/img/expand.svg') !important;;
	background-repeat: no-repeat !important;
	background-size: 10px 10px !important;
	background-position: calc(100% - 10px) center !important;
	&::-ms-expand {display:none;}
}

.radio-boxes {
	@include flexbox(null, null, justify);

	.input-radio-box {
		width: 150px;
		height: 40px;
		position:relative;
		// flex-grow: 1;
		@include flex(0 1 auto);

		input {
			display:none;
			& + label {
				width:100%;
				height:100%;
				border:1px solid $c-forms;
				background-color:transparent;
				margin:0;
				padding:0;
				border-right:none;
				z-index:$z1;
				display:block;
				top:auto;
				left:auto;
				box-sizing:border-box;
				cursor:pointer;
			}
			&:hover + label,
			&:checked + label {
				border: 2px solid $c-primary !important;
			}
		}
		&:last-of-type input + label {border-right:1px solid $c-forms;}

		span {
			position:absolute;
			top:50%;
			left:50%;
			@include transform(translate(-50%, -50%));
			@extend .bold;
		}
	}
}

.form-disclaimer {
	text-align:center;
	margin:16px auto;
}

.subscribe-checkbox {
	width: 250px;
	margin: 20px auto;

	label[for="is_subscribed"] {
		text-transform:none;
		line-height:1em;
		font-size:11px;
		display:inline-block;
		padding:9px 3px;
		box-sizing:border-box;
		vertical-align:middle;
		text-align:center;
		width:calc(100% - 31px);
	}
}

.account-create form {

	label[for="dob"] {display:block;margin-top:16px;}
	.dob-month, .dob-day, .dob-year {
		width:32%;
		display:inline-block;
	}

	.dob-day {margin:0 2%;}
}