// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Global structure
//--------------------------------------//


/*
.block
.block-element
.element--modifier

.hero
.hero-btn
.btn--orange

.product
.product-price
.price--sale
*/

html {
	// font-size:$f-base;
	font-size:62.5%;
	font-family:$f-family;
}

h1, h2, h3, h4, h5 {
	font-weight:normal;
	line-height:1em;
	margin:5px 0;
}

h1 {@extend .bold;}
h1 {font-size:2.3rem;}
h2 {font-size:1.6rem;}
h3, h4 {font-size:1.2rem;}
h5, button, p, li {font-size:1.2rem;}

.wrap--content {
	h1 {margin:20px 0;}
	h3 {margin:45px 0 5px;}
}

@media screen and ($break-desktop) {
	h1, h2, h3, h4, h5 {margin:16px 0;}
	h1 {font-size:2.4rem;}
	h2 {font-size:1.8rem;}
	h3 {font-size:1.4rem;}
	h4, h5, button, p, li {font-size:1.3rem;}
}

p, li {text-transform:none;line-height:1.6rem;}
strong, .bold, %bold {font-weight:700;} //add class for @extend to not include all of 'strong' styles
em, .italic, %italic {font-weight:300;font-style:italic;} //add class for @extend to not include all of 'em' styles
ul {
	padding:0;
	margin:0;
	list-style:none;

	&.list--bullets li {
		@include bullet-list;
	}
}

button {
	border: none;
	border-radius: 0;
	background:$c-white;
	color: $c-font-secondary;
	padding:0;
	line-height:0.5em;
	text-transform:uppercase;
	height:50px;
	min-height:40px;
	width:100%;
	outline:none;
	@extend .bold;
	&.dark {
		background:$c-primary;;
		color:$c-white;
		a {color:$c-white !important;}
	}
	&.gold {
		background:$c-gold;
		color:$c-white;
		a {color:$c-white;}
	}
	&.action {
		background:$c-action;
		color:$c-white;
		a {color:$c-white !important;}
	}
	&.clear--border {
		border:1px solid $c-forms;
	}
	&.small a {
		padding:10px;
	}
	&.soldout {
		background:$c-bg-product;
	}

	a {padding:13px 52px;display:block;box-sizing:border-box;}

	@media screen and ($break-desktop) {
		height:40px;
	}
}

a,
a:hover,
a:visited,
a:active {
	text-decoration:none;
	color:$c-primary;

	&.link--highlight {color:$c-link;}
}

img {max-width:100%;vertical-align:middle;}

hr {margin:20px 0;border:none;border-bottom:1px solid $c-primary;}

iframe {border:none !important;}

address {font-style:normal;}

body {
	color:$c-primary;
	background-color:$c-bg-primary;
	font-size:1rem;
	letter-spacing:0.3px;
	text-transform:uppercase;
	-webkit-font-smoothing: subpixel-antialiased;
	@include noscrollbar;
	&.firefox {overflow-y:scroll;}

	&.catalog-category-view {max-width:100%;}
}

html.fixed, body.fixed {
	max-height:100vh;
	overflow:hidden;
}

.wrap {
	padding-left:20px;
	padding-right:20px;
	max-width:1500px;
	margin:0 auto;

	@media screen and ($break-mobile) {
		.fullbleed #body-main & {padding:0;}
	}

	@media screen and ($break-desktop) {
		padding-left:50px;
		padding-right:50px;	
	}

	&::after {@include clearfix;}
}

.wrap--content {
	@extend .wrap;
	max-width:900px;
	.view--desktop & {
		padding-left:10px;
		padding-right:10px;
	}
}

.wrap--small {
	@extend .wrap;
	max-width:500px;
}

.clearfix::after {
	@include clearfix;
}

#body-main {
	min-height:450px;
	max-width:1600px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	z-index:$z1;
	@include transition(700ms ease opacity, 700ms ease filter);
	
	.checkout-cart-index & {
		text-align:center;
	}

	.col-left & {
		.sidebar--left {display:none;}

		@media screen and ($break-tablet) {
			.main {float:right;width:70%;}
			.sidebar--left {float:left;width:30%;display:block;}
		}		
	}

	.view--desktop.col-left & {
		.main {width:75%;}
		.sidebar--left {width:25%;}
	}

	.col-right & {
		.sidebar--right {display:none;}

		@media screen and ($break-tablet) {
			.main {float:left;width:70%;}
			.sidebar--right {float:right;width:30%;display:block;}
		}		
	}

	.view--desktop.col-right & {
		.main {width:75%;}
		.sidebar--right {width:25%;}
	}

	.cms-page-view & {
		.wrap--content {
			h2,h3 {@extend .bold;}
			h3 {text-transform:none;}
			a {color:$c-link;}
			hr {margin:40px 0;}	
		}
	}

	.content--small {
		max-width: 500px;
		margin: 0 auto 50px;
	}
}

.messages {
	width:100%;
	background:$c-notification;
	color:$c-white;
	box-sizing:border-box;
	text-align:center;
	span {font-size:1.2rem;}
	.icon--x {float:right;margin-top:-4px;font-size:13px;}

	> * {
		padding: 15px;
		&.success-msg {background:$c-success;}
	}

	&.error--problem {
		position:fixed;
		top:10%;
		right:10%;
		bottom:10%;
		left:10%;
		width:auto;
		z-index:$z9;
		font-size:2rem;

		> div {
			@include centercontent;
			width:70%;
			.icon--warning {
				font-size:3rem;
				display:block;
				margin:20px;
			}
		}
	}
}

.inline-alert { 
  margin: 20px 0; 
  color: $c-notification; 
  font-size: 1.2rem; 
  position: relative; 
  padding-left: 20px; 
  text-transform: none; 
  line-height: 1.6rem; 
  text-align: left; 
  &::before { 
    position:absolute; 
    top:3px; 
    left:0; 
  } 
  a {color:$c-notification;text-decoration:underline;} 
} 

.popup-readmore-icon {
	display:inline;
	cursor:pointer;
	padding:5px;
}

.popup {
	@include verticalcenter;
	margin:0 30px;
	position:fixed;
	background:$c-white;
	color:$c-primary;
	box-shadow:0 0 15px 0 rgba(43, 43, 43, 0.56);
	border:8px solid $c-bg-product;
	padding:15px 15px 35px;
	text-align:center;
	z-index:$z9;
	display:none;
	&::after {
		content: "+";
		@include transform(rotate(45deg));
		font-size: 6rem;
		display: block;
		width: 50px;
		height: 50px;
		background: $c-primary;
		color: $c-white;
		border-radius: 50%;
		position: absolute;
		text-align: center;
		line-height: 18px;
		left: 50%;
		margin-left: -25px;
		bottom: 0;
		margin-bottom: -30px;
		border: 8px solid $c-bg-product;
		box-sizing: border-box;
		cursor:pointer;
	}

	h4 {@extend .bold;}
}

.validation-advice {
	color:$c-error;

	&#advice-valide-email-newsletter {
		position: absolute;
		left: 0;
		bottom: 0;
		margin-bottom:-30px;
	}
}

.note-msg {text-align:center;}

.wash {
	opacity:0.1;
	@include filter(blur(5px));
	cursor:crosshair;
}

#page-loading {
	display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:$z5;
    background: rgba($c-white, 0.9);
    text-align:center;
    font-size:1.8rem;
	.view--desktop & {
		font-size: 3rem;
	}
    @extend .bold;
    span {
    	@include centercontent;
    	width:100%;
    	box-sizing:border-box;
    	padding: 0 20px;
    	&::before {margin-right:20px;}
    }
}

.desktop {display:none !important;}
body.view--desktop {
	.desktop {display:block !important;}
	.mobile {display:none !important;}

	.popup {
		@include centercontent;
		position:fixed;
		margin:0;
	}
}

[data-accessibility] {
	position: absolute !important;
    left: -9999em !important;
    width: 1em !important;
    overflow: hidden !important;
}

span.caps {
	text-transform: uppercase;
}