// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Header layout
//--------------------------------------//


$body-main-top: 50px;
$body-main-top-desktop: 97px;

#body-main {padding-top:$body-main-top;}

#body-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: $c-bg-header;
	z-index:$z2;

	@media screen and ($break-mobile) {
		body.fixed & {
			position:fixed !important;
			top:0 !important;
		}
	}

	.header-top {
		font-size:1.2rem;
		text-transform:none;
		// height:50px;
		height:$body-main-top;
		padding-top:10px;
		box-sizing:border-box;
		position:relative;
		z-index:$z5 + 1;

		.header-logo {
			height: 30px;
			float: left;
			width: 140px;
			margin-left: 10px;

			a.logo {
				background-image: url(/skin/frontend/villa2/default/img/dtlr-villa-logo-white.svg);
				background-repeat: no-repeat;
				background-size: 140px 32px;
				height: 100%;
				width: 140px;
				display:block;

				img {
					height: 42px;
					width: 120px;
					max-width: 120px;
					margin-top: -6px;
				}
			}
		}
	}

	.header-top-search {

		.icon--search {
			cursor:pointer;
		}

		form {
			display:none;
			position:absolute;
			top:50px;
			right:0;
			left:0;
			margin:0;
			background-color:$c-bg-product;
			font-size:1.2rem;
			z-index:$z5;

			label {display:none;}
			input {
				border:none;
				font-size:1.6rem;
				font-weight:300;
				background:none;
			}
			button {
				border: none;
				background:$c-primary;
				color:$c-white;
				padding: 10px 52px;
				line-height: 1em;
				text-transform:uppercase;
			}
		}

		#search_autocomplete {
			left:0;
			right:0;
			margin-top:55px;
			li {
				padding: 10px 0;
				text-transform: uppercase;
				text-align:center;
				cursor:pointer;
				background: $c-bg-product;;
				border-bottom: 1px solid $c-white;
				color:$c-primary;
				.suggestion {@extend .bold;}
			}
		}
	}

	
	
	.header-bottom {
		background: $c-white;
		position: fixed;
		top: $body-main-top;
		right: 0;
		bottom: 0;
		left: 0;
		height:calc(100vh - #{$body-main-top});
		overflow: auto;
		@include noscrollbar;
		z-index:$z5;
		display:none;
		-webkit-overflow-scrolling:touch;
		body:not(.view--desktop) & {z-index:$z5 + 300;}
	}

	#body-nav {
		text-align:center;
		position:relative;
		z-index:$z1;

		.header-top-promo {
			padding:30px 20px;
			border-bottom: 1px solid $c-nav-border-dark;
			background: $c-bg-secondary;
			font-size:1.2rem;
			
			.cycle-slideshow {
				overflow: visible !important;

				a {
					width:100%;
					&::before {
						display:block;
						font-size:23px;
						color:$c-white;
						background-color:$c-primary;
						border-radius:50%;
						width:50px;
						height:50px;
						line-height:50px;
						margin:0 auto 10px;
					}
					&.icon--storepickup-white::before {background-size:60%;}
				}
			}
		}

		.nav-bottom-item a {
			padding:20px;
			background:$c-bg-secondary;
			text-align:left;
			font-size:1.2rem;
			display:block;
			@extend .bold;
			&.item--spacer {height:50px;}

			span.icon {
				float:right;
				font-size:17px;
				margin-top:-3px;
				&.icon--phone {
					font-size:21px;
					margin-top:-8px;
				}
			}
		}

		.header-top-user {
			text-align: left;
			font-size: 1.2rem;
			@extend .bold;
			text-transform: uppercase;

			> a {
				position: relative;
				display: block;
				padding: 20px;
				border-bottom: 1px solid $c-nav-border-dark;
				@include nav-arrow;

				> h4 {margin:1px 0; @extend .bold;}
			}

			.header-top-user-menu {
				background-color:$c-bg-product;

				hr {display:none;}

				.logged-in .user-menu-item a {
					padding:20px 40px 20px 60px;
					display:block;
					font-weight:normal;
					text-transform: uppercase;
					border-top:1px solid $c-nav-border;
					border-bottom:1px solid $c-bg-rows;

					&.icon::before {display:none;}
				}

				.top-user-menu-checkout {
					padding-bottom:10px;
					text-align:center;
					border-bottom:1px solid $c-bg-rows;
				}

				@media screen and ($break-mobile) {
					ul.logged-out li.user-menu-item {
						padding:20px 40px 20px 60px;
						display:block;
						font-weight:normal;
						text-transform: uppercase;
						border-top:1px solid $c-nav-border;
						border-bottom:1px solid $c-bg-rows;
						text-align:center;

						h4 {margin:10px 0;}
					}

					.button--logout {
						background:none;
						text-align:left;
						padding:20px 40px 20px 60px;
						border-top:1px solid $c-nav-border;
						border-bottom:1px solid $c-bg-rows;
						height:auto;
						color:$c-primary;
					}
				}
			}
		}

		li.level0 {
			display: block;
			text-align: left;
			font-size:1.2rem;
			@extend .bold;
			text-transform: uppercase;

			& > a {
				position:relative;
				display: block;
				padding: 20px;
				border-bottom: 1px solid $c-nav-border-dark;
				color:$c-primary;
			}
		}

		.parent:not(.level2) > a {
			@include nav-arrow;
			&::before {font-size:18px;}
		}

		.level0 {
			display:none;

			li.level1 {
				display:block;
				text-transform:uppercase;

				& > a {
					display:block;
					padding:20px 20px 20px 40px;
					border-bottom:1px solid $c-nav-border-dark;
				}

				ul.level1 {
					background-color:$c-bg-product;
					display:none;

					li.level2 {						
						text-transform: uppercase;
						border-top:1px solid #e9e9e9;
						border-bottom:1px solid $c-bg-rows;

						> a {
							padding:20px 40px 20px 60px;
							display:block;
							font-weight:normal;
						}
					}
				}
			}
		}

		ul.level2 {display:none !important;} //any level 2's will eventually be removed once smart categories are in place and proper attributes are in place for layered nav filtering on listing pages
	}
}

.header-top-tools {
	padding-right:10px;
	float:right;
	color:$c-white;

	a {color:$c-white;}

	& > div {
		float:right;

		> a,
		.icon--search {font-size:21px;padding:0 10px;line-height:30px;}
	}

	.icon--nav-anim {padding-left:10px;margin-top:6px;}

	.header-top-cart {

		p.empty-msg {
			text-align:center;
			margin:0;
			padding:20px 0;
		}

		.icon--cart {position:relative;}

		.header-top-cart-count {
			position: absolute;
			top:0;
			right: -4px;
			background: $c-notification;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			text-align: center;
			padding: 3px;
			font-size: 19px;
			line-height: 0.1rem;
			color:$c-white;
			display:none;
		}

		.header-top-cart-items {
			position: fixed;
			top: 50px;
			right:-310px;
			// height: 100vh;
			bottom:0;
			width:300px;
			z-index: $z2;
			color:$c-primary;
			@include transition(right 300ms ease);

			a {color:$c-primary;}

			.spacer {
				display:none;
			}

			.top-cart-content {
				background:$c-bg-primary;
				height:100%;
				position:relative;
				z-index:$z1;
				@include box-shadow (-1px 20px 8px rgba(170, 170, 170, 0.28));

				button {width:100%;}

				.catalog {
					height:calc(100% - 220px);
					overflow:auto;
					overflow-y:scroll;
					-webkit-overflow-scrolling: touch;
					background:$c-bg-product;
					@include noscrollbar;

					.product {
						width:100%;
						padding:0 10px;
						margin:0;
						border-bottom:1px solid $c-nav-border-dark;

						a {
							white-space:nowrap;
							
							figure {
								width:136px;
								height:173px;
								display:inline-block;
								margin-bottom:0;
							}

							.product-sidecart-details {
								display:inline-block;
								padding-left:5px;
								width:calc(100% - 141px);
								box-sizing:border-box;
								vertical-align: middle;
								font-size:1.2rem;

								.product-name {white-space:normal;overflow:visible;}

								.item-options {
									padding-top:10px;

									.option--detail.option--color {display:none;}

									dt {float:left;width:30px;}
									dd {
										margin:0;
										> span {float:left;width:25px;text-align:right;}
										.price-box {
											float:left;
											padding:0;

											> span {float:left;padding:0 8px;@extend .bold;}
										}
									}

									.option--detail.option--gift.card.sender,
									.option--detail.option--gift.card.message {display:none;}
									.option--detail.option--gift.card.recipient {
										dd {
											clear:left;
											margin-bottom:40px;
											span {
												width:auto;
												text-align:left;
												white-space:normal;
											}
										}
									}
								}
								.item-messages {
									clear:both;
									float:left;
									color:$c-notification;
									white-space: normal;
									p {
										@extend .bold;
										font-size:1.2rem;
										text-transform: uppercase
									}
								}
							}
						}

					}
				}

				.mini-actions {
					text-align:center;

					.subtotal {margin:15px 0;font-size:1.4rem;@extend .bold;}

					li {list-style:none; span{font-size:1rem;}}
					.paypal-or {display:none;}

					button.action {
						border-radius: 0;
					}
					.cart-error {padding:20px;@extend .bold;text-transform:uppercase;}
				}
			}
		}
		[data-closer-box] {
			position:fixed;
		    top: 0;
		    right:0;
		    bottom: 0;
		    left: 0;
		    visibility:hidden;
		}
		&.hover {
			.header-top-cart-items {right:0 !important;}
			[data-closer-box] {visibility:visible;}
		} 
	}
}

.banner-sale {
	text-align: center;
	background-color: rgba(97, 157, 170, 0.85);
	font-size: 1.2rem;
	position:absolute;
	top:$body-main-top;
	left:0;
	right:0;
	@extend .bold;

	a {
		padding: 7px 0 9px;
		color:$c-white;
		display: flex !important;
		align-items: center;
		justify-content: center;
		width:100%;

		&::after {
			background: url('/skin/frontend/villa2/default/img/sale-cta.svg') no-repeat center center;
			content:'';
			margin-left:10px;
			margin-top:1px;
			width:14px;
			height:12px;
		}
	}
	.cycle-next,
	.cycle-prev {bottom: 0;}
	.icon--next,
	.icon--prev {display:block;opacity:1;font-size:18px;}
}

@media screen and ($break-desktop) {

	body.view--desktop {

		#body-main {padding-top:$body-main-top-desktop;}

		#body-header {
			// background-color:transparent;
			// position:absolute;

			.header-top {
				height:56px;
				background-color: $c-bg-header;

				.header-logo {
					width:auto;
					clear:both;
					height:32px;
					position:absolute;
					top:8px;

					a.logo {
						background-size: 180px 30px;
						background-position: 10px 6px;
						width: 191px;
						// &.scroll {
						// 	background-attachment: fixed;
						// 	// background-position: 40px 30px;
						// }

						// img {
						// 	width:151px;
						// 	height:29px;
						// 	margin:-4px 0 0 40px;
						// 	max-width:100%;
						// }
					}
				}

				.header-top-promo {
					text-align:center;
					margin-top:10px;
					.cycle-slideshow {
						margin:0 auto;
						width:50%;
						a {
							color:$c-white;width:100%;
							&::before {display:none;}
						}
					}
				}

				.header-top-tools .header-top-cart {
					.icon--cart.active {color:$c-white;}

					.header-top-cart-items .top-cart-content {
						height:calc(100% - 20px);
					}
				}
			}

			.header-bottom {
				height:41px;
				padding:12px 0;
				box-sizing:border-box;
				position:relative;
				top:auto;
				right:auto;
				bottom:auto;
				left:auto;
				overflow:visible;
				display:block;
				border-bottom:1px solid $c-nav-border;
				&.snap {
					position:fixed;
					top:0;
					left:0;
					right:0;
				}

				a.logo {
					background-image: url(/skin/frontend/villa2/default/img/dtlr-villa-logo-black.svg);
					background-repeat: no-repeat;
					background-size: 180px 30px;
					background-attachment: fixed;
					background-position: 20px 5px;
					height:100%;
					width:211px;
					position:absolute;
					top:0;
					z-index:$z2;
					&.snap {
						background-attachment:scroll;
					}
				}
			}

			#body-nav {

				li.level0 {
					display:inline-block;
					font-size:1.6rem;
					padding:0 12px;
					height:30px; //to provide enough hover room to submenu

					& > a {
						padding:0;
						border-bottom:none;
						font-family:$f-nav;
						font-weight:300;
						letter-spacing:1px;
						line-height:1.6rem;
						&::before {display:none;}
						&::after {
							@include block;
							border-bottom:4px solid $c-bg-header;
							bottom:-13px;
							left:0;
							right:0;
							display:none;
						}
						&[href*="brands"] ~ ul.level0 {
							// @include flexbox(column, wrap, flex-start);
							flex-flow: column wrap;
							-ms-flex-direction: column;
							-ms-flex-wrap: wrap;
							justify-content:flex-start;
							-ms-flex-pack:flex-start;
							padding:70px 25% 45px 25%;
							li.level1 {
								text-transform: none;
								font-weight: normal;
								font-size: 1.2rem;
								border: none;
								height: auto;
								padding: 9px 0;
								max-width: 100px;
								display: list-item;
								ul.level1 {display:none;}
							}
							li.menu-title {
								font-weight: 700;
								font-size: 1.4rem;
								text-transform: uppercase;
								position:absolute;
								top:35px;
							}
						}
					}
				}

				ul.level0 {
					background-color:$c-bg-primary;
					position: absolute;
					left: 0;
					right: 0;
					top: 29px;
					height: 327px;
					padding: 45px 0px;
					box-sizing: border-box;
					text-align:center;
					justify-content:center;
					-ms-flex-pack:center;

					li.level1 {
						font-size: 1.4rem;
						border-right: 1px solid $c-secondary;
						height: 100%;
						padding:0 0 0 4%;
						vertical-align: top;
						text-align: left;
						width:100%;
						max-width:350px;
						box-sizing:border-box;
						&.last,
						&:last-of-type {border:none;}
						//chrome hack
						@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
						    width:33.333%; 
						}

						& > a {
							padding:0;
							border:none;
							&::before {display:none;}
						}

						ul.level1 {
							display:-ms-inline-flexbox;
							display:flex;
							flex-flow:column wrap;
							-ms-flex-direction:column;
							-ms-flex-wrap:wrap;
							height:236px;
							padding:15px 0 0 0;
							background:none;

							li.level2 {
								text-transform:none;
								padding:9px 0;
								font-size:1.2rem;
								border:none;

								> a {
									padding:0;
									font-weight:300;
									&::before {display:none;}
								}
							}
						}
					}
				}
				
				li.level0:hover {
					& > a::after {display:block;}
					ul.level0 {display:-ms-inline-flexbox;display:flex;}
				}
			}

			.header-top-search {
				float: right;
				display: inline-block;
				margin-top: -35px;
				margin-right: 20px;

				.icon--search {
					position:absolute;
					top:0;
					right:0px;
					font-size:19px;
					line-height:17px;
					width:50px;
					height:41px;
					padding:10px 15px;
					box-sizing:border-box;
					z-index:1;
					@include transition(150ms cubic-bezier(0.71, 0.02, 0.42, 0.99) all);
					&.open, &:hover {
						background-color:$c-primary;
						color:$c-white;
					}
					&.shift {right:150px;}
				}

				form {
					top:41px;
					@include transition(margin 300ms ease);

					input {
						text-align:center;
					}
				}

				#search_autocomplete {margin-top:45px;}
			}
		}

		div[data-shift-icons] {
			position:absolute;
			top:0;
			right:0;
			left:0;
			@include transition(300ms ease right);
			&.shift{
				right:150px;
				.header-top-search form {margin-right:-150px !important;}
				.header-top-cart .header-top-cart-items .top-cart-content {height:100%;}
				.header-top-blog {display:none;}
			}
		}

		@media screen and (max-width:1050px) {.hide--nav {display:none !important;}}

		.header-top-tools {
			position:absolute;
			top:0;
			right:0;

			> div {
				z-index:$z3;
				position:relative;
				padding:0;

				> a {
					padding:13px 10px;
					display:block;
					color:$c-form--required;
					font-size:21px;
					&:hover {
						.icon--user,
						.icon--pin,
						.icon--cart {color:$c-white;}
					}
				}
			}

			.header-top-user {

				.icon--user::before {
					background-image:url('/skin/frontend/villa2/default/img/user-gray.svg');
				}

				> a:hover {
					.icon--user::before {background-image:url('/skin/frontend/villa2/default/img/user-white.svg');}
				}

				&:hover {
					.header-top-user-menu {right:0px;}
				}

				.header-top-user-menu {
					position: fixed;
					top: 36px;
					width:300px;
					margin:0;
					box-sizing:border-box;
					text-align:center;
					z-index:$z5;
					list-style:none;
					color:$c-primary;
					right:-310px;
					@include transition(right 300ms ease);

					h4 {text-transform:uppercase;}

					hr {margin:0;display:block;}

					p {margin-bottom:20px;}

					button {
						width:100%;
						&.dark {background-color:$c-bg-header;}
					}

					a.icon {
						&.icon--account {
							padding-left:78px;
							&::before {
								background-size:20px;
								width:19px;
								height:20px;
								background-position:0 -2px;
							}
						}
						&.icon--account_edit {
							padding-left:79px;
							&::before {
								background-size:19px;
								width:19px;
								height:20px;
								margin-top:-2px;
							}
						}
					}
					
					.spacer {height:20px;}
					
					ul {
						padding:0px;
						border:1px solid $c-bg-header;
						border-right:none;
						border-top:none;
						background-color:$c-bg-primary;

						> li {padding:20px;}

						h4 {padding:20px;margin:0;font-weight:700;}

						&.logged-in {
							padding-bottom:20px;
							border-bottom:none;
							max-height:50vh;
							overflow:auto;

							li.user-menu-item {
								padding:8px 0;
								margin:0 20px 10px;
								height:40px;
								box-sizing:border-box;
								border:1px solid $c-nav-border-dark;
								text-align:left;

								a {
									display: block;
									padding:3px 0 0 79px;
									// text-indent:calc(50% - 90px);

									&.icon {
										&::before {
											padding-right:18px;
											vertical-align: top;
											line-height:17px;
											font-size:2rem;
										}
									}
								}
							}
							a, a:hover {color:$c-primary;}
						}
					}

					.top-user-menu-checkout {
						padding:20px;
						text-align:center;
						border-left:1px solid $c-bg-header;
						background-color:$c-white;
					}
				}
			}

			.header-top-blog {
				.icon--movement::before {
					background-image:url('/skin/frontend/villa2/default/img/movement-gray.svg');
					background-position:center 8px;
					height:30px;
					width:24px;
				}

				> a:hover {
					.icon--movement::before {background-image:url('/skin/frontend/villa2/default/img/movement-white.svg');}
				}
			}

			.header-top-cart {

				.header-top-cart-items {
					top:36px;
					.spacer {display:block;height:20px;}
				}

				&:hover {
					.header-top-cart-items {right:0 !important;}
				}
			}
		}

		.header-bottom .header-top-tools {
			padding:0;
			right:-150px;
			> div {
				width:50px;
				text-align:center;

				> a {
					padding:10px 15px;
					color:$c-primary;
					box-sizing:border-box;
					height:41px;
					line-height:20px;
					@include transition(150ms cubic-bezier(0.71, 0.02, 0.42, 0.99) all);
					.icon--user::before {background-image:url('/skin/frontend/villa2/default/img/user.svg');margin-top:-6px;}
					&:hover {background:$c-primary;color:$c-white;}
				}
			}

			.header-top-user .header-top-user-menu,
			.header-top-cart .header-top-cart-items {
				top:41px;
				.spacer {display:none;}
			}
		}

		.banner-sale {
			top:$body-main-top-desktop;
			a {padding:16px 0;}
		}
	}

	.header-top-tools .header-top-cart .header-top-cart-items .top-cart-content .mini-actions .subtotal {margin:25px 0;}
}