// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Product list layout
//--------------------------------------//


@import "../widgets/toolbar";
$prod-w: 140px;
$prod-h-ratio: 1.277;

.catalog {
	text-align:center;
	margin:0 auto;

	.product {
		@include float-box;
		width:$prod-w;
		margin:0 5px 20px;
		position:relative;
		text-align:left;
		border:1px transparent;
		padding-bottom:14px; //use this to create space for when opening options box

		figure {
			width:$prod-w;
			height:180px;
			background-color:$c-bg-product;
			position: relative;
			white-space:nowrap;
			margin-bottom:7px;

			// padding for crop-space
			// padding: 0 15px;
			// box-sizing: border-box;
			
			// overflow: hidden;

			&::after, .product-image-helper {
				@include centerimage;
			}

			.product-releaseinfo {
				position:absolute;
				bottom:20px;
				left:0;
				right:0;
				text-align:center;

				.product-releasetimer span {color:$c-red;}
			}
		}
		.product-brand {
			margin:0;
			line-height:1.4em;
			font-size:1.2rem;
		}
		.product-name {
			margin:0;
			@extend .bold;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
			font-size:1.2rem;
		}
		.price-box {
			padding:3px 0;
			font-size:1.2rem;
			float:left;

			.old-price {text-decoration:line-through;}
			.special-price {color:$c-sale;padding: 0 7px;}
			.map-price {
				color:$c-sale;
				body:not(.view--desktop) & {font-size:1rem;}
			}
		}
		.product-promotion {color:$c-sale;clear:left;}
		.product-label {
			font-size: 1rem;
			@extend .bold;
			position: absolute;
			display: block;
			top: 0px;
			left: 0px;
			padding:4px;
			background-color:$c-white;
			$inc: 20px;
			@for $i from 2 through 8 {
				&:nth-of-type(#{$i}) {top:$inc;}
				$inc:$inc+20;
			}
			&.label--new {}
			&.label--sale {}
			&.label--sold-out {color:$c-secondary;font-weight: 500;@extend .italic;top:auto;left:auto;bottom:18px;right:5px;}
			&.label--online {}
			&.label--clearance {}
			&.label--last-pair {color:$c-sale;}
		}
		.icon--multiple-colors {
			position: absolute;
			top: 10px;
			right: 10px;
		}
		.product-qs {
			display:none;
		}
		.product-more {
			position: absolute;
			width: 100%;
			border: 1px solid;
			border-top:none;
			left: -1px; //fixes alignment
			right: 0;
			top: 100%;
			background-color: $c-primary;
			display:none;
		}
	}

	.ias-trigger {
		width:289px;
		margin:20px auto;

		button {width:100%;}
	}
	.icon--notch {margin:20px 0;}

	@media screen and (min-width:375px) {
		$prod-w: 168px;
		.product {
			width:$prod-w;

			figure {
				width:$prod-w;
				height:$prod-w * $prod-h-ratio;
			}
		}
	}

	@media screen and (min-width:414px) {
		$prod-w:188px;
		.product {
			width:$prod-w;

			figure {
				width:$prod-w;
				height:$prod-w * $prod-h-ratio;
			}			
		}
	}

	@media screen and ($break-tablet) {
		$prod-w: 170px;
		.product {
			width:$prod-w;

			.product-name,
			.price-box {font-size:1.2rem;}

			figure {
				width:$prod-w;
				height:$prod-w * $prod-h-ratio;
			}

			.product-qs {
				position:absolute;
				top:calc(50% - 32px); //extra space for the text underneath
				left:0;
				right:0;
				@include transform(translate(0, -50%));
				text-align:center;

				button {padding:10px 52px;height:auto;width:auto;min-height:32px;}
			}
		}
	}

	@media screen and (min-width:900px) {
		$prod-w: 260px;
		max-width:1205px;
		
		.product {
			// width:289px;
			width:$prod-w;
			margin:0 5px 50px;
			&:hover {
				.product-qs {display:block;}
			}

			figure {
				// height:367px;
				// width: 289px;
				// width:287px; //use this width to avoid image being wider than border-box
				width:$prod-w;
				height:$prod-w * $prod-h-ratio;
			}
		}
	}
}

#btt {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 32px;
	width: 40px;
	height: 40px;
	padding: 0;
	@include border-radius (10px);
	&::before {margin-top:-5px;display:block;}
}