// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Cart page layout
//--------------------------------------//


@import "init";

#body-main > div[class*="cart"] {
	padding-left:20px;
	padding-right:20px;
	max-width:700px;
	margin:0 auto;

	@media screen and ($break-desktop) {
		padding-left:50px;
		padding-right:50px;	
	}

	&::after {@include clearfix;}
}


.checkout-cart-index {
	
	.cart {
		text-align:left;

		> form {
			margin-top:0;
		}

		h1 {
			text-align:center;
			margin:16px 0;
		}
	}
}

#shopping-cart-table {
	width:100%;

	label {font-size:inherit;color:$c-primary;position:static;visibility:visible;}

	footer {
		text-align:center;
		padding-top:20px;
		&::after {@include clearfix;}

		button {margin-bottom:20px;}
	}
}

button[name="update_cart_action"] {display:none;}

.block-totals {
	padding:20px 0;
	text-align:center;
	.msg-free-shipping {color:$c-sale;font-weight:700;}

	> table {
		width:100%;
		margin:0 auto;
		text-align:left;

		tr {
			display:block;
			margin:5px 0;
			clear:both;
			padding:5px 0;
			font-size:1.2rem;

			td {max-width:250px;}

			td:nth-child(1) {float:left;}
			td:nth-child(2) {float:right;width:60px;text-align:right;}

			// &.grand_total {font-size:1.8rem;}
		}

		.totals--giftcard {
			padding:30px 0 40px;
			color:$c-sale;
		}

		.totals--coupon {
			text-align:left;
			strong {
				font-weight:inherit;
				&:not(:first-child)::before {content:', ';}
			}
		}

		.totals--grand {
			font-size:1.6rem;
		}
	}

	.checkout-types {
		margin:50px 0 5px;
		text-align:center;

		button.btn-checkout { //do this to avoid editing a whole template
			border: none;
			background:$c-action;
			color:$c-white;
			padding: 10px 52px;
			// line-height: 1em;
			text-transform:uppercase;
		}
	}
}

.item {
	padding:20px 0px;
	font-size:1.2rem;
	position:relative;
	background-color:$c-bg-product;
	margin-bottom:2px;

	@media screen and ($break-desktop) {
		padding:20px;
	}

	&::after {
		@include clearfix;
	}

	&:nth-child(even) {}

	& > div {display:inline-block;vertical-align:top;float:left;}

	&.giftcard .option--detail dd {text-transform:none;}

	.item-image {
		width:136px;
		height:173px;
		box-sizing:border-box;
		background:$c-bg-product;
		white-space:nowrap;
		&::after {@include centerimage;}

		img {height:auto;}
	}

	.item-details {
		width: calc(100% - 136px);
		padding:0px 20px;
		box-sizing:border-box;

		label {display: inline-block;width: 70px;position:static;color:$c-primary;}

		@media screen and ($break-desktop) {
			padding:0 0 0 40px;
		}

		h3 {margin:0;font-weight:700;}
		.detail--brand {float:left;}

		.item-options {
			margin-top:20px;
			clear:left;
			float:left;
			max-width:280px;

			.option--detail {
				dt {display:inline-block;width:70px;}
				dd {display:inline-block;margin:0;}

				&.option--gift.card.sender,
				&.option--gift.card.recipient,
				&.option--gift.card.message {
					clear:left;

					dt {float:left;}
					dd {float:left;clear:left;max-width:100%;text-transform:none;}
				}

				&.option--gift.card.recipient {margin-top:5px;}
				&.option--gift.card.message {margin-top:20px;}
			}
		}
		.product-alert {
			margin: 10px 0;
			color: $c-notification;
			font-size: 1rem;
			position: relative;
			clear:left;
			float:left;
			padding-left:15px;
			line-height: 1.6rem;
			text-align: left;
			&::before {
				position:absolute;
				top:3px;
				left:0;
			}
			a {color:$c-notification;text-decoration:underline;}
		}
		.item-qty {
			margin-top:20px;
			float:left;
			clear:left;

			@media screen and ($break-tablet) {
				position:absolute;
				top:45px;
				right:35px;
			}

			label {width:30px;vertical-align:middle;}

			.input-wrap {
				display:inline-block;
				vertical-align:middle;
				text-align:center;
			}

			input {
				float:left;
				margin:0;
				padding:0;
				border:none;
				height:35px;
				width:40px;
				text-align:center;
				font-size:1.6rem;
				background:none;
			}

			.qty-adjustment {
				display: inline-block;
				border: 1px solid $c-primary;
				border-radius:50%;
				height: 35px;
				width: 35px;
				font-size:3rem;
				line-height:14px;
				color:$c-primary;
				vertical-align: top;
				padding: 7px 0;
				box-sizing: border-box;
				float: left;
				cursor:pointer;
				@include user-select (none);
			}
		}

		.item-price {
			margin-top:20px;
			clear:left;
			float:left;

			.old-price {padding:0 7px 0 0; text-decoration:line-through;}

			.a-right {clear:both;}

			small {text-transform:none;}
		}

		.item-adjust {
			font-weight:700;
			margin:20px 0;
			float:left;
			clear:both;

			& > div {
				display:inline-block;
				&:first-of-type {margin-right:20px;margin-bottom:4px;}
				&.icon::before {margin-right:2px;color:$c-secondary;}

				a {color:$c-secondary;}
			}

			.adjust-spacer {padding:0 10px;}

			@media screen and ($break-desktop) {
				text-align:right;
				float:right;
			}
		}
		.item-messages {
			margin-top: 20px;
			float: left;
			clear: left;
			font-weight: 700;
			color:$c-notification;
			p {
				margin:0;
				text-transform:uppercase;
				font-size:1.2rem;
			}
			.icon--warning::before {
				margin-right:5px;
			}
		}
	}
}

.cart-collaterals {
    margin-top:20px;
	label {
		text-transform: none;
	}
	h2 {
		font-size:1.6rem;
    	border:none;
    	font-weight:700;
    }
	.please-wait {
		font-size: 1.2rem;
		margin-top:10px;
		display:block;
		&::before {
			margin: 0 10px;
			width: 10px;
			height: 10px;
			border-width: 2px;
		}
	}
	#discount-coupon-form {
		background: $c-bg-product;
	    padding: 10px 20px;
	    margin-bottom:2px;
	    p.input-box {
	    	min-height:20px;
	    	margin: 5px 0;
	    	padding: 10px 0;
	    	strong {text-transform:uppercase;}
	    }
	}
	#giftcard-form {
		background: $c-bg-product;
	    padding: 10px 20px;
		button {width:calc(50% - 2.5px);&:last-child {float:right;}}
	}
}

.shipping {
	margin-top:20px;

	h2 {
		border-bottom:1px solid $c-primary;
		font-size:1.2rem;
	}

	form {margin-top:0;}
}

@media screen and ($break-desktop) {

	.block-totals > table {
		width:340px;
		text-align:left;
	}
	
	.cart-collaterals {
		.input-box {
			width: calc(70% - 10px);;
			display: inline-block;
			float: left;
		}

		.buttons-set {
			width: 30%;
			float: right;
			display: inline-block;
			margin:5px 0;
		}
		#giftcard-form {
			.input-box { 
		        width:calc(40% - 10px); 
		      } 
			.input-box.giftcard-form-code-input.has-pin {width:calc(30% - 5px);}
			.input-box.giftcard-form-pin-input {width:calc(10% - 10px);margin-left:5px;}
			.buttons-set {
				width:60%;
				button {
					float:left;
					width:50%;
					&:first-child {
						width:calc(50% - 10px);
						margin-right:10px;
					}
				}
			}
		}
	}

	.item {
		padding:30px 20px;
		.item-details {
			.item-messages {
				position: absolute;
				bottom: 20px;
				max-width:300px;
			}
			.item-adjust {
				position:absolute;
				bottom:20px;
				right:20px;
				margin:0;
				>div:first-of-type {margin-bottom:0;}
			}
		}
		.product-alert {max-width:50%; br {display:none;}}
	}
}