// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Checkout layout
//--------------------------------------//


@import "init";

//adjustments for clutter-free checkout
.header-top-promo {display:none;} //adding this line due to css magento file merge conflict adding empty character on this first line

.header-top-promo,
.header-top-tools,
.header-bottom,
.banner-sale {display:none !important;}
.header-top .header-logo a {background-attachment:scroll !important;}

h1 {text-align:center;margin:20px 0;}

#checkoutSteps {

	p {margin-top:0;}

	button {
		width:100%;
		margin:20px 0;

		a {text-decoration:none !important;}
	}

	.steps-wrap {
		max-width:760px;
	}

	div.section {

		.step-title {
			background-color:$c-bg-product;
			padding:20px 0;
			border-bottom:1px solid $c-white;
			position:relative;
		}

		h2 {
			font-size:1.2rem;
			font-weight:700;
			&::before {}
			&.icon::before {
				font-size:2rem;
				line-height:0.5em;
				text-align:center;
				content:("•");
				position:absolute;
				right:50px;
			}
		}
		&.allow:not(.active) h2::before {content:("\f00c");color:$c-success;right:47px;}

		span.icon--circle {
			float:right;
			vertical-align: top;
			margin-top:-5px;
			margin-right:10px;
		}

		form {
			margin:0;
		}

		input:not([type="checkbox"]) {
			border:1px solid $c-forms;
			border-radius: 0;
			width: 100%;
			height: 40px;
			box-sizing:border-box;
			&:checked {
				border:2px solid $c-primary !important;
			}
			&[type="radio"]:checked::after {display:none;}
		}

		//workaround for cross-browser radio button styling
		input[type="radio"] {
			display:none;
			& + label {
				border:1px solid $c-forms;
				border-radius: 0;
				width: 100%;
				height: 40px;
				box-sizing:border-box;
				padding:10px 0;
				cursor:pointer;
				position:relative;
				top:auto;
				left:auto;
				display:block;
				margin:10px 0;
				line-height:1.6rem;
			}
			&:hover + label,
			&:checked + label {
				border:2px solid $c-primary !important;
				padding:9px 0;
			}
		}
		//ie hack 
		input[type="radio"]::-ms-check {
			border:1px solid $c-forms;
			border-radius: 0;
			width: 100%;
			height: 40px;
			box-sizing:border-box;
		}
		input[type="radio"]:checked::-ms-check {
			border:2px solid $c-primary !important;
		}

		input[type="radio"] + label {
			// @include verticalcenter;
			text-transform: uppercase;
			font-weight:700;
		}

		li.control {
			position: relative;
			width: 50%;
			display: inline-block;
			float: left;
			margin:20px 0 0;

			input:not([type="checkbox"]) {
				&:hover {
					border:2px solid $c-primary !important;
				}
			}

			label {
				display:block;
				text-align:center;
				color:$c-primary;
			}

			input[type="checkbox"] ~ label {display:inline-block;}
		}

		.step {
			padding-top:10px;
			padding-bottom:10px;

			a {text-decoration:underline;}
		}

		.please-wait {
			display:block;
			text-align:center;
			font-size:1.2rem;
			margin:20px 0;
			&.icon--notch::before {
				margin: 0 10px;
				width:10px;
				height:10px;
				border-width:2px;
			}
		}

		.buttons-set {
			opacity:1 !important; //overrides some weird js
		}
	}

	#checkout-step-login {
		hr {margin-top:25px;}
		input[value="guest"] {border-left:none;}
	}

	#checkout-step-billing {
		.control label {font-size:1rem;}
	}

	#checkout-step-billing,
	#checkout-step-shipping {

		.address-city {
			width:calc(40% - 10px);
			float:left;
		}
		.address-state {
			width:calc(40% - 10px);
			float:left;
			margin-left:10px;
		}
		.address-zip {
			width:calc(20%);
			float:left;
			margin-left:10px;
		}
		.address-state,
		.address-country {
			label {
				top: 4px;
				left: 10px;
				font-size: 10px;
			}
		}
	}

	#checkout-step-shipping {
		.address-sameasbilling, 
	    .address-shiptostore {
			float:none;
			width:auto; 
		    padding-right:50px;
		    margin:10px 0;
			input {float:left;}
			label {
				position:relative;
				display:inline-block;
				top:auto;
				margin-left:-10px;
				margin-top:6px;
			}
		}
	}

	#checkout-step-shipping_method {
		.signature-required-container {
			display:inline-block;
			.icon--question {float:right;margin-top:6px;cursor:pointer;}
		}
		dd {
			margin:0;
		}
		li.method {
			position:relative;

			input {
				// height: 50px;
				// &:hover {border:2px solid $c-primary;}
			}

			label {
				padding: 2px 40px;
				color:$c-primary;
				cursor:pointer;
				min-height:32px;
				body:not(.view--desktop) & {
					&[for^="s_method_villa_shiptostore_"] {
						height:60px;
						padding:5px 40px;
					}
				}

				span.method-type {float:left;}
				span.method-note {clear:both;float:left;font-size:1rem;font-weight:300;}
				span.price {position:absolute;right:40px;top:6px;}
			}
			input + label:hover,
			input:checked + label {
				padding:1px 39px;
				span.price {right:39px;top:5px;}
				.ship-readmore {right:19px;top:5px;}
			}
			body:not(.view--desktop) {
				input + label[for^="s_method_villa_shiptostore_"]:hover,
				input:checked + label[for^="s_method_villa_shiptostore_"] {
					padding:4px 39px;
				}
			}

			input:checked + label {
				@include icon-setup;
				&::before {
					display:block;
					position:absolute;
					color:$c-primary;
					text-align:left;
					font-size:22px;
					padding-left:10px;
					padding-top:6px;
					background:none;
					content:"\f00c";
					left:0;
					top:0;
				}
			}
			//ie hack
			input[type="radio"]:checked::-ms-check {
				border-color:$c-primary;
			}
			input[type="radio"]:checked::after::-ms-check {
				display:block;
				color:$c-primary;
				text-align:left;
				font-size:22px;
				padding-left:10px;
				padding-top:12px;
				background:none;
				content:"\f00c";
			}

			.ship-readmore {
				position:absolute;
				right:20px;
				top:6px;
				z-index:$z1;
			}
		}
	}

	.fields-shopstore {
	    margin-bottom:20px;
	    .control.address-shiptostore {
	    	padding-right:0 !important;
	    	width:100% !important;
	    	a.shopstore-find {float:right;display:inline-block;margin-top:6px;}
	    }
    	.search-zip {
	        .input-box .input-text {
				width: 84%;
	        }
	        input {vertical-align:top;}
	        .miles {
	        	display: inline-block; 
	        	position: relative;
	        	width: calc(15% - 1px);
	        	.input-text {
	        		width:100%;
	        	}
	        }
	        button.dark {margin: 5px 0;height:40px;}
	    } 
	    h3 { 
	        font-weight: 700; 
	        text-transform: uppercase; 
	        text-align: center; 
	        clear: both; 
	        padding: 10px 0; 
	    }
	    .shopstore-search-form,
	    &.shopstore-search-form {
		    padding:20px;
	    	background:$c-bg-product;
	    }
	    .search-results {
	    	background:$c-white;
	        border: 1px solid $c-forms; 
	        padding:10px; 
	        overflow: auto; 
	        height: 200px; 
	        label { 
	          	color:$c-primary; 
	          	padding:12px 15px 12px 45px !important; 
	          	height:75px !important; 
	          	span:not(.store-miles) {font-weight:500;} 
	          	.store-miles {position:absolute;display:block;right:20px;top:26px;} 
	        } 
	        input + label:hover, 
	        input:checked + label { 
	          	padding:11px 14px 11px 44px !important; 
	          	.store-miles {position:absolute;display:block;right:19px;top:25px;} 
	        } 
	        input:checked + label { 
	          	@include icon-setup; 
	          	&::before { 
		            display:block; 
		            position:absolute; 
		            color:$c-primary; 
		            text-align:left; 
		            font-size:22px; 
		            padding-left:10px; 
		            padding-top:6px; 
		            background:none; 
		            content:"\f00c"; 
		            left:0; 
		            top:18px; 
	          	} 
	        } 
	        //ie hack 
	        input[type="radio"]:checked::-ms-check { 
	          	border-color:$c-primary; 
	        } 
	        input[type="radio"]:checked::after::-ms-check { 
		        display:block; 
		        color:$c-primary; 
		        text-align:left; 
		        font-size:22px; 
		        padding-left:10px; 
		        padding-top:12px; 
		        background:none; 
		        content:"\f00c"; 
	        }
	    }
	}

	#checkout-step-payment {
		
		p.icon--gift,
		p.icon--tag {
			&::before {
				padding-right: 8px;
				font-size: 16px;
			}
			@media screen and ($break-mobile) {
				a {
					text-align: right;
					display: block;
					position: relative;
					top: -18px;
				}
			}
		}

		.sp-methods {

			dt {
				position:relative;
				width:50%;
				display:inline-block;
				float:left;
				&:nth-child(2) {
					input {border-left:none;}
				}
				&#dt_method_free {
					width:100%;
					label {height:auto;}
				}

				input {
					border-radius: 0;
					width: 100%;
					height: 40px;

					&:hover, &:checked {
						border:2px solid $c-primary !important;
						&::after {display:none;}
					}
				}
				//ie hack
				input[type="radio"]:checked::-ms-check {
					border:2px solid $c-primary !important;
					&::after {display:none;}
				}

				label {
					text-align: center;
					color:$c-primary;

					&.icon::before {
						position:relative;
						top: 2px;
						font-size:18px;
						padding-right:10px;
					}

					.icon--question {
						float:right;
						margin-right:10px;
					}
				}
			}

			#payments-details-box {clear:both;}

			dd {
				margin:0;

				&#dd_method_authorizenet {

					li#authorizenet_cc_type_exp_div {
						width:80%;
						float:left;

						.v-fix {
							display:inline-block;
							float:left;
							position:relative;
							&:nth-child(1) {width:65%;}
							&:nth-child(2) {
								width:calc(35% - 10px);margin:0 5px;
								// label {left:calc(65% + 11px);}
							}

							select {padding-top:0;}
						}
					}

					li#authorizenet_cc_type_cvv_div {
						width:20%;
						float:left;

						.cvv-what-is-this {color:$c-form--required;}
					}
				}
			}
		}

		#payment-tool-tip {padding:20px 0;}

		#recaptcha > div {margin:0 auto;}
	}

	#checkout-step-review {

		.order-review {
			max-width: 700px;
			margin: 0 auto;
		}

		.data-table label {
			position:static;
		}

		.block-totals {margin-top:0; font-size:1.2rem;}
	}

	.order-review-register-section {
		text-transform:none;
		background:$c-bg-product;
		padding:20px;
		h2.order-review-register-title {
			font-size:1.6rem;
			text-transform:uppercase;
			border:none;
		}
		.order-review-register-label {
			margin-bottom:10px;

			label {
				font-size: 1.2rem;
				top: 16px;
				left: 11px;
				position: static;
				padding: 0 10px;
				vertical-align: middle;
				color: $c-primary;
				visibility: visible
			}
		}
	}

	@media screen and ($break-mobile) {
		#checkout-step-billing,
		#checkout-step-shipping {
			.address-zip::after {
				display:block;
				content:'';
				clear:both;
			}

			.address-country {
				float:left;
				min-width:100%;
			}
		}
	}

	@media screen and ($break-tablet) {

		div.section li.control label {font-size:1.2rem;}

		#checkout-step-billing,
		#checkout-step-shipping {
			.name-firstname,
			.phone-primary,
			.address-firstline,
			.password-first {
					width: calc(50% - 5px);
					float: left;
			}
			.name-lastname,
			.address-secondline,
			.address-email,
			.password-second,
			.field-invisible {
					width: calc(50% - 5px);
					float: right;
				// label {left:calc(50% + 16px);}
			}
			.address-city {
					width: calc(30% - 5px);
			}
			.address-state,
			.address-zip {
					width: calc(20% - 10px);
				// label {left:calc(30% + 11px);}
			}
			.address-country {
					width:calc(30% - 5px);
					margin-left:10px;
					display:inline-block;
					float:left;
				// label {left:calc(70% + 16px);}
			}
			.field-invisible {visibility:hidden;}
		}

		#checkout-step-shipping {
			.address-sameasbilling,
			.address-shiptostore {margin:0;}
		}

		.fields-shopstore {
			.search-zip {
				margin:10px 0;
				.input-box,
				button.dark {width:calc(50% - 5px);}
				.input-box {float:left;}
				button.dark {float:right;}
			}
			.search-results {height:300px;}
		}

		#checkout-step-payment .sp-methods #dt_method_authorizenet label.icon::before {
			line-height:12px;
		}

		#checkout-step-review {
			.item-qty label {
				width:30px;
				vertical-align: bottom;
				margin-right:10px;
			}
			#order-review-register-form {
				.field {
					width:calc(50% - 2.5px);
					float:left;
					margin-right:2.5px;
					&:last-of-type {margin-right:0;margin-left:2.5px;}
				}
			}
		}
	}

	&.checkout--paypal {
		.section.info-set {
			width:100%;
			display:inline-block;
			float:left;
			@media screen and ($break-desktop) {width:50%;}
			&.payment-only {
				margin-bottom:50px;
				width:100%;
			}
		}
		#checkout-step-shipping_method {margin:50px 0;}
	}
}

#av-popup {
	ul.radios {
		margin:20px 0;

		label {
			position: static;
			visibility: visible;
			color: $c-primary;

			input {margin:5px;}
		}
	}
	button {margin:5px 0;}
}