// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Print layout
//--------------------------------------//


@import "init";

body {
	max-width: 650px;
	margin: 0 auto;
}

.print-top {
	position:relative;
	text-align:center;

	img {
		margin:37px 0;
	}
}

.print-bottom {
	margin-top:50px;

	.sidebar-account-contact {
		margin-top:20px;
		width:100%;

		a {text-decoration:none;font-size:1.1rem;}

		h4 {text-transform:uppercase;display:block;float:none;}

		hr {margin:10px 0 20px;}

		span {
			display:block;
			margin:4px 0;
			font-size:1.1rem;
			float:left;
			vertical-align: top;
			height:20px;
			width:50%;
			box-sizing:border-box;
			&.icon::before {padding-right:8px;vertical-align:middle;font-size:18px;}
			&.icon--phone::before {font-size:22px;padding-right:11px;}
			&.icon--mail::before {font-size:14px;}
		}
	}
}

body.sales-order-print {
	#body-main {
		padding:0;

		h1 {text-align:left;}

		.order-buttons {
			margin:20px 0;

			a {
				text-decoration:none;
				margin-right:10px;
				&.icon::before {font-size:14px;margin-right:5px;}
			}
		}

		.order-info-box {
			white-space:nowrap;

			.col {
				width:50%;
				display:inline-block;
				vertical-align: top;

				.box-content {
					padding-right:15px;
					white-space:normal;
					// height:50px;
					height:auto;
					.cards-list p {
						font-size: 1rem;
						text-transform: uppercase;
						line-height: inherit;
					}
				}
			}
		}

		.item {
			padding:20px 0;
			.item-image {width:116px;height:148px;}
			.item-details {padding:0 20px;}
			.item-qty {clear:left;margin-top:20px; label {width:70px;vertical-align:top;}}
			.input-wrap {vertical-align:top;}
			.item-price {float:left;}
		}

		.block-totals {font-size:1.2rem;}
	}
}