// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Product page layout
//--------------------------------------//


@import "init";



//make room for atc button fixed to bottom
body {padding-bottom:50px;}

.product-details {
	position:relative;
	&::after {@include clearfix;}

	.product-details-left {
		position:relative;
		min-height:375px;

		figure {width:100%;height:100%;text-align:center;background-color:$c-bg-product;}

		img {max-height:100%;}

		.product-label {
			font-size: 1rem;
			font-weight:700;
			position: absolute;
			display: block;
			top: 0px;
			right: 0px;
			padding:4px;
			background-color:$c-white;
			z-index:$z5;
			$inc: 20px;
			@for $i from 2 through 8 {
				&:nth-of-type(#{$i}) {top:$inc;}
				$inc:$inc+20;
			}
			&.label--last-pair {color:$c-sale;}
		}

		.icon--prev, .icon--next {color:$c-secondary;}
		.cycle-pager {
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
		}
	}

	.product-details-right {
		text-align:center;
		max-width:460px;
		margin:0 auto;
		padding:30px 40px;
		box-sizing:border-box;

		span {
			display:block;
			font-size:1.2rem;
		}

		dd {margin:0;}

		.product-brand {
			font-size:2rem;
			font-weight:300;
		}

		.product-title {
			font-weight:700;
			margin:0;
		}

		.product-alternate-name {
			font-weight:700;
			margin-top:5px;
		}

		.product-color {
			margin-top:10px;
		}

		.product-style,
		.product-gender {
			margin:0 0 20px;
		}

		.product-promotion {
			color:$c-sale;
			font-weight: 700;
		}

		form {
			margin-top:20px;

			input, select {padding-top:0;}
		}

		.price-box {
			.old-price {text-decoration:line-through;}
			.special-price {color:$c-sale;padding: 0 7px;}
		}

		.product-shop {
			margin-bottom:50px;

			select {width:100%;margin:10px 0;}

			&.no-display {display:none;}
		}

		.product-release-box {
			border: 1px solid $c-forms;
			padding: 30px 0px;
			margin: 50px 0px;
			position: relative;
			&::before {
				font-size: 2.4rem;
				position: absolute;
				top: -21px;
				width: 40px;
				height: 40px;
				margin-left: -20px;
				left: 50%;
				border-radius: 50%;
				background: $c-white;
				display: block;
				border: 2px solid $c-forms;
				box-sizing: border-box;
				padding: 5px 8px;
			}

			.product-releasetimer {
				font-weight:700;
				font-size:1.6rem;

				span {color:$c-red; display:inline;font-size:1.6rem;}
			}

			.product-releasedate {
				margin-bottom:20px;
				font-size: 1.2rem;
				display:block;
			}
		}

		button.soldout {margin-bottom:40px;}

		.validation-advice {color:$c-error;}

		.product-description {
			text-align:left;

			h3 {font-weight:700;font-size:1.4rem;}

			> div {
				//this is for when <p> isnt in place
				font-size:1.3rem;
				line-height:1.6rem;
				text-transform:none;
			}

			ul li {@include bullet-list}
		}

		.product-message--soldout {
			display: block;
			a {font-weight:700;}
		}

		.product-share {
			margin:20px 0;

			a {
				margin:0 10px;
				&.icon::before {vertical-align:top;font-size:14px;}
				&.icon--twitter::before {margin-left:2px;}
				&.icon--mail::before {margin-left:1px;margin-top:-1px;}
				@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
				    &.icon--mail::before {margin-top:-2px;}
				}
			}
		}
	}

	.add-to-cart {
		text-align:center;

		.input-wrap {
			margin:0 auto 20px;

			.qty-adjustment {
				display: inline-block;
				border: 1px solid $c-primary;
				border-radius:50%;
				height: 35px;
				width: 35px;
				font-size:3rem;
				line-height:14px;
				color:$c-primary;
				vertical-align: top;
				padding: 7px 0;
				box-sizing: border-box;
				cursor:pointer;
				@include user-select (none);
			}
		}

		input#qty {
			margin:0;
			padding:0;
			border:none;
			height:35px;
			width:40px;
			text-align:center;
			font-size:1.6rem;
			background:none;
		}

		button {
			width:100%;
			display:block;
			margin:10px auto;
			position:relative;
			@media screen and ($break-mobile) {
				// position:fixed;
				left:0;
				right:0;
				bottom:0;
				// bottom:-50px;
				margin:0;
				z-index:$z5;
				border:none !important;

				// body.js & {bottom:-50px;}
			}
			&.loading {
				background:$c-white;
				border:2px solid $c-success;
				&::before {
					content: '';
					display: block;
					position: absolute;
					background: $c-success;
					top: 0;
					left: 0%;
					bottom: 0;
					right: 100%;
					@include animation(loading-bar 3s 1 steps(100) forwards);
				}

				.icon {
					display:block;
					width:100%;
					font-size:20px;
					position:relative;
				}
			}
			&.loading-done::before {right:0 !important;@include animation(none);}
			&.loading-fail {
				border-color:$c-action;
				&::before {background:$c-action;right:0 !important;@include animation(none);}
			}
		}
	}

	// @media screen and ($break-desktop) {
	.view--desktop & {
		max-width:1500px;
		margin:0 auto;

		.product-details-left {
			float:left;
			width:64%;
			figure {
				@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
					min-height:600px;
				}
			}

			.icon--prev, .icon--next {display:block;}
		}

		.product-details-right {
			float:right;
			width:36%;

			.product-releasetimer {
				font-size:2rem;

				span {font-size:2rem;}
			}

			.product-title {font-size:2.4rem;}

			.product-shop {

				select {width:213px;}
			}

			.add-to-cart {
				button {width:213px;}
			}
		}
	}
}

.product-alert {
	margin: 20px 0;
	color: $c-notification;
	font-size: 1.2rem;
	position: relative;
	padding-left: 20px;
	text-transform: none;
	line-height: 1.6rem;
	text-align: left;
	&::before {
		position:absolute;
		top:3px;
		left:0;
	}
	a {color:$c-notification;text-decoration:underline;}
}

.product-bottom {
	margin-top:50px;

	.product-video {
		margin:50px auto;

		video {width:100%;display:block;}
	}

	.product-gallery {
		margin:50px auto;
		.cycle-slideshow {
			background-color:$c-primary;
			figure, img {width:100%;}
			.cycle-prev,
			.cycle-next {bottom:0;}
			@media screen and ($break-mobile) {
				.icon--prev,
				.icon--next {display:block;opacity:1;}
			}
		}
	}

	.product-blog {
		margin-top:50px;
		border-top:1px solid $c-primary;
		cursor:pointer;

		article {
			border-bottom:1px solid $c-primary;
			padding:30px;
			&::before {
				float:right;
				font-size:16px;
				margin-top:4px;
				@include transition(300ms ease all);
			}
			&.open::before {
				@include transform(rotate(180deg));
			}

			> h3 {
				font-weight:700;
				font-size:1.6rem;
				margin:0;
				display:inline-block;
				position:relative;
				&::before {
					padding-right:10px;
				}
			}
			> h4 {
				margin:0;
				vertical-align: top;
				text-indent:25px;
			}
			.post {
				padding:20px 0px;
				display:none;
				ul {list-style:disc;padding-left:20px;}
				img {margin:10px 0;}
				iframe {display:block;margin:0 auto;}
				@media screen and ($break-mobile) {
					iframe {max-width:100%;height:auto;}
				}
			}
		}
	}

	// @media screen and ($break-desktop) {
	.view--desktop & {

		.product-gallery .cycle-slideshow .icon {color:$c-primary;}
		.product-gallery .cycle-slideshow .icon--prev {left:-40px;}
		.product-gallery .cycle-slideshow .icon--next {right:-40px;}

		.product-blog {

			article {
				padding:40px;

				> h3 {font-size:2.4rem; &::before {padding-right:30px;}}
				> h4 {
					display:inline-block;
					font-size:1.8rem;
					line-height:2.4rem;
					text-indent:0;

					&::before {
						content: "";
						padding: 0 6px;
						font-size: 1.5rem;
						border-left:1px solid $c-primary;
						margin-left:12px;
						height:17px;
						display:inline-block;
						vertical-align: middle;
						margin-bottom:4px;
					}
				}

				.post {padding:20px 50px;}
			}
		}
	}

	@media screen and ($break-mobile) {
		.wrap {padding:0;}
	}
}

.product-egift-card .wrap--content {
	max-width:700px;
	
	> h1,
	> .product-description {text-align:center;}

	.product-description {font-size:1.3rem;text-transform:none;}

	h3 {font-weight:700;border-bottom:1px solid $c-primary;}
	.add-to-cart {margin-top:15px;}
	.giftcardaccount {margin-top:100px;}
	.please-wait {
		font-size: 1.2rem;
		margin-top:10px;
		display:block;
		&::before {
			margin: 0 10px;
			width: 10px;
			height: 10px;
			border-width: 2px;
		}
	}
}