// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
//


//--------------------------------------//
// Layout breakpoints
//--------------------------------------//


$break-desktop:	'min-width:760px';
$break-tablet: 'min-width:760px';
$break-mobile: 'max-width:760px';