// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
//


//--------------------------------------//
// Mixins
//--------------------------------------//


//includes
@mixin bullet-list {
	padding: 4px 0;
	list-style: disc;
	margin-left:25px;
}

@mixin clearfix {
	display:block;
	content:'';
	clear:both;
}

@mixin centerimage {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}

@mixin centercontent {
	position:absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%, -50%));
}

@mixin verticalcenter {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	text-align:center;
	@include transform(translate(0, -50%));
}

@mixin clip-path($clip) {
	-webkit-clip-path: $clip;
	-moz-clip-path: $clip;
	-ms-clip-path: $clip;
	clip-path: $clip;
}

@mixin float-box {
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
}

@mixin block {
	display:block;
	content:'';
	position:absolute;
}

@mixin noscrollbar {
	&::-webkit-scrollbar {width: 0 !important}
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

@mixin flexbox($direction:null, $wrap:null, $justify:null, $align:null) {
	display: -ms-inline-flexbox;
	display: flex;
	flex-flow: $direction $wrap;
	-ms-flex-direction: $direction;
	-ms-flex-wrap: $wrap;
	justify-content:$justify;
	-ms-flex-pack:$justify;
	align-content:$align;
}

@mixin flex($grow:null, $shrink:null, $basis:null) {
	flex: $grow $shrink $basis;
	-ms-flex: $grow $shrink $basis;
}

@mixin icon-setup {
	&::before {
		display: inline-block;
		content:'';
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-repeat:no-repeat;
		background-size:100%;
	}
}

@mixin icon($icon) {
	&::before {content:$icon;}
}

@mixin circle-icon {
	border: 2px solid $c-primary;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 0;
	font-size: 13px;
	display: inline-block;
	text-align:center;
	&::before {line-height:30px;}
}

@mixin nav-arrow {
	//note: do not use mixin icon() for the arrow on this... creates tiny empty character bug
	@include icon-setup;
	&::before {
		content:'\f0d7';
		float:right;
	}
	&.open::before {content:'\f0d8';}
}