// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Vars
//--------------------------------------//


//FONTS
$f-helv:			'Helvetica';
$f-osw:				'Oswald';
$f-grey:			'Greycliff';
// $f-grey--italic:	'Greycliff-light--italic';
// $f-grey--bold:		'Greycliff-bold';
$f-family:			$f-grey, $f-helv, arial, sans-serif;
// $f-italic:			$f-grey--italic, $f-helv, arial, sans-serif;
// $f-bold:			$f-grey--bold, $f-helv, arial, sans-serif;
$f-nav:				$f-osw, $f-family;
$f-base:			16px;
$f-forms:			1.2rem;


//COLORS
$c-white:			#ffffff;
$c-black:			#2b2b2b; //black
$c-gray:			#7d7d7d;
$c-lt-gray:			#a9a9a9;
$c-faint-gray:		#e9e9e9;
$c-primary:			$c-black; //dark
$c-secondary:		$c-lt-gray;
$c-villa-accent:	#aa3439; //#d2203b; //red
$c-gold:			#8c724d;
$c-red:				#ee2740;
//fonts
$c-font-primary:	$c-primary;
$c-font-secondary:	$c-secondary;
$c-form--required:	$c-lt-gray;
$c-link:			#96794e; //bronze
$c-error:			$c-red;
//backgrounds
$c-bg-primary:		$c-white;
$c-bg-secondary:	#f1f1f1; //off-white
$c-bg-product:		#f2f2f2; //product gray
$c-bg-header:		#393939;
$c-bg-rows:			#f9f9f9; //faint white
//elements
$c-success:			#54db63; //green
$c-new:				#e1b97f; //gold
$c-forms:			#d2d2d2; //lt gray
$c-notification:	$c-red;
$c-sale:			$c-red;
$c-action:			$c-red;
$c-nav-border:		$c-faint-gray;
$c-nav-border-dark:	$c-forms;


//BLOCKS
$hero-height:		50vw;


//LAYERS
$z-:		-1;
$z1:		1;
$z2:		2;
$z3:		3;
$z4:		4;
$z5:		500;
$z9:		999;