h1,h2{text-align:center}.wrap{max-width:500px;margin:50px auto}.block{margin-bottom:150px}.form{padding:20px 15px;background:#f2f2f2;border-radius:3px}.results{margin:25px auto;border:1px solid #f2f2f2;border-radius:3px}.results .row{font-size:12px}.results .row:nth-child(odd){background-color:#fafafa}.results .row span{width:33.33%;display:inline-block;padding:7px 5px;box-sizing:border-box}.results .row.titles{font-weight:700;background:#f2f2f2}.results .row.titles span:nth-child(2){width:calc(33.33% - 2px);border-right:1px solid #fff;border-left:1px solid #fff}
