//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Basic page					 //
//-------------------------------//






body.not-front {
	main#content {
		padding: 75px 25px;
	}
	h1 {color:$c-white;margin-bottom:50px;}
}

body.page-stories {
	main#content {
		// background:$c-white;
		// background:image-url('flowervintage-bg.jpg') no-repeat $c-bg-secondary;
		// background-size:cover;
		text-align:center;
		min-height:100vh;
	}
}