//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Blocks						 //
//-------------------------------//


.hero {
	height:100vh;
	background:center top no-repeat;
	background-size:cover;
	position:relative;
	z-index:0;
	.front & {
		&::after {
			@include block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			// background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
			@include background-image(linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45)));


		}
	}
	@media screen and ($break-tablet) {background-attachment: fixed;}
}

.opening {
	.bg-color {
		@include block;
		top:0;
		right:0;
		bottom:0;
		left:0;
		img {display:none;}
		// background: rgba(200, 116, 255, 0.22);
	}
}

.title {
	font-size:68px;
	color:$c-white;
	text-align: center;
	z-index:$z1;
	width:80%;
	@include centercontent;
	h1 {font-size:4.5rem;}
	h2 {
		font-size: 2rem;
		color: $c-font-secondary;
		// @extend .italic;
		margin: 50px 0;
	}
	img {
		width:100%;
	}
	@media screen and ($break-tablet) {
		width:auto;
	}
}

.services {
	margin:0 auto;
	padding:50px 0;
	.service {
		padding:40px;
		text-align:center;
		box-sizing:border-box;
		.icon--circle::before {font-size:3.5rem;}
		h3 {margin:30px 0 0;}
	}
	@media screen and ($break-tablet) {
		display:flex;
		justify-content:center;
		.service {
			width:percentage(1/3);
			max-width:335px;
		}
	}
}

.work {
	text-align:center;
	// background:$c-bg-secondary;
	// background:image-url('flowervintage-bg.jpg') no-repeat $c-bg-secondary;
	// background-size:cover;
	padding: 50px 0;
	.block-title {color:$c-white;}
	.block--featured {
		// display:flex;
		// flex-flow:wrap;
		// justify-content:center;
		> .view-feature-projects {min-height:450px;}
		@media screen and ($break-mobile) {
			.cycle-pager {position:absolute;bottom:0;width:100%;}
		}
		// .projec {
		// 	position:relative;
		// 	overflow:hidden;
		// 	cursor:pointer;
		// 	margin:10px;
		// 	@media screen and ($break-tablet) {margin:30px;}
		// 	&:hover {
		// 		.icon--eye {right:0;}
		// 		@media screen and ($break-tablet) {
		// 			figcaption {
		// 				h3 {
		// 					top:30%;
		// 					&::after {
		// 						@include block;
		// 						position:relative;
		// 						width:75px;
		// 						margin:15px auto 0;
		// 						border-bottom:1px solid $c-white;
		// 					}
		// 				}
		// 				p {
		// 					opacity:1;
		// 					margin-top:20px;
		// 				}
		// 			}
		// 		}
		// 	}
		// 	img {
		// 		//for height
		// 		visibility:hidden;
		// 		width: 100%;
		// 		padding: 150px;
		// 		box-sizing: border-box;
		// 		@include transitionflow(all);
		// 		@media screen and ($break-tablet) {width:50%;}
		// 	}
		// 	.bg-img {
		// 		width: 100%;
		// 		height: 100%;
		// 		position: absolute;
		// 		opacity: 0.4;
		// 		top:0;
		// 		background-size: cover;
		// 		background-position:center center;
		// 		@media screen and ($break-tablet) {background-position:top left;background-attachment: fixed;}
		// 	}
		// 	figcaption {
		// 		color:$c-white;
		// 		bottom:0;
		// 		box-sizing:border-box;
		// 		width:60%;
		// 		@include verticalcenter;
		// 		h3 {
		// 			margin: 0 auto;
		// 			padding: 10px 15px;
		// 			text-align:center;
		// 			width:100%;
		// 			box-sizing:border-box;
		// 			font-size:2.6rem;
		// 			@include transitionflow(top);
		// 			@include centercontent();
		// 			span {
		// 				display:block;
		// 				line-height:1em;
		// 				// font-family:$f-title;
		// 				// font-weight:700;
		// 				font-family:$f-body;
		// 				font-weight: 300;
		// 				font-size: 1.6rem;
		// 			}
		// 			@media screen and ($break-tablet) {width:50%;}
		// 		}
		// 		p {
		// 			@include centercontent();
		// 			width:50%;
		// 			height:50%;
		// 			padding:20px;
		// 			box-sizing:border-box;
		// 			top:60%;
		// 			opacity:0;
		// 			margin-top:0px;
		// 			font-size:1.6rem;
		// 			@extend .bold;
		// 			font-family:$f-title;
		// 			// @include transitionflow(all);
		// 			@include transition(all 600ms ease);
		// 		}
		// 	}
		// 	.icon--eye {
		// 		position: absolute;
		// 		bottom: 0;
		// 		right:-55px;
		// 		background:$c-white;
		// 		width: 55px;
		// 		height: 30px;
		// 		@include clip-path(polygon(0% 100%, 40% 0%, 100% 0%, 100% 100%, 0% 100%));
		// 		@include transition(right 300ms ease);
		// 		&::before {
		// 			font-size:1.4rem;
		// 			padding:8px 30px;
		// 			color:$c-font-secondary;
		// 		}
		// 	}
		// }
	}
}
.project {
	width:100%;
	padding:calc((100% - 320px) / 2);
	box-sizing:border-box;
	overflow: hidden;
	display:inline-block;
	cursor:pointer;
	position:relative;
	// @include transition(box-shadow 500ms ease);
	// box-shadow: 0 0 10px rgba(140, 140, 140, 0.52);
	// border:1px solid $c-faint-gray;
	vertical-align:top;
	@media screen and ($break-tablet) {
		width: 320px;
		margin: 40px 20px;
		transition:all 300ms ease;
		padding:0;
		&:hover {
			// box-shadow: 0 0 10px rgba(140, 140, 140, 0.952);
			transform:scale(1.05);
			.teaser2 figcaption .icon--eye {
				opacity:1;
				// display:block;
			}
		}
	}
	.view-display-id-page_1 & {
		margin-bottom:50px;
	}
	.teaser2 {
		// img {opacity:0.6;}
		figcaption {
			text-align:left;
			background: $c-bg-primary;
			padding: 15px 0px 25px;
			box-sizing:border-box;
			color: $c-white;
			h3, h4 {
				margin:0;
				text-transform:uppercase;
			}
			h3 {
				line-height:2rem;
				margin:5px 0;
			}
			h4 {font-weight:300;font-family:$f-body;}
			p {display:none;color:$c-lt-gray;}
			.icon--eye {
				opacity:0;
				// display:none;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.765);
				padding: 30%;
				text-align: center;
				color: $c-white;
				font-size: 3rem;
				@include transition(opacity 500ms ease);
			}
		}
	}
}
#block-formblock-contact-site {
	h2 {
		text-align: center;
	}
	form {
		#edit-submit {
			@extend button;
			@extend .button--small;
		}
	}
}

.project-card {
	position:relative;
	z-index:$z5;
	top:100vh;
	right:0;
	bottom:0;
	left:0;
	box-shadow:0 0 40px #333;
	background:$c-faint-white;
	opacity:0;
	visibility:hidden;
	@include transition(top 1200ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 200ms ease, visibility 300ms ease);
	&.show {
		opacity:1;
		visibility:visible;
		top: 0;
		margin-top: 15vh;
		position: relative;
	}
	&::before {
		@include block;
		top: -25px;
		right: 5px;
		font-size: 24px !important;
		cursor:pointer;
		@extend .icon;
		@extend .icon--down-arrow;
	}
	// > .node {
	// 	height:100%;
	// 	overflow-y:scroll;
	// 	-webkit-overflow-scrolling: touch;
	// 	@include noscrollbar;
	// }
	.hero {background-attachment:scroll;height:70vh;background-position:center 50%;}
	@media screen and ($break-tablet) {

		// left:18vh;
		// right:18vh;
		&.show {margin:10vh 18vh 0;}
	}
}

.data-fading-block {
	opacity:0;
	position:relative;
	top:25px;
	&.fade-in {
		opacity:1;
		top:0;
		@include transition(top 800ms ease, opacity 1600ms ease);
	}
}