//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Header						 //
//-------------------------------//


#site-header {
	position:absolute;
	top:0;
	right:0;
	left:0;
	.region-header {
		background:$c-primary;
		padding:4px 10px;
		@include clearfix;
		#block-system-user-menu {
			float:right;
			li {
				display:inline;
				padding:0 6px;
				line-height: 0.5rem;
				font-size: 0.5rem;
				vertical-align: middle;
				&:last-child {padding-right:0;}
				a {
					color:$c-white;
					text-transform: uppercase;
					// font-size: 0.8rem;
				}
			}
		}
	}
	.region-navigation {
		position:fixed;
		top:-3px;
		right:10px;
		z-index:$z5;
		#block-search-form {
			.icon--search {
				color:$c-white;
				font-size:1.4rem;
				padding: 10px;
				display: block;
				margin-top:-3px;
			}
			#search-block-form {display:none;}
		}
		#block-menu-block-1 {
			.menu-block-1 {
				font-family:$f-title;
				@extend .bold;
				width: 100vw;
				height: 100vh;
				opacity:0;
				visibility:hidden;
				position: fixed;
				top: 0;
				right:-25vw;
				z-index: $z5;
				background:$c-primary url('/sites/default/files/menu-desk.jpg') no-repeat;
				background-size: contain;
				@include transition(all 300ms ease, opacity 600ms ease);
				&.open {
					right:0;
					opacity:1;
					visibility:visible;
					&::after {opacity:1;}
				}
				@media screen and ($break-tablet) {
					background-size:cover;
				}
				&::after {
					@include block;
					top:0;
					right:0;
					bottom:0;
					left:0;
					background:rgba($c-primary, 0.85);
					opacity:0;
					@include transition(opacity 900ms cubic-bezier(0.28, -0.03, 0.88, 1.14));
					@media screen and ($break-mobile) {
						display:none;
					}
				}
				ul.menu {
					margin-top:25vh;
					position:relative;
					z-index:$z1;
					text-align:center;
					@media screen and ($break-tablet) {
						margin-top:45vh;
					}
				}
				.menu__item {
					text-transform:uppercase;
					padding: 20px 60px;
					margin: 0 10px;
					font-size: 5rem;
					color:$c-white;
					position:relative;
					opacity:0;
					left:-10px;
					letter-spacing: 0.1em;
					@include transition(all 300ms ease);
					@media screen and ($break-mobile) {
						font-size:3rem;
					}
				}
				&.animate {
					.menu__item {
						@include animation(nav-item-waterfall 200ms 500ms 1 steps(100) forwards);
						&:nth-child(2) {
							@include animation-delay(700ms);
						}
						&:nth-child(3) {
							@include animation-delay(900ms);
						}
						@media screen and ($break-mobile) {
							@include animation-delay(200ms);
							&:nth-child(2) {@include animation-delay(400ms);}
							&:nth-child(3) {@include animation-delay(600ms);}
						}
					}
				}
			}
		}
	}
	#logo {
		position: fixed;
		top: 10px;
		left: 10px;
		width: 50px;
		z-index:$z5 + 1;
	} 
}