//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Icons						 //
//-------------------------------//


//font icons
@font-face {
  font-family: 'FontAwesome';
  src: font-url('fontawesome-webfont.eot?v=4.6.2');
  src: font-url('fontawesome-webfont.eot?#iefix&v=4.6.2') format('embedded-opentype'), font-url('fontawesome-webfont.woff2?v=4.6.2') format('woff2'), font-url('fontawesome-webfont.woff?v=4.6.2') format('woff'), font-url('fontawesome-webfont.ttf?v=4.6.2') format('truetype'), font-url('fontawesome-webfont.svg?v=4.6.2#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
	@include icon-setup;
}
.icon--circle {
	border: 5px solid $c-font-primary;
	border-radius: 50%;
	display: inline-block;
	text-align:center;
	&::before {
		padding:2rem;
		font-size:2.5rem;
		box-sizing:border-box;
		line-height:1em;
	}
}

.icon--cart {
	@include icon("\f07a");
}
.icon--instagram {
	@include icon("\f16d");
}
.icon--facebook {
	@include icon("\f09a");
}
.icon--twitter {
	@include icon("\f099");
	margin-left:2px;
}
.icon--youtube {
	@include icon("\f167");
}
.icon--snapchat {
	@include icon("\f2ac");
}
.icon--up-arrow {
	@include icon("\f0d8");
}
.icon--down-arrow {
	@include icon("\f0d7");
}
.icon--chevron {
	@include icon("\f054");
}
.icon--mail {
	@include icon("\f0e0");
}
.icon--mail--outline {
	@include icon("\f003");
}
.icon--search {
	@include icon("\f002");
}
.icon--pin {
	@include icon("\f041");
}
.icon--dash {
	@include icon("\f068");
}
.icon--heart {
	@include icon("\f004");
}
.icon--photo {
	@include icon("\f030");
}
.icon--video {
	@include icon("\f008");
}
.icon--code {
	@include icon("\f1cb");
}
.icon--brush {
	@include icon("\f1fc");
}
.icon--arrow-right {
	@include icon("\f061");
}
.icon--eye {
	@include icon("\f06e");
}
.icon-more {
	font-size: 20px;
	font-weight: 100;
	line-height: 18px;
	@include icon("+");
	@include transition (all 300ms ease);
	&::before {line-height:1.8rem;vertical-align:top;}

	.open > &,
	&.open {
		@include transform (rotate(135deg));
	}
}

.icon--next, .icon--prev {
	@extend .icon--up-arrow;
	position:absolute;
	height:40px;
	width:40px;
	top:50%;
	margin-top:-20px;
	font-size:30px;
	z-index:$z5;
	text-align:center;
	cursor:pointer;
	color:$c-white;
	opacity:0;
	@include transition(300ms ease opacity);
	.cycle-slideshow:hover & {opacity:1;}
	// &.arrow--light {color:$c-white;}
	&.arrow--dark {color:$c-primary;}
}
.icon--next {
	@include transform(rotate(90deg));
	right:10px;
}
.icon--prev {
	@include transform(rotate(-90deg));
	left:10px;
}
.cycle-pager {
	font-size:3.2rem;
	line-height:30px;
	z-index: $z5;
	text-align:center;
	position:relative;

	span {color:$c-forms;cursor:pointer; &.cycle-pager-active {color:$c-primary;}}

	.cycle-slideshow[data-cycle-fx="carousel"] & {
		span {display:inline !important;}
	}
}

.cycle-slideshow .icon--next, .cycle-slideshow .icon--prev {display:none;}
@media screen and ($break-tablet) {
	.cycle-slideshow .icon--next, .cycle-slideshow .icon--prev {display:block;}
}

.icon--x {
	@include icon("\f00d");
	// &::before {
	// 	content:"+";
	// 	@include transform (rotate(45deg));
	// 	margin-top:-2px;
	// 	font-size:18px;
	// 	text-indent:2px;
	// 	cursor:pointer;
	// }
}


//animations
.icon--nav-anim {
	width:50px;
	height:50px;
	padding: 10px 0;
	position:relative;
	// background:#000;
	// border-radius:44%;
	background:url('../images/nav-box.svg') center center no-repeat;
	background-size:50px;
	z-index:$z5 + 1;
	cursor:pointer;
	// @include clip-path(ellipse(80% 30% at 50% 50%));

	span {
		border-top: 3.5px solid $c-white;
		width: 50%;
		left:13px;
		position: relative;
		display: block;
		// left: 50%;
		// margin-left: -16px;
		@include transition (all 250ms cubic-bezier(0, 0, 0, 1.22));

		&.anim-line-1 {top:27px;}
		&.anim-line-2 {top:14px;}
		// &.anim-line-3 {top:22px;opacity:1;}
	}

	&.open {
		span {
			&.anim-line-1 {@include transform (rotate(135deg));top: 23px;}
			&.anim-line-2 {@include transform (rotate(225deg));top: 20px;}
			// &.anim-line-3 {top:34px;opacity:0;}
		}
	}
}
// Spinning Icons
// --------------------------

.icon-spin {
  // -webkit-animation: icon-spin 2s infinite linear;
  //         animation: icon-spin 2s infinite linear;
  -webkit-animation: icon-spin 900ms infinite cubic-bezier(0.29, 0.37, 0.39, 1.02);
          animation: icon-spin 900ms infinite cubic-bezier(0.29, 0.37, 0.39, 1.02);
}

.icon-pulse {
  -webkit-animation: icon-spin 600ms infinite steps(8);
          animation: icon-spin 600ms infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-wekbit-keyframes nav-item-waterfall {
	from {
		left:-20px;
		opacity:0;
	}
	to {
		left:0;
		opacity:1;
	}
}

@keyframes nav-item-waterfall {
	from {
		left:-20px;
		opacity:0;
	}
	to {
		left:0;
		opacity:1;
	}
}

@-webkit-keyframes loading-bar {
  from {
    right:100%;
  }
  to {
    right:3%;
  }
}

@keyframes loading-bar {
  from {
    right:100%;
  }
  to {
    right:3%;
  }
}