//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Footer						 //
//-------------------------------//


#footer {
	height:100vh;
	background:$c-primary;
	padding:10vh 0;
	box-sizing:border-box;
	// position: fixed;
	// bottom: 0;
	// left: 0;
	// right: 0;
	// z-index: $z-;
	#block-block-2 {
		// @include centercontent;
		// top:auto;
		// bottom:0;
		color:$c-white;
		text-align:center;
		p {text-transform:uppercase;font-size:1.2rem;}
	}
}