//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Forms						 //
//-------------------------------//


form {
	width:360px;
	margin:0 auto;
}

label {
	position:absolute;
	top:8px;
	left:5px;
	color:$c-white;
	font-size:1rem;
	text-transform:uppercase;
}

.form-item {position:relative;}

input[type="checkbox"] + label {
	position:static;
	padding:0 10px;
	vertical-align: middle;
}

input, select, textarea {
	width:100%;
	background:none;
	border-radius:0;
	outline:none;
	box-sizing:border-box;
	margin:0;
	padding:6px 5px;
	height:32px;
	border:2px solid $c-white;
    margin-bottom:20px;
    color:$c-white;
	@include appearance (none);
	&.no-display {display:none;}
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {text-indent:70px;}
div.block-formblock .form-text {width:100%;}

select {padding:0 30px 0 10px;}

textarea {
	max-width:100%;
	height:200px;
	padding-top: 30px;
	& ~ .grippie {display:none;}
}
.form-textarea-wrapper textarea {margin-bottom:20px;}

input[type="checkbox"], //putting this outside of <form> bc not always in a <form>
input[type="radio"] {
	width:20px;
	height:20px;
	position:relative;
	cursor:pointer;
	vertical-align:middle;
	overflow:hidden;
	margin-bottom:0;
	&:checked {
		overflow:visible;
		border-color:transparent;
		&::after {
			// content: '✓';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			font: normal normal normal 14px/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content:"\f046";
			font-size:25px;
			line-height:20px;
			margin-left:-1px;
		}
	}
}
.form-type-checkbox {margin-bottom:20px;}

//ie hacks
input[type="radio"]::-ms-check {
	width:20px;
	height:20px;
	position:relative;
	cursor:pointer;
	vertical-align:middle;
	overflow:hidden;
	color:transparent;
}
input[type="radio"]:checked::-ms-check {
	overflow:visible;
	border-color:transparent;
	&::after {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font: normal normal normal 14px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content:"\f046";
		font-size:25px;
		line-height:20px;
		margin-left:-1px;
	}
}

select {
	//cant do a '::before' so mixin nav-arrow wont work
	// background-image: url('/skin/frontend/villa2/default/img/expand.svg') !important;;
	background-repeat: no-repeat !important;
	background-size: 10px 10px !important;
	background-position: calc(100% - 10px) center !important;
	&::-ms-expand {display:none;}
}