//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Global						 //
//-------------------------------//


/*
.block
.block-element
.element--modifier

.hero
.hero-btn
.btn--orange

.product
.product-price
.price--sale
*/

html {
	font-size:62.5%;
	font-family:$f-body;
}

h1, h2, h3, h4, h5 {
	margin:10px 0;
	font-family:$f-title;
	line-height:1.25em;
}

h1 {@extend .bold;font-size:2.3rem;}
h2 {font-size:2.3rem;}
h3 {font-size:2rem;}
h1, h2, h3 {text-transform:uppercase;}
h4, h5, p, li, select, input, textarea, label {font-size:1.8rem;}

@media screen and ($break-tablet) {
	h1, h2, h3, h4, h5 {margin:20px 0;}
	h1 {font-size:3.4rem;}
	h2 {font-size:3.4rem;}
	h3 {font-size:2.4rem;}
	h4, h5, button, p, li, select, input, textarea, label {font-size:1.7rem;}
}

.section-title {
	display:inline-block;
	position:relative;
	@include icon-setup();
	@include icon("\f00d");
	&::after {
		@include block;
		position:relative;
		// width: 50px;
		// border-bottom: 3px solid $c-primary;
		bottom: -20px;
		margin: 0 auto;
	}
}

p, li {text-transform:none;line-height:1.4em;}
strong, .bold {font-weight:700;}
em, .italic {font-style:italic;}
ul {
	padding:0;
	margin:0;
	list-style:none;

	&.list--bullets li {
		@include bullet-list;
	}
}

button {
	border: 1px solid $c-primary;
	font-family:$f-title;
	font-weight:700;
	font-size:1.4rem;
	background:$c-bg-btn;
	color: $c-font-secondary;
	padding:0;
	margin:0 auto;
	display:block;
	border-radius:3px;
	line-height:0.5em;
	text-transform:uppercase;
	height:50px;
	min-height:40px;
	width:100%;
	outline:none;
	@include transition(all 100ms ease);
	&:hover {
		background:$c-primary;
		color:$c-font-primary;
	}
	a {display:block;box-sizing:border-box;}
	&.button--small {
		width:150px;
		height:30px;
		min-height:30px;
	}
}

a,
a:hover,
a:visited,
a:active {
	text-decoration:none;
	color:inherit;

	&.link--highlight {color:$c-link;}
}

img {max-width:100%;vertical-align:middle;}

hr {}

iframe {border:none !important;}

address {font-style:normal;}

body {
	color:$c-font-primary;
	margin:0;
	&.logged-in.admin-menu {margin-top:0 !important;}
}
#site-main {
	background-color:$c-bg-primary;
	position:relative;
	overflow:hidden;
	&::after {
		@include block;
		background:rgba(107, 107, 107, 0.4);
		-moz-backdrop-filter:blur(10px);
		-webkit-backdrop-filter:blur(10px);
		backdrop-filter:blur(10px);
		opacity:0;
		top:0;
		right:0;
		bottom:0;
		left:0;
		visibility:hidden;
		@include transition(all 1200ms ease);
	}
	&.fade {
		&::after {opacity:1;visibility:visible;}
		#content {
			height:100vh;width:100vw;
			opacity:0.3;
			position:absolute;
			article.hero {
				position: fixed;
				z-index: $z1;
				top: 0;right: 0;bottom: 0;left: 0;
			}
		}
	}
}
.region-bottom {
	// box-sizing: border-box;
	// padding: 100px 0 0;
    background: $c-white;
}
#admin-menu {display:none !important;}

.clearfix::after {@include clearfix;}

header .messages {
	padding:10px;
	text-align:center;
	font-size:12px;
	a {text-decoration:underline;}
	&.warning, &.error {background-color:$c-notification;}
	&.status {background-color:$c-success;}
}