$width:	50%;

.opening {
	h2 {font-size:4.5rem;color:$c-white;line-height:4rem;}
	@media screen and ($break-tablet) {
		h2 {font-size:6.5rem;line-height:5.5rem;}
	}
}

.project-view {
	position: relative;
	background-color:$c-faint-white;
	min-height:400px;
	.masonry {
		// border-right:1px solid $c-bg-secondary;
		.brick {
			float:right;
			&:last-of-type {margin-bottom:0;}
			@media screen and ($break-tablet) {
				width:$width;
				&[width='1200'] {width:$width*2;}
			}
		}
		@media screen and ($break-tablet) {
			// width:60%;
		}
	}
	article {
		padding: 30px 20px;
		color:$c-font-secondary;
		box-sizing: border-box;
		&.fixed {
			position:fixed;
			// width:calc(40% - 8vh);
			right:10vh;
		}
		.project-title {color:$c-primary;margin-bottom:5px;}
		.project-title,
		.project-client {line-height:1em;}
		.project-client {
			font-size:1.6rem;font-weight:300;
			font-family:$f-body;
			margin:0;
			@media screen and ($break-mobile) {
				font-size:2rem;
			}
		}
		.hand-offs {
			color: $c-font-accent;
			font-size: 1.5rem;
			line-height: 1.8rem;		}

		button {
			margin:40px 0;
			font-size:1.2rem;
			width:auto;
			padding:12px 15px;
		}

		@media screen and ($break-tablet) {
			// position: absolute;
			// top: 0;
			// right: 0;
			// width:40%;
			padding: 50px 150px;

			.field-name-body {
				width:50%;
				float:left;
			}
			.hand-offs {
				float:right;
				width:50%;
				text-align:right;
			}
			button {margin: 35px 0 20px;}
		}
	}
}