@charset "UTF-8";
/* line 10, ../sass/layout/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 26, ../sass/layout/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 35, ../sass/layout/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 42, ../sass/layout/_normalize.scss */
[hidden] {
  display: none;
}

/* line 54, ../sass/layout/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/* line 62, ../sass/layout/_normalize.scss */
body {
  margin: 0;
}

/* line 72, ../sass/layout/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 78, ../sass/layout/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 90, ../sass/layout/_normalize.scss */
h1 {
  font-size: 2em;
}

/* line 96, ../sass/layout/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 102, ../sass/layout/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 109, ../sass/layout/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 115, ../sass/layout/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 122, ../sass/layout/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 132, ../sass/layout/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 140, ../sass/layout/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 148, ../sass/layout/_normalize.scss */
small {
  font-size: 80%;
}

/* line 154, ../sass/layout/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 162, ../sass/layout/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 166, ../sass/layout/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 176, ../sass/layout/_normalize.scss */
img {
  border: 0;
}

/* line 182, ../sass/layout/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 192, ../sass/layout/_normalize.scss */
figure {
  margin: 0;
}

/* line 202, ../sass/layout/_normalize.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 214, ../sass/layout/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 223, ../sass/layout/_normalize.scss */
button, #block-formblock-contact-site form #edit-submit,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* line 235, ../sass/layout/_normalize.scss */
button, #block-formblock-contact-site form #edit-submit,
input {
  line-height: normal;
}

/* line 246, ../sass/layout/_normalize.scss */
button, #block-formblock-contact-site form #edit-submit,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* line 256, ../sass/layout/_normalize.scss */
button[disabled], #block-formblock-contact-site form [disabled]#edit-submit,
input[disabled] {
  cursor: default;
}

/* line 264, ../sass/layout/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 274, ../sass/layout/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 284, ../sass/layout/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 291, ../sass/layout/_normalize.scss */
button::-moz-focus-inner, #block-formblock-contact-site form #edit-submit::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 300, ../sass/layout/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 311, ../sass/layout/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
.block
.block-element
.element--modifier

.hero
.hero-btn
.btn--orange

.product
.product-price
.price--sale
*/
/* line 30, ../sass/layout/_global.scss */
html {
  font-size: 62.5%;
  font-family: "Mukta Vaani";
}

/* line 35, ../sass/layout/_global.scss */
h1, h2, h3, h4, h5 {
  margin: 10px 0;
  font-family: "Poppins";
  line-height: 1.25em;
}

/* line 41, ../sass/layout/_global.scss */
h1 {
  font-size: 2.3rem;
}

/* line 42, ../sass/layout/_global.scss */
h2 {
  font-size: 2.3rem;
}

/* line 43, ../sass/layout/_global.scss */
h3 {
  font-size: 2rem;
}

/* line 44, ../sass/layout/_global.scss */
h1, h2, h3 {
  text-transform: uppercase;
}

/* line 45, ../sass/layout/_global.scss */
h4, h5, p, li, select, input, textarea, label {
  font-size: 1.8rem;
}

@media screen and (min-width: 760px) {
  /* line 48, ../sass/layout/_global.scss */
  h1, h2, h3, h4, h5 {
    margin: 20px 0;
  }

  /* line 49, ../sass/layout/_global.scss */
  h1 {
    font-size: 3.4rem;
  }

  /* line 50, ../sass/layout/_global.scss */
  h2 {
    font-size: 3.4rem;
  }

  /* line 51, ../sass/layout/_global.scss */
  h3 {
    font-size: 2.4rem;
  }

  /* line 52, ../sass/layout/_global.scss */
  h4, h5, button, #block-formblock-contact-site form #edit-submit, p, li, select, input, textarea, label {
    font-size: 1.7rem;
  }
}
/* line 55, ../sass/layout/_global.scss */
.section-title {
  display: inline-block;
  position: relative;
}
/* line 82, ../sass/_mixins.scss */
.section-title::before {
  display: inline-block;
  content: '';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* line 96, ../sass/_mixins.scss */
.section-title::before {
  content: "";
}
/* line 60, ../sass/layout/_global.scss */
.section-title::after {
  display: block;
  content: '';
  position: absolute;
  position: relative;
  bottom: -20px;
  margin: 0 auto;
}

/* line 70, ../sass/layout/_global.scss */
p, li {
  text-transform: none;
  line-height: 1.4em;
}

/* line 71, ../sass/layout/_global.scss */
strong, .bold, h1, #site-header .region-navigation #block-menu-block-1 .menu-block-1 {
  font-weight: 700;
}

/* line 72, ../sass/layout/_global.scss */
em, .italic {
  font-style: italic;
}

/* line 73, ../sass/layout/_global.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 78, ../sass/layout/_global.scss */
ul.list--bullets li {
  padding: 4px 0;
  list-style: disc;
  margin-left: 25px;
}

/* line 83, ../sass/layout/_global.scss */
button, #block-formblock-contact-site form #edit-submit {
  border: 1px solid #1a1a1a;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.4rem;
  background: #f9f9f9;
  color: #4e4c4b;
  padding: 0;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  line-height: 0.5em;
  text-transform: uppercase;
  height: 50px;
  min-height: 40px;
  width: 100%;
  outline: none;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}
/* line 101, ../sass/layout/_global.scss */
button:hover, #block-formblock-contact-site form #edit-submit:hover {
  background: #1a1a1a;
  color: #f5f5f5;
}
/* line 105, ../sass/layout/_global.scss */
button a, #block-formblock-contact-site form #edit-submit a {
  display: block;
  box-sizing: border-box;
}
/* line 106, ../sass/layout/_global.scss */
button.button--small, #block-formblock-contact-site form #edit-submit {
  width: 150px;
  height: 30px;
  min-height: 30px;
}

/* line 113, ../sass/layout/_global.scss */
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
/* line 120, ../sass/layout/_global.scss */
a.link--highlight,
a:hover.link--highlight,
a:visited.link--highlight,
a:active.link--highlight {
  color: #96794e;
}

/* line 123, ../sass/layout/_global.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* line 127, ../sass/layout/_global.scss */
iframe {
  border: none !important;
}

/* line 129, ../sass/layout/_global.scss */
address {
  font-style: normal;
}

/* line 131, ../sass/layout/_global.scss */
body {
  color: #f5f5f5;
  margin: 0;
}
/* line 134, ../sass/layout/_global.scss */
body.logged-in.admin-menu {
  margin-top: 0 !important;
}

/* line 136, ../sass/layout/_global.scss */
#site-main {
  background-color: #000;
  position: relative;
  overflow: hidden;
}
/* line 140, ../sass/layout/_global.scss */
#site-main::after {
  display: block;
  content: '';
  position: absolute;
  background: rgba(107, 107, 107, 0.4);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -moz-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  -webkit-transition: all 1200ms ease;
  transition: all 1200ms ease;
}
/* line 155, ../sass/layout/_global.scss */
#site-main.fade::after {
  opacity: 1;
  visibility: visible;
}
/* line 156, ../sass/layout/_global.scss */
#site-main.fade #content {
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  position: absolute;
}
/* line 160, ../sass/layout/_global.scss */
#site-main.fade #content article.hero {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 168, ../sass/layout/_global.scss */
.region-bottom {
  background: #f5f5f5;
}

/* line 173, ../sass/layout/_global.scss */
#admin-menu {
  display: none !important;
}

/* line 175, ../sass/layout/_global.scss */
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

/* line 177, ../sass/layout/_global.scss */
header .messages {
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
/* line 181, ../sass/layout/_global.scss */
header .messages a {
  text-decoration: underline;
}
/* line 182, ../sass/layout/_global.scss */
header .messages.warning, header .messages.error {
  background-color: #ee2740;
}
/* line 183, ../sass/layout/_global.scss */
header .messages.status {
  background-color: #54db63;
}

/* line 16, ../sass/layout/_header.scss */
#site-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
/* line 21, ../sass/layout/_header.scss */
#site-header .region-header {
  background: #1a1a1a;
  padding: 4px 10px;
  display: block;
  content: '';
  clear: both;
}
/* line 25, ../sass/layout/_header.scss */
#site-header .region-header #block-system-user-menu {
  float: right;
}
/* line 27, ../sass/layout/_header.scss */
#site-header .region-header #block-system-user-menu li {
  display: inline;
  padding: 0 6px;
  line-height: 0.5rem;
  font-size: 0.5rem;
  vertical-align: middle;
}
/* line 33, ../sass/layout/_header.scss */
#site-header .region-header #block-system-user-menu li:last-child {
  padding-right: 0;
}
/* line 34, ../sass/layout/_header.scss */
#site-header .region-header #block-system-user-menu li a {
  color: #f5f5f5;
  text-transform: uppercase;
}
/* line 42, ../sass/layout/_header.scss */
#site-header .region-navigation {
  position: fixed;
  top: -3px;
  right: 10px;
  z-index: 500;
}
/* line 48, ../sass/layout/_header.scss */
#site-header .region-navigation #block-search-form .icon--search {
  color: #f5f5f5;
  font-size: 1.4rem;
  padding: 10px;
  display: block;
  margin-top: -3px;
}
/* line 55, ../sass/layout/_header.scss */
#site-header .region-navigation #block-search-form #search-block-form {
  display: none;
}
/* line 58, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1 {
  font-family: "Poppins";
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -25vw;
  z-index: 500;
  background: #1a1a1a url("/sites/default/files/menu-desk.jpg") no-repeat;
  background-size: contain;
  -moz-transition: all 300ms ease, opacity 600ms ease;
  -o-transition: all 300ms ease, opacity 600ms ease;
  -webkit-transition: all 300ms ease, opacity 600ms ease;
  transition: all 300ms ease, opacity 600ms ease;
}
/* line 72, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1.open {
  right: 0;
  opacity: 1;
  visibility: visible;
}
/* line 76, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1.open::after {
  opacity: 1;
}
@media screen and (min-width: 760px) {
  /* line 58, ../sass/layout/_header.scss */
  #site-header .region-navigation #block-menu-block-1 .menu-block-1 {
    background-size: cover;
  }
}
/* line 81, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(26, 26, 26, 0.85);
  opacity: 0;
  -moz-transition: opacity 900ms cubic-bezier(0.28, -0.03, 0.88, 1.14);
  -o-transition: opacity 900ms cubic-bezier(0.28, -0.03, 0.88, 1.14);
  -webkit-transition: opacity 900ms cubic-bezier(0.28, -0.03, 0.88, 1.14);
  transition: opacity 900ms cubic-bezier(0.28, -0.03, 0.88, 1.14);
}
@media screen and (max-width: 760px) {
  /* line 81, ../sass/layout/_header.scss */
  #site-header .region-navigation #block-menu-block-1 .menu-block-1::after {
    display: none;
  }
}
/* line 94, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1 ul.menu {
  margin-top: 25vh;
  position: relative;
  z-index: 1;
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 94, ../sass/layout/_header.scss */
  #site-header .region-navigation #block-menu-block-1 .menu-block-1 ul.menu {
    margin-top: 45vh;
  }
}
/* line 103, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1 .menu__item {
  text-transform: uppercase;
  padding: 20px 60px;
  margin: 0 10px;
  font-size: 5rem;
  color: #f5f5f5;
  position: relative;
  opacity: 0;
  left: -10px;
  letter-spacing: 0.1em;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
@media screen and (max-width: 760px) {
  /* line 103, ../sass/layout/_header.scss */
  #site-header .region-navigation #block-menu-block-1 .menu-block-1 .menu__item {
    font-size: 3rem;
  }
}
/* line 119, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1.animate .menu__item {
  -moz-animation: nav-item-waterfall 200ms 500ms 1 steps(100) forwards;
  -webkit-animation: nav-item-waterfall 200ms 500ms 1 steps(100) forwards;
  animation: nav-item-waterfall 200ms 500ms 1 steps(100) forwards;
}
/* line 121, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1.animate .menu__item:nth-child(2) {
  -moz-animation-delay: 700ms;
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
/* line 124, ../sass/layout/_header.scss */
#site-header .region-navigation #block-menu-block-1 .menu-block-1.animate .menu__item:nth-child(3) {
  -moz-animation-delay: 900ms;
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
@media screen and (max-width: 760px) {
  /* line 119, ../sass/layout/_header.scss */
  #site-header .region-navigation #block-menu-block-1 .menu-block-1.animate .menu__item {
    -moz-animation-delay: 200ms;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
  }
  /* line 129, ../sass/layout/_header.scss */
  #site-header .region-navigation #block-menu-block-1 .menu-block-1.animate .menu__item:nth-child(2) {
    -moz-animation-delay: 400ms;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
  }
  /* line 130, ../sass/layout/_header.scss */
  #site-header .region-navigation #block-menu-block-1 .menu-block-1.animate .menu__item:nth-child(3) {
    -moz-animation-delay: 600ms;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
  }
}
/* line 137, ../sass/layout/_header.scss */
#site-header #logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  z-index: 501;
}

/* line 16, ../sass/layout/_footer.scss */
#footer {
  height: 100vh;
  background: #1a1a1a;
  padding: 10vh 0;
  box-sizing: border-box;
}
/* line 26, ../sass/layout/_footer.scss */
#footer #block-block-2 {
  color: #f5f5f5;
  text-align: center;
}
/* line 32, ../sass/layout/_footer.scss */
#footer #block-block-2 p {
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* line 16, ../sass/layout/_blocks.scss */
.hero {
  height: 100vh;
  background: center top no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
/* line 23, ../sass/layout/_blocks.scss */
.front .hero::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.45)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
}
@media screen and (min-width: 760px) {
  /* line 16, ../sass/layout/_blocks.scss */
  .hero {
    background-attachment: fixed;
  }
}

/* line 39, ../sass/layout/_blocks.scss */
.opening .bg-color {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 45, ../sass/layout/_blocks.scss */
.opening .bg-color img {
  display: none;
}

/* line 50, ../sass/layout/_blocks.scss */
.title {
  font-size: 68px;
  color: #f5f5f5;
  text-align: center;
  z-index: 1;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 57, ../sass/layout/_blocks.scss */
.title h1 {
  font-size: 4.5rem;
}
/* line 58, ../sass/layout/_blocks.scss */
.title h2 {
  font-size: 2rem;
  color: #4e4c4b;
  margin: 50px 0;
}
/* line 64, ../sass/layout/_blocks.scss */
.title img {
  width: 100%;
}
@media screen and (min-width: 760px) {
  /* line 50, ../sass/layout/_blocks.scss */
  .title {
    width: auto;
  }
}

/* line 72, ../sass/layout/_blocks.scss */
.services {
  margin: 0 auto;
  padding: 50px 0;
}
/* line 75, ../sass/layout/_blocks.scss */
.services .service {
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
}
/* line 79, ../sass/layout/_blocks.scss */
.services .service .icon--circle::before {
  font-size: 3.5rem;
}
/* line 80, ../sass/layout/_blocks.scss */
.services .service h3 {
  margin: 30px 0 0;
}
@media screen and (min-width: 760px) {
  /* line 72, ../sass/layout/_blocks.scss */
  .services {
    display: flex;
    justify-content: center;
  }
  /* line 85, ../sass/layout/_blocks.scss */
  .services .service {
    width: 33.33333%;
    max-width: 335px;
  }
}

/* line 92, ../sass/layout/_blocks.scss */
.work {
  text-align: center;
  padding: 50px 0;
}
/* line 98, ../sass/layout/_blocks.scss */
.work .block-title {
  color: #f5f5f5;
}
/* line 103, ../sass/layout/_blocks.scss */
.work .block--featured > .view-feature-projects {
  min-height: 450px;
}
@media screen and (max-width: 760px) {
  /* line 105, ../sass/layout/_blocks.scss */
  .work .block--featured .cycle-pager {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/* line 213, ../sass/layout/_blocks.scss */
.project {
  width: 100%;
  padding: calc((100% - 320px) / 2);
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: top;
}
@media screen and (min-width: 760px) {
  /* line 213, ../sass/layout/_blocks.scss */
  .project {
    width: 320px;
    margin: 40px 20px;
    transition: all 300ms ease;
    padding: 0;
  }
  /* line 230, ../sass/layout/_blocks.scss */
  .project:hover {
    transform: scale(1.05);
  }
  /* line 233, ../sass/layout/_blocks.scss */
  .project:hover .teaser2 figcaption .icon--eye {
    opacity: 1;
  }
}
/* line 239, ../sass/layout/_blocks.scss */
.view-display-id-page_1 .project {
  margin-bottom: 50px;
}
/* line 244, ../sass/layout/_blocks.scss */
.project .teaser2 figcaption {
  text-align: left;
  background: #000;
  padding: 15px 0px 25px;
  box-sizing: border-box;
  color: #f5f5f5;
}
/* line 250, ../sass/layout/_blocks.scss */
.project .teaser2 figcaption h3, .project .teaser2 figcaption h4 {
  margin: 0;
  text-transform: uppercase;
}
/* line 254, ../sass/layout/_blocks.scss */
.project .teaser2 figcaption h3 {
  line-height: 2rem;
  margin: 5px 0;
}
/* line 258, ../sass/layout/_blocks.scss */
.project .teaser2 figcaption h4 {
  font-weight: 300;
  font-family: "Mukta Vaani";
}
/* line 259, ../sass/layout/_blocks.scss */
.project .teaser2 figcaption p {
  display: none;
  color: #8a8a8a;
}
/* line 260, ../sass/layout/_blocks.scss */
.project .teaser2 figcaption .icon--eye {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.765);
  padding: 30%;
  text-align: center;
  color: #f5f5f5;
  font-size: 3rem;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

/* line 279, ../sass/layout/_blocks.scss */
#block-formblock-contact-site h2 {
  text-align: center;
}

/* line 290, ../sass/layout/_blocks.scss */
.project-card {
  position: relative;
  z-index: 500;
  top: 100vh;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 40px #333;
  background: #f9f9f9;
  opacity: 0;
  visibility: hidden;
  -moz-transition: top 1200ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 200ms ease, visibility 300ms ease;
  -o-transition: top 1200ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 200ms ease, visibility 300ms ease;
  -webkit-transition: top 1200ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 200ms ease, visibility 300ms ease;
  transition: top 1200ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 200ms ease, visibility 300ms ease;
}
/* line 302, ../sass/layout/_blocks.scss */
.project-card.show {
  opacity: 1;
  visibility: visible;
  top: 0;
  margin-top: 15vh;
  position: relative;
}
/* line 309, ../sass/layout/_blocks.scss */
.project-card::before {
  display: block;
  content: '';
  position: absolute;
  top: -25px;
  right: 5px;
  font-size: 24px !important;
  cursor: pointer;
}
/* line 324, ../sass/layout/_blocks.scss */
.project-card .hero {
  background-attachment: scroll;
  height: 70vh;
  background-position: center 50%;
}
@media screen and (min-width: 760px) {
  /* line 329, ../sass/layout/_blocks.scss */
  .project-card.show {
    margin: 10vh 18vh 0;
  }
}

/* line 333, ../sass/layout/_blocks.scss */
.data-fading-block {
  opacity: 0;
  position: relative;
  top: 25px;
}
/* line 337, ../sass/layout/_blocks.scss */
.data-fading-block.fade-in {
  opacity: 1;
  top: 0;
  -moz-transition: top 800ms ease, opacity 1600ms ease;
  -o-transition: top 800ms ease, opacity 1600ms ease;
  -webkit-transition: top 800ms ease, opacity 1600ms ease;
  transition: top 800ms ease, opacity 1600ms ease;
}

/* line 16, ../sass/layout/_forms.scss */
form {
  width: 360px;
  margin: 0 auto;
}

/* line 21, ../sass/layout/_forms.scss */
label {
  position: absolute;
  top: 8px;
  left: 5px;
  color: #f5f5f5;
  font-size: 1rem;
  text-transform: uppercase;
}

/* line 30, ../sass/layout/_forms.scss */
.form-item {
  position: relative;
}

/* line 32, ../sass/layout/_forms.scss */
input[type="checkbox"] + label {
  position: static;
  padding: 0 10px;
  vertical-align: middle;
}

/* line 38, ../sass/layout/_forms.scss */
input, select, textarea {
  width: 100%;
  background: none;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 5px;
  height: 32px;
  border: 2px solid #f5f5f5;
  margin-bottom: 20px;
  color: #f5f5f5;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 51, ../sass/layout/_forms.scss */
input.no-display, select.no-display, textarea.no-display {
  display: none;
}

/* line 54, ../sass/layout/_forms.scss */
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
  text-indent: 70px;
}

/* line 55, ../sass/layout/_forms.scss */
div.block-formblock .form-text {
  width: 100%;
}

/* line 57, ../sass/layout/_forms.scss */
select {
  padding: 0 30px 0 10px;
}

/* line 59, ../sass/layout/_forms.scss */
textarea {
  max-width: 100%;
  height: 200px;
  padding-top: 30px;
}
/* line 63, ../sass/layout/_forms.scss */
textarea ~ .grippie {
  display: none;
}

/* line 65, ../sass/layout/_forms.scss */
.form-textarea-wrapper textarea {
  margin-bottom: 20px;
}

/* line 67, ../sass/layout/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 0;
}
/* line 76, ../sass/layout/_forms.scss */
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  overflow: visible;
  border-color: transparent;
}
/* line 79, ../sass/layout/_forms.scss */
input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f046";
  font-size: 25px;
  line-height: 20px;
  margin-left: -1px;
}

/* line 98, ../sass/layout/_forms.scss */
.form-type-checkbox {
  margin-bottom: 20px;
}

/* line 101, ../sass/layout/_forms.scss */
input[type="radio"]::-ms-check {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  color: transparent;
}

/* line 110, ../sass/layout/_forms.scss */
input[type="radio"]:checked::-ms-check {
  overflow: visible;
  border-color: transparent;
}
/* line 113, ../sass/layout/_forms.scss */
input[type="radio"]:checked::-ms-check::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f046";
  font-size: 25px;
  line-height: 20px;
  margin-left: -1px;
}

/* line 131, ../sass/layout/_forms.scss */
select {
  background-repeat: no-repeat !important;
  background-size: 10px 10px !important;
  background-position: calc(100% - 10px) center !important;
}
/* line 137, ../sass/layout/_forms.scss */
select::-ms-expand {
  display: none;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.6.2&1482439834');
  src: url('../font/fontawesome-webfont.eot?&1482439834#iefix&v=4.6.2') format("embedded-opentype"), url('../font/fontawesome-webfont.woff2?v=4.6.2&1482439834') format("woff2"), url('../font/fontawesome-webfont.woff?v=4.6.2&1482439834') format("woff"), url('../font/fontawesome-webfont.ttf?v=4.6.2&1482439834') format("truetype"), url('../font/fontawesome-webfont.svg?v=4.6.2&1482439834#fontawesomeregular') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 82, ../sass/_mixins.scss */
.icon::before, .project-card::before {
  display: inline-block;
  content: '';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* line 28, ../sass/widgets/_icons.scss */
.icon--circle {
  border: 5px solid #f5f5f5;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
/* line 33, ../sass/widgets/_icons.scss */
.icon--circle::before {
  padding: 2rem;
  font-size: 2.5rem;
  box-sizing: border-box;
  line-height: 1em;
}

/* line 96, ../sass/_mixins.scss */
.icon--cart::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--instagram::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--facebook::before {
  content: "";
}

/* line 50, ../sass/widgets/_icons.scss */
.icon--twitter {
  margin-left: 2px;
}
/* line 96, ../sass/_mixins.scss */
.icon--twitter::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--youtube::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--snapchat::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--up-arrow::before, .icon--next::before, .icon--prev::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--down-arrow::before, .project-card::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--chevron::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--mail::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--mail--outline::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--search::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--pin::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--dash::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--heart::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--photo::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--video::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--code::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--brush::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--arrow-right::before {
  content: "";
}

/* line 96, ../sass/_mixins.scss */
.icon--eye::before {
  content: "";
}

/* line 105, ../sass/widgets/_icons.scss */
.icon-more {
  font-size: 20px;
  font-weight: 100;
  line-height: 18px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 96, ../sass/_mixins.scss */
.icon-more::before {
  content: "+";
}
/* line 111, ../sass/widgets/_icons.scss */
.icon-more::before {
  line-height: 1.8rem;
  vertical-align: top;
}
/* line 113, ../sass/widgets/_icons.scss */
.open > .icon-more, .icon-more.open {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 119, ../sass/widgets/_icons.scss */
.icon--next, .icon--prev {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  margin-top: -20px;
  font-size: 30px;
  z-index: 500;
  text-align: center;
  cursor: pointer;
  color: #f5f5f5;
  opacity: 0;
  -moz-transition: ease 300ms opacity;
  -o-transition: ease 300ms opacity;
  -webkit-transition: ease 300ms opacity;
  transition: ease 300ms opacity;
}
/* line 133, ../sass/widgets/_icons.scss */
.cycle-slideshow:hover .icon--next, .cycle-slideshow:hover .icon--prev {
  opacity: 1;
}
/* line 135, ../sass/widgets/_icons.scss */
.icon--next.arrow--dark, .icon--prev.arrow--dark {
  color: #1a1a1a;
}

/* line 137, ../sass/widgets/_icons.scss */
.icon--next {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 10px;
}

/* line 141, ../sass/widgets/_icons.scss */
.icon--prev {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: 10px;
}

/* line 145, ../sass/widgets/_icons.scss */
.cycle-pager {
  font-size: 3.2rem;
  line-height: 30px;
  z-index: 500;
  text-align: center;
  position: relative;
}
/* line 152, ../sass/widgets/_icons.scss */
.cycle-pager span {
  color: #d2d2d2;
  cursor: pointer;
}
/* line 152, ../sass/widgets/_icons.scss */
.cycle-pager span.cycle-pager-active {
  color: #1a1a1a;
}
/* line 155, ../sass/widgets/_icons.scss */
.cycle-slideshow[data-cycle-fx="carousel"] .cycle-pager span {
  display: inline !important;
}

/* line 159, ../sass/widgets/_icons.scss */
.cycle-slideshow .icon--next, .cycle-slideshow .icon--prev {
  display: none;
}

@media screen and (min-width: 760px) {
  /* line 161, ../sass/widgets/_icons.scss */
  .cycle-slideshow .icon--next, .cycle-slideshow .icon--prev {
    display: block;
  }
}
/* line 96, ../sass/_mixins.scss */
.icon--x::before {
  content: "";
}

/* line 178, ../sass/widgets/_icons.scss */
.icon--nav-anim {
  width: 50px;
  height: 50px;
  padding: 10px 0;
  position: relative;
  background: url("../images/nav-box.svg") center center no-repeat;
  background-size: 50px;
  z-index: 501;
  cursor: pointer;
}
/* line 191, ../sass/widgets/_icons.scss */
.icon--nav-anim span {
  border-top: 3.5px solid #f5f5f5;
  width: 50%;
  left: 13px;
  position: relative;
  display: block;
  -moz-transition: all 250ms cubic-bezier(0, 0, 0, 1.22);
  -o-transition: all 250ms cubic-bezier(0, 0, 0, 1.22);
  -webkit-transition: all 250ms cubic-bezier(0, 0, 0, 1.22);
  transition: all 250ms cubic-bezier(0, 0, 0, 1.22);
}
/* line 201, ../sass/widgets/_icons.scss */
.icon--nav-anim span.anim-line-1 {
  top: 27px;
}
/* line 202, ../sass/widgets/_icons.scss */
.icon--nav-anim span.anim-line-2 {
  top: 14px;
}
/* line 208, ../sass/widgets/_icons.scss */
.icon--nav-anim.open span.anim-line-1 {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 23px;
}
/* line 209, ../sass/widgets/_icons.scss */
.icon--nav-anim.open span.anim-line-2 {
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 20px;
}

/* line 217, ../sass/widgets/_icons.scss */
.icon-spin {
  -webkit-animation: icon-spin 900ms infinite cubic-bezier(0.29, 0.37, 0.39, 1.02);
  animation: icon-spin 900ms infinite cubic-bezier(0.29, 0.37, 0.39, 1.02);
}

/* line 224, ../sass/widgets/_icons.scss */
.icon-pulse {
  -webkit-animation: icon-spin 600ms infinite steps(8);
  animation: icon-spin 600ms infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-wekbit-keyframes nav-item-waterfall {
  from {
    left: -20px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes nav-item-waterfall {
  from {
    left: -20px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes loading-bar {
  from {
    right: 100%;
  }
  to {
    right: 3%;
  }
}
@keyframes loading-bar {
  from {
    right: 100%;
  }
  to {
    right: 3%;
  }
}
/* line 21, ../sass/pages/_cms.scss */
body.not-front main#content {
  padding: 75px 25px;
}
/* line 24, ../sass/pages/_cms.scss */
body.not-front h1 {
  color: #f5f5f5;
  margin-bottom: 50px;
}

/* line 28, ../sass/pages/_cms.scss */
body.page-stories main#content {
  text-align: center;
  min-height: 100vh;
}

/* line 4, ../sass/pages/_project-view.scss */
.opening h2 {
  font-size: 4.5rem;
  color: #f5f5f5;
  line-height: 4rem;
}
@media screen and (min-width: 760px) {
  /* line 6, ../sass/pages/_project-view.scss */
  .opening h2 {
    font-size: 6.5rem;
    line-height: 5.5rem;
  }
}

/* line 10, ../sass/pages/_project-view.scss */
.project-view {
  position: relative;
  background-color: #f9f9f9;
  min-height: 400px;
}
/* line 16, ../sass/pages/_project-view.scss */
.project-view .masonry .brick {
  float: right;
}
/* line 18, ../sass/pages/_project-view.scss */
.project-view .masonry .brick:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 760px) {
  /* line 16, ../sass/pages/_project-view.scss */
  .project-view .masonry .brick {
    width: 50%;
  }
  /* line 21, ../sass/pages/_project-view.scss */
  .project-view .masonry .brick[width='1200'] {
    width: 100%;
  }
}
/* line 28, ../sass/pages/_project-view.scss */
.project-view article {
  padding: 30px 20px;
  color: #4e4c4b;
  box-sizing: border-box;
}
/* line 32, ../sass/pages/_project-view.scss */
.project-view article.fixed {
  position: fixed;
  right: 10vh;
}
/* line 37, ../sass/pages/_project-view.scss */
.project-view article .project-title {
  color: #1a1a1a;
  margin-bottom: 5px;
}
/* line 38, ../sass/pages/_project-view.scss */
.project-view article .project-title,
.project-view article .project-client {
  line-height: 1em;
}
/* line 40, ../sass/pages/_project-view.scss */
.project-view article .project-client {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Mukta Vaani";
  margin: 0;
}
@media screen and (max-width: 760px) {
  /* line 40, ../sass/pages/_project-view.scss */
  .project-view article .project-client {
    font-size: 2rem;
  }
}
/* line 48, ../sass/pages/_project-view.scss */
.project-view article .hand-offs {
  color: #8a8a8a;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
/* line 53, ../sass/pages/_project-view.scss */
.project-view article button, .project-view article #block-formblock-contact-site form #edit-submit, #block-formblock-contact-site form .project-view article #edit-submit {
  margin: 40px 0;
  font-size: 1.2rem;
  width: auto;
  padding: 12px 15px;
}
@media screen and (min-width: 760px) {
  /* line 28, ../sass/pages/_project-view.scss */
  .project-view article {
    padding: 50px 150px;
  }
  /* line 67, ../sass/pages/_project-view.scss */
  .project-view article .field-name-body {
    width: 50%;
    float: left;
  }
  /* line 71, ../sass/pages/_project-view.scss */
  .project-view article .hand-offs {
    float: right;
    width: 50%;
    text-align: right;
  }
  /* line 76, ../sass/pages/_project-view.scss */
  .project-view article button, .project-view article #block-formblock-contact-site form #edit-submit, #block-formblock-contact-site form .project-view article #edit-submit {
    margin: 35px 0 20px;
  }
}
