//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Layout breaks				 //
//-------------------------------//


$break-desktop:	'min-width:1000px';
$break-tablet: 'min-width:760px';
$break-mobile: 'max-width:760px';