//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Mixins						 //
//-------------------------------//


//includes
@mixin bullet-list {
	padding: 4px 0;
	list-style: disc;
	margin-left:25px;
}

@mixin clearfix {
	display:block;
	content:'';
	clear:both;
}

@mixin centerimage {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}

@mixin centercontent {
	position:absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%, -50%));
}

@mixin verticalcenter {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	text-align:center;
	@include transform(translate(0, -50%));
}

@mixin clip-path($clip) {
	-webkit-clip-path: $clip;
	-moz-clip-path: $clip;
	-ms-clip-path: $clip;
	clip-path: $clip;
}

@mixin float-box {
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
}

@mixin block {
	display:block;
	content:'';
	position:absolute;
}

@mixin transitionflow($item) {
	@include transition($item 500ms ease);
}

@mixin noscrollbar {
	&::-webkit-scrollbar {width: 0 !important}
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

@mixin icon-setup {
	&::before {
		display: inline-block;
		content:'';
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-repeat:no-repeat;
		background-size:100%;
	}
}

@mixin icon($icon) {
	&::before {content:$icon;}
}

@mixin nav-arrow {
	@include icon-setup;
	@include icon('\f0d7');
	&::before {float:right;}
	&.open {@include icon('\f0d8');}
}