//          ) (   (        (   	 //
//    (  ( /( )\ ))\ )     )\ )  //
//  ( )\ )\()|()/(()/( (  (()/(  //
//  )((_|(_)\ /(_))(_)))\  /(_)) //
// ((_)_  ((_|_))(_)) ((_)(_))	 //
//  | _ )/ _ \_ _| |  | __| _ \	 //
//  | _ \ (_) | || |__| _||   /	 //
//  |___/\___/___|____|___|_|_\	 //
//					TAILORD		 //
//								 //
//-------------------------------//
// Vars							 //
//-------------------------------//


//FONTS
$f-helv:			'Helvetica';
$f-body:			'Mukta Vaani';
$f-title:			'Poppins';
$f-family:			$f-body, $f-helv, arial, sans-serif;
// $f-italic:		$f-grey--italic, $f-helv, arial, sans-serif;
// $f-bold:			$f-grey--bold, $f-helv, arial, sans-serif;
// $f-nav:				$f-osw, $f-family;
$f-base:			16px;
$f-forms:			1.2rem;


//COLORS
$c-white:			#f5f5f5;
$c-off-white:		#f1f1f1;
$c-faint-white:		#f9f9f9;
$c-black:			#1a1a1a;
$c-gray:			#4e4c4b;
$c-lt-gray:			#8a8a8a;
$c-faint-gray:		#d2d2d2;
$c-gold:			#8c724d;
$c-red:				#ee2740;
$c-bronze:			#96794e;
$c-gold:			#e1b97f;
$c-green:			#54db63;
$c-primary:			$c-black;
$c-secondary:		$c-lt-gray;
//fonts
$c-font-primary:	$c-white;
$c-font-secondary:	$c-gray;
$c-font-accent:		$c-lt-gray;
$c-form--required:	$c-lt-gray;
$c-link:			$c-bronze;
$c-error:			$c-red;
$c-btn:				$c-white;
//backgrounds
$c-bg-primary:		#000;
$c-bg-secondary:	$c-white;
$c-bg-header:		$c-primary;
$c-bg-rows:			$c-faint-white;
$c-bg-btn:			$c-faint-white;
//elements
$c-success:			$c-green;
$c-new:				$c-gold;
$c-forms:			$c-faint-gray;
$c-notification:	$c-red;
$c-sale:			$c-red;
$c-action:			$c-red;
$c-msg:				$c-white;


//BLOCKS
$hero-height:		50vw;


//LAYERS
$z-:		-1;
$z1:		1;
$z2:		2;
$z3:		3;
$z4:		4;
$z5:		500;
$z9:		999;