// Styles for all pages

html {
	height:100%;
	min-height:100%;
}
body {
	overflow:hidden;
	background-color:$offwhite;
	height:100%;
}

h1 {
	font-weight:200;
}
h2 {
	line-height:1.5rem;
	&.header__site-name {
		font-size:1.5em;
		&:hover,
		&:focus {
			text-decoration:none;
		}
	}
}
h3 {
	font-weight:normal;
	font-size:22px;
}
h1, h2, h3 {text-transform:uppercase;font-weight:400;}

a {color:$ltgray;}

#page {
	overflow:hidden;
	height:calc(100% - #{$nav-height});
}

#main,
#content,
.view-gallery,
.view-gallery .views-row,
.view-gallery article,
.view-gallery .content,
.view-gallery figure,
.view-gallery .field-type-image,
.view-gallery .field-type-image .field-items,
.view-gallery .field-type-image .field-item {height:100%;}

.view-id-gallery.view-display-id-page {

	.views-row {
		width:100%;
		height:100%;
		overflow:hidden;

		.node-portfolio-piece {

			.field-name-field-photo {
				// -webkit-transition: width 300ms ease;
				// -moz-transition: width 300ms ease;
				// transition: width 300ms ease;
				
				// text-align:center;
				&::after {
					// to block easy 'open image' click
					// @include block;
					// top:0;
					// right:0;
					// bottom:0;
					// left:0;
				}	
			}
			figure {text-align:center;}
			img {
				// max-width:auto;
				width:auto;
				height:100%;
				position:relative;
				left:50%;
				margin-left:-100%;
				max-width:initial;
				// @include transition(margin 300ms ease);
			}

			figcaption {
				text-align:left;
				position:absolute;
				top:0;
				right:-40%;
				background:#fff;
				width:40%;
				height:100%;
				padding:100px 40px;
				box-sizing:border-box;
				@include transition(right 450ms ease-out);
				display:block;

				// for extra fields
				.field-name-field-location,
				.field-name-field-photo-date {
					font-size:10px;
					line-height:1em;
					font-family:Verdana, $raleway;
				}
			}
		}
	}

	&.open {
		right:0;

		// .field-name-field-photo img {margin-left:-40% !important;}

		.views-row .node-portfolio-piece figcaption {right:0;}
	}

	#next, #prev {
		position: absolute;
		top: 50%;
		margin-top:-20px;
		right: 3%;
		width: 40px;
		height: 40px;
		z-index: 101;
		cursor:pointer;
		background: url(/sites/all/themes/rios/images/arrow-white.svg) no-repeat 11px 9px;
		background-size: 22px;
		@include transition (background-position 100ms ease);
		@include filter (drop-shadow(0 0 5px rgba(100,100,100,0.75)));
		&:hover {
			background-position: 15px 9px;
		}
	}

	#prev {
		right:initial;
		left:3%;
		@include transform (rotate(-180deg));
	}

	#i {
		background:$white;
		border-radius:50%;
		width:25px;
		height:25px;
		position:absolute;
		top:20px;
		right:25px;
		z-index:101;
		font-family:$times-new-roman;
		text-align:center;
		cursor:pointer;

		&:hover {
			background:$black;
			color:$white;
		}
	}
}
#pg-btm {
	border-top:1px solid #ccc;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	box-sizing:border-box;
	background:$white;
	z-index:200;
	top:calc(100% - #{$nav-height});
	overflow:hidden;
	@include transition (top 500ms ease);

	&.open {
		top:15%;
	}

	#name-and-slogan {
		height:$nav-height;
		padding:26px 0 17px 15px;
		box-sizing:border-box;
		display:inline-block;
		float:none;

		a:hover {
			text-decoration:none;
		}
	}
}
#block-menu-block-1 {
	display:inline-block;
	padding:0 50px;
	margin:34px 0 0 0;
	vertical-align: top;

	.menu {
		padding:0;
		margin:0;

		li {
			list-style:none;
			display:inline;
			padding-right:7px;

			a,
			a:visited {
				color:#777;
				text-decoration:none;
				
				&.active,
				&:hover {
					color:#333;
				}
				&:hover {
					border-bottom:1px solid #333;
				}
			}
		}
	}
}
#block-block-1 {
	position:absolute;
	right:30px;
	top:30px;
	margin:0;

	#social-icons {display:inline-block;vertical-align: top;}

	#gallery-icon {
		width:24px;
		height:24px;
		background:url('/sites/all/themes/rios/images/album-icon.svg?');
		background-size:cover;
		cursor:pointer;
		display:inline-block;
		vertical-align:top;
	}
}
#block-views-albums-block {
	padding:0px 40px 20px;
	border-top:1px solid #ccc;
	// display:none;
	overflow-y:scroll;
	margin:0;
	text-align:center;
	height:100%;
	box-sizing:border-box;
	background-color:$offwhite;

	.view-id-albums {margin-bottom:100px;}

	h3 {
		margin:30px 0 0 0;
		text-align:left;
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		position: sticky;
		top: 0px;
		background: $offwhite;
		height: 40px;
		padding-top: 10px;
	}

	.album-thumb {
		display:inline-block;
		padding:20px;
		// width:260px;
		text-align:center;
		vertical-align: middle;

		img {
			// display:none;
		}

		&.views-row-1 {
		}
	}
}

body.section-contact {
	background:url('/sites/default/files/photos/contact.jpg') -50% center;
	background-size:cover;

	#page {background: rgba(26, 26, 26, 0.75);}

	#main {
		color:#fff;
		max-width:720px;
		margin:0 auto;
		margin-top:100px;
		text-align:center;
	}
}

@media screen and (max-width:400px) {
	#page {
		height:calc(100% - #{$nav-height-mob});

		#main {
			position:fixed;
			left:0;
			right:0;
		}
	}

	.view-id-gallery.view-display-id-page {
		&.open {
			.views-row {
				.node-portfolio-piece {

					figcaption {
						bottom:0;
					}
				}
			}
		}
		
		.views-row {
			.node-portfolio-piece {
				figcaption {
					width:100%;
					height:50%;
					top:initial;
					right:initial;
					bottom:-50%;
					padding: 20px 20px 60px;
					@include transition(bottom 300ms ease);
				}
			}
		}
	}
	#pg-btm {
		top:calc(100% - #{$nav-height-mob});
		position:fixed;

		#name-and-slogan {padding-top:10px;height:$nav-height-mob;}
		.header__site-name {
			font-size:1.3em;
		}
	}

	#block-menu-block-1 {
		// display:none;
		position:relative;
		top:35px;
		left:20px;
		padding:0;
		z-index:1;

		// &.open {display:block;}
	}

	#block-block-1 {
		top:10px;
		right:15px;
	}

	#block-views-albums-block {
		padding:0px 10px;
		margin:0;
		border:none;
		-webkit-overflow-scrolling: touch;
		h3 {margin:0px;top:-1px; /*to help with 1px gap with webkit-overflow*/}
		.album-thumb {padding:5px;}
	}

	body.section-contact {
		background-position:center center;

		#page {padding:0 20px;}
	}
}