@charset "UTF-8";
/* line 19, ../../sass/pages/brand.scss */
.brand-header {
  background: #ffffff;
  border-bottom: 1px solid #e9e9e9;
  left: 0;
  right: 0;
}
/* line 79, ../../sass/_mixins.scss */
.brand-header::before {
  display: inline-block;
  content: '';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* line 93, ../../sass/_mixins.scss */
.brand-header::before {
  content: "";
}
/* line 99, ../../sass/_mixins.scss */
.brand-header::before {
  float: right;
}
/* line 93, ../../sass/_mixins.scss */
.brand-header.open::before {
  content: "";
}
/* line 25, ../../sass/pages/brand.scss */
.brand-header::before {
  font-size: 18px;
  padding: 12px 20px;
}
/* line 29, ../../sass/pages/brand.scss */
.snap .brand-header {
  position: fixed;
  top: 40px;
}
/* line 34, ../../sass/pages/brand.scss */
.brand-header .logo {
  max-width: 60px;
  max-height: 23px;
  padding: 10px;
}
/* line 40, ../../sass/pages/brand.scss */
.brand-header .brand-nav {
  display: none;
  padding: 0;
  border: none;
  margin: 0;
  border-top: 1px solid #d2d2d2;
  position: absolute;
  background: #ffffff;
  left: 0;
  right: 0;
}
/* line 51, ../../sass/pages/brand.scss */
.brand-header .brand-nav a {
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d2d2d2;
  font-size: 1.2rem;
  display: block;
  font-weight: 700;
}

/* line 64, ../../sass/pages/brand.scss */
#body-main .banner-sale {
  top: 94px;
}

@media screen and (min-width: 760px) {
  /* line 71, ../../sass/pages/brand.scss */
  body.view--desktop #body-main {
    padding-top: 179px;
  }
  /* line 74, ../../sass/pages/brand.scss */
  body.view--desktop #body-main .banner-sale {
    top: 179px;
  }
  /* line 78, ../../sass/pages/brand.scss */
  body.view--desktop .brand-header::before {
    display: none;
  }
  /* line 79, ../../sass/pages/brand.scss */
  body.view--desktop .brand-header .brand-nav {
    display: inline-block;
    margin-left: 43px;
    padding: 32px 0 32px 20px;
    border-left: 1px solid #e9e9e9;
    border-top: 0;
    position: relative;
  }
  /* line 87, ../../sass/pages/brand.scss */
  body.view--desktop .brand-header .brand-nav a {
    border-bottom: 0;
    padding: 0 20px;
    font-size: 1.4rem;
    display: inline-block;
  }
}
