/* line 19, ../../sass/pages/clp.scss */
.category-header {
  text-align: center;
}
/* line 22, ../../sass/pages/clp.scss */
.category-header img {
  width: 100%;
  min-width: 900px;
  margin-left: -50%;
}
/* line 23, ../../sass/pages/clp.scss */
.category-header figcaption {
  margin: 20px;
}
@media screen and (min-width: 760px) {
  /* line 26, ../../sass/pages/clp.scss */
  .category-header img {
    margin: 0;
  }
}
