/* line 96, ../../sass/pages/jtm.scss */
html, body, div.wrapper, div.page, div.main, div.col-main, div.std {
  height: 100%;
  height: 100vh;
}

/* line 97, ../../sass/pages/jtm.scss */
.page, html.mobile #content {
  padding: 0;
}

/* line 98, ../../sass/pages/jtm.scss */
body {
  background-color: #fdfdfd;
}

/* line 99, ../../sass/pages/jtm.scss */
#body-main {
  padding-top: 0 !important;
}
/* line 102, ../../sass/pages/jtm.scss */
#body-main .banner-sale {
  display: none;
}

/* line 106, ../../sass/pages/jtm.scss */
.jtm-page {
  font-family: "Merriweather", serif;
  color: #333;
  background-color: #fdfdfd;
  height: 100%;
  height: 100vh;
  font-size: 14px;
  line-height: 1.5em;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}
/* line 129, ../../sass/pages/jtm.scss */
.jtm-page img {
  max-width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* line 130, ../../sass/pages/jtm.scss */
.jtm-page a {
  text-decoration: none;
}
/* line 131, ../../sass/pages/jtm.scss */
.jtm-page h1, .jtm-page h2, .jtm-page h3 {
  color: #333;
  margin-bottom: 50px;
  line-height: 1.25em;
  text-align: center;
}
/* line 132, ../../sass/pages/jtm.scss */
.jtm-page h1 {
  font-size: 3em;
}
/* line 132, ../../sass/pages/jtm.scss */
html.mobile .jtm-page h1 {
  font-size: 1.5em;
}
/* line 133, ../../sass/pages/jtm.scss */
.jtm-page h2 {
  font-size: 2.5em;
  margin-top: 0;
}
/* line 133, ../../sass/pages/jtm.scss */
html.mobile .jtm-page h2 {
  font-size: 1.5em;
}
/* line 134, ../../sass/pages/jtm.scss */
.jtm-page h3 {
  font-size: 2em;
  font-weight: 400;
}
/* line 134, ../../sass/pages/jtm.scss */
html.mobile .jtm-page h3 {
  font-size: 1.25em;
}
/* line 135, ../../sass/pages/jtm.scss */
.jtm-page p {
  margin-bottom: 40px;
}
/* line 135, ../../sass/pages/jtm.scss */
html.mobile .jtm-page p {
  font-size: 0.65em;
}
/* line 136, ../../sass/pages/jtm.scss */
.jtm-page strong {
  font-weight: 600;
}
/* line 137, ../../sass/pages/jtm.scss */
.jtm-page sup {
  font-size: 0.45em;
}
/* line 138, ../../sass/pages/jtm.scss */
.jtm-page hr {
  background: none;
  border: none;
  border-bottom: 1px solid #333;
  margin: 40px auto;
  width: 75%;
  margin-left: 12.5%;
}
/* line 139, ../../sass/pages/jtm.scss */
.jtm-page div {
  vertical-align: top;
}
/* line 140, ../../sass/pages/jtm.scss */
.jtm-page ul {
  list-style: square;
  padding: 0 0 0 15px;
}
/* line 143, ../../sass/pages/jtm.scss */
.jtm-page ul li {
  padding-bottom: 40px;
}
/* line 146, ../../sass/pages/jtm.scss */
.jtm-page ul ul li {
  padding-bottom: 10px;
}
/* line 149, ../../sass/pages/jtm.scss */
html.mobile .jtm-page ul {
  font-size: 16px;
}
/* line 153, ../../sass/pages/jtm.scss */
.jtm-page button {
  background: none;
  border: none;
  text-align: initial;
  font: 24px "Merriweather", serif;
  color: #333;
  display: block;
}
/* line 161, ../../sass/pages/jtm.scss */
.jtm-page button:hover {
  background: #333;
  cursor: pointer;
}
/* line 164, ../../sass/pages/jtm.scss */
.jtm-page .quote {
  padding: 0 100px;
}
/* line 167, ../../sass/pages/jtm.scss */
.jtm-page .quote .quotation {
  font-size: 60px;
  position: relative;
  top: 20px;
}
/* line 173, ../../sass/pages/jtm.scss */
.jtm-page .quote .name {
  font-weight: bold;
  float: right;
  padding-top: 40px;
}
/* line 175, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .quote {
  padding: 0 20px;
  font-size: 1em;
  line-height: 1.25em;
}
/* line 180, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .quote .name {
  padding-top: 70px;
}
/* line 185, ../../sass/pages/jtm.scss */
.jtm-page .cycle-pager {
  position: absolute;
  width: 100%;
  z-index: 200;
  bottom: 0;
  text-align: center;
}
/* line 192, ../../sass/pages/jtm.scss */
.jtm-page .cycle-pager span {
  font-size: 65px;
}
/* line 195, ../../sass/pages/jtm.scss */
.jtm-page .cycle-pager span.cycle-pager-active {
  color: #fdfdfd;
}
/* line 199, ../../sass/pages/jtm.scss */
html.mobile .jtm-page {
  line-height: 1em;
}
/* line 202, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .hide {
  display: none !important;
}
/* line 203, ../../sass/pages/jtm.scss */
html.mobile .jtm-page span:hover {
  cursor: initial;
  background-color: initial;
}
/* line 206, ../../sass/pages/jtm.scss */
.jtm-page .btn {
  color: #fdfdfd;
  font-family: "Oswald", "Merriweather", serif, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  background: #191919;
  padding: 38px 92px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
/* line 36, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 209, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .btn {
  padding: 23px 30px;
  font-size: 1em;
}
/* line 214, ../../sass/pages/jtm.scss */
.jtm-page .btn-sm {
  color: #fdfdfd;
  font-family: "Oswald", "Merriweather", serif, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  background: #191919;
  padding: 38px 92px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  font-size: 1.25em;
  padding: 24px 117px;
  width: 100%;
  max-width: 350px;
}
/* line 36, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .btn-sm {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 49, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .btn-sm {
  padding: 24px;
  box-sizing: border-box;
}
/* line 218, ../../sass/pages/jtm.scss */
.jtm-page .accent {
  background: #a33038;
}
/* line 219, ../../sass/pages/jtm.scss */
.jtm-page .txt-accent,
.jtm-page .txt-link {
  color: #a33038;
}
/* line 221, ../../sass/pages/jtm.scss */
.jtm-page .txt-red {
  color: #fd323e;
}
/* line 222, ../../sass/pages/jtm.scss */
.jtm-page .txt-link {
  text-transform: uppercase;
  cursor: pointer;
}
/* line 224, ../../sass/pages/jtm.scss */
.jtm-page .wrap-tight {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
/* line 228, ../../sass/pages/jtm.scss */
.jtm-page .wrap-tight::after {
  content: '';
  display: block;
  clear: both;
}
/* line 229, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .wrap-tight {
  width: 100%;
}
/* line 232, ../../sass/pages/jtm.scss */
.jtm-page .info-row {
  color: #fdfdfd;
  text-align: center;
  padding: 100px 0 80px;
  background-repeat: no-repeat;
  position: relative;
}
/* line 240, ../../sass/pages/jtm.scss */
.jtm-page .scroll-wrap {
  overflow: hidden;
}
/* line 243, ../../sass/pages/jtm.scss */
.jtm-page .scroll-wrap .scroll-row {
  white-space: nowrap;
}
/* line 248, ../../sass/pages/jtm.scss */
.jtm-page .folded {
  display: none;
}
/* line 250, ../../sass/pages/jtm.scss */
.jtm-page .detail-list {
  text-align: left;
  margin-bottom: 80px;
}
/* line 254, ../../sass/pages/jtm.scss */
.jtm-page .detail-list h3 {
  text-align: left;
  font-size: 1.5em;
}
/* line 259, ../../sass/pages/jtm.scss */
.jtm-page .detail-list p {
  margin-bottom: 20px;
}
/* line 262, ../../sass/pages/jtm.scss */
.jtm-page section {
  position: relative;
  height: auto;
  background-color: #fdfdfd;
  padding: 70px;
}
/* line 268, ../../sass/pages/jtm.scss */
.jtm-page section#hero {
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/* line 275, ../../sass/pages/jtm.scss */
.jtm-page section#hero::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  background: url(/media/jtm/brush-work2.png) no-repeat bottom;
  background-size: 100%;
  z-index: 3;
  background-image: url(/media/jtm/brush-work3.png);
  height: 100px;
}
/* line 277, ../../sass/pages/jtm.scss */
.jtm-page section#hero a {
  z-index: 1;
  display: block;
  position: relative;
}
/* line 282, ../../sass/pages/jtm.scss */
.jtm-page section#hero a img {
  width: 300px;
}
/* line 287, ../../sass/pages/jtm.scss */
.jtm-page section#hero .page-logo {
  width: 45%;
  position: relative;
  z-index: 1;
}
/* line 293, ../../sass/pages/jtm.scss */
html.mobile .jtm-page section#hero {
  height: 400px;
  padding: 40px;
}
/* line 297, ../../sass/pages/jtm.scss */
html.mobile .jtm-page section#hero .page-logo {
  margin-top: 20%;
  width: 100%;
  max-width: 400px;
}
/* line 306, ../../sass/pages/jtm.scss */
html.mobile .jtm-page section#s2 {
  padding: 40px 20px;
}
/* line 311, ../../sass/pages/jtm.scss */
.jtm-page section .half, .jtm-page section .third, .jtm-page section .two-third, .jtm-page section .col8, .jtm-page section .col9, .jtm-page section .col11, .jtm-page section .col14, .jtm-page section .col15, .jtm-page section .col16 {
  display: inline-block;
}
/* line 312, ../../sass/pages/jtm.scss */
.jtm-page section .half {
  width: 50%;
}
/* line 313, ../../sass/pages/jtm.scss */
.jtm-page section .third {
  width: 33.3%;
}
/* line 314, ../../sass/pages/jtm.scss */
.jtm-page section .two-third {
  width: 66.6%;
}
/* line 315, ../../sass/pages/jtm.scss */
.jtm-page section .col8 {
  width: 33.328%;
}
/* line 316, ../../sass/pages/jtm.scss */
.jtm-page section .col9 {
  width: 37.494%;
}
/* line 317, ../../sass/pages/jtm.scss */
.jtm-page section .col11 {
  width: 45.826%;
}
/* line 318, ../../sass/pages/jtm.scss */
.jtm-page section .col14 {
  width: 58.324%;
}
/* line 319, ../../sass/pages/jtm.scss */
.jtm-page section .col15 {
  width: 62.49%;
}
/* line 320, ../../sass/pages/jtm.scss */
.jtm-page section .col16 {
  width: 66.656%;
}
/* line 322, ../../sass/pages/jtm.scss */
html.mobile .jtm-page section {
  padding: 20px;
}
/* line 325, ../../sass/pages/jtm.scss */
html.mobile .jtm-page section .half, html.mobile .jtm-page section .third, html.mobile .jtm-page section .two-third, html.mobile .jtm-page section .col8, html.mobile .jtm-page section .col9, html.mobile .jtm-page section .col11, html.mobile .jtm-page section .col14, html.mobile .jtm-page section .col15, html.mobile .jtm-page section .col16 {
  width: 100%;
}
/* line 328, ../../sass/pages/jtm.scss */
.jtm-page section .row {
  position: relative;
}
/* line 331, ../../sass/pages/jtm.scss */
.jtm-page section .row::after {
  display: block;
  content: '';
  clear: both;
}
/* line 337, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home #top-nav.topped {
  top: 40px;
}
/* line 341, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s1 {
  background-image: url(/media/jtm/sun-city.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center -70px;
  font-family: "Merriweather", serif;
  color: #fff;
  height: 100%;
  padding-top: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 353, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s1::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  background: url(/media/jtm/brush-work2.png) no-repeat bottom;
  background-size: 100%;
  z-index: 3;
}
/* line 355, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s1 a {
  z-index: 1;
  display: block;
  position: relative;
}
/* line 360, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s1 a img {
  width: 300px;
}
/* line 365, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s1 h1 {
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 120px;
}
/* line 374, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s1 {
  height: 75%;
  padding: 40px;
  background-size: 230%;
  background-position: center -30px;
}
/* line 380, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s1 h1 {
  font-size: 72px;
  line-height: .85em;
  text-align: center;
  position: relative;
  bottom: 0;
  right: initial;
  margin-top: 50%;
}
/* line 392, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s2 {
  padding-top: 150px;
}
/* line 395, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s2 > div {
  display: block;
  margin: 0 auto;
}
/* line 397, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s2 .col11 > img {
  box-sizing: border-box;
  padding: 0 20px;
}
/* line 399, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s2 button {
  width: 500px;
  height: 60px;
  background: #eee;
  margin-bottom: 18px;
  overflow: hidden;
  white-space: nowrap;
}
/* line 407, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s2 button .accent {
  width: 60px;
  height: 100%;
  float: left;
  text-align: center;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 414, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s2 button .accent img {
  width: 45px;
}
/* line 417, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s2 button strong {
  padding: 17px 0 15px 42px;
  display: inline-block;
}
/* line 423, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s2 button:hover .accent {
  width: 100%;
}
/* line 427, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s2 {
  padding-top: 0;
}
/* line 430, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s2 button {
  width: 105px;
  height: 165px;
  display: inline-block;
  background: none;
  vertical-align: top;
  padding: 0;
}
/* line 438, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s2 button .accent {
  width: 100%;
  height: 115px;
  float: none;
  margin-bottom: 10px;
}
/* line 444, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s2 button .accent img {
  width: 80%;
}
/* line 447, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s2 button strong {
  display: block;
  font-size: 13px;
  padding: 0;
  text-align: center;
}
/* line 453, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s2 button strong span {
  width: 100%;
  display: block;
}
/* line 462, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s3 {
  height: 350px;
  background: url(/media/jtm/bg-bf.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 42px;
  color: #fdfdfd;
  padding-top: 100px;
  text-align: center;
}
/* line 474, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s3::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  background: url(/media/jtm/brush-work2.png) no-repeat bottom;
  background-size: 100%;
  z-index: 3;
  background-image: url(/media/jtm/brush-work3.png);
  height: 100px;
  background-image: url(/media/jtm/brush-work3-eee.png);
}
/* line 476, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s3 p {
  line-height: 1.25em;
}
/* line 478, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s3 a {
  width: 350px;
  height: 35px;
  border: 1px solid #fdfdfd;
  background: rgba(58, 70, 75, 0.38);
  text-align: center;
  color: #fdfdfd;
  display: inline-block;
  padding: 20px 0;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 489, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s3 a:hover {
  background: #fdfdfd;
  color: #3a464b;
}
/* line 495, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s3 {
  padding-top: 20px;
  padding-bottom: 60px;
  height: auto;
  background-attachment: initial;
  background-image: url(/media/jtm/bg-bf-mob.jpg);
}
/* line 502, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s3::after {
  display: none;
}
/* line 504, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s3 .col9 {
  margin-bottom: 70px;
}
/* line 506, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s3 a {
  width: 80%;
  font-size: 0.75em;
  line-height: 1em;
  padding: 10px 0;
}
/* line 515, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 {
  background: url(/media/jtm/bg-programs.jpg);
  background-size: cover;
  padding: 0;
  height: 100%;
  text-align: center;
}
/* line 522, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 h2 {
  padding: 100px 0 0;
}
/* line 526, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}
/* line 543, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program .p-logo {
  position: absolute;
  left: 50%;
  top: 30%;
  margin-bottom: -18%;
  margin-left: -25%;
  width: 50%;
  z-index: 1;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
/* line 553, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program .p-logo:hover {
  margin-top: -10px;
}
/* line 556, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article {
  width: 100%;
  height: 100%;
  color: #fdfdfd;
  position: absolute;
  top: 0;
  display: none;
}
/* line 564, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article div.bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* line 572, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article .content {
  position: absolute;
  top: 35%;
  font-size: 0.9em;
  line-height: 1.5em;
}
/* line 578, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article .content h3 {
  clear: both;
  color: #fdfdfd;
  font-size: 1.5em;
}
/* line 579, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article .content p {
  padding: 0 75px;
  text-align: left;
  margin-bottom: 40px;
}
/* line 580, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article .content h3, .jtm-page.jtm-home section#s4 .program article .content p {
  position: relative;
}
/* line 581, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article .content ul {
  display: inline-block;
  text-align: left;
  padding-right: 35px;
}
/* line 586, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article .content ul h4 {
  font-size: 1.2em;
}
/* line 587, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program article .content ul li {
  padding-bottom: 10px;
}
/* line 597, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program .x {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: #fff url(/skin/frontend/villa/default/css/graphics/x.svg) no-repeat center center;
  background-size: 20px;
  z-index: 1;
  display: none;
}
/* line 609, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program.open {
  width: 100%;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  cursor: initial;
}
/* line 617, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program.open img.callout {
  display: none;
}
/* line 618, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program.open .p-logo {
  margin: 0 0 50px -7.5% !important;
  width: 15% !important;
  top: 5% !important;
}
/* line 624, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program.open#imatter .p-logo {
  width: 25% !important;
  margin-left: -12.5% !important;
}
/* line 629, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s4 .program.open .x {
  display: block;
}
@media screen and (max-height: 900px) and (min-width: 900px) {
  /* line 526, ../../sass/pages/jtm.scss */
  .jtm-page.jtm-home section#s4 .program {
    position: relative;
    display: inline-block;
    left: initial !important;
    right: initial !important;
    margin: 90px 0 !important;
    width: 22.5%;
  }
  /* line 640, ../../sass/pages/jtm.scss */
  html.ie .jtm-page.jtm-home section#s4 .program {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
  }
}
/* line 644, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 {
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  height: 140%;
}
/* line 650, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 h2 {
  position: absolute;
  width: 100%;
  z-index: 500;
  margin-top: 30px;
  color: #fdfdfd;
  top: 0;
  padding-top: 0;
}
/* line 668, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 .program .callout {
  display: none;
}
/* line 670, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 .program .p-logo {
  position: relative;
  margin: 0 !important;
  left: initial;
  top: initial !important;
  margin-top: 120px !important;
}
/* line 678, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 .program article {
  display: block;
}
/* line 681, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 .program article .bg {
  position: absolute;
  background-position: center center;
}
/* line 686, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 .program article .content {
  position: relative;
  width: 100%;
  padding: 80% 20px 20px;
  box-sizing: border-box;
  top: initial;
  height: 100%;
}
/* line 694, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 .program article .content h3 {
  margin-bottom: 20px;
  white-space: normal;
}
/* line 699, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s4 .program article .content p {
  width: 100%;
  white-space: normal;
  padding: 0;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
}
@media screen and (max-height: 600px) {
  /* line 515, ../../sass/pages/jtm.scss */
  .jtm-page.jtm-home section#s4 {
    height: 150%;
  }
  /* line 715, ../../sass/pages/jtm.scss */
  .jtm-page.jtm-home section#s4 .program article .content {
    top: 30%;
  }
}
/* line 719, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 {
  height: 100%;
  padding: 0;
}
/* line 723, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  background: url(/media/jtm/brush-work2.png) no-repeat bottom;
  background-size: 100%;
  z-index: 3;
  background-image: url(/media/jtm/brush-work3.png);
  height: 100px;
}
/* line 725, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  float: left;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -moz-transition: filter 500ms ease;
  -o-transition: filter 500ms ease;
  -webkit-transition: filter 500ms ease;
  transition: filter 500ms ease;
  overflow: hidden;
}
/* line 740, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e::after {
  display: block;
  content: '';
  position: absolute;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(100, 100, 100, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background-image: -moz-linear-gradient(rgba(100, 100, 100, 0), rgba(0, 0, 0, 0.65));
  background-image: -webkit-linear-gradient(rgba(100, 100, 100, 0), rgba(0, 0, 0, 0.65));
  background-image: linear-gradient(rgba(100, 100, 100, 0), rgba(0, 0, 0, 0.65));
  width: 100%;
  height: 50%;
  bottom: 0;
}
/* line 748, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e:hover .e-logo {
  margin-top: -10px;
}
/* line 748, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e:hover .e-logo {
  margin-top: 0;
}
/* line 750, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e * {
  z-index: 1;
}
/* line 752, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e .logo-box {
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 2;
  -moz-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}
/* line 759, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e .logo-box .e-logo {
  width: 175px;
  height: 175px;
  background: rgba(163, 48, 56, 0.7);
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  text-align: center;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 769, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e .logo-box .e-logo img {
  width: 80%;
  margin-top: -5px;
}
/* line 775, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e .logo-box h3 {
  color: #fdfdfd;
  text-transform: none;
  font-size: 1.5em;
  width: 100%;
}
/* line 783, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e article {
  height: 100%;
  width: 100%;
  background: rgba(163, 48, 56, 0.7);
  padding: 30% 70px;
  box-sizing: border-box;
  color: #fdfdfd;
  display: none;
  position: relative;
}
/* line 792, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e article p {
  text-align: left;
  margin-bottom: 30px;
}
/* line 797, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e article ul {
  width: 80%;
  margin: 0 auto 1em;
}
/* line 801, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e article ul li {
  padding-bottom: 10px;
  text-align: left;
}
/* line 810, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e.open .logo-box {
  top: 5%;
}
/* line 813, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e.open .logo-box .e-logo {
  width: 100px;
  height: 100px;
}
/* line 819, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e.open:hover .e-logo {
  margin-top: 0;
}
/* line 822, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e.dim {
  -webkit-filter: saturate(0.1);
}
/* line 826, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s5 .three-e#environment .e-logo img {
  margin-top: 6px !important;
}
/* line 827, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e#economic {
  background-position: 70% center;
}
/* line 830, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 {
  overflow: hidden;
  white-space: nowrap;
  height: 150%;
}
/* line 835, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e {
  width: 100%;
  float: none;
  background-attachment: initial;
}
/* line 840, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e#education {
  background-position: 10% center;
}
/* line 841, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e#economic {
  background-position: 40% center;
}
/* line 843, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e .logo-box {
  top: 100px;
}
/* line 846, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e .logo-box .e-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}
/* line 853, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e article {
  padding: 350px 20px 20px;
  display: block;
  white-space: normal;
}
/* line 858, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e article p {
  text-align: justify;
  position: relative;
  margin-bottom: 30px;
}
/* line 864, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s5 .three-e article ul {
  width: 100%;
  font-size: 16px;
}
/* line 873, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s6 {
  text-align: center;
  padding-top: 150px;
}
/* line 877, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s6 p {
  text-align: left;
}
/* line 879, ../../sass/pages/jtm.scss */
.jtm-page.jtm-home section#s6 figure {
  display: inline-block;
  margin: 30px 0;
  float: left;
}
/* line 885, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s6 {
  padding-top: 100px;
}
/* line 888, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-home section#s6 .row {
  margin-bottom: 40px;
}
/* line 897, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .btn-sm, .jtm-page.jtm-asjs .btn-sm {
  padding: 24px;
}
/* line 901, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .info-row, .jtm-page.jtm-asjs .info-row {
  background-color: #fd323e;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* line 904, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .info-row::after, .jtm-page.jtm-asjs .info-row::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  background: url(/media/jtm/brush-work2.png) no-repeat bottom;
  background-size: 100%;
  z-index: 3;
  background-image: url(/media/jtm/brush-work3.png);
  height: 100px;
}
/* line 906, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .info-row:first-of-type, .jtm-page.jtm-asjs .info-row:first-of-type {
  background-image: url(/media/jtm/imatter/red-block1.jpg);
}
/* line 909, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .info-row:nth-of-type(2), .jtm-page.jtm-asjs .info-row:nth-of-type(2) {
  background-image: url(/media/jtm/imatter/red-block2.jpg);
}
/* line 914, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .stat, .jtm-page.jtm-asjs .stat {
  display: inline-block;
  width: 24%;
  font-size: 30px;
  font-family: "Oswald", "Merriweather", serif, sans-serif;
  padding: 40px;
}
/* line 921, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .stat:nth-of-type(2), .jtm-page.jtm-asjs .stat:nth-of-type(2) {
  border-left: 1px solid #fdfdfd;
  border-right: 1px solid #fdfdfd;
}
/* line 926, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter .stat, html.mobile .jtm-page.jtm-asjs .stat {
  display: block;
  width: 100%;
  padding: 40px 0;
  border: none !important;
}
/* line 933, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .stat h4, .jtm-page.jtm-asjs .stat h4 {
  font-size: 160px;
  line-height: 1em;
  font-family: "Merriweather", serif;
  margin-bottom: 40px;
  display: none;
}
/* line 942, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio, .jtm-page.jtm-asjs .bio {
  display: inline-block;
  width: 33.33%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 50px;
  white-space: normal;
}
/* line 951, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio.lg, .jtm-page.jtm-imatter .bio.md, .jtm-page.jtm-asjs .bio.lg, .jtm-page.jtm-asjs .bio.md {
  float: none;
}
/* line 955, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio.lg, .jtm-page.jtm-asjs .bio.lg {
  padding: 0 25px;
  min-width: 325px;
}
/* line 958, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio.lg .name, .jtm-page.jtm-imatter .bio.lg .gpa, .jtm-page.jtm-asjs .bio.lg .name, .jtm-page.jtm-asjs .bio.lg .gpa {
  margin-bottom: 30px;
}
/* line 961, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio.md, .jtm-page.jtm-asjs .bio.md {
  width: 25%;
  min-width: 225px;
}
/* line 964, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio.md img, .jtm-page.jtm-asjs .bio.md img {
  width: 225px;
  height: 225px;
}
/* line 965, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio.md span, .jtm-page.jtm-asjs .bio.md span {
  text-align: center;
}
/* line 968, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio img, .jtm-page.jtm-asjs .bio img {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background: #333;
  margin-bottom: 30px;
}
/* line 976, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio .name, .jtm-page.jtm-imatter .bio .location, .jtm-page.jtm-imatter .bio .gpa, .jtm-page.jtm-asjs .bio .name, .jtm-page.jtm-asjs .bio .location, .jtm-page.jtm-asjs .bio .gpa {
  font-weight: bold;
  display: block;
}
/* line 977, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter .bio span, .jtm-page.jtm-imatter .bio p, .jtm-page.jtm-asjs .bio span, .jtm-page.jtm-asjs .bio p {
  text-align: left;
}
/* line 979, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter .bio, html.mobile .jtm-page.jtm-asjs .bio {
  float: none;
}
/* line 982, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter .bio.lg, html.mobile .jtm-page.jtm-asjs .bio.lg {
  min-width: 275px;
  width: 275px;
  box-sizing: initial;
  padding: 0 5px;
}
/* line 988, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter .bio.md, html.mobile .jtm-page.jtm-asjs .bio.md {
  margin: 0 5px;
}
/* line 995, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter section .row, .jtm-page.jtm-asjs section .row {
  margin-bottom: 50px;
}
/* line 996, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter section#hero, .jtm-page.jtm-asjs section#hero {
  background-image: url(/media/jtm/imatter/hero-imatter.jpg);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* line 1000, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter section#hero, html.mobile .jtm-page.jtm-asjs section#hero {
  background-position: 72% top;
}
/* line 1008, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter section#winners .wrap-tight .bio span, .jtm-page.jtm-asjs section#winners .wrap-tight .bio span {
  text-align: center;
}
/* line 1012, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter section#winners, html.mobile .jtm-page.jtm-asjs section#winners {
  padding: 20px 0;
}
/* line 1015, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter section#winners .wrap-tight, html.mobile .jtm-page.jtm-asjs section#winners .wrap-tight {
  text-align: center;
}
/* line 1018, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter section#winners .wrap-tight .bio, html.mobile .jtm-page.jtm-asjs section#winners .wrap-tight .bio {
  width: 45%;
  min-width: 0;
}
/* line 1022, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter section#winners .wrap-tight .bio .location, html.mobile .jtm-page.jtm-asjs section#winners .wrap-tight .bio .location {
  font-weight: 100;
  padding: 5px 0;
}
/* line 1031, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter section#howto-apply, html.mobile .jtm-page.jtm-asjs section#howto-apply {
  padding: 40px 20px;
}
/* line 1034, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter section#howto-apply .col16, .jtm-page.jtm-asjs section#howto-apply .col16 {
  float: left;
  padding-right: 7%;
  box-sizing: border-box;
}
/* line 1039, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter section#howto-apply .col16 h3, .jtm-page.jtm-asjs section#howto-apply .col16 h3 {
  text-align: left;
}
/* line 1041, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-imatter section#howto-apply .col16, html.mobile .jtm-page.jtm-asjs section#howto-apply .col16 {
  padding: 0;
}
/* line 1046, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter section#howto-apply aside, .jtm-page.jtm-asjs section#howto-apply aside {
  padding-left: 7%;
  box-sizing: border-box;
  border-left: 1px solid #333;
}
/* line 1051, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter section#howto-apply aside img, .jtm-page.jtm-asjs section#howto-apply aside img {
  padding-bottom: 20px;
}
/* line 1052, ../../sass/pages/jtm.scss */
.jtm-page.jtm-imatter section#howto-apply aside figcaption, .jtm-page.jtm-asjs section#howto-apply aside figcaption {
  border-top: 5px solid #333;
  padding-top: 20px;
  font-weight: bold;
}
/* line 1065, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs section#hero {
  background-image: url(/media/jtm/asjs/hero-asjs.jpg);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* line 1069, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs section#hero .page-logo {
  left: 50%;
  margin-left: -17.5%;
  width: 35%;
}
/* line 1074, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-asjs section#hero .page-logo {
  left: 0;
  margin-left: 0;
}
/* line 1077, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs section#journey {
  padding: 70px 0;
  border-bottom: 1px solid #191919;
  margin-bottom: 100px;
}
/* line 1082, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs section#journey .scroll-wrap {
  margin-bottom: 50px;
}
/* line 1084, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs section#journey .journey-case {
  display: inline-block;
  width: 33.33%;
  float: left;
  background: #191919;
}
/* line 1090, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs section#journey .journey-case .name {
  display: block;
  height: 75px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 23px 0px;
  box-sizing: border-box;
  font-size: 28px;
}
/* line 1104, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs section#journey .journey-case:nth-child(2) .name {
  border-width: 0 4px 0 4px;
  border-color: #000;
  border-style: solid;
}
/* line 1112, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-asjs section#journey {
  padding: 70px 20px;
}
/* line 1115, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-asjs section#journey .journey-case {
  width: 300px;
  float: none;
  margin: 10px 5px 50px;
}
/* line 1121, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-asjs section#journey .cycle-pager-active {
  color: #8c724d;
}
/* line 1125, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs .btn-sm {
  background: #8c724d;
}
/* line 1127, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs .btn-sm:hover {
  background: #a98c63;
}
/* line 1129, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs .info-row {
  background-color: #8c724d;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* line 1132, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs .info-row::after {
  display: none;
}
/* line 1134, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs .info-row:first-of-type {
  background-image: url(/media/jtm/asjs/gold-block1.jpg);
}
/* line 1137, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-asjs .info-row:first-of-type {
  background-position: -210px 0px;
  background-size: 1200px;
}
/* line 1142, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs .info-row:nth-of-type(2) {
  background-image: url(/media/jtm/imatter/red-block2.jpg);
}
/* line 1146, ../../sass/pages/jtm.scss */
.jtm-page.jtm-asjs .stat {
  border: none !important;
}
/* line 1150, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids::before {
  display: none;
}
/* line 1152, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids #mep_0 {
  max-width: 1024px;
  max-height: 576px;
  margin: 0 auto;
}
/* line 1158, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids a.btn-sm {
  margin: 0 auto;
  display: block;
}
/* line 1163, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids #hero {
  background-image: url(/media/jtm/braids/hero-braids.jpg);
}
/* line 1166, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids #hero .page-logo {
  margin: 6% auto;
  display: block;
  min-width: 300px;
}
/* line 1176, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-braids #hero {
  background-position: 50% -30px;
}
/* line 1181, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids .info-row {
  background-color: #212d31;
  background-image: url(/media/jtm/braids/blue-block1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 100px 80px;
}
/* line 1189, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids .info-row::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  background: url(/media/jtm/brush-work2.png) no-repeat bottom;
  background-size: 100%;
  z-index: 3;
  background-image: url(/media/jtm/brush-work3.png);
  height: 100px;
}
/* line 1191, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids .info-row h3 {
  color: #fdfdfd;
}
/* line 1193, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids .info-row .location {
  width: 33.33%;
  display: inline-block;
  float: left;
  margin-bottom: 50px;
  min-width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: "Oswald", "Merriweather", serif, sans-serif;
}
/* line 1203, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids .info-row .location h4 {
  font-family: "Merriweather", serif;
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
}
/* line 1211, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids .info-row .location .date {
  font-size: 30px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
}
/* line 1218, ../../sass/pages/jtm.scss */
.jtm-page.jtm-braids .info-row .location .address {
  font-size: 24px;
  font-weight: 100;
  line-height: 1em;
}
/* line 1225, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-braids .info-row {
  padding: 100px 0;
  background-size: 100%;
  background-position: center top;
  background-attachment: initial;
}
/* line 1231, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-braids .info-row .location {
  width: 100%;
}
/* line 1234, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-braids .info-row .location h4 {
  font-size: 36px;
}
/* line 1235, ../../sass/pages/jtm.scss */
html.mobile .jtm-page.jtm-braids .info-row .location .date {
  font-size: 24px;
  line-height: 1.25em;
}
/* line 1241, ../../sass/pages/jtm.scss */
.jtm-page #top-nav {
  position: absolute;
  top: 50%;
  margin-top: -55px;
  left: 20px;
  height: 40px;
  overflow: hidden;
  z-index: 500;
  -webkit-font-smoothing: antialiased;
}
/* line 1251, ../../sass/pages/jtm.scss */
html.mobile .jtm-page #top-nav {
  display: none;
}
/* line 1253, ../../sass/pages/jtm.scss */
.jtm-page #top-nav.topped {
  top: 65px;
  margin-top: 0;
  right: 10px;
  left: initial;
}
/* line 1259, ../../sass/pages/jtm.scss */
html.ie .jtm-page #top-nav.topped {
  left: 30%;
}
/* line 1261, ../../sass/pages/jtm.scss */
.jtm-page #top-nav.topped a {
  display: inline-block;
  margin: 0 13px;
}
/* line 1265, ../../sass/pages/jtm.scss */
.jtm-page #top-nav.topped a::before {
  display: none;
}
/* line 1266, ../../sass/pages/jtm.scss */
.jtm-page #top-nav.topped a:hover {
  border-bottom: 3px solid #fff;
}
/* line 1270, ../../sass/pages/jtm.scss */
.jtm-page #top-nav a {
  color: #fff;
  font-family: "Merriweather", serif;
  display: block;
  position: relative;
  padding: 0 20px;
  -moz-transition: top 200ms ease;
  -o-transition: top 200ms ease;
  -webkit-transition: top 200ms ease;
  transition: top 200ms ease;
}
/* line 1279, ../../sass/pages/jtm.scss */
.jtm-page #top-nav a::before {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 9px;
  left: 0px;
  border: 1px solid #fff;
  border-radius: 50%;
  -moz-transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -webkit-transition: background 200ms ease;
  transition: background 200ms ease;
}
/* line 1290, ../../sass/pages/jtm.scss */
.jtm-page #top-nav a:hover::before {
  background: #fff;
}
/* line 1296, ../../sass/pages/jtm.scss */
.jtm-page #sidebar-nav {
  position: fixed;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(119, 119, 119, 0.95);
  z-index: 500;
  padding-top: 5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: top 500ms ease-out;
  -o-transition: top 500ms ease-out;
  -webkit-transition: top 500ms ease-out;
  transition: top 500ms ease-out;
}
/* line 1308, ../../sass/pages/jtm.scss */
html.mobile .jtm-page #sidebar-nav {
  padding: 20% 0;
  border-bottom: 0;
  visibility: hidden;
}
/* line 1310, ../../sass/pages/jtm.scss */
.jtm-page #sidebar-nav a {
  display: block;
  width: 30%;
  text-align: center;
  color: #fdfdfd;
  font-size: 2em;
  margin: 50px auto;
  border: 2px solid transparent;
}
/* line 1319, ../../sass/pages/jtm.scss */
.jtm-page #sidebar-nav a:hover {
  border-bottom: 2px solid #fdfdfd;
}
/* line 1323, ../../sass/pages/jtm.scss */
html.mobile .jtm-page #sidebar-nav a {
  width: 100%;
  margin: 50px auto;
}
/* line 1326, ../../sass/pages/jtm.scss */
.jtm-page #sidebar-nav.open {
  top: 0;
}
/* line 1329, ../../sass/pages/jtm.scss */
html.mobile .jtm-page #sidebar-nav.open {
  visibility: visible;
}
/* line 1333, ../../sass/pages/jtm.scss */
.jtm-page .open-menu {
  position: fixed;
  background: #fdfdfd;
  width: 45px;
  height: 40px;
  top: 50px;
  left: 50px;
  cursor: pointer;
  opacity: 0;
  z-index: 500;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
/* line 1345, ../../sass/pages/jtm.scss */
.jtm-page .open-menu.fixed {
  opacity: 1;
}
/* line 1347, ../../sass/pages/jtm.scss */
html.mobile .jtm-page .open-menu {
  left: initial;
  right: 25px;
  top: 25px;
}
/* line 1349, ../../sass/pages/jtm.scss */
.jtm-page .open-menu .open-icon-anim {
  position: relative;
  left: 0px;
  top: 0px;
  border: none;
  z-index: 2;
  width: auto;
  height: auto;
}
/* line 1358, ../../sass/pages/jtm.scss */
.jtm-page .open-menu .open-icon-anim span {
  border-color: #333;
  border-width: 3px;
  width: 26px;
  left: 17px;
}
/* line 1364, ../../sass/pages/jtm.scss */
.jtm-page .open-menu .open-icon-anim span.line-1 {
  top: 18px;
}
/* line 1365, ../../sass/pages/jtm.scss */
.jtm-page .open-menu .open-icon-anim span.line-2 {
  top: 12px;
}
/* line 1366, ../../sass/pages/jtm.scss */
.jtm-page .open-menu .open-icon-anim span.line-3 {
  top: 19px;
  opacity: 1;
}
/* line 1373, ../../sass/pages/jtm.scss */
.jtm-page .open-menu .open-icon-anim.open span.line-1 {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 18px;
}
/* line 1374, ../../sass/pages/jtm.scss */
.jtm-page .open-menu .open-icon-anim.open span.line-2 {
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 17px;
}
/* line 1375, ../../sass/pages/jtm.scss */
.jtm-page .open-menu .open-icon-anim.open span.line-3 {
  top: 25px;
  opacity: 0;
}

/* line 1384, ../../sass/pages/jtm.scss */
html.mobile #header, html.mobile #footer {
  display: none;
}
/* line 1385, ../../sass/pages/jtm.scss */
html.mobile .std {
  padding: 0;
}

/* line 1389, ../../sass/pages/jtm.scss */
#jordan-nav {
  position: absolute !important;
  top: 0 !important;
  z-index: 900 !important;
}
/* line 1394, ../../sass/pages/jtm.scss */
#jordan-nav a {
  color: #fff;
  text-decoration: none;
}
/* line 1396, ../../sass/pages/jtm.scss */
#jordan-nav #categories .sub .rollover ul {
  list-style: none;
  color: #fff;
}
/* line 1400, ../../sass/pages/jtm.scss */
#jordan-nav #categories .sub .rollover ul h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
}
