/* line 24, ../../sass/pages/kids.scss */
html.fixed {
  overflow: hidden;
}

/* line 25, ../../sass/pages/kids.scss */
html.mobile.fixed #content {
  position: relative;
  z-index: 4;
}

/* line 27, ../../sass/pages/kids.scss */
#lp-rookie {
  background: #ffffff no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Montserrat";
  font-size: 21px;
}
/* line 35, ../../sass/pages/kids.scss */
#lp-rookie h1, #lp-rookie h2, #lp-rookie h3 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat";
}
/* line 36, ../../sass/pages/kids.scss */
#lp-rookie h2 {
  font-size: 36px;
  font-weight: 700;
}
/* line 37, ../../sass/pages/kids.scss */
#lp-rookie img {
  max-width: 100%;
}
/* line 38, ../../sass/pages/kids.scss */
#lp-rookie p {
  font-weight: 300;
}
/* line 39, ../../sass/pages/kids.scss */
#lp-rookie .font-hand {
  font-family: "Just Another Hand", "Montserrat";
}
/* line 41, ../../sass/pages/kids.scss */
#lp-rookie .btn-shop, #lp-rookie .btn-shop-blue, #lp-rookie .btn-shop-red, #lp-rookie section.block-sliders > div .slide.has-btn::after, #lp-rookie section.block-whats-new .story-items li a::after {
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 30px;
  min-width: 165px;
  margin: 20px 10px;
  background: #2b2b2b;
  display: inline-block;
  text-align: center;
  font-size: 15px;
}
/* line 53, ../../sass/pages/kids.scss */
#lp-rookie .btn-shop-blue {
  background-color: #084d8b;
}
/* line 57, ../../sass/pages/kids.scss */
#lp-rookie .btn-shop-red {
  background-color: #dc3941;
}
/* line 62, ../../sass/pages/kids.scss */
#lp-rookie .logo {
  display: block;
  margin: 0px auto;
  padding: 40px 0;
  float: none;
  max-width: 375px;
}
/* line 70, ../../sass/pages/kids.scss */
#lp-rookie section {
  padding-bottom: 40px;
  text-align: center;
}
/* line 74, ../../sass/pages/kids.scss */
#lp-rookie section::after {
  display: block;
  content: '';
  clear: both;
}
/* line 77, ../../sass/pages/kids.scss */
#lp-rookie section.hero img {
  width: 100%;
}
/* line 82, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders > div {
  width: 50%;
  float: left;
  border-top: 10px solid;
  position: relative;
}
/* line 88, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders > div .slide {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
}
/* line 93, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders > div .slide.has-btn::after {
  display: block;
  content: '';
  position: absolute;
  content: 'Shop This';
  bottom: 15px;
  left: 50%;
  margin-left: -143px !important;
}
/* line 103, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders > div .arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -100px;
  height: 40px;
  width: 40px;
  background: url("/skin/frontend/villa/default/css/graphics/jordan/white/collapse.svg") no-repeat center center;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
  z-index: 4;
}
/* line 116, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders > div .next {
  left: auto;
  right: 10px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 122, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders > div .cycle-pager {
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
}
/* line 127, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders > div .cycle-pager span {
  padding: 0 4px;
  color: #aaa;
}
/* line 130, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders > div h3 {
  font-size: 36px;
  padding: 15px 0 4px;
  text-align: center;
  width: 100%;
}
/* line 138, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders .block-slider-boys {
  border-top-color: #084d8b;
}
/* line 141, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders .block-slider-boys .slide.has-btn::after {
  background-color: #084d8b;
}
/* line 145, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders .block-slider-boys h3 {
  background-color: #084d8b;
}
/* line 149, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders .block-slider-boys .cycle-pager-active {
  color: #084d8b;
}
/* line 154, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders .block-slider-girls {
  border-top-color: #dc3941;
}
/* line 157, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders .block-slider-girls .slide.has-btn::after {
  background-color: #dc3941;
}
/* line 161, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders .block-slider-girls h3 {
  background-color: #dc3941;
}
/* line 165, ../../sass/pages/kids.scss */
#lp-rookie section.block-sliders .block-slider-girls .cycle-pager-active {
  color: #dc3941;
}
/* line 173, ../../sass/pages/kids.scss */
#lp-rookie section.block-categories .block-category {
  width: 25%;
  float: left;
}
/* line 177, ../../sass/pages/kids.scss */
#lp-rookie section.block-categories .block-category img {
  width: 100%;
}
/* line 181, ../../sass/pages/kids.scss */
#lp-rookie section.block-whats-new {
  color: #2b2b2b;
  text-align: center;
  background: #f2f2f2;
}
/* line 186, ../../sass/pages/kids.scss */
#lp-rookie section.block-whats-new h2 {
  padding: 40px 0;
  color: #2b2b2b;
}
/* line 188, ../../sass/pages/kids.scss */
#lp-rookie section.block-whats-new .story-items {
  overflow: auto;
  margin-bottom: 50px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
/* line 73, ../../sass/_mixins.scss */
#lp-rookie section.block-whats-new .story-items::-webkit-scrollbar {
  width: 0 !important;
}
/* line 193, ../../sass/pages/kids.scss */
#lp-rookie section.block-whats-new .story-items ul {
  margin: 0;
  white-space: nowrap;
}
/* line 195, ../../sass/pages/kids.scss */
#lp-rookie section.block-whats-new .story-items li a {
  text-align: center;
}
/* line 198, ../../sass/pages/kids.scss */
#lp-rookie section.block-whats-new .story-items li a::after {
  display: block;
  content: 'Shop Now';
  width: 100%;
  margin: 40px 0;
  padding: 12px 0;
  font-family: "Montserrat";
}
/* line 208, ../../sass/pages/kids.scss */
#lp-rookie section.block-whats-new .story-items li a .brand,
#lp-rookie section.block-whats-new .story-items li a .name {
  font-family: "Montserrat";
  text-transform: uppercase !important;
  font-size: 14px;
  color: #2b2b2b;
}
/* line 215, ../../sass/pages/kids.scss */
#lp-rookie section.block-whats-new .story-items li a .price-box,
#lp-rookie section.block-whats-new .story-items li a .promo-label {
  display: none;
}
/* line 221, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories {
  background: no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #ffffff;
  padding: 100px;
}
/* line 229, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories h2 {
  font-size: 90px;
  padding-bottom: 50px;
  text-align: center;
}
/* line 231, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories p {
  margin-bottom: 50px;
  text-align: left;
  font-size: 16px;
}
/* line 233, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories a {
  color: #ffffff;
  text-decoration: underline;
}
/* line 235, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories .block-story {
  display: inline-block;
  width: 45%;
  margin: 20px 0.5%;
  cursor: pointer;
}
/* line 241, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories .block-story h3 {
  font-size: 48px;
  text-align: center;
  margin: 20px;
}
/* line 243, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories .block-story p {
  display: none;
}
/* line 245, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories .block-story img {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 249, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories .block-story:hover img {
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
/* line 256, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories .block-story.has-video #mep_0 {
  display: none;
  margin: 50px auto;
}
/* line 264, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories.fixed::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #132432;
}
@supports (-webkit-backdrop-filter: blur()) {
  /* line 264, ../../sass/pages/kids.scss */
  #lp-rookie section.block-stories.fixed::before {
    background-color: rgba(19, 36, 50, 0.75);
    -webkit-backdrop-filter: blur(20px);
  }
}
@supports (backdrop-filter: blur()) {
  /* line 264, ../../sass/pages/kids.scss */
  #lp-rookie section.block-stories.fixed::before {
    background-color: rgba(19, 36, 50, 0.75);
    backdrop-filter: blur(20px);
  }
}
/* line 283, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories.fixed .active {
  position: fixed;
  top: 5%;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
/* line 294, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories.fixed .active::before {
  content: 'tap image to close';
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 20px;
  text-align: center;
  left: 0;
  font-size: 12px;
  opacity: 0.5;
}
/* line 307, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories.fixed .active img {
  width: 40%;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}
/* line 309, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories.fixed .active p {
  display: block;
}
/* line 312, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories.fixed .active.has-video img {
  display: none;
}
/* line 313, ../../sass/pages/kids.scss */
#lp-rookie section.block-stories.fixed .active.has-video #mep_0 {
  display: block;
}
@media screen and (min-width: 760px) {
  /* line 321, ../../sass/pages/kids.scss */
  #lp-rookie .block-categories .btn-shop, #lp-rookie .block-categories .btn-shop-blue, #lp-rookie .block-categories .btn-shop-red, #lp-rookie .block-categories section.block-sliders > div .slide.has-btn::after, #lp-rookie section.block-sliders > div .block-categories .slide.has-btn::after, #lp-rookie .block-categories section.block-whats-new .story-items li a::after, #lp-rookie section.block-whats-new .story-items li .block-categories a::after {
    padding: 12px;
    min-width: 0;
  }
}
/* line 327, ../../sass/pages/kids.scss */
html.mobile #lp-rookie {
  background-image: none !important;
}
/* line 329, ../../sass/pages/kids.scss */
html.mobile #lp-rookie p {
  font-size: 14px;
  line-height: 1.5em;
}
/* line 331, ../../sass/pages/kids.scss */
html.mobile #lp-rookie .logo {
  width: 200px;
}
/* line 333, ../../sass/pages/kids.scss */
html.mobile #lp-rookie .btn-shop, html.mobile #lp-rookie .btn-shop-blue, html.mobile #lp-rookie .btn-shop-red, html.mobile #lp-rookie section.block-sliders > div .slide.has-btn::after, html.mobile #lp-rookie section.block-whats-new .story-items li a::after,
html.mobile #lp-rookie .btn-shop-blue {
  margin: 10px;
}
/* line 340, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.hero {
  overflow: hidden;
}
/* line 343, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.hero img {
  max-width: 200%;
  width: 200%;
  margin-left: -50%;
}
/* line 352, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-sliders > div {
  width: 100%;
  margin-bottom: 40px;
}
/* line 356, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-sliders > div h3 {
  padding: 20px 0 10px;
}
/* line 360, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-categories .block-category {
  width: 50%;
  margin-bottom: 40px;
}
/* line 365, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-whats-new .story-items {
  overflow: hidden;
}
/* line 368, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-whats-new .story-items ul {
  white-space: normal;
}
/* line 371, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-whats-new .story-items ul li {
  width: 45%;
}
/* line 374, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-whats-new .story-items ul li a::after {
  width: 90%;
  min-width: 0;
  padding: 8px 0;
}
/* line 383, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-stories {
  background-size: 100%;
  background-color: #132432;
  background-repeat: repeat;
  padding: 40px 20px;
}
/* line 389, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-stories h2 {
  font-size: 45px;
  line-height: 0.9em;
}
/* line 394, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-stories .block-story {
  width: 100%;
}
/* line 397, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-stories .block-story h3 {
  line-height: 0.9em;
  font-size: 36px;
}
/* line 404, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-stories.fixed .active {
  top: 0;
}
/* line 407, ../../sass/pages/kids.scss */
html.mobile #lp-rookie section.block-stories.fixed .active img {
  width: 100%;
}
