//
//.:..:..:..:..:..:..:..:.
// Tailor'd Design
// jesse@tailord.design
//.:..:..:..:..:..:..:..:.
//


$primary:  	rgb(234, 128, 49);
$secondary:	rgb(171, 223, 70);
$thirdary:	rgb(35, 35, 40);
$special:	#ffe425;
$white:		#fff;
$black: 	#000;
$softR:		3px;

.green {color:$secondary;}

body {
	background:#010101 no-repeat;
	background-image:url('../img/bg-flares.jpg');
	background-size:100%;
	color:$white;
	margin:0;
	padding:0;
}
footer {
	text-align: right;
	padding: 10px 20px;
	font-size: 10px;
	color: #838383;
}
h1 {
	margin:0;
}
h2 {
	margin:0;
	border-bottom:2px solid $primary;
}
button {
	border:1px solid $secondary;
	background:rgba($secondary, 0.25);
	border-radius:$softR;
	height:30px;
	width:120px;
	color:$white;
	text-transform:uppercase;
	font-weight:700;
	cursor: pointer;
	outline:none;
	margin:5px 0;
	&.sm {
		width:80px;
		height:25px;
		font-size:9px;
	}
	&:disabled {
		opacity:0.2;
		cursor: not-allowed;
	}
}
.fetching {
	color:$primary;
	&::after {
		display:inline-block;
		content:'... FETCHED NEW ⚡️';
	}
}
.locally {
	&::after {
		display:inline-block;
		content:'... FETCHED LOCALLY 👌';
	}
}
.fa-medal {
	padding:0 9px;
	font-size:14px;
}
.top-score {
	color:$special;
	.fa-medal {display:inline-block !important;}
}
h3 span.is-loading {
	background: $black;
    color: $black;
    // border: 2px solid $white;
    border-radius: 30px;
    padding:0 20px;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes loading {
	0% {background:$black;color:$black;}
	50% {background:$thirdary;color:$thirdary;}
	100% {background:$black;color:$black;}
}
@keyframes ellipsis {
	0% {content:'.';}
	33% {content:'..';}
	66% {content:'...';}
}
.App {
	margin: 20px;
	background: rgba($thirdary, 0.75);
	border-radius: $softR;
}
header {
	border-bottom:2px solid $thirdary;
	padding:20px;
	.title-bar {
		h1 {
			display: inline-block;
			vertical-align: middle;
		}
		button {
			display:inline-block;
			vertical-align: middle;
			margin-left:20px;
			margin-right: 20px;
		}
	}
}
.list--cards {
	display:flex;
	flex-wrap:wrap;
}
.card--stats {
	border:1px solid $thirdary;
	background:rgba($thirdary,0.75);
	padding:20px;
	margin:20px 10px;
	width:300px;
	max-width:25%;
	min-width:275px;
	box-sizing: border-box;
	h2 {
		text-transform: uppercase;
		.is-loading {
			display:inline-block;
			&::after {
				content:'';
				display:inline-block;
				animation-name: ellipsis;
				animation-duration: 1s;
				animation-iteration-count: infinite;
			}
		}
	}
}