// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Product Asset layout
//--------------------------------------//


.product-assets {
	bottom: 0;
	left:0px;
	right:0px;
	padding:0 40px;
	height: 45px;
	
	.asset-icons {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		background: rgba(0, 0, 0, 0.75);
		box-sizing: border-box;
		opacity:0;
		visibility:hidden;
		height:50vh;
		padding:130px 0px;
		display: flex;
		// flex-direction: column;
		justify-content: center;
		@include transition(opacity 300ms ease, visibility 300ms ease);
		&.open {opacity:1;visibility:visible;}
	}
	
	.asset {
		display:inline-block;
		vertical-align:top;
		color:$c-white;
		padding:12px 0px;
		margin:0 13px;
		// width:100%;
		width:55px;
		height:55px;
		border:2px solid $c-white;
		border-radius:50%;
		box-sizing:border-box;
		&.icon::before {
			font-size:23px;
			padding:2.5px 0;
			box-sizing:border-box;
			margin-left:2px;
		}

		&.icon--hookup {}
		&.icon--hookup::before {
			background-image:url('/skin/frontend/villa2/default/img/hanger-white.svg');
			width:35px;
			height:26px;
		}

		&.asset-release-date {
			padding:0;
			margin:0 -60px 0 0; //helps center text due to countdown text width
			width:205px;
			text-align:left;
			color:$c-primary;
			height:auto;
			border:none;
			white-space:nowrap;

			h3 {
				display:block;
				margin:0;
				font-weight:700;
				span{color:$c-red;}
				@media screen and ($break-mobile) {font-size:1.2rem;}
			}
		}

		h3, h4 {display:none;}
	}

	.icon-more {top: 50vh;border:none;}
}

@media screen and ($break-desktop) {
	.product-assets {
		padding:0;
		position: absolute;
		padding:0 10px;

		&.font--dark .asset {
			color:$c-primary;
		}

		.asset-icons {
			opacity:1;
			bottom:0;
			top:auto;
			padding:45px 10px 0;
			height:80px;
			display:block;
			visibility:visible;
			@include background(linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.55) 100%));
		}

		.asset {
			padding:0 18px;
			float:left;
			width:auto;
			height:auto;
			border:none;
			margin:0;
			&.icon::before {
				font-size:18px;
				margin:0;
				padding:0;
			}

			&.asset-release-date {
				float:right;
				margin:0;
				padding-right:12px;
				padding-top:12px;
				position:relative;
				color:$c-white;
			}

			&.icon--hookup::before {width:23px;height:17px;}
		}

		body.jordan & {
			.asset-icons {padding-left:25px;}
		}
	}
}