// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Highlight product list styles
//--------------------------------------//


.catalog.highlight-list {
	border-top:1px solid $c-lt-gray;
	padding:20px 0;
	margin:50px 0;
	max-width:100%; //combats .catalog max-widths
	white-space:nowrap;

	h2 {@extend .bold;margin:0 0 16px 0;}

	> [data-cyclethis] {
		max-width: 1050px;
		margin: 0 auto;
		// @include noscrollbar;
		.group {
			padding:0 40px;
			width: 100%;
			box-sizing: border-box;
			background: $c-bg-primary;
		}
		.icon--prev,
		.icon--next {color:$c-primary;}
	}
	.view--desktop & {
		&:hover .icon--prev,
		&:hover .icon--next {opacity:1;}
	}

	.product {
		width:210px;
		border:1px solid #ccc;
		overflow:hidden;
		margin:0 15px;
		padding-bottom:20px;
		position:relative !important; //force cycle override

		h3, h4 {padding:0 5px;}
		h4 {float:left;}
		.label--sold-out {
			position: static;
			float: right;
			padding-right: 5px;
			line-height: 1.6rem;
			font-size: 1.2rem;
		}
		.price-box {
			float:right;
			padding:0 5px;
			height:16px;
			line-height:1.6rem;
			.special-price {padding-right:0;}
		}

		figure {
			width:210px;
			height:268.17px;
			@include transition(all 300ms ease);
		}
		.product-promotion {
			position:absolute;
			padding:0 5px;
			bottom:8px;left:0;
		}
	}

	.ias-noneleft {display:none !important;}
}