// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Icons
//--------------------------------------//


//font icons
@font-face {
  font-family: 'FontAwesome';
  src: font-url('fontawesome-webfont.eot?v=4.7');
  src: font-url('fontawesome-webfont.eot?#iefix&v=4.7') format('embedded-opentype'), font-url('fontawesome-webfont.woff2?v=4.7') format('woff2'), font-url('fontawesome-webfont.woff?v=4.7') format('woff'), font-url('fontawesome-webfont.ttf?v=4.7') format('truetype'), font-url('fontawesome-webfont.svg?v=4.7#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
	@include icon-setup;
}
.icon--circle {
	border: 2px solid $c-primary;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 0;
	font-size: 13px;
	display: inline-block;
	text-align:center;
	&::before {line-height:30px;}
}

.icon--cart {
	@include icon("\f07a");
}
.icon--instagram {
	@include icon("\f16d");
}
.icon--facebook {
	@include icon("\f09a");
}
.icon--twitter {
	@include icon("\f099");
	margin-left:2px;
}
.icon--youtube {
	@include icon("\f167");
}
.icon--snapchat {
	@include icon("\f2ac");
}
.icon--up-arrow {
	@include icon("\f0d8");
}
.icon--down-arrow {
	@include icon("\f0d7");
}
.icon--chevron {
	@include icon("\f054");
}
.icon--mail {
	@include icon("\f0e0");
}
.icon--mail--outline {
	@include icon("\f003");
}
.icon--phone {
	@include icon("\f10b");
	padding-left:3px;
}
.icon--fax {
	@include icon("\f1ac");
}
.icon--clock {
	@include icon("\f017");
}
.icon--search {
	@include icon("\f002");
}
.icon--pin {
	@include icon("\f041");
}
.icon--user {
	// @include icon("\f007");
	&::before {
		content: '';
		background: url('/skin/frontend/villa2/default/img/user.svg') center center no-repeat;
		height: 32px;
		width: 23px;
		background-size: 100%;
	}
}
.icon--movement {
	&::before {
		content: '';
		background: url('/skin/frontend/villa2/default/img/movement.svg') center center no-repeat;
		height: 20px;
		width: 20px;
		background-size: 100%;
	}
}
.icon--storepickup {
	&::before {
		content: '';
		background: url('/skin/frontend/villa2/default/img/store-pickup.svg') center center no-repeat;
		height: 30px;
		width: 36px;
		background-size: 100%;
	}
}
.icon--storepickup-white {
	&::before {
		content: '';
		background: url('/skin/frontend/villa2/default/img/store-pickup-white.svg') center center no-repeat;
		height: 30px;
		width: 36px;
		background-size: 100%;
	}
}
.icon--storevilla {
	&::before {
		content: '';
		background: url('/skin/frontend/villa2/default/img/store-villa.svg') center center no-repeat;
		height: 30px;
		width: 32px;
		background-size: 100%;
	}
}
.icon--filters {
	@include icon("\f1de");
}
.icon--dash {
	@include icon("\f068");
}
.icon--check {
	@include icon("\f00c");
}
.icon--question {
	@include icon("\f29c");
}
.icon--cc {
	@include icon("\f09d");
}
.icon--paypal {
	@include icon("\f1f4");
}
.icon--settings {
	@include icon("\f013");
}
.icon--heart {
	@include icon("\f004");
}
.icon--heart-outline {
	@include icon("\f08a");
}
.icon--edit {
	@include icon("\f044");
	&::before {font-size:14px;}
}
.icon--orders {
	@include icon("\f0f6");
}
.icon--address_book {
	@include icon("\f02d");
}
.icon--newsletter {
	@include icon("\f1ea");
}
.icon--print {
	@include icon("\f02f");
}
.icon--shipping {
	@include icon("\f0d1");
}
.icon--delete {
	@include icon("\f014");
	&::before {font-size:14px;}
}
.icon--reorder {
	@include icon("\f218");
}
.icon--return {
	@include icon("\f0e2");
}
.icon--blog {
	@include icon("\f0f6");
}
.icon--photo {
	@include icon("\f030");
}
.icon--video {
	@include icon("\f008");
}
.icon--pinterest {
	@include icon("\f231");
}
.icon--document {
	@include icon("\f0f6");
}
.icon--launchpad {
	@include icon("\f135");
}
.icon--cancel {
	@include icon("\f00d");
}
.icon--warning {
	@include icon("\f071");
}
.icon--gift,
.icon--enterprise_giftcardaccount {
	@include icon("\f06b");
}
.icon--tag {
	@include icon("\f02b");
}
.icon--flag {
	@include icon("\f024");
}
.icon--house {
	@include icon("\f015");
}
.icon--target {
	@include icon("\f140");
}
.icon--account::before {
	background-image: url('/skin/frontend/villa2/default/img/dashboard.svg');
	background-size:16px; //needed because this block is wider in some cases 
    width:16px;
    height:16px;
}
.icon--info::before,
.icon--account_edit::before {
	background-image: url('/skin/frontend/villa2/default/img/info.svg');
	background-size:16px; //needed because this block is wider in some cases 
    width:16px;
    height:16px;
}
.icon--hookup::before {
	background-image:url('/skin/frontend/villa2/default/img/hanger.svg');
	width:23px;
	height:17px;
}
.icon--sizes {
	&::before {
		font-family:$f-helv;
		font-weight:700;
	}
	&.m::before {content:'M';}
	&.w::before {content:'W';}
	&.gs::before {content:'GS';}
	&.mgs::before {content:'M+GS';}
}
.icon--spinner {
	@include icon("\f110");
	&::before {
		@extend .icon-pulse;
		font-size:20px;
		padding:10px;
		vertical-align: middle;
	}
}
.icon--notch {
	// @include icon("\f1ce");
	// &::before {
	// 	@extend .icon-spin;
	// 	// font-size:14px;
	// 	// width:20px;
	// 	// height:19.5px;
	// 	// line-height:20px;
	// 	// @include transform-origin(calc(50% + -3%), calc(50% + 1%));
	// 	width: 14px;
	// 	height: 14px;
	// 	display: inline-block;
	// 	border-radius: 50%;
	// 	border: 3px solid $c-primary;
	// 	@include clip-path(polygon(0% 0%, 40% 0%, 40% 50%, 60% 50%, 60% 0%, 100% 0%, 100% 100%, 0% 100%));
	// }
	@include icon("\f1ce");
	&::before {
		@extend .icon-spin;
		font-size:24px;
		width:24px;
		height:24px;
		line-height:24px;
		vertical-align:2px;
		@include transform-origin(12px, 12.5px);
	}
}
.icon-more {
	font-size: 20px;
	font-weight: 100;
	line-height: 18px;
	position: absolute;
    right: 50%;
	width:50px;
	height:50px;
    margin-right:-25px;
    margin-top:-25px;
    z-index: $z1;
    border: 1px solid rgba(169, 169, 169, 0.39);
    background: $c-white;
    color:$c-primary;
    font-size:20px;
    cursor:pointer;
    @include transform (rotate(45deg));
	// @include icon("+");
	@include icon("\f00d");
	@include transition (transform 300ms ease);
	&::before {line-height:1.8rem;vertical-align:top;position:absolute;top:15px;left:17px;}

	.open > &,
	&.open {
		@include transform (rotate(180deg));
	}
}

.icon--next, .icon--prev {
	@extend .icon--up-arrow;
	position:absolute;
	height:40px;
	width:22px;
	top:50%;
	margin-top:-20px;
	font-size:30px;
	z-index:$z5;
	text-align:center;
	cursor:pointer;
	color:$c-white;
	opacity:0;
	@include transition(300ms ease opacity);
	.cycle-slideshow:hover & {opacity:1;}
	// &.arrow--light {color:$c-white;}
	&.arrow--dark {color:$c-primary;}
}
.icon--next {
	@include transform(rotate(90deg));
	right:10px;
}
.icon--prev {
	@include transform(rotate(-90deg));
	left:10px;
}
.cycle-pager {
	font-size: 60px;
	line-height:30px;
	z-index: $z5;
	text-align:center;

	span {color:$c-forms;cursor:pointer; &.cycle-pager-active {color:$c-primary;}}

	.cycle-slideshow[data-cycle-fx="carousel"] & {
		span {display:inline !important;}
	}
}

.cycle-slideshow .icon--next, .cycle-slideshow .icon--prev {display:none;}
@media screen and ($break-desktop) {
	.cycle-slideshow .icon--next, 
	.cycle-slideshow .icon--prev {
		display: block;
		width: 40px;
	}
}

.icon--x {
	// @include icon("\f00d");
	&::before {
		content:"+";
		@include transform (rotate(45deg));
		margin-top:-2px;
		font-size:18px;
		text-indent:2px;
		cursor:pointer;
	}
}


//animations
.icon--nav-anim {
	width:24px;
	height:24px;

	span {
		border-top: 2px solid $c-white;
		width: 100%;
		position: relative;
		display: block;
		// left: 50%;
		// margin-left: -16px;
		@include transition (all 250ms cubic-bezier(0, 0, 0, 1.22));

		&.anim-line-1 {top:9px;}
		&.anim-line-2 {top:0;}
		&.anim-line-3 {top:12px;opacity:1;}
	}

	&.open {
		span {
			&.anim-line-1 {@include transform (rotate(135deg));top: 10px;}
			&.anim-line-2 {@include transform (rotate(225deg));top: 8px;}
			&.anim-line-3 {top:20px;opacity:0;}
		}
	}
}
// Spinning Icons
// --------------------------

.icon-spin {
  // -webkit-animation: icon-spin 2s infinite linear;
  //         animation: icon-spin 2s infinite linear;
  -webkit-animation: icon-spin 900ms infinite cubic-bezier(0.29, 0.37, 0.39, 1.02);
          animation: icon-spin 900ms infinite cubic-bezier(0.29, 0.37, 0.39, 1.02);
}

.icon-pulse {
  -webkit-animation: icon-spin 600ms infinite steps(8);
          animation: icon-spin 600ms infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes loading-bar {
  from {
    right:100%;
  }
  to {
    right:3%;
  }
}

@keyframes loading-bar {
  from {
    right:100%;
  }
  to {
    right:3%;
  }
}