// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Outfit block layout
//--------------------------------------//


.outfit-list {
	.group {width:100%;}
	.outfit {
		position: relative !important; //force cycle override
		display: inline-block;
		border: 1px solid #ccc;
		margin: 0 10px;
		vertical-align: top;
		overflow:visible !important;
		.view--desktop & {margin:0 20px;}
		&.open {
			.outfit-items {bottom:0;}
		}
	}
	.outfit-list-wrap {padding-bottom:40px;}
	.outfit-box {
		overflow: hidden;
		width: 350px;
		height: 538px;
		position: relative;
	}
	.outfit-image {width:100%;}
	.outfit-items {
		position:absolute !important;
		left:0;
		right:0;
		width:100%;
		bottom:-400px;
		background:$c-white;
		overflow-y: auto;
		box-sizing:border-box;
		padding:40px 55px 10px;
		@include transition(bottom 300ms ease);

		.cycle-carousel-wrap {top:40px !important;}
	}
	.icon-more {
		top:100%;
		@include transition(top 300ms ease);
	    &.open {top:138px;}
	}
	.icon--prev,
	.icon--next {color:$c-primary;}
	.outfit-list-wrap > .cycle-pager {margin-top:40px;height:0;}
}
