// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Power Reviews
//--------------------------------------//


@mixin adjust-font {
	font-family:$f-family !important;
	font-size:1.2rem !important;
	color:$c-primary !important;
	p, span, time, li {color:$c-primary !important;}
}
@mixin stars-bg($val1,$val2,$val3,$val4,$val5) {
	background-image:image-url('star-#{$val1}.svg', false, false), image-url('star-#{$val2}.svg', false, false), image-url('star-#{$val3}.svg', false, false), image-url('star-#{$val4}.svg', false, false), image-url('star-#{$val5}.svg', false, false);
}
$bar-red:#ee4147;
$bar-orange:#f35b43;
$bar-maroon:#a91834;
$bar-sea:#89c9c9;
$bar-blue:#4f9bc3;
$bar-purple:#a81884;
$gray:#f2f2f2;
$ltgray:#a9a9a9;
%pr-wrap {
	max-width: 900px;
	margin: 0 auto;
	padding: 30px 20px;
	box-sizing: border-box;
}

.block-powerreviews {
	border-top:1px solid $ltgray;
	padding:40px 0;
	h2 {@extend %bold;text-align:center;margin:0 0 20px;}
}

#body-main .p-w-r {
	@include adjust-font;
	.pr-snippet-stars-container {display:block;}
	.pr-snippet-stars-reco-reco {display:none;}
	h1.pr-review-snapshot-block-headline {display:none;}
	section.pr-review-snapshot-block-pros,
	section.pr-review-snapshot-block-cons,
	section.pr-review-snapshot-msq-container[data-reactid-powerreviews=".0.2.$msq-2"] {display:none;}
	select, input, [role="radio"] {outline:none !important;box-shadow:none !important;}
	.form-control {
		color:$c-primary !important;
		border:none !important;
		font-size:1.2rem !important;
	}
	a,
	a:hover,
	.pr-review-display a,
	.pr-review-display a:hover {color:$c-primary !important;}
	.pr-btn.active,
	.pr-label-control.checked {
		color:$c-white !important;
		background-color:$c-primary;
		outline:none;
		box-shadow:none;
		span {color:$c-white !important;}
	}
	.pr-btn-add-tag a::after {color:$c-primary;}
	.pr-clear-all-radios {color:$c-primary;text-decoration:underline;font-weight:300;text-transform:none;}
	.pr-control-label {text-transform:uppercase;}
	.pr-has-error .form-control {border:1px solid $c-error !important;}
	.pr-has-error .pr-control-label span {color:$c-error;}
	.input-group-btn {border-left:1px solid gray;}
	.pr-helper-text {font-size:1.2rem;}
	.pr-snippet-write-review-link {
		color:inherit !important;
		text-decoration:underline;
		width:150px;
		@include icon-setup;
		@include icon("\f044");
		&::before {font-size:14px;padding-right:5px;}
	}
	.pr-rating-stars {
		.pr-star-v4-100-filled {
			background-image:image-url('star-full.svg', false, false);
		}
		.pr-star-v4-25-filled,
		.pr-star-v4-50-filled,
		.pr-star-v4-75-filled {
			background-image:image-url('star-half.svg', false, false);
		}
		.pr-star-v4-0-filled {
			background-image:image-url('star-empty.svg', false, false);
		}
	}
	.pr-ratings-histogram-bar {
		border-radius:0;
		height:10px;
		background-color:$gray;
		.pr-ratings-histogram-barValue {
			height:8px;
			border-radius:0;
		}
	}
	.pr-loading-indicator {
		border:none;
		width:24px;
		height:24px;
		@extend .icon;
		@extend .icon--notch;
	}
}

#pr-reviewdisplay {
	@extend .wrap--content;
	.p-w-r {margin:0;}
	header {
		text-align:center;
		.pr-review-snapshot-header-intro {display:none;}
		.pr-review-snapshot-snippets {
			.pr-snippet-rating-decimal {display:none;}
		}
		.pr-snippet-stars-reco-stars {float:none;}
		.pr-snippet-read-and-write {display:block;}
		.pr-snippet-review-count {font-size:1.2rem !important;}
		.pr-snippet-write-review-link {
			display:block;
			text-transform:none;
			margin:20px auto 0;
		}
	}
	#pr-image-display.pr-rid {display:none;}
	.pr-review-snapshot-block-container {
		@extend %pr-wrap;
		padding-top:0;padding-bottom:0;
	}
	.pr-review-snapshot-faceoff {display:none;}
	.pr-review-snapshot-msq-container {
		@extend %pr-wrap;
		.pr-review-snapshot-msq-histogram {
			padding:0;
			padding-bottom:20px;
			max-width:400px;
			float:none;
			margin:0 auto;
			> p {font-size:1.2rem;text-transform:uppercase;}
			.pr-histogram-list {margin:0;border-spacing:0;}
			.pr-histogram-label {
				padding:0;
				font-size:1.2rem;
				overflow:hidden;
				text-overflow:ellipsis;
				max-width:150px;
				width:150px;
			}
			.pr-ratings-histogram-percent {color:$c-primary;}
			.pr-ratings-histogram-barValue {
				background-color:$bar-blue;
				@include background(linear-gradient(90deg, $bar-sea 0%, $bar-blue 80%));
			}
		}
	}
	.pr-review-snapshot-block {
		border:none;
		width:100%;
		max-width:400px;
		margin:0 auto;
		min-height:0px;
		float:none;
		.pr-histogram-stars {
			height:15px;
			&:hover {
				background:none;
				// .pr-ratings-histogram-bar {
				// 	.pr-ratings-histogram-barValue {
				// 		background:$bar-red;
				// 	}
				// }
			}
			.pr-histogram-label {
				background-repeat:no-repeat;
				background-size:calc(20% - 2px);
				background-position:0 center, calc(20% + 1px) center, calc(40% + 2px) center, calc(60% + 3px) center, calc(80% + 4px) center;
				padding:0;
				text-indent:-9999px;
			}
			&.pr-histogram-5Stars .pr-histogram-label {
				@include stars-bg(full, full, full, full, full);
			}
			&.pr-histogram-4Stars .pr-histogram-label {
				@include stars-bg(full, full, full, full, empty);
			}
			&.pr-histogram-3Stars .pr-histogram-label {
				@include stars-bg(full, full, full, empty, empty);
			}
			&.pr-histogram-2Stars .pr-histogram-label {
				@include stars-bg(full, full, empty, empty, empty);
			}
			&.pr-histogram-1Stars .pr-histogram-label {
				@include stars-bg(full, empty, empty, empty, empty);
			}
			.pr-ratings-histogram-bar-container {
				&::before,
				&::after {display:none;}
				.pr-ratings-histogram-bar {
					.pr-ratings-histogram-barValue {
						background-color:$bar-red;
						@include background(linear-gradient(90deg, $bar-orange 0%, $bar-red 80%));
					}
				}
			}
			.pr-histogram-count {
				font-weight:300;
				font-size:1.2rem;
				&::before {content:"(";}
				&::after {content:")";}
			}
		}
	}
	#pr-review-display {
		margin:0;
		.pr-rd-main-header {
			background:none;
			@extend %pr-wrap;
			label {position:static;font-size:1.2rem;}
			select {margin:0;}
			body.view--desktop & {
				label {padding-right:10px;}
			}
		}
		.pr-review-snapshot .pr-review-close-filter:hover .pr-cross-icon {background-color:$c-primary;}
		article.pr-review {
			@extend %pr-wrap;
			.pr-rating-stars [role="radio"] {
				width:14px;
				height:14px;
			}
			.pr-snippet-rating-decimal,
			.pr-rd-bottomline {display:none;}
			.pr-rd-details,
			.pr-rd-description-text {font-size: 1.2rem;}
			.pr-rd-review-headline {
				font-size:1.6rem;
				line-height:1.6rem;
			}
			.pr-rd-description-text {text-align:justify;}
			.pr-rd-content-block {
				.pr-accordion-btn {
					> span {
						font-size:1.2rem;
						font-weight:300;
						svg polyline {stroke:$c-primary;}
					}
				}
				dl, dt, dd {
					font-size:1.2rem;
					color:$c-primary;
					text-transform:none;
				}
				dl.pr-rd-review-tag {
					@extend .clearfix;
					dt {text-transform:uppercase;background:none;}
					dd {
						padding:5px;
						background:$gray;
						margin:2px;
						float:left;
					}
				}
			}
			.pr-rd-reviewed-at {
				margin:20px 0;
				a {display:block;margin-top:10px;}
			}
			.pr-rd-footer {
				padding:0;
				height:52px;
				margin-bottom:30px;
				&::after {
					content:'';
					display:block;
					border-top:1px solid $gray;
					height:22px;
					margin-top:20px;
				}
				.pr-rd-helpful-text {font-size:1.2rem;}
				button.pr-helpful-btn {
					background:none;
					border:none;
					padding-left:0;
					&:hover span {color:$c-primary;}
					.pr-helpful-count {color:$c-primary;}
					svg {
						width:25px;
						path {fill:$c-primary;}
					}
				}
				.pr-rd-flag-review-container {
					position:absolute;
					bottom:0;
					right:0;
					text-transform:none;
					font-size:1.2rem;
					a {
						color:$c-primary;
						@include icon-setup;
						@include icon("\f024");
						&::before {font-size:1.2rem;padding-right:5px;}
						&:hover::before {color:$c-error;}
					}
				}
			}
		}
		.pr-rd-main-footer {
			border-bottom:none;
			.pr-rd-content-block {width:100%;}
			.pr-rd-pagination {
				border:none;
				text-align:center;
				float:none;
				button {color:$c-primary;}
			}
			body.view--desktop & {
				.pr-rd-to-top {float:right;}
			}
		}
		body.view--desktop & {
			article.pr-review {
				.pr-rd-content-block {width:100%;}
				.pr-rd-side-content-block {position:static;float:none;padding:0;}
				.pr-rd-footer {height:25px;}
			}
		}
	}
	.pr-media-modal {
		top:20vh;
		bottom:20vh;
		height:auto;
		@include adjust-font;
		.modal__body {background-color:$c-bg-secondary;}
	}
}

#pr-reviewsnippet {
	.pr-review-snippet-container {
		margin:20px auto;
		text-align: center;
		&.pr-no-reviews {display:none;}
		.pr-snippet-rating-decimal {
			font-size:1rem;
			margin:1px -30px 0 5px;
		}
		.pr-snippet-read-and-write {
			.pr-snippet-review-count {font-size:1.2rem !important;margin:0;}
			.pr-snippet-write-review-link {display:none;}
		}
	}
}

.cms-submit-a-review {
	h1 {text-align:center;}
	#pr-write {
		// background-color:$c-bg-secondary;
		.p-w-r > h1 {font-size:1.4rem;text-align:center;}
		.pr-war {max-width:100%;}
		.pr-ryp-list {max-width:640px;margin:20px auto;}
		.ryp-purchase {background:$c-bg-secondary;}
		h1.ryp-product-title {
			font-size:1.2rem;
			font-family:$f-family;
			font-weight:700;
		}
		.ryp-stars {width:205px;}
		.form-group {font-family:$f-family;margin-bottom:30px;}
		.ryp-footer {font-family:$f-family;}
		.pr-btn-review,
		.pr-btn-review:hover {
			background:$c-primary;
			color:$c-white;
			border-radius:0;
			border:none;
			outline:none;
			box-shadow:none;
			text-transform:uppercase;
		}
	}
}

#pr-write,
#pr-review-display .pr-media-modal {
	@include adjust-font;
	padding:20px;
	label {
		position:static;
		text-transform:none;
		span {
			color:$c-primary;
			font-size:1.2rem;
			&.pr-required-indicator {color:$c-primary;}
		}
	}
	.modal__body {padding:30px 20px;border-radius:0;}
	.pr-cross-icon svg line {stroke:$c-primary;}
	.pr-header-title {display:none;}
	.pr-header-product-name {
		font-weight:700;
		color:$c-primary;
		 a {
			color:inherit;
			text-decoration:none;
		}
	}
	.pr-rating-stars {
		width:100%;
		text-align:center;
		[role="radio"] {
			width:30px;
			height:30px;
		}
	}
	.pr-footer {
		.pr-subscript {
			a {color:$c-link !important;}
		}
		.pr-btn-default,
		.pr-btn-default:hover {
			background:$c-primary;
			color:$c-white;
			border-radius:0;
			border:none;
			outline:none;
			box-shadow:none;
			text-transform:uppercase;
		}
		.pr-btn-default {margin:20px 0;}
		a[href="http://www.powerreviews.com"] {display:none;}
	}
	.thank-you-page {
		@include adjust-font;
		h1, h2, h3, h4, h5 {color:$c-primary;}
		.title {font-size:2.3rem;}
		.subtitle {text-transform:none;margin-top:0;margin-bottom:40px;font-size:1.2rem;}
		h5 {display:none;}
		.pr-rating-number,
		.pr-rating-date {display:none;}
		.headline {margin:20px 0;}
		.pr-attribute-header,
		.pr-attribute {@include adjust-font;}
		.pr-text {margin:20px 0 10px;}
		b {font-weight:700;color:$c-primary;}
	}
}

.catalog .product .ratings-box {
	float:right;
	.p-w-r {margin:0;}
	.pr-rating-stars {
		height:12px;
		.pr-star-v4 {
			width:10px;
			height:10px;
			vertical-align:top;
			&:last-of-type {margin-right:0;}
		}
	}
	.pr-no-reviews,
	.pr-snippet-rating-decimal,
	.pr-category-snippet__total {display:none;}
}