// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Toolbar styles
//--------------------------------------//


.toolbar {
	position:relative;
	box-sizing: border-box;
	z-index:$z1;
	margin-bottom:20px;
	overflow:hidden;

	.wrap {
		padding:10px;
		position:relative;
		min-height:30px;
	}

	.main-crumb {
		margin:0;
		font-size:1.6em;
		@extend .bold;
		display:inline-block;
		float:left;
		clear:left;
		vertical-align:top;
	}

	.breadcrumbs {
		display:inline-block;
		vertical-align:top;
		clear:both;
		float:left;

		ul {
			margin:0;
			padding:0;
			list-style:none;

			li {
				display:inline-block;
				text-transform:uppercase;

				&.home {display:none;}
			}
		}
	}

	.icon--filters {
		font-size:20px;
		position:absolute;
		right:15px;
		cursor:pointer;
	}

	.toolbar-tools {
		display:none;
		background:$c-white;
		position:relative;
		z-index:$z1;
	}
	.toolbar-li {
		padding:20px;
		box-sizing:border-box;
		font-size:1.2rem;

		select {
			border:none;
			padding:0;
			margin:0;
			height:auto;
			background:none !important;
			cursor:pointer;
			position:relative;
		}

		select, h3 {
			font-size:1.2rem;
			text-transform:uppercase;
			@extend .bold;
		}
		h3 {display:inline;margin-right:10px;vertical-align: middle;}

		&.currently {
			background-color:$c-bg-product;
		}
		&.arrow {
			@include nav-arrow;
			&::before {
				position:absolute;
				right:20px;
			}
		}

		.filter--active {
			display: inline-block;
			height: 30px;
			width:auto;
			padding: 8px;
			margin:5px 5px 5px 0;
			box-sizing: border-box;
			background: $c-white;
			vertical-align: middle;
			line-height:14px;
			&::before {margin-left:15px;float:right;margin-top:-3px;}
		}
	}

	@media screen and ($break-desktop) {
		
		.wrap {
			width:1080px;
		}

		.breadcrumbs {
			padding:0;
			float:left;
			
			ul li {font-size:1.2rem;}
		}

		.icon--filters {display:none;}

		.toolbar-tools {
			display:block;
			text-align:center;
		}
		.sorting, .filters {
			display:inline-block;
			vertical-align: top;
		}

		.toolbar-li {
			display:inline-block;
			width:120px;
			position:relative;
			background-color:$c-bg-product;
			padding:8px 10px;
			margin:5px;

			&.arrow::before {
				right:10px;
			}

			&.currently {
				width:100%;
				margin:10px 0;
				text-align:center;
				
				.filter--active {
					text-align:left;
				}
			}

			&.size-sm:not(.currently) {
				width:80px;
				text-overflow: ellipsis;
				overflow:hidden;
				white-space:nowrap;
				&.filter--department {min-width:110px;}
				&.filter--kids-sizing {min-width:100px;}
				&.filter--type {min-width:65px;}
				&.filter--size {min-width:60px;}
				@media screen and ('max-width:900px') {
					margin:5px 0;
				}
			}
		}
	}
}