// 
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `---' `---`-------`-------`--- ---'
// 


//--------------------------------------//
// Curalate Widget
//--------------------------------------//





@import "init";
@import "widgets/icons";

section.block--curalate {
	margin:50px 0;
	h2 {font-weight:700;text-align:center;}
	#curalate-fan-reel-wrapper {
		font-family:$f-family;
		//necessary ID to overwrite curalate's css
		#curalate-fan-reel {
			.curalate-image-overlay-content {top:60%;}
			.curalate-hover-plus {
				background:none;
				@extend .icon;
				@extend .icon--circle;
				@extend .icon-more;
				color:$c-white;
				border:2px solid $c-white;
				margin:0;
				top:-40px;
				top:-50px;
				@include transform(translateX(-50%) rotate(45deg));
				&::before {top: 13px;left: 16px;}
			}
			.curalate-hover-username {
				font-weight:700;font-size:1.4rem;
			}
			.curalate-hover-likes {
				font-size:1.4rem;
				background:none;
				@extend .icon;
				@extend .icon--heart;
			}
			.curalate-nav {
				background:none;
				opacity:1 !important;
				&::before {border:none;color:$c-primary;}
				&::after {display:none;}
				@extend .icon;
				body.curalate-no-scroll & {display:none;}
				&.next-page {@extend .icon--next;}
				&.previous-page {@extend .icon--prev;}
			}
		}
	}
}

.curalate-overlay {
	.curalate-photo-detail-container {
		font-family:$f-family !important;
		.curalate-modal-nav {
			background:none;
			opacity:1;
			@extend .icon;
		}
		.curalate-next-page {
			@extend .icon--next;
			right:-40px;
		}
		.curalate-previous-page {
			@extend .icon--prev;
			left:-40px;
		}
		.curalate-modal-close {
			@extend .icon;
			@extend .icon--circle;
			@extend .icon--x;
			top:0px;right:-35px;
			background:$c-primary;
			color:$c-white;
			min-height:0;
			&::before {margin-top:-3px;}
			svg {display:none;}

		}
		.curalate-modal-left-content {
			.curalate-heart {
				font-size:1.4rem;
				background:none;
				@extend .icon;
				@extend .icon--heart;
				&::before {line-height:3.5rem;}
			}
			.curalate-likes {
				font-size:1.4rem;
			}
			.curalate-likes-detail {
				float: right;
				width: 70px;
			}
		}
		.curalate-modal-right-content {
			.curalate-product-details {height:100%;}
		}
		.curalate-shop-header {display:none;}
		.curalate-product {
			.curalate-product-name {display:none;}
		}
		.curalate-modal-footer {display:none;}
	}
}