<?php
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `...' `...`.......`.......`... ...'
// 


//--------------------------------------//
// Catalog list setup
//--------------------------------------//
?>





<?php
$_productCollection = $this->getLoadedProductCollection();
Mage::getModel('cataloginventory/stock')->addItemsToProducts($_productCollection);
// this is use to filter out any product that has is_in_stock 0
Mage::getSingleton('cataloginventory/stock')->addInStockFilterToCollection($_productCollection);

$_helper = $this->helper('catalog/output');
// $isSolrEngine = Mage::helper('enterprise_search')->isActiveEngine(); SD solr oos workaround

$sdconf = $this->helper('somethingdigital_colorpromotion'); 
$multipleColors = $sdconf->getProductsWithMultipleOptions($_productCollection, 'color');

$currentUrl = Mage::helper('core/url')->getCurrentUrl();

// use this hack for local only...
// $currentUrl = str_replace('.com', '.com:8443', $currentUrl);

$dateTimeZone = new DateTimeZone('America/New_York');
$currentDate = new DateTime('now', $dateTimeZone);
?>
<?php 
//load this for search results page only
if($this->getRequest()->getControllerName()=='result'):?>
<script id='search-sorting-html' type='text/html'>
    <?php echo $this->getChildHtml('product_list_toolbar') ?>
</script>
<script type="text/javascript">
    (function() {
        jQuery('#filters').prepend(jQuery('#search-sorting-html').html());        
    })();
</script>
<?php endif; ?>

<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<section class="catalog" itemscope itemtype="https://schema.org/ItemList" itemref="category-name">
    <meta itemprop="url" itemref="schema-url">
    
    <?php // Grid Mode ?>

    <?php //$_collectionSize = $_productCollection->count() ?>
    <?php //$_columnCount = $this->getColumnCount(); ?>
    <?php foreach ($_productCollection as $_product): ?>
        <?php $oos = !$_product->isSaleable(); ?>
        <?php //if ($isSolrEngine) { if ($_product['stock_item']['is_in_stock']) {//oos code here}} SD solr oos workaround ?>
        <?php
            /* check release_date and release_time */
            $relDate = NULL;
            $relTime = NULL;
            $displayAsNew = false;
            $internal_clock = $_product->getData('release_internal');
            // $enableDate = new DateTime($_product->getData('enabled_date'), $dateTimeZone); //2-25
            // $setNewDate = new DateTime($_product->getNewsFromDate(), $dateTimeZone); //6-9
            // if($setNewDate > $enableDate) {$enableDate = $setNewDate;}
            // if (date('ymd', strtotime($currentDate)) > date('ymd', strtotime($enableDate.' + 7 days'))) {
                // $displayAsNew = true;
            // }

            if ($_product->getData('release_date') != NULL) {
                $relDate = new DateTime($_product->getData('release_date'), $dateTimeZone);
                
                if ($_product->getData('release_time')) {
                    $relTime = explode(':',$_product->getData('release_time'));
                    $relDate->setTime($relTime[0],$relTime[1],0);
                } else {
                    $relDate->setTime(0,0,0);
                }
            }


            $newFromDate = $_product->getNewsFromDate();
            $newToDate = $_product->getNewsToDate();
            $now = Mage::app()->getLocale()->date()->toString(Varien_Date::DATETIME_INTERNAL_FORMAT); //not entirely sure which timezone this is reading from, but ultimately not a huge issue since this is just for the label of 'new'
            if(($newFromDate < $now && $newFromDate != NULL) && ($newToDate > $now || $newToDate == "")){
                $displayAsNew = true;
            }
        ?>

        <div class="product" data-product-id="<?php echo $_product->getId(); ?>" data-product-style="<?php echo $_product->getStyleNum(); ?>" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo htmlspecialchars(strip_tags($_product->getName().' '.$_product->getShortDescription())); ?>" itemprop="url">
                <figure>
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(260, 330)->backgroundColor(array(242,242,242)); ?>" width="260" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" srcset="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(260, 330)->backgroundColor(array(242,242,242)); ?> 260w, <?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(520, 660)->backgroundColor(array(242,242,242)); ?> 520w" sizes="(max-width:890px) 188px, 260px" />

                    <?php if (!$internal_clock && ($relDate > $currentDate)) { ?>
                        <div class="product-releaseinfo">
                            <span class="product-releasetimer">Releases In <span></span></span>
                            <span class="product-releasetime" data-id="<?php echo $_product->getId();?>" data-release="<?php echo $relDate->getTimestamp();?>" style="display:none;" itemprop="releaseDate"><?php echo $relDate->format('Y/m/d H:i:s');?></span>
                        </div>
                    <?php } ?>
                </figure>
                
                <h3 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h3>
                <h4 class="product-brand"><?php echo ucfirst($_product->getAttributeText('brand'));?></h4>
            
                <?php if ($relDate > $currentDate) {echo '<span class="product-label label--coming-soon">'.$this->__('Coming Soon').'</span>';} ?>
                <?php if ($_product->getData('last_pair_stock_flag') && ($relDate <= $currentDate || null)) {echo '<span class="product-label label--last-pair">'.$this->__('Limited Stock').'</span>';} ?>
                <?php if ($_product->getData('villa_only')) {echo '<span class="product-label label--exclusive">'.$this->__('VILLA Exclusive').'</span>';} ?>
                <?php if ($_product->getData('online_only')) {echo '<span class="product-label label--online-only">'.$this->__('Online Only').'</span>';} ?>
                <?php if ($_product->getData('clearance')) {echo '<span class="product-label label--clearance">'.$this->__('Clearance').'</span>';} ?>
                <?php if ($displayAsNew) {echo '<span class="product-label label--new">'.$this->__('New').'</span>';} ?>
                <?php if (in_array($_product->getId(), $multipleColors)) {echo '<svg class="icon--multiple-colors" height="14" width="14"><circle cx="7" cy="7" r="4" stroke="url(#mcg)" stroke-width="5" fill="transparent"></circle><defs><linearGradient id="mcg" x2="50%" y2="100%"><stop offset="10%" stop-color="#B24592"></stop><stop offset="90%" stop-color="#F15F79"></stop></linearGradient></defs></svg>';} ?>

                <?php if ($oos): ?>
                    <span class="product-label label--sold-out"><?php echo $this->__('Sold Out'); ?></span>
                <?php else: ?>
                    <?php
                        $price          = $_product->getPrice();
                        $specialprice   = $_product->getFinalPrice();
                        $is_map         = ($_product->getData('msrp_enabled') == 1)? TRUE : FALSE;
                        
                        if ($is_map) // enabled
                        {
                            $price = max(array($price,$_product->getData('msrp')));  // greater value between MSRP and Price
                            if ($specialprice < $price)
                                $specialprice = 'SEE CART FOR PRICE';
                            else // remove MAP if not on sale
                                $is_map = FALSE;
                        }
                    ?>
                    <div class="price-box">
                        <?php if ($_product->getTypeId() != 'giftcard' &&  $_product->getTypeId() != 'customproduct') {
                            if ($specialprice == $price) { ?>
                                <span class="regular-price">
                                    <span class="price">$<?php echo number_format($price,2);?></span>
                                </span>
                            <?php } else { /* sale */ 
                                if (!$is_map) { ?>
                                <span class="old-price">
                                    <span class="price">$<?php echo number_format($price,2); ?></span>
                                </span>
                                <?php } ?>
                                <span class="<?php echo ($is_map)? 'map-price' : 'special-price';?>">
                                    <span class="price"><?php echo (is_numeric($specialprice))? '$'.number_format($specialprice,2) : $specialprice;?></span>
                                </span>
                            <?php } ?>
                        <?php } else { ?>
                            <span class="regular-price">
                                From <span class="price">$<?php echo round(number_format($_product->getOpenAmountMin(),2));?></span>
                            </span>
                        <?php } ?>
                    </div>

                    <div id="review-<?php echo $_product->getId(); ?>" class="ratings-box"></div>

                <?php endif; ?>

                <?php if ($promo_message = $_product->getData('promo_message')): ?>
                    <div class="product-promotion">
                        <?php echo $promo_message; ?>
                    </div>
                <?php endif; ?>

                <div class="product-qs">
                    <?php if($_product->isSaleable()): ?>
                    <?php //not needed right now 
                        /*<button type="button" title="<?php //echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php //echo $this->getAddToCartUrl($_product) ?>')"></button> */ ?>
                    <?php endif; ?>
                </div>
                <?php /*if($_product->getRatingSummary()): ?>
                <?php //echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php //endif; ?>
                <!-- <ul class="add-to-links"> -->
                    <?php //if ($this->helper('wishlist')->isAllow()) : ?>
                        <!-- <li><a href="<?php //echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php //echo $this->__('Add to Wishlist') ?></a></li> -->
                    <?php //endif; ?>
                    <?php //if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                        <!-- <li><span class="separator">|</span> <a href="<?php //echo $_compareUrl ?>" class="link-compare"><?php //echo $this->__('Add to Compare') ?></a></li> -->
                    <?php //endif; ?>
                <!-- </ul> --> */ ?>
            </a>
        </div>
    <?php endforeach ?>

</section>
<button id="btt" class="icon icon--up-arrow dark"></button>
<?php endif; ?>
