<?php
//   ___ ___ ___ ___     ___     _______ 
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `...' `...`.......`.......`... ...'
// 


//--------------------------------------//
// Releases Page
//--------------------------------------//
?>




<?php
$_helper = $this->helper('catalog/output');
$dateTimeZone = new DateTimeZone('America/New_York');
$currentDate = new DateTime('now', $dateTimeZone);
$currentMonth = $currentDate->format("M");
$lastMonth = date('M', strtotime("last month"));
$nextMonth = date('M', strtotime('first day of +1 month'));
$today = $currentDate->format("d");

$filterDate = date("Y-m-d 00:00:00", strtotime("first day of previous month"));
$releasesCollection = Mage::getModel('catalogobserver/release')->getCollection();
//remove DNSB's
$releasesCollection->addFieldToFilter('release_type', 1);
//trim collection to 1 month back
$releasesCollection->addFieldToFilter('release_date',array('gt' => $filterDate));
$releasesCollection->setOrder('release_date','ASC');
?>

<div class="time-buttons">
	<button class="active" data-filter="<?php echo $currentMonth; ?>">Today</button>
	<button data-filter="<?php echo $nextMonth; ?>">Next Month</button>
	<button data-filter="<?php echo $lastMonth; ?>">Last Month</button>
</div>

<div class="brand-buttons">
	<button class="active" data-filter="null">All</button>
	<button data-filter="NIKE">Nike</button>
	<button data-filter="JORDAN">Jordan</button>
	<button data-filter="ADIDAS">Adidas</button>
	<button data-filter="TIMBERLAND">Timberland</button>
	<button data-filter="PUMA">Puma</button>
	<button data-filter="REEBOK">Reebok</button>
	<button data-filter="UNDER ARMOUR">Under Armour</button>
	<button data-filter="ASICS">Asics</button>
	<button data-filter="NEW BALANCE">New Balance</button>
</div>
<div class="list">
<?php foreach($releasesCollection as $release): ?>
<?php
	// $type =		$release->getReleaseType();
	$name =		$release->getName();
	$brand =	$release->getBrand();
	$date = 	DateTime::createFromFormat("Y-m-d H:i:s", $release->getReleaseDate());
	$month =	$date->format("M");
	$day =		$date->format("d");
	$weekday =	$date->format("D");
	$image = 	'';
	$sizes = 	array();
	$links =	array();
	$items =	$release->getItems();
	$items->setOrder('retail_price','DESC');
	$first = 	TRUE;

	foreach ($items as $item) {
		$link = $size = $separator = '';
		$dept = 	$item->getDepartment();
		$size = 	str_replace(array('MF','WF','JF','YF'), array('M','W','GS','PS'), $dept);
		$sizes[] = 	str_replace(array('M','W','GS','PS','IF'), array('Mens','Womens','Kids','Kids','Kids'), $size);
		if($first) {$price = round($item->getRetailPrice());}

		//check for Magento item
		$id = $item->getProductId();
		if($id != 0) {
			$_product = $item->getProduct();
			$enabled = 	$_product->isSaleable();
			// $style = $item->getStyleNumber();
			if($enabled) {
				$url = 		'href="'.$this->getProductUrl($_product).'"';
				$link = 	'<a '.$url.'>'.$size.'</a>';
				$links[] = 	$link;
				if($first) {
					$image = 	$this->helper('catalog/image')->init($_product, 'image')->resize(260, 330)->backgroundColor(array(242,242,242));
					$srcset = 	'srcset="'.$image.' 260w, '.$this->helper('catalog/image')->init($_product, 'image')->resize(520, 660)->backgroundColor(array(242,242,242)).' 520w" sizes="(max-width:890px) 188px, 260px"';
					$name =		$_helper->productAttribute($_product, $_product->getName(), 'name');
				}
			}
		}
		$first = FALSE;
	}

	$linksCount = count($links);

	//echo $brand.' '.$name.' '.$price.' '.$date.'<br>';
?>

<div class="release-item <?php echo strtolower($brand).'-logo'.($linksCount > 1 ? ' has-links':'');?>">
	<?php echo ($linksCount == 1 ? '<a '.$url.'>':'<div>'); ?>
		<div class="img-box">
			<?php if($image){ ?><img src="<?php echo $image; ?>" width="260" alt="<?php echo $brand.' '.$name; ?>" <?php echo $srcset; ?> /><?php } ?>
			<?php if($linksCount > 1): ?>
			<div class="sizes-box">
				<?php foreach($links as $link){echo $link;} ?>
			</div>
			<?php endif; ?>
		</div>
		<div class="details">
			<div class="bns">
				<span class="name"><?php echo $name; ?></span>
				<span class="brand"><?php echo $brand; ?></span>
				<span class="sizes">
					<?php foreach(array_unique($sizes) as $key=>$size){
						$separator = '';
						if($key > 0) {$separator = ' + ';}
						echo $separator.$size;
					} ?>
				</span>
			</div>
			<div class="price">$<?php echo $price; ?></div>
		</div>
		<div class="date">
			<span class="weekday"><?php echo $weekday; ?></span>
			<span class="month"><?php echo $month; ?></span>
			<span class="day"><?php echo $day; ?></span>
		</div>
	<?php echo ($linksCount == 1 ? '</a>':'</div>'); ?>
</div>

<?php endforeach; ?>
</div>
<script>
	var options = {
	    valueNames: [ 'name', 'brand', 'sizes', 'price', 'month', 'day' ]
	};

	var releasesList = new List('releases', options);
	releasesList.filter(function(item) {
		return monther(item,'<?php echo $currentMonth; ?>');
	});

	function monther(item, m) {
		var attr = item.values();
		if (m == '<?php echo $currentMonth; ?>') {
			if ((attr.month == m) && (attr.day >= '<?php echo $today; ?>')) {return true;}
			else {return false;}
		} else if (m == '<?php echo $lastMonth; ?>') {
			if ((attr.month == m) || ((attr.month == '<?php echo $currentMonth; ?>') && (attr.day < '<?php echo $today; ?>'))) {return true;}
				else {return false;}
		} else {
			if (attr.month == m) {return true;}
			else {return false;}
		}
	}

	jQuery('button').on('click', function() {
		jQuery(this).addClass('active').siblings().removeClass('active');
		var m = jQuery('#releases .time-buttons button.active').data('filter');
		var b = jQuery('#releases .brand-buttons button.active').data('filter');
		if (b == null) {
			releasesList.filter(function(item) {return monther(item, m);});
		} else {
			releasesList.filter(function(item) {
				if (item.values().brand == b) {return monther(item, m);}
				else {return false;}
			});
		}
	});

	releasesList.on('filterComplete', function() {
		jQuery('.has-links').on('click', function() {
			jQuery(this).toggleClass('open');
		});
	});

	
</script>