<?php
//   ___ ___ ___ ___     ___     _______
//  |   V   |   |   |   |   |   |       |
//  |.  |   |.  |.  |   |.  |   |.  -   |
//  |.  |   |.  |.  |   |.  |   |.      |
//  |:      |:  |:  |___|:  |___|:  |   |
//   \:.. ./|::.|::.. . |::.. . |::.|:. |
//    `...' `...`.......`.......`... ...'
//


//--------------------------------------//
// Product page
//--------------------------------------//
?>





<?php

$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
$productId = $_product->getId();

/* check release_date and release_time */
$relDate = NULL;
$relTime = NULL;
$displayAsNew = false;
$dateTimeZone = new DateTimeZone('America/New_York');
$currentDate = new DateTime('now', $dateTimeZone);
$internal_clock = $_product->getData('release_internal');
$enableDate = new DateTime($_product->getData('enabled_date'), $dateTimeZone);
// $setNewDate = new DateTime($_product->getNewsFromDate(), $dateTimeZone);
// if($setNewDate > $enableDate) {$enableDate = $setNewDate;}
// if (date('ymd', strtotime($currentDate)) > date('ymd', strtotime($enableDate.' + 7 days'))) {
//     $displayAsNew = true;
// }
$newFromDate = $_product->getNewsFromDate();
$newToDate = $_product->getNewsToDate();
$now = Mage::app()->getLocale()->date()->toString(Varien_Date::DATETIME_INTERNAL_FORMAT); //not entirely sure which timezone this is reading from, but ultimately not a huge issue since this is just for the label of 'new'
if(($newFromDate < $now && $newFromDate != NULL) && ($newToDate > $now || $newToDate == "")){
    $displayAsNew = true;
}

if ($_product->getData('release_date') != NULL) {
    $relDate = new DateTime($_product->getData('release_date'), $dateTimeZone);

    if ($_product->getData('release_time')) {
        $relTime = explode(':',$_product->getData('release_time'));
        $relDate->setTime($relTime[0],$relTime[1],0); //[0] = hour, [1] = min
    } else {
        $relDate->setTime(0,0,0);
    }
}

?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<?php /*<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div> */?>

<div class="product">
    <section class="product-details">
        <div class="product-details-right">
            <span class="product-brand"><?php echo strtoupper($_product->getAttributeText('brand')); ?></span>
            <h1 class="product-title"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></h1>
            <?php if($_product->getData('alternate_name')){echo '<span class="product-alternate-name">'.$_product->getData('alternate_name').'</span>';} ?>
            <?php echo $this->getChildHtml('powerreviews_mini_ratings'); ?>
            <span class="product-color"><?php echo $_product->getShortDescription(); ?></span>
            <span class="product-gender"><?php echo $_product->getAttributeText('gender'); ?></span>
            <span class="product-style">#<?php echo $_product->getStyleNum(); ?></span>            

            <?php echo $this->getPriceHtml($_product); ?>

            <?php if ($promo_message = $_product->getData('promo_message')) {echo '<span class="product-promotion">'.$promo_message.'</span>';} ?>

            <form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <?php echo $this->getBlockHtml('formkey') ?>
                <div class="no-display">
                    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                    <input type="hidden" name="related_product" id="related-products-field" value="" />
                </div>

                <div class="product-shop">
                    <?php
                        // HR 2/9/15: do not include at this time
                        //echo $this->getChildHtml('alert_urls')
                    ?>
                    <?php //echo $this->getChildHtml('product_type_data') ?>
                    <?php //echo $this->getTierPriceHtml() ?>
                    <?php //echo $this->getChildHtml('extrahint') ?>
                    <?php //echo $this->getPriceHtml($_product); ?>

                    <?php echo ($_product->getCanShowPrice() === false) ? '' : $this->getChildHtml('tierprices'); ?>
                    <?php echo $this->getChildHtml('extrahint') ?>

                    <?php if (!$this->hasOptions()):?>
                    <div class="add-to-box">
                        <?php if($_product->getIsSalable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                        <?php endif; ?>
                        <?php //echo $this->getChildHtml('addto') ?>
                    </div>
                    <?php else:?>
                        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                            <?php //villa uses 2nd layout type ?>
                            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        <?php else: ?>
                            <?php //echo $this->getChildHtml('addto'); ?>
                        <?php endif;?>
                    <?php endif; ?>
                </div>

                <?php //this is for the layout option of 'block after info column' in product's setup design ?>
                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php //echo $this->getChildChildHtml('container2', '', true, true) ?>
                <?php endif;?>
            </form>

            <?php if (!$internal_clock && ($relDate > $currentDate)) { ?>
            <div class="product-release-box icon icon--clock">
                <div class="product-releaseinfo">
                    <span class="product-releasetimer">Releases In <span></span></span>
                    <span class="product-releasetime" data-id="<?php echo $productId;?>" data-release="<?php echo $relDate->getTimestamp();?>" style="display:none;"><?php echo $relDate->format('Y/m/d H:i:s');?></span>
                    <time class="product-releasedate" datetime="<?php echo $relDate->format('Y-m-d H:i:s');?>"><?php echo $relDate->format('F jS, gA T'); ?></time>
                </div>
                <span class="product-message--soldout">Follow us on <a href="https://www.instagram.com/ruvilla" class="link--highlight" target="_blank">Instagram</a> and <a href="https://www.twitter.com/ruvilla" class="link--highlight" target="_blank">Twitter</a><br>for updates</span>
            </div>
            <?php } ?>

            <?php if (!$_product->isSaleable()): ?>
            <button class="soldout">Sold Out</button>
            <?php endif; ?>
            
            <?php echo $this->getChildHtml('storeavailability-info') ?>
            <?php echo $this->getChildHtml('reservation-form') ?>

            <?php if ($_product->getData('style_limit')): ?>
                <div class="product-alert icon icon--warning">
                    <?php echo $this->__('This item is limited to only %s per customer. Multiple orders will be cancelled. To ensure faster processing of your order we suggest checking out with PayPal.', $_product->getData('style_limit')) ?>
                </div>
                <div class="product-alert icon icon--warning">
                    <?php echo $this->__('Refreshing this page multiple times will cause you to be blocked from our site.') ?>
                </div>
            <?php endif; ?>


            <div class="product-description">
                <h3>Description</h3>
                <?php //do not wrap this in <p> - wysiwyg editor will insert <p>'s ?>
                <div><?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description'); ?></div>
            </div>

            <?php if($_product->getData('new_release_flag')): ?>
            <div class="product-alert icon icon--warning">
                <?php echo $this->__('This product is excluded from promotions, rebates and cash-back offers.') ?> <a href="/faq#marketing"><?php echo $this->__('See Details.') ?></a>
            </div>
            <?php endif; ?>

            <?php if ($_product->getData('clearance')): ?>
                <div class="product-alert icon icon--warning">
                    <?php echo $this->__('This item may not be eligible for free shipping.') ?> <a href="/faq#shipping"><?php echo $this->__('See Details.') ?></a>
                </div>
            <?php endif; ?>

            <div class="product-share">
                <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<?php echo $_product->getProductUrl(); ?>', 'fbwindow', 'width=300, height=250'); return false;" onkeypress="alert('You are about to open a new window');window.open('https://www.facebook.com/sharer/sharer.php?u=<?php echo $_product->getProductUrl(); ?>', 'fbwindow', 'width=300, height=250'); return false;" target="_blank" class="icon icon--facebook icon--circle">
                    <span data-accessibility><?php echo $this->__('Share on Facebook')?></span>
                </a>
                <?php /*<a href="#" onclick="window.open('https://twitter.com/intent/tweet?text=<?php echo $_product->getAttributeText('brand').' '.str_replace(' ','%20',$_helper->productAttribute($_product, $_product->getName(), 'name')); ?>&url=<?php echo $_product->getProductUrl(); ?>&via=RUVILLA', 'tweetwindow', 'width=300, height=250'); return false;" target="_blank" class="icon icon--twitter icon--circle"></a> */ ?>
                <a href="https://twitter.com/intent/tweet?url=<?php echo $_product->getProductUrl() ?>&text=<?php echo $_product->getAttributeText('brand').' '.$_helper->productAttribute($_product, $_product->getName(), 'name'); ?>&via=RUVILLA" onclick="window.open(this.href, 'tweetwindow', 'width=400, height=300'); return false;" onkeypress="window.open(this.href, 'tweetwindow', 'width=400, height=300'); return false;" target="_blank" class="icon icon--twitter icon--circle">
                    <span data-accessibility><?php echo $this->__('Share on Twitter (Opens a new window)')?></span>
                </a>
                <a href="https://pinterest.com/pin/create/link/?url=<?php echo $_product->getProductUrl(); ?>&media=<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(260); ?>&description=<?php echo $_product->getAttributeText('brand').' '.$_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" onclick="window.open(this.href, 'pinwindow', 'width=400, height=300'); return false;" onkeypress="window.open(this.href, 'pinwindow', 'width=400, height=300'); return false;" target="_blank" class="icon icon--pinterest icon--circle">
                    <span data-accessibility><?php echo $this->__('Share on Pinterest (Opens a new window)')?></span>
                </a>
                <a href="mailto:?subject=I found this at VILLA&body=Check this out <?php echo $_product->getProductUrl(); ?>" class="icon icon--mail icon--circle">
                    <span data-accessibility><?php echo $this->__('Share by Email (Opens a new window)') ?></span>
                </a>
            </div>

            <script type="text/javascript">
            //<![CDATA[

                var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function(button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;
                        var $miniCart = jQuery('.header-top-cart-items');
                        var $atcBtn = jQuery('#product-addtocart-button');

                        if (url) {
                           form.action = url;
                        }
                        var e = null;
                        // jQuery('#ajax_loader').show(); //loading spinner
                        $atcBtn.addClass('loading').text('').append('<span class="icon icon--check"></span>');
                        try {
                            //this.form.submit();
                            <?php /* update cart without leaving page */ ?>
                            var data = jQuery('#product_addtocart_form').serialize();
                            data += '&isAjax=1'; <?php /* identifies default store */ ?>
                            // var ele = document.getElementById('short-description');
                            // if (ele != null) {
                            //     ele.innerHTML = '';
                            //     ele.display = 'none';
                            // }

                            jQuery.ajax({
                                type:'POST',
                                url:form.action, <?php /* added to cart here */ ?>
                                dataType: 'json',
                                data:data,
                                complete: function() {}, <?php /* hide loader after request complete */ ?>
                                error: function(jqXHR, strStatus, strError) {
                                    errorCart($atcBtn);
                                    var responseJSON = (typeof jqXHR.responseJSON != 'undefined') ? jqXHR.responseJSON : {};
                                    var errorMsg = (typeof responseJSON.message != 'undefined') ? responseJSON.message : 'An error occurred while adding the product to the shopping cart.';

                                    setTimeout(function() {
                                        <?php /* strStatus can be timeout, error, abort, parseerror */?>
                                        // alert('The selected product could not be added to the shopping cart.'+"\n"+'Status: '+strStatus+"\n"+'Error: "'+strError+'"');
                                        alert(errorMsg);
                                    }, 1000);

                                    return;
                                },
                                success:function(data){
                                    $atcBtn.addClass('loading-done').prop("disabled", true);
                                    $miniCart.html(data.sidebar);
                                    if (data.limitReached && data.configureItem) {
                                        if(!window.alert(data.message)) {
                                            window.location.href = data.location;
                                        }
                                    } else if (data.limitReached) {
                                        window.alert(data.message);
                                        topcartRollout();
                                    } else {
                                        topcartRollout();
                                    }
                                }
                            });
                        } catch (e) {}
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }

                        if (button && button != 'undefined') {
                            button.disabled = true;
                        }
                    }
                }.bind(productAddToCartForm);

                productAddToCartForm.submitLight = function(button, url){
                    if(this.validator) {
                        var nv = Validation.methods;
                        delete Validation.methods['required-entry'];
                        delete Validation.methods['validate-one-required'];
                        delete Validation.methods['validate-one-required-by-name'];
                        // Remove custom datetime validators
                        for (var methodName in Validation.methods) {
                            if (methodName.match(/^validate-datetime-.*/i)) {
                                delete Validation.methods[methodName];
                            }
                        }

                        if (this.validator.validate()) {
                            if (url) {
                                this.form.action = url;
                            }
                            this.form.submit();
                        }
                        Object.extend(Validation.methods, nv);
                    }
                }.bind(productAddToCartForm);
            //]]>
            </script>
        </div>
        <div class="product-details-left">
            <div class="product-img-box">
            <?php if(count($_product->getMediaGalleryImages()) > 1): ?>
                <div class="cycle-slideshow" data-cycle-timeout="0" data-cycle-fx="scrollHorz" data-cycle-slides="figure" data-cycle-swipe="true">
            <?php endif; ?>
                <?php
                $img_url_array = array();
                foreach($_product->getMediaGalleryImages() as $_image) {
                    $_img_file = $_image->getFile();
                    $_img = (string)$this->helper('catalog/image')->init($_product, 'image', $_img_file)->resize(756,960)->backgroundColor(array(242,242,242));
                    $_img2x = (string)$this->helper('catalog/image')->init($_product, 'image', $_img_file)->backgroundColor(array(242,242,242));
                    $_imgmob = (string)$this->helper('catalog/image')->init($_product, 'image', $_img_file)->resize(295,375)->backgroundColor(array(242,242,242));
                ?>
                    <figure>
                        <img src="<?php echo $_imgmob; ?>" srcset="<?php echo $_imgmob; ?> 295w, <?php echo $_img; ?> 756w, <?php echo $_img2x; ?> 1512w" sizes="(max-width:760px) 295px, 756px" />
                    </figure>
                    <?php $img_url_array[] = $_img; ?>
                <?php } ?>
                <?php if(count($_product->getMediaGalleryImages()) > 1): ?>
                    <div class="cycle-pager"></div>
                    <div class="cycle-prev"><span class="icon icon--prev"></span></div>
                    <div class="cycle-next"><span class="icon icon--next"></span></div>
                </div>
                <?php endif; ?>
            </div>

            
            <?php if ($relDate > $currentDate) {echo '<span class="product-label label--coming-soon">'.$this->__('Coming Soon').'</span>';} ?>
            <?php if ($_product->getData('last_pair_stock_flag') && ($relDate <= $currentDate || null)) {echo '<span class="product-label label--last-pair">'.$this->__('Limited Stock').'</span>';} ?>
            <?php if ($_product->getData('villa_only')) {echo '<span class="product-label label--exclusive">'.$this->__('VILLA Exclusive').'</span>';} ?>
            <?php if ($_product->getData('online_only')) {echo '<span class="product-label label--online-only">'.$this->__('Online Only').'</span>';} ?>
            <?php if ($_product->getData('clearance')) {echo '<span class="product-label label--clearance">'.$this->__('Clearance').'</span>';} ?>
            <?php if ($displayAsNew) {echo '<span class="product-label label--new">'.$this->__('New').'</span>';} ?>
        </div>
    </section>

    <section class="product-bottom">
        <?php
        // VIDEOS
        $video_name = $_product->getVideoName();
        if (!empty($video_name)):
        $video_url = 'https://www.ruvilla.com/media/video/'.$_product->getStyleNum().'/'.$video_name;
        ?>
        <section class="product-video">
            <div>
                <video id="video--product" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="metadata" width="100%" height="auto" poster="<?php echo $video_url; ?>.jpg">
                    <source src="<?php echo $video_url; ?>.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </section>

        <script type="application/ld+json">
            {
                "@context":"https://schema.org/",
                "@type":"VideoObject",
                "contentUrl":"<?php echo $video_url; ?>.mp4",
                "author":"VILLA",
                "copyrightHolder":"VILLA",
                "name":"<?php echo $video_name; ?>",
                "description":"Feature footage of the <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>",
                "thumbnailUrl":"<?php echo $video_url; ?>.jpg",
                "uploadDate":"<?php echo $relDate->format('Y/m');?>"
            }
        </script>
        <?php endif; ?>

        <?php
        // GALLERY
        $gallery_folder = '/media/pdp/gallery/'.$_product->getStyleNum();
        if ($gallery_name = $_product->getGalleryFolder()) {
        $gallery_folder = '/media/pdp/gallery/'.$gallery_name;
        }
        $server_folder = $_SERVER['DOCUMENT_ROOT'].$gallery_folder;
        if (file_exists($server_folder)):
        // $gallery_images = array_diff(scandir($server_folder), array('..','.'));
        $gallery_images = glob($server_folder.'/*', GLOB_ONLYDIR);
        //print_r($gallery_images);
        ?>
        <section class="product-gallery wrap">
            <div class="cycle-slideshow" data-cycle-timeout="0" data-cycle-slides="figure" data-cycle-fx="fade" data-cycle-loader="true" data-cycle-progressive="#gallery-images" data-cycle-swipe="true">
                <?php
                    $i = 1;
                    $len = count($gallery_images);
                    /*<img src='<?php echo $imgpath.'-xs'; ?>' width='400' srcset='<?php echo $imgpath.'-xs'; ?> 400w, <?php echo $imgpath.'-m'; ?> 800w, <?php echo $imgpath.'-xm'; ?> 1200w, <?php echo $imgpath.'-l'; ?> 1600w, <?php echo $imgpath.'-xl'; ?> 2400w" sizes="(max-width:760px) 100vw, (max-width:1300px) 80vw, 1500px' /> */
                ?>
                <?php foreach ($gallery_images as $folder): ?>
                <?php $imgname = basename(str_replace(' ','%20',$folder));?>
                <?php $imgpath = str_replace(' ','%20','https://www.ruvilla.com'.$gallery_folder.'/'.$imgname.'/'); ?>
                <?php echo($i != 1 ? '"':''); ?><figure><img src='<?php echo $imgpath.$imgname.'-xs.jpg' ?>' alt='<?php echo str_replace("'","",$_helper->productAttribute($_product, $_product->getName(), 'name')).' '.$i ?>' width='400' srcset='<?php echo $imgpath.$imgname.'-xs.jpg' ?> 400w, <?php echo $imgpath.$imgname.'-m.jpg' ?> 800w, <?php echo $imgpath.$imgname.'-xm.jpg' ?> 1200w, <?php echo $imgpath.$imgname.'-l.jpg' ?> 1600w, <?php echo $imgpath.$imgname.'-xl.jpg' ?> 2400w' sizes='(max-width:760px) 100vw, (max-width:1300px) 80vw, 1500px' /></figure><?php echo($i != 1 ? '"':''); ?><?php if($i != 1 && $i != $len) {echo ',';} ?>
                <?php if ($i == 1): ?>
                <script id="gallery-images" type="text/cycle">
                [
                <?php endif; ?>
                <?php if ($i == $len): ?>
                ]
                </script>
                <?php endif; ?>
                <?php $i++; ?>
                <?php $img_url_array[] = $imgpath.$imgname.'-m.jpg'; ?>
                <?php endforeach; ?>
                <?php if ($len > 1): ?>
                <div class="cycle-prev"><span class="icon icon--prev"></span></div>
                <div class="cycle-next"><span class="icon icon--next"></span></div>
                <?php endif; ?>
            </div>
        </section>
        <?php endif; ?>

        <?php if($_product->getBlogPost()): ?>
        <section class="product-blog">
            <?php if($_product->getBlogPost_3()): ?>
            <article class="icon icon--down-arrow" >
                <h3 class="icon icon--document"><?php echo $_product->getBlogTitle_3(); ?></h3>
                <h4><?php echo $_product->getBlogSubtitle_3(); ?></h4>
                <div class="post">
                    <?php echo $_helper->productAttribute($_product, $_product->getBlogPost_3(), 'blog_post_3'); ?>
                </div>
            </article>

            <script type="application/ld+json">
                {
                    "@context":"https://schema.org/",
                    "@type":"CreativeWork",
                    "about":"<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>",
                    "author":"VILLA",
                    "headline":"<?php echo $_product->getBlogTitle_3(); ?>",
                    "description":"<?php echo $_product->getBlogSubtitle_3(); ?>",
                    "text":"<?php echo strip_tags($_helper->productAttribute($_product, $_product->getBlogPost_3(), 'blog_post_3')); ?>",
                    "image": {
                        "@type":"ImageObject",
                        "url":"<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(640,640); ?>",
                        "width":"640",
                        "height":"640"
                    },
                    "publisher": {
                        "@type":"Organization",
                        "name":"VILLA",
                        "logo": {
                            "@type":"ImageObject",
                            "url":"<?php echo $this->getSkinUrl('img/villa-black.jpg'); ?>"
                        }
                    }
                }
            </script>
            <?php endif; ?>
            <?php if($_product->getBlogPost_2()): ?>
            <article class="icon icon--down-arrow" >
                <h3 class="icon icon--document"><?php echo $_product->getBlogTitle_2(); ?></h3>
                <h4><?php echo $_product->getBlogSubtitle_2(); ?></h4>
                <div class="post">
                    <?php echo $_helper->productAttribute($_product, $_product->getBlogPost_2(), 'blog_post_2'); ?>
                </div>
            </article>

            <script type="application/ld+json">
                {
                    "@context":"https://schema.org/",
                    "@type":"CreativeWork",
                    "about":"<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>",
                    "author":"VILLA",
                    "headline":"<?php echo $_product->getBlogTitle_2(); ?>",
                    "description":"<?php echo $_product->getBlogSubtitle_2(); ?>",
                    "text":"<?php echo strip_tags($_helper->productAttribute($_product, $_product->getBlogPost_2(), 'blog_post_2')); ?>",
                    "image": {
                        "@type":"ImageObject",
                        "url":"<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(640,640); ?>",
                        "width":"640",
                        "height":"640"
                    },
                    "publisher": {
                        "@type":"Organization",
                        "name":"VILLA",
                        "logo": {
                            "@type":"ImageObject",
                            "url":"<?php echo $this->getSkinUrl('img/villa-black.jpg'); ?>"
                        }
                    }
                }
            </script>
            <?php endif; ?>
            <article class="icon icon--down-arrow" >
                <h3 class="icon icon--document"><?php echo $_product->getBlogTitle(); ?></h3>
                <h4><?php echo $_product->getBlogSubtitle(); ?></h4>
                <div class="post">
                    <?php echo $_helper->productAttribute($_product, $_product->getBlogPost(), 'blog_post'); ?>
                </div>
            </article>

            <script type="application/ld+json">
                {
                    "@context":"https://schema.org/",
                    "@type":"CreativeWork",
                    "about":"<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>",
                    "author":"VILLA",
                    "headline":"<?php echo $_product->getBlogTitle(); ?>",
                    "description":"<?php echo $_product->getBlogSubtitle(); ?>",
                    "text":"<?php echo strip_tags($_helper->productAttribute($_product, $_product->getBlogPost(), 'blog_post')); ?>",
                    "image": {
                        "@type":"ImageObject",
                        "url":"<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(640,640); ?>",
                        "width":"640",
                        "height":"640"
                    },
                    "publisher": {
                        "@type":"Organization",
                        "name":"VILLA",
                        "logo": {
                            "@type":"ImageObject",
                            "url":"<?php echo $this->getSkinUrl('img/villa-black.jpg'); ?>"
                        }
                    }
                }
            </script>
        </section>
        <?php endif; ?>

        <?php if($_product->getCrossSellProducts()): ?>
        <div class="product-related">
            <?php echo $this->getChildHtml('product.crosssells'); ?>
        </div>
        <?php elseif($_product->getUpSellProducts()): ?>
        <div class="product-related">
            <?php echo $this->getChildHtml('product.upsells'); ?>
        </div>
        <?php else: ?>
        <div class="product-related">
            <?php //echo $this->getChildHtml('product.related'); ?>
            <?php echo $this->getChildHtml('related-products') ?>
        </div>
        <?php endif; ?>

        <div class="product-related recent">
            <?php //dynamically loaded here ?>
            <?php //echo $this->getChildHtml('product.recently_viewed'); ?>
        </div>

        <section class="block-powerreviews">
            <h2><?php echo $this->__('Reviews') ?></h2>
            <?php echo $this->getChildHtml('powerreviews_reviews_block'); ?>
        </section>

    </section>
</div>

<?php /* HAR 3/2/15: Sidecar Step 2 - Product Synchronization (Group Products), should match item_group_id from Google feed (style_sid) */ ?>
<script type="text/javascript"> var sidecar = sidecar || {}; sidecar.product_info = { group_id: "<?php echo $_product->getData('related_parent_id');?>" }; </script>


<script type="application/ld+json">
    {
        "@context":"https://schema.org/",
        "@type":"Product",
        "@id":"<?php echo $_product->getStyleNum(); ?>",
        "name":"<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>",
        "brand":"<?php echo strtoupper($_product->getAttributeText('brand')); ?>",
        "color":"<?php echo $_product->getShortDescription(); ?>",
        "productID":"<?php echo $_product->getStyleNum(); ?>",
        "releaseDate":"<?php echo ($relDate) ? $relDate->format('Y/m/d H:i:s') : $enableDate->format('Y/m/d H:i:s') ;?>",
        "description":"<?php echo str_replace('"',"'", str_replace(array("\r", "\n"),' ',strip_tags($_product->getDescription()))); ?>",
        "gtin13":"0<?php echo $_product->getErpUpc(); ?>",
        "image":<?php echo json_encode($img_url_array); ?>
    }
</script>
