// styles.scss

$corner: 3px;
$c-form: #f2f2f2;

h1, h2 {text-align:center;}

.wrap {
	max-width:500px;
	margin:50px auto;
}

.block {
	margin-bottom:150px;
}

.form {
	padding:20px 15px;
	background:$c-form;
	border-radius:$corner;
}

.results {
	margin:25px auto;
	border:1px solid $c-form;
	border-radius:$corner;
	.row {
		font-size:12px;
		&:nth-child(odd) {
			background-color:#fafafa;
		}
		span {
			width:33.33%;
			display:inline-block;
			padding:7px 5px;
			box-sizing:border-box;
		}
		&.titles {
			font-weight:700;
			background:$c-form;
			span {
				&:nth-child(2) {
					width:calc(33.33% - 2px);
					border-right:1px solid #fff;
					border-left:1px solid #fff;
				}
			}
		}
	}
}