@media print {
  /* line 30, ../../sass/layout/print.scss */
  a:link,
  a:visited {
    text-decoration: underline !important;
  }
  /* line 35, ../../sass/layout/print.scss */
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  /* line 42, ../../sass/layout/print.scss */
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  /* line 49, ../../sass/layout/print.scss */
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  /* line 55, ../../sass/layout/print.scss */
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 61, ../../sass/layout/print.scss */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* line 69, ../../sass/layout/print.scss */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* line 79, ../../sass/layout/print.scss */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
