/* line 22, ../../sass/pages/fabweek.scss */
#site-header .sub-header,
.items-pagination {
  display: none;
}

/* line 25, ../../sass/pages/fabweek.scss */
video {
  max-width: 100%;
  cursor: pointer;
}

/* line 27, ../../sass/pages/fabweek.scss */
#fabweek {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 1.2rem;
  position: relative;
}
/* line 32, ../../sass/pages/fabweek.scss */
#fabweek.fixed {
  position: fixed;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 40, ../../sass/pages/fabweek.scss */
#fabweek h1, #fabweek h2, #fabweek h3, #fabweek h4, #fabweek h5 {
  font-weight: 300;
}
/* line 42, ../../sass/pages/fabweek.scss */
#fabweek hr {
  max-width: 350px;
  margin: 50px auto;
}
/* line 44, ../../sass/pages/fabweek.scss */
#fabweek .mobile-slider,
#fabweek .mobile-heroes {
  display: none;
}

/* line 51, ../../sass/pages/fabweek.scss */
div[class*="heroes"] figure,
div[class*="slider"] figure {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: #2b2b2b;
}
/* line 59, ../../sass/pages/fabweek.scss */
div[class*="heroes"] .cycle-pager,
div[class*="heroes"] .icon--hookup,
div[class*="slider"] .cycle-pager,
div[class*="slider"] .icon--hookup {
  position: absolute;
  bottom: 20px;
  width: 100%;
  cursor: pointer;
  line-height: 0;
  font-size: 32px;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
}

/* line 72, ../../sass/pages/fabweek.scss */
.arrow--slider {
  position: absolute;
  width: 30px;
  height: 30px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: calc(50% - 25px);
  z-index: 502;
  cursor: pointer;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
/* line 81, ../../sass/pages/fabweek.scss */
.arrow--slider.disabled {
  opacity: 0;
}
/* line 83, ../../sass/pages/fabweek.scss */
.arrow--slider.cycle-prev {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  left: 40px;
}
/* line 84, ../../sass/pages/fabweek.scss */
.arrow--slider.cycle-next {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  right: 40px;
}

/* line 87, ../../sass/pages/fabweek.scss */
.nav--products {
  background: #ffffff;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
/* line 93, ../../sass/pages/fabweek.scss */
.nav--products > div {
  display: inline-block;
  padding: 0 0px;
}
/* line 95, ../../sass/pages/fabweek.scss */
.nav--products .nav--product {
  width: 130px;
  height: 100px;
  position: relative !important;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin: 10px 3px;
  box-sizing: border-box;
  -moz-transition: box-shadow 300ms ease;
  -o-transition: box-shadow 300ms ease;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  cursor: pointer;
}
/* line 106, ../../sass/pages/fabweek.scss */
.nav--products .nav--product:hover {
  -moz-box-shadow: 0 0 7px -3px #ababab;
  -webkit-box-shadow: 0 0 7px -3px #ababab;
  box-shadow: 0 0 7px -3px #ababab;
}
/* line 108, ../../sass/pages/fabweek.scss */
.nav--products .nav--product:hover::after {
  color: #2b2b2b;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
/* line 114, ../../sass/pages/fabweek.scss */
.nav--products .nav--product::after {
  content: '+';
  font-size: 3.3rem;
  font-weight: 100;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  color: #ffffff;
  -moz-transition: color 1200ms ease;
  -o-transition: color 1200ms ease;
  -webkit-transition: color 1200ms ease;
  transition: color 1200ms ease;
}
/* line 127, ../../sass/pages/fabweek.scss */
.nav--products .nav--product h3, .nav--products .nav--product h4, .nav--products .nav--product h5 {
  margin: 0;
}
/* line 128, ../../sass/pages/fabweek.scss */
.nav--products .nav--product h4 {
  font-weight: 700 !important;
}
/* line 129, ../../sass/pages/fabweek.scss */
.nav--products .nav--product h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
/* line 130, ../../sass/pages/fabweek.scss */
.nav--products .nav--product h5 {
  font-size: 1.2rem;
}
/* line 133, ../../sass/pages/fabweek.scss */
.nav--products .arrow--slider {
  width: 10px;
  height: 10px;
  border-color: #2b2b2b;
  top: calc(50% - 15px);
}
/* line 138, ../../sass/pages/fabweek.scss */
.nav--products .arrow--slider.cycle-next {
  right: calc(50% - 300px);
}
/* line 139, ../../sass/pages/fabweek.scss */
.nav--products .arrow--slider.cycle-prev {
  left: calc(50% - 300px);
}

/* line 143, ../../sass/pages/fabweek.scss */
.quote {
  margin: 50px 0;
  border: 2px solid #2b2b2b;
  padding: 30px 15px;
  text-align: justify;
  text-transform: none;
  font-style: italic;
  position: relative;
}
/* line 151, ../../sass/pages/fabweek.scss */
.quote::before {
  content: '';
  width: 50px;
  height: 50px;
  background: url("../../img/quotes.svg") center center no-repeat;
  position: absolute;
  top: -25px;
  left: 10px;
}
/* line 160, ../../sass/pages/fabweek.scss */
.quote::after {
  content: '';
  width: 125px;
  height: 50px;
  background: url("../../img/fab.svg") center center no-repeat;
  position: absolute;
  bottom: -25px;
  right: 10px;
}

/* line 171, ../../sass/pages/fabweek.scss */
#block--heroes {
  height: 80vh;
  background-color: #2b2b2b;
  position: relative;
}
/* line 175, ../../sass/pages/fabweek.scss */
#block--heroes::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(57, 57, 57, 0.74);
  z-index: 499;
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
/* line 189, ../../sass/pages/fabweek.scss */
#block--heroes.modal::after {
  opacity: 1;
  visibility: visible;
}
/* line 194, ../../sass/pages/fabweek.scss */
#block--heroes div[class*="heroes"] {
  height: 80vh;
}
/* line 197, ../../sass/pages/fabweek.scss */
#block--heroes div[class*="heroes"] figure > a {
  display: block;
  width: 100;
  height: 100%;
}
/* line 200, ../../sass/pages/fabweek.scss */
#block--heroes .logo {
  z-index: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 430px;
  backdrop-filter: blur(50px) saturate(200%);
  -webkit-backdrop-filter: blur(50px) saturate(200%);
}
/* line 208, ../../sass/pages/fabweek.scss */
#block--heroes .cycle-pager {
  z-index: 502;
}

/* line 211, ../../sass/pages/fabweek.scss */
#block--intro {
  margin: 50px auto;
  max-width: 700px;
  text-align: center;
}

/* line 217, ../../sass/pages/fabweek.scss */
#block--thumbs {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 224, ../../sass/pages/fabweek.scss */
#block--thumbs .thumb {
  margin: 10px;
  width: calc(33.33% - 20px);
  cursor: pointer;
}
/* line 229, ../../sass/pages/fabweek.scss */
#block--thumbs .thumb img {
  width: 100%;
}

/* line 235, ../../sass/pages/fabweek.scss */
#block--products {
  -moz-transition: top 900ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 300ms ease;
  -o-transition: top 900ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 300ms ease;
  -webkit-transition: top 900ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 300ms ease;
  transition: top 900ms cubic-bezier(0.23, 1, 0.68, 0.99), opacity 300ms ease;
  position: fixed;
  top: 150vh;
  left: 5%;
  right: 5%;
  box-sizing: border-box;
  z-index: 500;
  background: #ffffff;
  opacity: 0;
}
/* line 246, ../../sass/pages/fabweek.scss */
#block--products .nav--products {
  z-index: 3;
}
/* line 248, ../../sass/pages/fabweek.scss */
#block--products.modal {
  position: absolute;
  top: 40px;
  opacity: 1;
}
/* line 255, ../../sass/pages/fabweek.scss */
#block--products .story {
  margin-bottom: 100px;
  position: relative;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0 0 0 0;
  -moz-transition: top 1500ms cubic-bezier(0.23, 1, 0.68, 0.99), box-shadow 1050ms ease, -moz-transform 1200ms ease;
  -o-transition: top 1500ms cubic-bezier(0.23, 1, 0.68, 0.99), box-shadow 1050ms ease, -o-transform 1200ms ease;
  -webkit-transition: top 1500ms cubic-bezier(0.23, 1, 0.68, 0.99), box-shadow 1050ms ease, -webkit-transform 1200ms ease;
  transition: top 1500ms cubic-bezier(0.23, 1, 0.68, 0.99), box-shadow 1050ms ease, transform 1200ms ease;
}
/* line 266, ../../sass/pages/fabweek.scss */
#block--products .story.shuffle {
  position: absolute;
  z-index: 2;
  top: 120px;
}
/* line 274, ../../sass/pages/fabweek.scss */
#block--products .story.shuffle-effect {
  box-shadow: 0 0px 70px 0px rgba(0, 0, 0, 0.82);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
/* line 279, ../../sass/pages/fabweek.scss */
#block--products .story.story--full {
  overflow: hidden;
}
/* line 282, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .desktop-slider,
#block--products .story.story--full .mobile-slider {
  overflow: visible !important;
  height: 50vw;
  margin-bottom: 100px;
}
/* line 290, ../../sass/pages/fabweek.scss */
#block--products .story.story--full figure video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 296, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .pager,
#block--products .story.story--full .icon--hookup {
  width: auto;
  z-index: 500;
}
/* line 301, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .pager div,
#block--products .story.story--full .icon--hookup div {
  display: inline-block;
  border-radius: 50%;
  -webkit-clip-path: circle(50% at center);
  -moz-clip-path: circle(50% at center);
  -ms-clip-path: circle(50% at center);
  clip-path: circle(50% at center);
  width: 60px;
  height: 60px;
  margin: 0 2px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}
/* line 312, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .pager div img,
#block--products .story.story--full .icon--hookup div img {
  border-radius: 50%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 314, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .pager div.active img, #block--products .story.story--full .pager div:hover img,
#block--products .story.story--full .icon--hookup div.active img,
#block--products .story.story--full .icon--hookup div:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* line 319, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .pager {
  left: 10%;
  top: calc(50vw - 30px);
  position: absolute;
}
/* line 325, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .icon--hookup {
  bottom: -30px;
  right: 187px;
}
/* line 329, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .icon--hookup div {
  background: #f2f2f2;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  text-align: center;
}
/* line 335, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .icon--hookup div img {
  border-radius: 0;
  width: 32px;
  margin-top: 11px;
  -webkit-filter: none;
  filter: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 345, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details {
  width: 360px;
  position: absolute;
  top: 150px;
  right: 40px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 500;
  padding: 30px 40px 60px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  -moz-transition: top 1200ms ease, opacity 600ms ease;
  -o-transition: top 1200ms ease, opacity 600ms ease;
  -webkit-transition: top 1200ms ease, opacity 600ms ease;
  transition: top 1200ms ease, opacity 600ms ease;
}
/* line 357, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details.shuffle {
  top: 60px;
  opacity: 1;
}
/* line 359, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-brand {
  letter-spacing: 3px;
}
/* line 360, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-title {
  font-size: 2.8rem;
  letter-spacing: 6px;
  font-weight: 500;
}
/* line 361, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-price {
  font-size: 1.6rem;
  letter-spacing: 2.4px;
}
/* line 362, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-description {
  text-align: justify;
  font-style: italic;
  font-size: 1.2rem;
  margin: 1em 0;
}
/* line 363, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-atc {
  border-top: 1px solid #2b2b2b;
  margin: 40px 0;
  position: relative;
}
/* line 368, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-atc .icon--atc {
  display: block;
  width: 60px;
  height: 60px;
  background: #2b2b2b url("https://www.ruvilla.com/media/stories/fabolous-week/cart.svg") no-repeat center center;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  background-size: 24px;
  opacity: 0;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
/* line 380, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-atc .icon--atc.show {
  opacity: 1;
}
/* line 383, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-atc .product-release {
  position: absolute;
  width: 100px;
  text-align: center;
  left: calc(50% - 85px);
  top: -16px;
  font-size: 20px;
  color: #ffffff;
  background: #2b2b2b;
  padding: 1px 35px;
  opacity: 1;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
/* line 395, ../../sass/pages/fabweek.scss */
#block--products .story.story--full .product-details .product-atc .product-release.hide {
  opacity: 0;
}
/* line 401, ../../sass/pages/fabweek.scss */
#block--products .story.story--grid {
  display: flex;
  flex-wrap: wrap;
  height: 50vw;
  background: #f2f2f2;
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
  justify-content: center;
}
/* line 410, ../../sass/pages/fabweek.scss */
#block--products .story.story--grid:not(.shuffle) figure:hover {
  -moz-box-shadow: 0 0 15px 0px #ababab;
  -webkit-box-shadow: 0 0 15px 0px #ababab;
  box-shadow: 0 0 15px 0px #ababab;
  z-index: 1;
}
/* line 413, ../../sass/pages/fabweek.scss */
#block--products .story.story--grid:not(.shuffle) figure:hover figcaption {
  opacity: 1;
  top: 20px;
}
/* line 419, ../../sass/pages/fabweek.scss */
#block--products .story.story--grid figure {
  width: calc(33.33% - 60px);
  box-sizing: border-box;
  margin: 0 30px;
  max-width: 23vw;
  cursor: pointer;
  position: relative;
  -moz-transition: box-shadow 1000ms ease, z-index 1000ms ease;
  -o-transition: box-shadow 1000ms ease, z-index 1000ms ease;
  -webkit-transition: box-shadow 1000ms ease, z-index 1000ms ease;
  transition: box-shadow 1000ms ease, z-index 1000ms ease;
}
/* line 428, ../../sass/pages/fabweek.scss */
#block--products .story.story--grid figure figcaption {
  opacity: 0;
  position: absolute;
  top: 0;
  right: -8px;
  width: 125px;
  -moz-transition: top 900ms cubic-bezier(0.15, 0.96, 0.69, 1.1), opacity 900ms ease;
  -o-transition: top 900ms cubic-bezier(0.15, 0.96, 0.69, 1.1), opacity 900ms ease;
  -webkit-transition: top 900ms cubic-bezier(0.15, 0.96, 0.69, 1.1), opacity 900ms ease;
  transition: top 900ms cubic-bezier(0.15, 0.96, 0.69, 1.1), opacity 900ms ease;
}
/* line 436, ../../sass/pages/fabweek.scss */
#block--products .story.story--grid figure figcaption h3, #block--products .story.story--grid figure figcaption h2, #block--products .story.story--grid figure figcaption h4 {
  display: block;
  width: 100%;
  background: #e7e7e7;
  padding: 8px 0;
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  margin: 0 0 4px 0;
}
/* line 451, ../../sass/pages/fabweek.scss */
#block--products .story[data-hide] {
  display: none;
}
/* line 453, ../../sass/pages/fabweek.scss */
#block--products .story .quote {
  margin: 50px 15%;
}
/* line 459, ../../sass/pages/fabweek.scss */
#block--products .story .product-hookups .story-items {
  background: #f2f2f2;
  padding: 75px;
  display: none;
}
/* line 464, ../../sass/pages/fabweek.scss */
#block--products .story .product-hookups .story-items ul {
  margin: 0;
  white-space: nowrap;
  -webkit-perspective: 1300px;
  perspective: 1300px;
}
/* line 470, ../../sass/pages/fabweek.scss */
#block--products .story .product-hookups .story-items ul li {
  opacity: 0;
  width: calc(25% - 5px);
  padding: 0 5px;
  box-sizing: border-box;
  height: auto;
  margin: 0;
}
/* line 477, ../../sass/pages/fabweek.scss */
#block--products .story .product-hookups .story-items ul li .label-sale {
  display: none;
}
/* line 478, ../../sass/pages/fabweek.scss */
#block--products .story .product-hookups .story-items ul li.animate {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -moz-transform: rotateX(-80deg);
  -ms-transform: rotateX(-80deg);
  -webkit-transform: rotateX(-80deg);
  transform: rotateX(-80deg);
  -moz-animation: flip 800ms ease-in-out forwards;
  -webkit-animation: flip 800ms ease-in-out forwards;
  animation: flip 800ms ease-in-out forwards;
}
@-webkit-keyframes flip {
  100% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flip {
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
}
/* line 500, ../../sass/pages/fabweek.scss */
#block--products .x {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 499;
  border-bottom: 2px solid #2b2b2b;
  border-right: 2px solid #2b2b2b;
}

@media screen and (max-width: 720px) {
  /* line 513, ../../sass/pages/fabweek.scss */
  #fabweek .desktop-slider,
  #fabweek .desktop-heroes {
    display: none !important;
  }

  /* line 515, ../../sass/pages/fabweek.scss */
  #fabweek .mobile-slider,
  #fabweek .mobile-heroes {
    display: block !important;
  }

  /* line 518, ../../sass/pages/fabweek.scss */
  #fabweek.fixed {
    top: 2px;
  }

  /* line 520, ../../sass/pages/fabweek.scss */
  .arrow--slider {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
  }
  /* line 524, ../../sass/pages/fabweek.scss */
  .arrow--slider.cycle-next {
    right: 20px;
  }
  /* line 525, ../../sass/pages/fabweek.scss */
  .arrow--slider.cycle-prev {
    left: 20px;
  }

  /* line 528, ../../sass/pages/fabweek.scss */
  #fabweek hr {
    margin: 5px auto 50px;
  }

  /* line 531, ../../sass/pages/fabweek.scss */
  .quote::before {
    width: 30px;
  }
  /* line 532, ../../sass/pages/fabweek.scss */
  .quote::after {
    width: 95px;
  }

  /* line 535, ../../sass/pages/fabweek.scss */
  .nav--products .arrow--slider.cycle-prev {
    left: 20px;
  }
  /* line 536, ../../sass/pages/fabweek.scss */
  .nav--products .arrow--slider.cycle-next {
    right: 20px;
  }

  /* line 539, ../../sass/pages/fabweek.scss */
  #block--heroes .logo {
    width: 200px;
  }

  /* line 541, ../../sass/pages/fabweek.scss */
  #block--intro {
    margin: 0;
    padding: 0 20px;
  }

  /* line 547, ../../sass/pages/fabweek.scss */
  #block--thumbs .thumb {
    margin: 5px;
    width: calc(50% - 15px);
  }

  /* line 550, ../../sass/pages/fabweek.scss */
  #block--products {
    left: 0;
    right: 0;
  }
  /* line 553, ../../sass/pages/fabweek.scss */
  #block--products.modal {
    top: 100px;
  }
  /* line 556, ../../sass/pages/fabweek.scss */
  #block--products .story.story--full .mobile-slider {
    height: 50vh;
    margin-bottom: 50px;
  }
  /* line 560, ../../sass/pages/fabweek.scss */
  #block--products .story.story--full .pager {
    left: 0;
    right: 0;
    text-align: center;
    top: calc(50vh - 30px);
  }
  /* line 566, ../../sass/pages/fabweek.scss */
  #block--products .story.story--full .pager > div {
    float: none;
  }
  /* line 570, ../../sass/pages/fabweek.scss */
  #block--products .story.story--full .product-details {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: rgba(246, 246, 246, 0.75);
  }
  /* line 577, ../../sass/pages/fabweek.scss */
  #block--products .story.story--full .product-details.shuffle {
    top: 0;
  }
  /* line 581, ../../sass/pages/fabweek.scss */
  #block--products .story.story--grid {
    height: auto;
    padding: 0;
  }
  /* line 584, ../../sass/pages/fabweek.scss */
  #block--products .story.story--grid figure {
    width: calc(50% - 15px);
    max-width: 100%;
    margin: 0;
  }
  /* line 588, ../../sass/pages/fabweek.scss */
  #block--products .story.story--grid figure:hover {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  /* line 590, ../../sass/pages/fabweek.scss */
  #block--products .story.story--grid figure:hover figcaption {
    display: none;
  }
  /* line 596, ../../sass/pages/fabweek.scss */
  #block--products .story .product-hookups .story-items {
    padding: 20px;
    display: block;
  }
  /* line 600, ../../sass/pages/fabweek.scss */
  #block--products .story .product-hookups .story-items ul {
    white-space: normal;
    text-align: center;
  }
  /* line 604, ../../sass/pages/fabweek.scss */
  #block--products .story .product-hookups .story-items ul li {
    margin-bottom: 20px;
    width: calc(50% - 5px);
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    text-align: left;
  }
  /* line 612, ../../sass/pages/fabweek.scss */
  #block--products .story .product-hookups .story-items ul li .brand,
  #block--products .story .product-hookups .story-items ul li .price {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
  }
  /* line 614, ../../sass/pages/fabweek.scss */
  #block--products .story .product-hookups .story-items ul li .name {
    font-size: 14px;
  }
  /* line 620, ../../sass/pages/fabweek.scss */
  #block--products .x {
    opacity: 0;
    top: -70px;
    border-color: #ffffff;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  /* line 625, ../../sass/pages/fabweek.scss */
  #block--products .x.slide {
    opacity: 1;
    top: -30px;
  }
}
