/* line 21, ../../sass/pages/holiday.scss */
#holiday a {
  display: block;
  height: 100%;
}
/* line 22, ../../sass/pages/holiday.scss */
#holiday .arrow--slider {
  position: absolute;
  width: 80px;
  height: 100%;
  top: 0;
  z-index: 502;
  cursor: pointer;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
/* line 30, ../../sass/pages/holiday.scss */
#holiday .arrow--slider::after {
  display: block;
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: calc(50% - 15px);
}
/* line 37, ../../sass/pages/holiday.scss */
#holiday .arrow--slider.cycle-next {
  right: 0;
}
/* line 39, ../../sass/pages/holiday.scss */
#holiday .arrow--slider.cycle-next::after {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  right: 40px;
}
/* line 45, ../../sass/pages/holiday.scss */
#holiday .arrow--slider.cycle-prev {
  left: 0;
}
/* line 47, ../../sass/pages/holiday.scss */
#holiday .arrow--slider.cycle-prev::after {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  left: 40px;
}
/* line 54, ../../sass/pages/holiday.scss */
#holiday .cycle-pager {
  font-size: 25px;
  line-height: 30px;
  z-index: 500;
  text-align: center;
  font-family: arial;
}
/* line 60, ../../sass/pages/holiday.scss */
#holiday .cycle-pager span {
  margin: 0 1px;
  color: #d2d2d2;
  cursor: pointer;
}
/* line 64, ../../sass/pages/holiday.scss */
#holiday .cycle-pager span.cycle-pager-active {
  color: #2b2b2b;
}
/* line 67, ../../sass/pages/holiday.scss */
#holiday section {
  height: 50vw;
  position: relative;
}
/* line 71, ../../sass/pages/holiday.scss */
#holiday section#hero figure {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
/* line 76, ../../sass/pages/holiday.scss */
#holiday section#hero figure img {
  height: 100%;
  width: auto;
}
/* line 79, ../../sass/pages/holiday.scss */
#holiday section#gift-card {
  margin: -50px 5%;
  background: url("https://www.ruvilla.com/media/stories/holiday-gift-guide/lights.gif") center center no-repeat, url("https://www.ruvilla.com/media/stories/holiday-gift-guide/gift-cards.jpg") center center no-repeat;
  background-size: 120%;
}
/* line 84, ../../sass/pages/holiday.scss */
#holiday section.quad, #holiday section.tri {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}
/* line 89, ../../sass/pages/holiday.scss */
#holiday section.quad a, #holiday section.tri a {
  width: calc(50% - 10px);
  max-width: calc(35vw - 5px);
  height: calc(50% - 5px);
  overflow: hidden;
  margin: 5px;
  -moz-transition: box-shadow 300ms ease;
  -o-transition: box-shadow 300ms ease;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}
/* line 96, ../../sass/pages/holiday.scss */
#holiday section.quad a:hover, #holiday section.tri a:hover {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 101, ../../sass/pages/holiday.scss */
#holiday section.quad {
  height: 70vw;
}
/* line 102, ../../sass/pages/holiday.scss */
#holiday section.tri {
  height: auto;
}
/* line 104, ../../sass/pages/holiday.scss */
#holiday section.tri a {
  width: calc(33.33% - 10px);
  max-width: 33.33%;
  height: calc(50% - 5px);
  overflow: hidden;
  margin: 5px;
}
/* line 113, ../../sass/pages/holiday.scss */
#holiday .wrap {
  margin: 100px 5%;
  padding: 0;
  max-width: 100%;
  width: auto;
}
@media screen and (max-width: 720px) {
  /* line 122, ../../sass/pages/holiday.scss */
  #holiday section#hero {
    height: 100vw;
  }
  /* line 123, ../../sass/pages/holiday.scss */
  #holiday section.quad, #holiday section.tri {
    height: auto;
  }
  /* line 125, ../../sass/pages/holiday.scss */
  #holiday section.quad a, #holiday section.tri a {
    max-width: 100%;
    width: 100%;
  }
}
