/* line 19, ../../sass/pages/jordan.scss */
#body-main {
  background: #2b2b2b;
  color: #ffffff;
}

/* line 26, ../../sass/pages/jordan.scss */
.feature .feature-cta {
  color: #ffffff;
}
/* line 29, ../../sass/pages/jordan.scss */
.feature.asjs .logo-asjs {
  position: absolute;
  width: 30%;
  left: 50%;
  margin-left: -15%;
  top: 10%;
}
/* line 37, ../../sass/pages/jordan.scss */
.feature.asjs > h4 {
  position: absolute;
  bottom: 30%;
  text-align: center;
  width: 100%;
}
/* line 46, ../../sass/pages/jordan.scss */
.feature .product-assets .asset.asset-release-date {
  color: #ffffff;
}

/* line 50, ../../sass/pages/jordan.scss */
.hero {
  padding: 0 0 40px;
}
/* line 53, ../../sass/pages/jordan.scss */
.hero .feature .feature-cta h2 span {
  color: #ffffff;
}

/* line 56, ../../sass/pages/jordan.scss */
#body-footer {
  margin-top: 0;
  border-top: 0;
}

@media screen and (min-width: 760px) {
  /* line 64, ../../sass/pages/jordan.scss */
  .hero .feature .feature-cta {
    margin: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    text-align: left;
    padding: 0;
  }
  /* line 74, ../../sass/pages/jordan.scss */
  .hero .feature .feature-cta h2 {
    margin: 0;
    padding: 0;
  }
  /* line 76, ../../sass/pages/jordan.scss */
  .hero .feature .feature-cta button {
    top: 50%;
    display: block;
  }
}
