/* line 18, ../../sass/pages/releases.scss */
#releases {
  color: #000;
  padding: 50px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'TradeGothicLT-BoldCondTwenty', 'TradeGothicCond18', Arial, Helvetica, sans-serif !important;
  font-weight: 500;
}
/* line 31, ../../sass/pages/releases.scss */
#releases h1 {
  font-size: 2em;
}
/* line 33, ../../sass/pages/releases.scss */
#releases button {
  background: none;
  border: 1px solid #2b2b2b;
  margin: 0;
  padding: 4px 8px;
  margin: 3px 0;
  border-radius: 3px;
  cursor: pointer;
  width: auto;
  color: #2b2b2b;
  /*font-weight:500;*/
  font-size: 12px;
  line-height: inherit;
  text-transform: none;
  font-weight: 500;
  height: auto;
  min-height: 0;
}
/* line 53, ../../sass/pages/releases.scss */
#releases button.active {
  background: #2b2b2b;
  color: #ffffff;
}
/* line 59, ../../sass/pages/releases.scss */
#releases [data-lazy-block] {
  position: relative;
}
/* line 61, ../../sass/pages/releases.scss */
#releases > div {
  display: inline;
}
/* line 63, ../../sass/pages/releases.scss */
#releases .release-item {
  width: 255px;
  display: inline-block;
  margin: 15px 10px;
  vertical-align: top;
}
/* line 70, ../../sass/pages/releases.scss */
#releases .release-item a span {
  display: block;
  width: 100%;
  cursor: initial !important;
  background: none !important;
}
/* line 72, ../../sass/pages/releases.scss */
#releases .release-item a .img-box {
  height: 255px;
  overflow: hidden;
}
/* line 76, ../../sass/pages/releases.scss */
#releases .release-item a .img-box img {
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  max-width: 200%;
}
/* line 84, ../../sass/pages/releases.scss */
#releases .release-item a .details {
  position: relative;
  height: 50px;
}
/* line 88, ../../sass/pages/releases.scss */
#releases .release-item a .details .bns {
  float: left;
  width: 70%;
  text-align: left;
}
/* line 93, ../../sass/pages/releases.scss */
#releases .release-item a .details .bns .brand, #releases .release-item a .details .bns .name, #releases .release-item a .details .bns .sizes {
  color: #000;
}
/* line 95, ../../sass/pages/releases.scss */
#releases .release-item a .details .bns .brand {
  font-size: 0.75em;
  text-transform: uppercase !important;
}
/* line 96, ../../sass/pages/releases.scss */
#releases .release-item a .details .bns .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}
/* line 97, ../../sass/pages/releases.scss */
#releases .release-item a .details .bns .sizes {
  font-weight: 300;
  font-size: 0.65em;
}
/* line 100, ../../sass/pages/releases.scss */
#releases .release-item a .details .price {
  width: 55px;
  height: 100%;
  box-sizing: border-box;
  float: right;
  background: #000;
  color: #fff;
  font-size: 18px;
  border-top: 1px solid #fff;
  padding: 17px 0;
  font-size: 0.8em;
  font-weight: 500;
}
/* line 114, ../../sass/pages/releases.scss */
#releases .release-item a .details .date {
  width: 55px;
  height: 50px;
  background: #000;
  color: #fff;
  position: absolute;
  right: 0;
  top: -50px;
  padding: 13px 0;
  box-sizing: border-box;
}
/* line 125, ../../sass/pages/releases.scss */
#releases .release-item a .details .date .month {
  font-size: 0.6em;
  line-height: 0.71em;
}
/* line 126, ../../sass/pages/releases.scss */
#releases .release-item a .details .date .day {
  font-size: 1em;
}
/* line 127, ../../sass/pages/releases.scss */
#releases .release-item a .details .date .weekday {
  position: absolute;
  width: 55px;
  height: 36px;
  top: -37px;
  background: #000;
  font-size: 0.6em;
  box-sizing: border-box;
  padding: 11px 0;
}
/* line 141, ../../sass/pages/releases.scss */
#releases .release-item .img-box {
  background: #d2d2d2 no-repeat center center;
  background-size: 150px;
}
/* line 143, ../../sass/pages/releases.scss */
#releases .release-item.jordan-logo .img-box {
  background-image: url("/media/logos/jordan.svg");
}
/* line 144, ../../sass/pages/releases.scss */
#releases .release-item.nike-logo .img-box {
  background-image: url("/media/logos/nike.svg");
}
/* line 145, ../../sass/pages/releases.scss */
#releases .release-item.converse-logo .img-box {
  background-image: url("/media/logos/converse.svg");
}
/* line 146, ../../sass/pages/releases.scss */
#releases .release-item.adidas-logo .img-box {
  background-image: url("/media/logos/adidas.svg");
}
/* line 147, ../../sass/pages/releases.scss */
#releases .release-item.puma-logo .img-box {
  background-image: url("/media/logos/puma.svg");
}
/* line 148, ../../sass/pages/releases.scss */
#releases .release-item.reebok-logo .img-box {
  background-image: url("/media/logos/reebok.svg");
}
/* line 149, ../../sass/pages/releases.scss */
#releases .release-item.timberland-logo .img-box {
  background-image: url("/media/logos/timberland.svg");
}
/* line 150, ../../sass/pages/releases.scss */
#releases .release-item.under.armour-logo .img-box {
  background-image: url("/media/logos/underarmour.svg");
}
@media screen and (max-width: 760px) {
  /* line 155, ../../sass/pages/releases.scss */
  html.mobile #releases {
    padding: 20px 0;
  }
  /* line 158, ../../sass/pages/releases.scss */
  html.mobile #releases h1 {
    margin-bottom: 10px;
  }
  /* line 160, ../../sass/pages/releases.scss */
  html.mobile #releases div.brand-buttons {
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #2b2b2b;
  }
  /* line 166, ../../sass/pages/releases.scss */
  html.mobile #releases .release-item {
    width: calc(50% - 30px);
  }
  /* line 169, ../../sass/pages/releases.scss */
  html.mobile #releases .release-item a .details .price {
    padding: 24px 0;
  }
  /* line 170, ../../sass/pages/releases.scss */
  html.mobile #releases .release-item a .details .date .month {
    line-height: 1.5em;
  }
  /* line 171, ../../sass/pages/releases.scss */
  html.mobile #releases .release-item a .details .date {
    padding: 8px 0;
  }
}
