/* line 19, ../../sass/pages/storelocator.scss */
.store-popup {
  padding: 10px 0;
}
/* line 21, ../../sass/pages/storelocator.scss */
.store-popup h3 {
  font-weight: 700;
  margin: 0;
}

/* line 24, ../../sass/pages/storelocator.scss */
.resultCount {
  padding: 20px 0;
  margin: 36px 0 0;
  text-align: center;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}
/* line 31, ../../sass/pages/storelocator.scss */
.resultCount h1 {
  margin-bottom: 20px;
}
/* line 32, ../../sass/pages/storelocator.scss */
.resultCount button {
  vertical-align: middle;
}

/* line 35, ../../sass/pages/storelocator.scss */
.storelocator-stores {
  border-bottom: 1px solid #2b2b2b;
}
/* line 38, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store {
  box-sizing: border-box;
  padding: 20px 5px;
  font-size: 1.2rem;
  position: relative;
}
/* line 43, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store:nth-child(odd) {
  background-color: #f9f9f9;
}
/* line 44, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store::after {
  display: block;
  content: '';
  clear: both;
}
/* line 46, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store > div {
  width: auto;
  padding-right: 20px;
  min-width: 60px;
  max-width: 115px;
  display: inline-block;
  float: left;
}
/* line 54, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store > div h3 {
  margin: 0;
  font-weight: 700;
}
/* line 57, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store .store-hours {
  padding: 30px 0 0 80px;
  max-width: 130px;
}
/* line 58, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store .store-numbers {
  padding-right: 0;
  margin-top: -5px;
}
/* line 61, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store .store-numbers .icon {
  font-size: 23px;
  vertical-align: middle;
  padding-right: 5px;
}
/* line 65, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store .store-numbers .icon.icon--fax {
  font-size: 14px;
}
/* line 68, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store .store-numbers a {
  vertical-align: middle;
}
/* line 70, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store .store-social {
  width: 10%;
  text-align: center;
  padding: 30px 0px 0 30px;
}
/* line 75, ../../sass/pages/storelocator.scss */
.storelocator-stores .row-store .store-social .icon {
  width: 25px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 50%;
  background: #2b2b2b;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 760px) {
  /* line 92, ../../sass/pages/storelocator.scss */
  .resultCount h1 {
    display: inline-block;
    margin: 0 0 20px 0;
    vertical-align: middle;
  }

  /* line 96, ../../sass/pages/storelocator.scss */
  .storelocator-stores .row-store {
    padding: 50px;
  }
  /* line 99, ../../sass/pages/storelocator.scss */
  .storelocator-stores .row-store > div {
    width: 22.5%;
    padding-right: 10px;
    box-sizing: border-box;
    max-width: 100%;
  }
  /* line 106, ../../sass/pages/storelocator.scss */
  .storelocator-stores .row-store.stores-header {
    background: none;
    padding: 30px 50px;
    border-bottom: 1px solid #2b2b2b;
  }
  /* line 111, ../../sass/pages/storelocator.scss */
  .storelocator-stores .row-store.stores-header > div:last-child {
    width: 10%;
  }
  /* line 114, ../../sass/pages/storelocator.scss */
  .storelocator-stores .row-store .store-hours {
    padding: 0 50px 0 0;
    max-width: 100%;
  }
  /* line 115, ../../sass/pages/storelocator.scss */
  .storelocator-stores .row-store .store-social {
    padding: 0;
    text-align: left;
  }
  /* line 119, ../../sass/pages/storelocator.scss */
  .storelocator-stores .row-store .store-social .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
